[2017-09-15 17:36] bl33pbl0p commented on #6843
Please try reproducing this with v233 or v234. On the issue tracker, only the two most recent systemd versions are supported. Your version is very old by now. You _can_ ping your downstream maintainers about this. Also, if you need support, please attach the relevant logs.

[2017-09-15 20:00] boucman commented on #6834
@martinpitt  I have trouble reproducing... I don't know much about cryptsetup so i'm just following your instructions.

Indeed what you do does block waiting for dev-mapper-cry1.device, but it also hangs that way when the patch is reverted... i'm confused. Can you confirm that your reproduction method works properly once you revert my patch ?

I think I have an idea what's going wrong here, but i'

[2017-09-16 21:06] jonathanunderwood opened #6849 "machinectl needs to fork off the PK agent, so that 'machinectl --uid=root shell' can work as unprivileged user"
### Submission type

 - Bug report

### systemd version the issue has been seen with
systemd-233-6.fc26.x86_64

### Used distribution

Fedora 26

### In case of bug report: Expected behaviour you didn't see

Open a root shell

### In case of bug report: Unexpected behaviour you saw

$ machinectl --uid=root shell
Failed to get shell PTY: Connection timed out
$ machinectl shell --uid=root
Failed to

[2017-09-16 23:21] xnox commented on #6723
@poettering This is an interesting issue, and I have learned something new from it. Looking at `src/core/macros.systemd.in` it looks like `%udev_hwdb_update` only updates the hwdb, but doesn't reload udevadm shouldn't `%udev_hwdb_update` also call `%udev_rules_update`? Are there any recommendations or suggestions as to when `udevadm control --reload` should be called? It seems like possibly in Deb

[2017-09-17 09:56] #6415 closed, assigned to nobody

[2017-09-17 09:56] #6620 closed, assigned to nobody

[2017-09-17 09:56] #6621 closed, assigned to nobody

[2017-09-17 09:56] #6693 closed, assigned to nobody

[2017-09-17 09:56] #6792 closed, assigned to nobody

[2017-09-17 10:04] #6664 closed, assigned to keszybz

[2017-09-17 12:26] Harvie commented on #6783
At least i am happy that this is not the case with halt and poweroff, since that can be even worse, because some systems don't have means to power up remotely.

[2017-09-17 12:31] Harvie commented on #6783
On the other hand i think that systemd can implement some feature that will mimick behaviour of "molly-guard" package. That means you have to manualy enter first part of hostname of the system before shutdown/reboot. However this should be turned off by default, since i guess most systems do not need such feature.

I use molly-guard wrapper on my sensitive systems, but it works only with legacy in

[2017-09-17 13:34] pmhahn commented on #5625
I'm using Debian-Stretch with systemd-232-25+deb9u1.
I switched from using "ifupdown" to systemd-network and now have the problem, that my host vanished from the network sometimes: the host is no longer reachable vie IPv6, but sometimes(?) IPv4 still works.
I was using "DHCP=yes" and found the following messages today:

...

At 10:50 the host disconnected and IPv6 was no longer working, which matc

[2017-09-17 14:15] keszybz commented on #6450
I think this was fixed by 173471b771a52baa7f705019600956e875b0cb9a. When I follow your recipe to reproduce, `start` and `status` work without issues.

[2017-09-17 14:59] sourcejedi opened #6852 "`ignore_inactive` in inhibitors effectively relies on `sd_pid_get_session()` which is useless"
### Submission type

 - Bug report

### systemd version the issue has been seen with

Code analysis, v234-git

### Bug report

logind `manager_is_inhibited` has an `ignore_inactive` flag e.g. for keypress inhibitors, to ignore them when the process' session is inactive.

But process' session is obsolete: it is not set on processes started from the user's systemd instance, e.g. gnome-terminal.  So

[2017-09-17 16:42] sourcejedi commented on #6450
I get the same result, even after `fixfiles restore && setenforce 1`.  I'll make sure to re-report if I notice it again :).

[2017-09-17 19:09] neheb opened #6854 "TCPSegmentationOffload=false does not disable TSO."
My link file looks like this:

[Match]
Driver=r8152

[Link]
WakeOnLan=off
TCPSegmentationOffload=false
GenericSegmentationOffload=false

While GSO does get disabled, TSO partially gets disabled. here's what i mean:

[mangix@mangix ~]$ ethtool -k enp0s20f0u5u3 | grep seg
tcp-segmentation-offload: on
	tx-tcp-segmentation: off
	tx-tcp-ecn-segmentation: off [fixed]
	tx-tcp-mangleid-segmentation: off

[2017-09-17 20:03] DrRibosome commented on #3449
Ive been looking for the same thing. It seems pretty tough currently to actually use the more advanced features like custom fields while simply tailing the log output.

[2017-09-17 21:07] #6831 closed, assigned to keszybz

[2017-09-18 00:48] evgkrsk commented on #6776
Here is output from "journalctl -b -1 -x" for boot with "systemd.log_level=debug".
[long.log.zip](https://github.com/systemd/systemd/files/1309502/long.log.zip)

[2017-09-18 01:50] johnlinp opened #6856 "pid1: Requires= doesn't deactivate service when dependency fails"
### Submission type

 - Bug report

### systemd version the issue has been seen with

v234

### Used distribution

Arch Linux

### Expected behaviour you didn't see

I created 2 services, `a.service` and `b.service`:

[code]

where `a.service` is `b.service`'s dependency and `a.service` always fails.

After I do

[code]

I expected to see both `a.service` and `b.service` fail.

### Unexpected beha

[2017-09-18 06:08] oneingan opened #6857 "machinectl pull-raw fails to get nspawn file"
Bug report
version systemd 232
+PAM +AUDIT +SELINUX +IMA +APPARMOR +SMACK +SYSVINIT +UTMP +LIBCRYPTSETUP +GCRYPT +GNUTLS +ACL +XZ +LZ4 +SECCOMP +BLKID +ELFUTILS +KMOD +IDN

Ubuntu 17.10 (Artful Aardvark) Daily Build [20170916]

I expect that 'machinectl pull-raw image.raw.xz' get side saved image.nspawn file
but otherwise  try to download image.raw.xz.nspawn file.

1) Generate raw image and nspawn

[2017-09-18 07:32] ciampix commented on #6729
Confirm

[2017-09-18 08:55] poettering commented on #6856
yupp, we should reword things in that paragraph to make this clearer.

[2017-09-18 08:59] poettering commented on #6857
What's the precise error message/log output you get? Could you paste that, please?

[2017-09-18 08:59] poettering commented on #6854
@ssahani something for you?

[2017-09-18 09:00] fbuihuu commented on #6689
Some updates: it looks like its due to _plymouth-start.service_ (shipped by plymouth) which has `Wants=systemd-vconsole-setup.service`. This causes the service to be started very early, even before udevd is started from inside the initramfs. At that point loadkeys simply fails as shown previously, not sure why...

Some questions:

 - isn't _systemd-vconsole-setup_ (the binary) supposed to be calle

[2017-09-18 09:02] poettering commented on #6849
hmm, strange. if you run this as root, does it work then? Are you running this on the desktop? And if so, is it one that has PK agent support? (i.e. gnome or so?)

My educated guess is that you run this without privs and PK is enquired, but PK isn't set up to query you. We should probably start the PK agent in machinectl to make this work, which is what we do for systemctl...

[2017-09-18 09:03] poettering commented on #6852
hmm, maybe we should rather check if the user has any fg session, rather than check the session itself...

[2017-09-18 09:07] jonathanunderwood commented on #6849
Thanks for following up.

I'm not at the machine presently, but:
* I was running that as an unpriveliged user
* it's a Fedora server install, no desktop at all. I was ssh'ing in and running that command.

[2017-09-18 09:08] poettering commented on #6849
OK, that points to the PK issue indeed. We really should fix machinectl in that regard.

[2017-09-18 09:12] poettering commented on #6843
As @bl33pbl0p points out, this is systemd version is a bit too old to be be tracked upstream. We only focus on the two most recently systemd versions here, which are 233 and 234 at the moment. Please ping your downstream distro about this. Or update to 234 and try to reproduce the issue. In either case, make sure to include the logs generated by the command, ideally even after booting with "system

[2017-09-18 09:12] #6843 closed, assigned to nobody

[2017-09-18 09:20] sourcejedi commented on #6852
I think that's ugly, confusing, and probably wrong.

If your GUI session inhibits the power button so it can handle it, it's weird if the power button is inhibited (and then not handled?) when you've switched VTs to a text console login.

[2017-09-18 09:21] stamster commented on #6843
Well, that's simply not a solution as many LTS distros out there rely on such (older) versions.

Pinging downstream (distro) maintainers would not make a difference on this, due to strict LTS policy, and really this bug is not that critical I guess.

Thanks @poettering @bl33pbl0p

[2017-09-18 09:29] johnlinp commented on #6856
It seems that the behavior of "`Requires=` deactivating service when dependencies fails" only occur when `After=` is specified. If this is true, I will create a pull request to reword the paragraph. Thanks.

[2017-09-18 09:32] ssahani commented on #6854
tx-tcp6-segmentation is a another feature  code . RFE #6859

[2017-09-18 10:02] oneingan commented on #6857
root@vagrant:~# machinectl pull-raw http://16.0.96.20/image.raw.xz --verify=no
Enqueued transfer job 1. Press C-c to continue download in background.
Pulling 'http://16.0.96.20/image.raw.xz', saving as 'gitea'.
Downloading 298B for http://16.0.96.20/image.raw.xz.nspawn.
HTTP request to http://16.0.96.20/image.raw.xz.nspawn failed with code 404.
Settings file could not be retrieved, proceeding with

[2017-09-18 18:38] evverx commented on #6477
I suppose the patch above is good enough for the time being, so I could send a PR. The other issues I mentioned can be fixed later. @poettering, is there any chance you could say what you think of it?

[2017-09-19 08:38] #6745 closed, assigned to keszybz

[2017-09-19 08:38] #6734 closed, assigned to nobody

[2017-09-19 08:49] #6854 closed, assigned to nobody

[2017-09-19 09:05] poettering commented on #6856
Yes, that's correct. Please do! Thanks!

[2017-09-19 12:15] poettering commented on #6689
See 8125e8d38e3aa099c7dce8b0161997b8842aebdc

That said, maybe ply pulls it in explicitly in order to ensure that that the screen font is loaded before ply takes over DRM or so. Dunno. @halfline any idea?

Maybe your initrd doesn't have the keymaps installed?

[2017-09-19 12:33] lnykryn opened #6867 "Some device units are really long and hit fs limits."
### Submission type

 - Bug report

### systemd version the issue has been seen with
219, but the problem should be general

### In case of bug report: Unexpected behaviour you saw
With some HW systemd generates a really long device unit name, that hits fs limits:

Aug 27 13:57:31 p9n02 systemd[1]: Failed to open directory /etc/systemd/system/sys-devices-pci0001:00-0001:00:00.0-0001:01:00.0-0001:0

[2017-09-19 14:12] fbuihuu commented on #6689
It is installed since the command works if plymouth is disabled.

[2017-09-19 16:12] inattendu opened #6870 "[systemd-networkd wireless bridging] Association problem"
### Submission type

 - Bug report / help needeed

### systemd version the issue has been seen with

+PAM -AUDIT -SELINUX -IMA -APPARMOR +SMACK -SYSVINIT +UTMP +LIBCRYPTSETUP +GCRYPT +GNUTLS +ACL +XZ +LZ4 +SECCOMP +BLKID +ELFUTILS +KMOD -IDN2 +IDN default-hierarchy=hybrid

### Used distribution

### In case of bug report: Expected behavior you didn't see

### In case of bug report: Unexpected beha

[2017-09-19 16:36] xnox opened #6871 "Process code=exited, status=237/KEYRING in LXD failing to CHOWN keyring"
### Submission type

 - Bug report

### systemd version the issue has been seen with

systemd 234

### Used distribution

Ubuntu

### In case of bug report: Expected behaviour you didn't see

[code]

### In case of bug report: Unexpected behaviour you saw

[code]
### In case of bug report: Steps to reproduce the problem

[code]

### About environment

This is an unprivileged (default) LXD containe

[2017-09-19 18:27] inattendu commented on #6870
I've found the "IPv4ProxyARP" option in the man ; this may replace ebtables ; but this is definitly not the cause of my problem. Anyway i put my config file as I've updated it.

I've made a test ; I can't peer with a hotspot when the 4addr param is enabled on wlan0.
When i set a simple configuration ( no bridge & DHCP on wlan0 ) it works **only** when I remove this 4addr param but I lose the abili

[2017-09-19 21:40] davide125 commented on #6338
This, combined with #4432, just bit me while trying to test dbus-broker. Following their [wiki](https://github.com/bus1/dbus-broker/wiki#using-dbus-broker) to enable it:
[code]
but in a new user session `dbus` is not actually running, as it's never actually detected as enabled
[code]

[2017-09-20 03:02] evverx commented on #6871
The same issue seems to have been discussed in https://github.com/systemd/systemd/issues/6281 where a slightly different way to skip `keyctl` was [suggested](https://github.com/systemd/systemd/issues/6281#issuecomment-314508882).

[2017-09-20 06:30] Dinesh-Ramakrishnan opened #6873 "RFE : Configure rate limit for journal based on severity"
### Submission type
 - Request for enhancement (RFE)

### Enhancement description
With respect to Journal rate limit (RateLimitIntervalSec=, RateLimitBurst=), it would be better if we can have different rate limit configuration based on SEVERITY.
For e.g., we can choose to rate limit more for low severity logs and less for high severity logs.

Additionally, It would be better if we could rate limi

[2017-09-20 07:28] Dinesh-Ramakrishnan opened #6874 "Store journal logs matching specific filters to different journal files (in addition to the main journal)"
### Submission type
 - Request for enhancement (RFE)

### Enhancement description
Store journal logs matching specific filters to different journal files (in addition to the main journal) by using a Journald configuration to specify Fitler:destination pair.

Currently I am achieving this using a service via combination of systemd-journal-remote and journalctl as below

ExecStart=/lib/systemd/syste

[2017-09-20 08:23] poettering commented on #6867
urks. Not sure what we can do about that... what a mess

[2017-09-20 08:27] poettering commented on #6870
Note that this is a source of problems. You really shouldn't pick names here from the same namespace the kernel allocates names from, otherwise userspace will race against the kernel on this and it's undefined which side wins. Also see:

https://github.com/systemd/systemd/blob/master/man/systemd.link.xml#L336

[2017-09-20 08:28] poettering commented on #6870
Hmm, so networkd doesn't do wifi. And quite frankly I don't see how networkd should be the reason for this error above. It suggests more that there's something wrong with your wpa supplicant configuration.

[2017-09-20 08:29] poettering commented on #6871
Closing as duplicate

[2017-09-20 08:29] #6871 closed, assigned to nobody

[2017-09-20 08:41] inattendu commented on #6870
Hi,
thank you, I will rename it to "wirelesslan0" and investigate the compatibility between wpa_supplicant & the 4addr param.

[2017-09-20 09:00] lnykryn commented on #6867
Yep :-/ The only idea I had so far is to decrease a log level in this case. Our original bug report was just about weird error messages in journal. And if user wants to put there some dependencies for device they should use some shorter name of a unit from the following set.

[2017-09-20 10:01] joukewitteveen opened #6875 "cgroup/scope: pids are moved away from our watch when using PAM"
### Submission type

 - Bug report

### systemd version the issue has been seen with

### Used distribution

### In case of bug report: Expected behaviour you didn't see

### In case of bug report: Unexpected behaviour you saw

### In case of bug report: Steps to reproduce the problem

### Analysis

[2017-09-20 12:13] xnox commented on #6281
It feels weird to me that user-namespaced process (systemd) cannot keyctl chown things to other uids/gids in the same user-namespace. This feels to me like a kernel limitation / deficiency / bug.

Testing lxd containers is trivial for me, and we do it both automatically and manually, albeit we could do more of it.

[2017-09-20 12:56] mbiebl opened #6877 "PathModified in path activation propagates to containing directory when file is deleted"
### Submission type

 - Bug report

### systemd version the issue has been seen with

v232
v234

### Used distribution

Debian stretch
Debian sid

Downstream bug report:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=876261

given this setup:

[code]

This happens:

[code]

It looks like systemd is listening to events in the containing directory to
catch if the file is created, and after removi

[2017-09-20 12:57] mbiebl commented on #6877
There's additional surprising behaviour, same test case as my previous
email:

[code]

So it looks like after the file being monitored has been deleted,
notification happens when activity happens in the directory for any file
except the one being monitored.

It looks like in that case there is a condition evaluated the wrong way
round.

[2017-09-20 13:23] fbuihuu commented on #6689
Also the errors are not limited to loadkeys but every attempts to initialize the console:

systemd-vconsole-setup[198]: Fonts will not be copied to remaining consoles

[2017-09-20 13:34] poettering commented on #6873
Do note that while the journal does not permit configuration of per-unit or per-priority ratelimiting parameters it will actually count messages with different units and different priorities in different "buckets". This means that e.g. messages with LOG_ERROR priority sent by a service will still go through if the same service logged too many LOG_DEBUG messages already. Essentially each combinatio

[2017-09-20 13:38] poettering commented on #1456
This is more less the same as #2913 (which has a slightly broader topic), let's close this one as duplicate

[2017-09-20 13:38] #1456 closed, assigned to nobody

[2017-09-20 13:42] fbuihuu commented on #6689
@poettering couldn't be this related to the graphic driver and when it's exactly loaded by kernel ?

From the logs that someone provided to me, I can see that the nvidia driver is loaded slightly differently in the case systemd-vconsole-setup.service fails...

Could it be the driver that is loaded at the same time vconsole-setup runs ?

[2017-09-20 14:09] eatobin commented on #6689
I have noticed this too. No or few failures on a machine with nouveau and
repeated errors on my old machine running i915. Also, please remember, this
was not a problem until last month on either computer. Any idea what
changed in TW that began the error?

On Wed, Sep 20, 2017 at 8:42 AM, Franck Bui <notifications@github.com>
wrote:

[2017-09-20 14:23] func0der commented on #5595
Can't you put a timezone in the onCalenader configuration?

For me this behavior seems correct, because as @zdzichu said: There was no 2pm on March 12th

[2017-09-20 16:31] fbuihuu opened #6878 "systemd-localed: permission denied"
With v234, it seems that systemd-localed fails to open a temporary file in /etc:

Here it can be simply reproduced by changing the vconsole keymap with: `localectl set-keymap fr`

This can be fixed by commenting `CapabilityBoundingSet=` in the unit file.

[2017-09-20 17:51] #6842 closed, assigned to nobody

[2017-09-20 18:31] halfline commented on #6689
Not sure.  git log has this amazingly well explained message:

[code]

There's also https://lists.freedesktop.org/archives/systemd-devel/2014-November/024923.html when the systemd-vconsole-setup stuff first got moved to a udev rule.

I guess we can probably just drop it from plymouth-start.service if it's causing problems.

[2017-09-21 06:41] fbuihuu commented on #6689
Currently I don't think plymouth is the real culprit here although if the dependency on systemd-vconsole-setup.service is useless then it should be dropped.

But it seems that the issue is a timing one: it seems to depend on when systemd-vconsole-setup is executed compare to when the kernel loads the gfx driver.

[2017-09-21 09:06] ptman commented on #2099
Where is this documented?

[2017-09-21 09:08] ptman commented on #3302
Clear documentation and a warning would be a start

[2017-09-21 09:54] marcosfrm opened #6882 "Wrong link in 52b1478414067eb9381b413408f920da7f162c6f"
https://github.com/systemd/systemd/blob/master/src/basic/process-util.c#L1026

glibc commit that removed the pid cache is

https://sourceware.org/git/gitweb.cgi?p=glibc.git;a=commit;h=c579f48edba88380635ab98cb612030e3ed8691e

[2017-09-21 10:32] aigarius commented on #6076
Can confirm the same effect with a OpenVPN connection.

[code]

Running "systemd-resolve internal.name.local" fails to find it (it only tries the 192.* DNS server), running "systemd-resolve -i tun0 internal.name.local" resolves the name correctly (via 172.* DNS server), but no applications actually supply that interface, naturally.

Systemd version 232
Ubuntu 17.04

Currently I have to workaround

[2017-09-21 10:39] poettering commented on #6878
I am a bit puzzled by this. Any chance you can figure out which cap precisely makes this work for you? What's the access mode of /etc itself? do you run any MAC? (apparmor, smack, selinux)?

normally, root even without any caps should be able to create new files in /etc just fine, except if /etc is set to 0555 or so...

[2017-09-21 11:08] fbuihuu commented on #6878
oops I totally forgot to check the perms of this directory and indeed something changed it to:

Sorry for the noise.

[2017-09-21 11:09] #6878 closed, assigned to nobody

[2017-09-21 11:28] inattendu commented on #6870
Hi !

First thing ; I've renamed the wireless interface :
[code]

I've finally paired the wireless card with the AP ; folowing instructions in [this document](https://wireless.wiki.kernel.org/en/users/documentation/iw#using_4-address_for_ap_and_client_mode) and the man of wpa-supplicant, i've modified the wpa_supplicant systemd unit enabled for my wireless card with the '_-b_' flag

[code]
So the

[2017-09-21 12:08] halfline commented on #6689
i do have some vague inkling of running across a kernel bug where something that program does (font setup maybe? could be!) doesnt work when plymouth holds drm master. its been years so i might be just inventing it.  you could test the theory by calling plymouth deactivate before it runs and plymouth reactivate after (though it'll have other side effects)

[2017-09-21 12:16] fbuihuu commented on #6689
Again plymouth isn't the culprit here, at least in my understanding. According to the logs, plymouth hasn't started yet when vconsole-setup start failing.

plymouth just pulls vconsole-setup in (which may be wrong these days) and might trigger vconsole-setup earlier at the time the gfx driver is loaded.

[2017-09-21 12:46] asalminen commented on #5236
There was clear warnings during my Debian Stretch update that my kernel is way too old. If recalling correctly even libc update  was saying that please do not complain to upstream if stuff go bad. Many VPS kernels are too old for Debian Stretch.

[2017-09-21 13:54] keszybz commented on #6686
I'd prefer to keep backwards compatibility. If debian uses "noswap", then realistically, the name cannot be used for anything for the next ten years without a lot of pain.

[2017-09-21 15:59] poettering commented on #6686
if this is indeed a widely implemented option name then i figure we can support that name

[2017-09-21 16:21] boucman commented on #6686
generating them would make it a bit easier for user to reactivate them manually... but that's more a philosophical question than anything...

[2017-09-21 17:04] marcosfrm commented on #1435
`After=dbus.service` is still needed in `wpa_supplicant.service`, right? Time to ping wpa_supplicant folks again.

[2017-09-21 17:39] poettering commented on #6686
if people ask for them to be disabled they most likely are allergic to systemd managing swap for them. Hence i think we should really stay away as far as we can from swap devices in that case, and that's mean not creating any units for them.

[2017-09-21 18:54] #6882 closed, assigned to nobody

[2017-09-21 19:55] poettering commented on #6857
Already fixed since 91359193c359180e6f9453a5afa1e68efdf2b064 which is included in 233. Please upgrade or ask your distro to backport the fix.

[2017-09-21 19:55] #6857 closed, assigned to nobody

[2017-09-21 20:03] poettering commented on #6849
hmm, so we actually do invoke the PK agent already in this case... so I have no idea what actually is going on here.

Is this reproducible? did this happen while you were in some special system mode? rescude mode? early boot or so? can you reproduce this reliably?

Anything in the logs regarding this? what does "systemctl list-jobs" say when this happens?

[2017-09-22 09:02] ssahani commented on #3752
fix is waiting on #6886

[2017-09-22 09:04] ssahani commented on #6359
I have tested this using lifetime of zero and that did not replicated you scenario.
It must must the second case with DHCP6 I am testing this.

[2017-09-22 09:06] ssahani commented on #5695
Fix is waiting one #5695

[2017-09-22 09:10] Zugschlus commented on #6359
ssahani, send me your ssh key and I'll give you root on a "Debian unstable" system showing the issue.

[2017-09-22 09:32] ssahani commented on #6359
@Zugschlus sent over email.

[2017-09-22 11:13] ntayachi commented on #5595
Hi @func0der,

Thank you very much for your answer!
I am not aware that we can add timezone to OnCalendar. I will give it a try.
However, I have another question:
In my case, I need to run my_task at 2 am every day regardless of DST, which timezone should I put in OnCalendar: EST?

Thanks,
Nafaa

[2017-09-22 12:14] krob7591 commented on #5530
Not on you guy's level, but I can hack a little. If you wanna stop the  "systemd-resolved[2379]: Got mDNS UDP packet on unknown scope. Ignoring" annoying messages, edit avahi-daemon.conf...set "disallow-other-stacks= yes".  Check the man page of  avahi-daemon.conf to see what it does.

[2017-09-22 14:19] maddes-b opened #6889 "systemd-network: IPv6Token/RFE: Multiple Definitions, Named Auto-Generation Types, Per-Prefix Definition, Anycast/NoDAD"
Submission type: Request for enhancement (RFE)
systemd version: any
Used distribution: Debian 9.1 with systemd v232

1. Allow to specify multiple IPv6Token for SLAAC
Useful when multiple addresses are needed for application binding on a single interface or due to limitations/problems with some other nodes (e.g. port forwarding of AVM FRITZ!Box falls back to EUI-64 as soon as an IPv6 address is not

[2017-09-22 14:47] fbuihuu commented on #6835
I created https://github.com/systemd/systemd/pull/6890 for this.

[2017-09-22 16:42] poettering commented on #6889
we usually try to normalize settings instead of cramming them all into one line. (i.e. the second approach appears better to me)

@ssahani something for you?

[2017-09-22 17:15] #6856 closed, assigned to nobody

[2017-09-22 18:36] poettering commented on #6216
This part is already taken care for since 4095205ecccdfddb822ee8fdc44d11f2ded9be24

[2017-09-22 23:16] LukeShu opened #6895 "resource-controll does not work in user instance, even on cgroup v2"
### Submission type

 - Bug report

### systemd version the issue has been seen with

### Used distribution

### In case of bug report: Expected behaviour you didn't see

 Let `./malloc` ([source code here](https://lukeshu.com/dump/malloc.c.txt)) be a program that keeps malloc(3)ing more memory 1M at a time, writing a few bytes in that memory to force page allocation, and printing to stderr how mu

[2017-09-23 10:45] #6554 closed, assigned to nobody

[2017-09-23 10:45] #4432 closed, assigned to keszybz

[2017-09-23 10:45] #6338 closed, assigned to keszybz

[2017-09-23 19:11] ghost opened #6899 "​"

[2017-09-23 20:40] jonathanunderwood commented on #6849
It is reproducible. I just freshly booted the machine and this is what I see:

[code]

Notice the difference between the first and second try.

I wasn't in any kind of special system mode. I booted it, ssh'd in remotely, and ran the command.

[code]

That's a stuck cryptsetup job, unrelated I think.

Nothing jumps out from logs. These seem coincidental, but may not be:
[code]

[2017-09-23 20:47] jonathanunderwood commented on #6835
@fbuihuu - many thanks for looking at this and working up the patch, much appreciated!

[2017-09-24 06:36] arvidjaar commented on #6827
@sourcejedi

Does booting with `printk.devkmsg=on` help?

[2017-09-24 07:12] jeremy447 opened #6900 "Unintended suspend"
### Submission type

 - Bug report
 - Request for enhancement (RFE)

### systemd version the issue has been seen with

systemd 233

### Used distribution

Fedora 26

### In case of bug report: Expected behaviour you didn't see

My Chromebook shouldn't suspend while I'm actively using it

### In case of bug report: Unexpected behaviour you saw

My HP Chromebook 14 (Falco) sometime go to sleep witho

[2017-09-24 08:47] keszybz commented on #6900
If you reopen your lid immediately, what should happen is that the machine just quickly resumes. We don't want to work around hardware or firmware issues. If you have such hardware or firmware, just mark the lid suspend button ignored in logind.conf and suspend manually.

See https://bugzilla.redhat.com/show_bug.cgi?id=1490516 for a similar issue.

[2017-09-24 08:47] #6900 closed, assigned to nobody

[2017-09-24 09:08] fpeterschmitt commented on #6652
Hello, here is finally a log from `journalctl -u user@1000.service`, with the modification you told me.

[code]

[2017-09-24 09:26] fpeterschmitt commented on #6652
Looking at the log a see that systemd --user provides DBUS and PulseAudio. Could that make conflicts with my `.xsession` starting `dbus` and `pulseaudio`?

[2017-09-24 13:41] sourcejedi commented on #6827
Not for learning about the main bug.  Even with kernel options `loglevel=7` or `ignore_loglevel`. It just gets the message about systemd not finding /sbin/init to show up when I booted normally with plymouth, and removes the message about rate-limiting.  Note I didn't enable any extra debugging in systemd for this report.

So it's not clear what the number of suppressed lines means, I've no idea w

[2017-09-24 17:52] #6447 closed, assigned to nobody

[2017-09-24 18:51] #3302 closed, assigned to nobody

[2017-09-24 18:53] #6216 closed, assigned to poettering

[2017-09-25 02:31] j16sdiz commented on #969
@poettering May we have some generic config / hook for this kind of sysctl?

Following the current approach, if the kernel add a new config in the future, we need to upgrade to whole system suite. That would be lots of work for testing..

[2017-09-25 03:18] virtualdxs commented on #481
@oliv3r Please do post it. I'm trying to set up a PPPoE over VLAN connection but netctl doesn't work for it because the VLAN interface starts as up even if I say no ip so it won't start a PPPoE connection on the VLAN interface.

[2017-09-25 08:35] keszybz commented on #6895
This is a duplicate of #6216, fixed in 40853aa53f.

[2017-09-25 08:35] #6895 closed, assigned to nobody

[2017-09-25 08:44] keszybz commented on #6511
I think we're pretty good now, apart from a few problematic entries:
[code]

If you see any more properties that are incorrectly or misleadingly formatted, please report specific examples.

[2017-09-25 11:47] jscotka opened #6903 "systemd-run: Fedora 25 inside Fedora26 host contains incompatibility"
## Bug report

## F-26 systemd version:
 systemd-233-6.fc26.x86_64

## Steps

### Prepare
[code]
### Reproducer
[code]
### Actual Output
[code]
### Expected Output
**Have to work well** - backward compatible interface

[2017-09-25 15:05] LukeShu commented on #6895
Fantastic! I'm sorry for wasting your time.

[2017-09-25 15:08] keszybz commented on #6895
It's fine ;) I think we fixed it after you opened the issue.

[2017-09-25 15:18] sourcejedi opened #6906 "rescue.service steals console from plymouth before stopping plymouth? stuff breaks"
### Submission type

 - Bug report

### systemd version the issue has been seen with

### Used distribution

Fedora 26

### In case of bug report: Expected behaviour you didn't see

It is possible to enter rescue mode, even from a serial console.

### In case of bug report: Unexpected behaviour you saw

Attempting to enter rescue mode _from a serial console only_ stops the getty's and gdm, but no

[2017-09-25 16:10] kokoko3k opened #6908 "DRM devices opened by logind stay referenced indefinitely by PID 1"
### Submission type

 - Bug report
### systemd version the issue has been seen with

### Used distribution

Hi, i'm trying to Nvidia "Reverse Prime" with a gtx750 + intel hd4000
Displays are attached to the intel connectors.
What i've done so far:
My xorg.conf:
[code]

.xinitrc:
[code]

System starts with intel as the primary adapter, nvidia modules are NOT autoloaded.
So i do:
modprobe nvidia-drm

[2017-09-25 17:32] keszybz commented on #4122
I think I implemented this when doing the alias/mask/install patches earlier this year (it was a bunch of commits in multiple PRs, so I'm not linking to a specific one).

[code]

So at least the general behaviour described in https://github.com/systemd/systemd/issues/4122#issuecomment-254936820 is implemented. If something specific doesn't work, please open a new issue.

[2017-09-25 17:32] #4122 closed, assigned to nobody

[2017-09-25 17:36] keszybz commented on #4012
systemctl prints stuff when it disables a service. So when there's nothing to do, the lack of output is informative too. Should we just close this?

[2017-09-25 17:39] keszybz commented on #4171
Nah, I don't think adding ever more substates makes sense. This is all maintained by a simple set of symlinks, so it's OK to just list all files in /etc+/usr/lib+... and do any logic you need based on that. Similar issue came up in #6892 recently, and here too I think that we can't and shouldn't try to exactly describe all the state in systemctl output.

[2017-09-25 17:39] #4171 closed, assigned to nobody

[2017-09-25 18:42] poettering commented on #6903
hmm, so newer systemd-run uses a concept old systemd didn't implement, and that's what you are seeing. We generally try to make sure that old clients continue to work with newer API implementations, but the reverse is not true, in particular as you use a the `--wait` option, which cannot be implemented on older systemd without races.

Or with other words: if you use "--wait" you need to run "syste

[2017-09-25 18:42] #6903 closed, assigned to nobody

[2017-09-25 21:18] bhack commented on #6375
@mbiebl Do you know if this patch was backported to the debian package?

[2017-09-25 21:24] bhack commented on #6375
/cc @martinpitt

[2017-09-25 21:57] mbiebl commented on #6375
@bhack as in 232-25+deb9u1 for stretch? Then the answer is no
See https://anonscm.debian.org/git/pkg-systemd/systemd.git/log/?h=stretch

[2017-09-25 21:58] mbiebl commented on #6375
@bhack keep in mind though, that v232 in stretch is not affected

[2017-09-25 22:04] bhack commented on #6375
@mbiebl Cause we still not have a new upstream dbus release so I meant to "backport" this fix in the v234 package in testing/sid

[2017-09-26 08:12] keszybz commented on #6402
See also https://bugzilla.redhat.com/show_bug.cgi?id=1491847.

[2017-09-26 10:54] bhack commented on #6375
@mbiebl Also this is the only log entry that seems to slowdown screen unlocking in testing/sid

[2017-09-26 11:22] smcv commented on #6375
This is not a dbus bug (dbus-daemon is behaving as expected) so it will not be fixed in a dbus release. The upstream release that fixes it should be systemd v235.

I'm sure your test results from a locally-built package with that patch applied would be appreciated.

[2017-09-26 11:32] bhack commented on #6375
Yes was just a typo I meant systemd. I'll try to rebuild test/sid source package with this patch

[2017-09-26 11:34] ssahani commented on #5625
in `ndisc_netlink_handler` if route or address fails we stop the clients.
`link_enter_failed->link_stop_clients that is dhcp, ndisc` etc.

 In this case I think we should not stop rather clients should be running.

[2017-09-26 11:51] ssahani commented on #5625
Fix is waiting on #6918 .

[2017-09-26 13:22] bhack commented on #6375
I've created the patched packages and reinstalled. Now the error disappear from the log.
So this issue was non related to the gdm unlocking screen freeze cause the probem it is still here.

[2017-09-26 14:39] ssahani commented on #5043
@intelfx https://github.com/systemd/systemd/commit/ccad03a4ccf8043f0cb698abcb32bbd87856b15f

[2017-09-26 15:55] dougmill-ibm commented on #6867
Note, the device paths should not be hitting any OS limits, if they were being properly decoded. Note that the "\x2d" is an encoded slash character. If you convert those to slashes you get a valid path. Otherwise, that last component of that path exceeds NAME_MAX, in addition to being just plain wrong. I believe that either the OS should be decoding these strings before trying to use them as paths

[2017-09-26 15:59] dougmill-ibm commented on #6867
So, if this is actually something systemd is doing to "flatten" a sysfs path into a filename, that design is obviously flawed.

I guess I don't know where this string originates. If it comes from the hardware then this is a bug in the vendor's firmware. But if it is being generated by systemd then it is a bug in systemd.

[2017-09-26 16:00] OhNoMoreGit opened #6920 "Symlinks= in socket units can silently fail"
### Submission type

 - Bug report

### systemd version the issue has been seen with

 - v231, though code inspection shows the problem exists in v234

### Used distribution

 - Fedora

### Problem and steps to reproduce

The `Symlinks=` directive in socket units appears to silently ignore all errors when creating symlinks.

For example, take the following units:

[code]

Then make sure `/tmp/test

[2017-09-26 16:09] #6511 closed, assigned to nobody

[2017-09-26 16:22] poettering commented on #6920
yupp, we currently silently ignore if symlinks can't be created. Not entirely sure it should be fatal if we can't create one of the symlinks, but we at least should log about it.

Also not sure if we should remove files that already exist, except  maybe they already are symlinks or so.

[2017-09-26 16:26] ssahani commented on #6889
Could you please give a example how we do this with ip command
[code]
that is same

[code]

[2017-09-26 16:39] poettering commented on #6920
Prepped a patch in #6922 now. It doesn't make Symlinks= failing fatal (see commit msg for the reasoning), and it doesn't destroy pre-existing file nodes, but it does everything else you suggested. Please have a look.

[2017-09-26 17:08] dougmill-ibm commented on #6867
Sorry for the thrashing, but I think I understand this string now. The "filename" is actually a flattened sysfs path, but not as I previously thought. The bare dash characters are actually encoded slashes, while the "\x2d" are original dashes prior to encoding the slashes. So, a "sed" command to translate would be:
[code]
This string must originate in the OS, as it contains references that only th

[2017-09-26 17:17] poettering commented on #6652
So it appears dbus-daemon dies very quickly after starting up. Any idea why that might be?

[2017-09-26 17:23] poettering commented on #969
@j16sdiz well, the kernel sysctls have all kind of weird propagation logic built in (for example: the ip fowarding sysctl is completely strange with its propagation logic), morever what is set is not normalized or user friendly usually. Then, we do configure some options automatically depending on other options. All that kinda indicates we should expose all relevant options natively through friend

[2017-09-26 17:34] fpeterschmitt commented on #6652
Do you have some "checks" i could run on the machine about dbus? Like old files or configuration… anything?

[2017-09-26 20:38] #6048 closed, assigned to poettering

[2017-09-26 20:53] poettering commented on #6330
Fix waiting in #6925

[2017-09-26 21:47] poettering commented on #6608
Fix waiting in #6928

[2017-09-26 23:31] OhNoMoreGit commented on #6920
I would be inclined toward making it fatal, and for it to replace any existing filesystem entries.

First, Symlinks= is the only way to provide multiple names for a socket when the service's software is limited to one listening socket. From the client's perspective, all names for a socket should behave identically. Having some names work and others not could be confusing.

And second, if RemoveOnS

[2017-09-27 02:04] crawford commented on #6648
Huh, I don't know how I missed the notifications on this one. I ended up going with @euank's suggestion to explicitly mount all of the VFIO nodes. I'm not too worried about voiding my warranty since I just use this machine to watch Netflix. :)

[2017-09-27 07:25] #6330 closed, assigned to poettering

[2017-09-27 09:06] tblume commented on #6346
@poettering Just to make sure, there are no objections for this feature?

[2017-09-27 09:11] yuwata opened #6929 "netwokrd: Could not drop route: Invalid argument"
### Submission type

 - Bug report

### systemd version the issue has been seen with

9782c78 with some PRs.

### Used distribution

Fedora 26 x86_64

### In case of bug report: Expected behaviour you didn't see

systemd-networkd can restart without any warning.

### In case of bug report: Unexpected behaviour you saw

When I restart systemd-networkd, the following warning messages are shown:
[cod

[2017-09-27 09:21] poettering commented on #5446
I have thought about this one for a while now, and couldn't come up with a sane solution. doing xattrs on cgroups suffers by the problem that this isn't compatible with userns containers. Similar, if we'd stick the info what the root dir is into the keyring, we also have a problem on containers.

And philosophically I wonder if maybe the chroot check in systemctl is actually the right thing to do

[2017-09-27 09:43] poettering commented on #3388
Hmm, after looking into this: I figure little has changed regarding this on the kernel side, I figure for now the only thing we can do is to move this to v236...

[2017-09-27 10:53] sts commented on #2175
@johannbg I don't understand your argument --

Even though there are users requiring this feature and it has been a common pattern to safeguard service outages with sysvinit scripts in the past, you are saying that there are no daemons supporting it and as long as there are none it won't get implemented?

At the same time there doesn't exist any guidelines for upstreams on how systemd expects serv

[2017-09-27 13:18] ssahani commented on #797
We need to close this as PR is merged.

[2017-09-27 14:42] #797 closed, assigned to nobody

[2017-09-27 15:19] ssahani commented on #1850
1. Via the DHCP it takes a while and we also sets the static routes asynchronously.
2. So If I figure this this requirement right the DHCP routes are set then the static routes supposed to be configured. I think we need to introduce a config `ConfigureStaticRoutesAfterDHCP`. When this is set static routes will be configured after the DHCP routes are set.

[2017-09-27 15:38] poettering commented on #6402
My proposal to fix this is waiting in #6931. @Werkov any chance you can give this a whirl if it fixes the issue for you?

That said, I am pretty sure dracut should be fixed too, and set both JobRunningTimeoutSec= and JobTimeoutSec= to `infinity` (instead of just one, and instead of `0`)

[2017-09-27 15:41] poettering commented on #6402
I filed a dracut bug now in https://github.com/dracutdevs/dracut/issues/289 so that their side is updated too

[2017-09-27 15:58] poettering commented on #6920
That's a good point. But I think this is reason to go the other way: make it destructive when RemoveOnStop= is set. See the updated version of the PR

[2017-09-27 16:08] poettering commented on #6929
@ssahani please have a look

[2017-09-27 16:29] poettering commented on #6346
sure, makes sense to add!

[2017-09-27 16:57] amessina commented on #1850
@ssahani, does a new config need to exist?  If static routes are configured, shouldn't that be enough to say that the admin wants them there?

[2017-09-27 17:37] #6920 closed, assigned to nobody

[2017-09-27 17:47] poettering commented on #6505
Hmm, so the thing is: if you isolate away much of the system, but not udev/udev-trigger, then the various hw specific targets will indeed be missing, as they are pulled in only at the moment the device appears. If you then change to multi-user.target again, then they will still be missing, and so will their deps.

Not sure what we can do about this. I was originally thinking of excluding the hw ta

[2017-09-27 18:02] poettering commented on #6045
Proposed fix waiting in #6932.

[2017-09-27 18:06] poettering commented on #6875
Hmm, so this is a misunderstanding. It's actually supposed to be OK if the main or control processes of a service are not a member of the cgroup of the service (which happens when they migrate to a different scope, for example due to a PAM sessin). systemd is generally able to handle that. A process may thus be associated with two cgroups at the same time, except that that has been broken for the

[2017-09-27 18:06] #6875 closed, assigned to nobody

[2017-09-27 18:09] poettering commented on #6908
logind manages device access for graphical display services, so that they lose access to input and DRM when the user switches away from them using Alt-Fn. For that it keeps the devices open. However, there's a bug lurking. In order to make logind rrestartable without losing all display managers logind nowadays pushes open device fds into PID 1 while running, so that they stay referenced. However,

[2017-09-27 18:18] poettering commented on #6567
I will close this now. This issue doesn't really have anything actionable. As far as I can see we don't actually do anything wrong. systemd has a heavier footprint than xinetd, and in particular on the fs layer, already because cgroupfs is exposed as file system, but also because we look for per-instance drop-in configuration files for each incoming connection.

We can certainly optimize things a

[2017-09-27 18:18] #6567 closed, assigned to nobody

[2017-09-27 21:15] maddes-b commented on #6889
The ip command has no token support, only systemd-networkd has token support as it is a reaction to a received RA with A-flag set (=SLAAC allowed).
systemd-networkd receives a prefix and uses the token as the interface id to build the SLAAC address.
If the token is not set or empty, then an EUI-64 interface ID is generated and used instead.

My feature request is to extend this support in systemd-

[2017-09-27 21:40] flokli commented on #6600
I'd like to add similar problems exist when moving a vlan interface from one parent interface to another. Networkd doesn't remove the old one, and doesn't create the new one either.

[2017-09-27 22:20] vcaputo commented on #6908
@poettering There's something quite annoying I've observed but not bothered to investigate yet on my debian 9 (v232) system which may be related:
1. Xorg + minimal window manager running via `startx` from shell on VC1, no graphical login
2. switch to VC2 via ctrl-alt-F2, login as a different user from VC1
3. start Xorg on VC2 via `startx`, another minimal window manager arrangement
4. Do some stuf

[2017-09-27 22:43] Atavic commented on #6908
That's another issue IMHO

[2017-09-27 23:43] aog2000a commented on #3045
+1. It would be great to have the possibility to define **log-levels** per Unit, say unit A log up to debug, unit B logs only warnings.
A per unit value MaxLevelStore value so to say. These two settings (maxuse and maxlevel) would perfectly complement each other to control the logging of single units.

[2017-09-27 23:54] aog2000a commented on #4089
See also #3045 for per service logging level or maxUse configuration.

[2017-09-28 01:24] flo-wer commented on #1850
This should work with GatewayOnlink=yes in [Route], see https://www.freedesktop.org/software/systemd/man/systemd.network.html#GatewayOnlink=
The problem is whenever a new route is inserted, the kernel checks if the gateway is reachable. If you insert a route while no interface is configured this fails:
[code]
This is the case when using DHCP, as the default route is not available at the time, the

[2017-09-28 01:38] flo-wer commented on #6929
This looks horrible wrong:
[code]
The gateway address is reported reversed with a leading "g".

Can you post the output of `ip -4 route`, as iproute2 is more modern and has replaced `route`?
This looks like a memory corruption. Does the output change between multiple invocations of `route` / `ip -4 route`?

[2017-09-28 04:50] yuwata commented on #6929
Sorry, the delay in `route` is caused by that our upstream network disallow to connect the fallback DNS servers (google's DNS server). With `-n` option, `route` command works fine even if `systemd-networkd` is stopped. The below outputs except `networkctl` do not depend on whether `systemd-networkd` is running or stopped.
[code]
[code]
[code]
[code]
[code]

[2017-09-28 06:48] #6608 closed, assigned to poettering

[2017-09-28 06:53] #6835 closed, assigned to nobody

[2017-09-28 07:13] AlexDaniel commented on #3944
Uh, not sure if this can be resolved with just documentation. Why can't it error out when this happens? Or at least a warning would be nice.

[2017-09-28 08:00] ssahani commented on #1850
@flo-wer thanks . That should work. No need for anything else.

[2017-09-28 08:17] ssahani commented on #6889
@maddes-b thanks I got it now.

[2017-09-28 10:17] ThomasLamprecht opened #6937 "fstab-generator: noauto still adds dependency to {remote,local}-fs.target, docs state otherwise"
### Submission type

 - Bug report

### systemd version the issue has been seen with

### Used distribution

### In case of bug report: Expected behaviour you didn't see

With noauto added to a fstab entry, the remote-fs or local-fs, respectively, target should not get a dependency on this mount, see man systemd.mount:

### In case of bug report: Unexpected behaviour you saw

My mount is in a VM w

[2017-09-28 10:26] marcosfrm commented on #1435
I was having the same problem with NetworkManager. By default, when we connect to wifi using nm-applet, connection is saved with `connection.permissions` set to current user. At user logout, NM disconnects (before system shutdown). Solution is configure the connection as "global", not restricted to any user:

[code]

Anyway, shall the lack of `After=dbus.service` in `wpa_supplicant.service` be rep

[2017-09-28 12:37] fbuihuu commented on #6608
@poettering , I'm not sure to understand this... could you clarify ? Thanks.

[2017-09-28 13:40] maddes-b commented on #6889
Short hint: [dhcpcd](https://roy.marples.name/projects/dhcpcd) has "prefixstable" RFC 7217 already implemented, just if converting RFC description to code gets tricky and you need a start.

[2017-09-28 14:49] cgpe-a commented on #928
Although the subnet route metric problem could be addressed, from my experiences, I don't think this will be a complete solution for what people want. Let me explain...

The subnet routes are added by the kernel as a side effect of systemd-networkd adding interface addresses. manager_rtnl_process_route() could be updated to recognise these new routes by computing that they are network routes corre

[2017-09-28 18:22] martyg77 commented on #659
Just bashed my head into this same problem.

It would be nice if upstream systemd maintainers understood is users need a reliable, straightforward way to do this when needed.  This is way too complicated, and should not be buried in an obscure paragraph in the man page.

[2017-09-28 19:14] poettering commented on #6608
in cgroupsv2 there's the `cgroup.events` file. That file is a bit magic: if you create an inotify watch on it, you'll be notified every time something interesting happens about the cgroup, most importantly when the "populated" state of the cgroup changes from "empty" to "populated" or back. Now, systemd adds all cgroups it cares about to such an inotify watch, and each time we get an event we now

[2017-09-29 07:40] fbuihuu commented on #6608
Thanks for your detailed explanation !

Are there any guaranties that the kernel will always deliver the SIGCHLD event before the inotify one when a main process dies and the corresponding cgroup becomes empty ?

[2017-09-29 07:49] func0der commented on #5595
@nafaatayachi
The time in OnCalendar ist expected to be in the servers timezone.
So if you really want to be 100% sure, use UTC.
I do not think the behaviour would change, if you add your timezone to the onCalendar setting, due to the fact that there still would not be a 2pm on March 12th.

[2017-09-29 08:31] ssahani commented on #6593
I reproduced this . I think it's a bug of very worst kind. Also it's exposed a network security flaw. I got in to a *LOOP*  while reproducing this . Once the MTU changed then the DHCP client talking with DHCP server never stops. networkd gets into a loop and generates endless DHCP requests.  Imagine a bunch of machine doing the same thing and can bring down the network.

@poettering we need to dis

[2017-09-29 13:24] poettering commented on #6479
hmm, so suspend/reboot is currently implemented asynchronously in logind, and I am not sure if we can change that without breaking compatibility. A side effect of this is that because we don't wait for the suspend operation to complete we don't know if it failed at the point where we return from enqueuing it.

I wonder what we can do about this. Just making "systemctl suspend" and "systemctl reboo

[2017-09-29 14:14] poettering commented on #6479
I posted PR #6944 now, with the suggested changes. I will now also rename this issue, to make it just about optional synchronous operation for "systemctl suspend" and friends. I'll also drop the v235 milestone for this, as that'd be a new feature/optional behaviour and thus can be added later.

[2017-09-29 14:20] poettering commented on #6478
There are two PRs in progress addressing this: #6623 and #6373.

[2017-09-29 14:42] SimonvanEeden commented on #5097
I was trying to install this on my raspberry pi 3. I coud not get it to work and i noticed the service was getting installed at usr//lib/systemd... instead of /lib/systemd...
I wanted to uninstall the old files but i did nit know how, i moved files over to /lib/systemd.. but now my time went back to 2016 and I think there is a whole lot going wrong.
What do i do now, i just want my time back.

I h

[2017-09-29 14:52] albundy83 commented on #5097
Hello,
depending on where you have installed this great tool, first stop systemd-timesyncd-wait service
[code]
Then clean install:
[code]
or
[code]
Once it's cleaned, just issue
[code]
This will update systemd-timesyncd configuration and restart it.

[2017-09-29 15:05] perolausson opened #6945 "Add a minimum TTL configuration item for broken DNS servers (systemd.resolve)"
### Submission type

 - Request for enhancement (RFE)

### systemd version the issue has been seen with

### Used distribution

I have a DNS server which is dishing out responses indicating that the TTL is 0. As it is a hardware device out of warranty I can't resolve this other than replacing the whole unit, which I am reluctant to do.

It would be good, if it was possible to indicate the minimum

[2017-09-29 15:16] albundy83 commented on #5097
Be careful also as this tool is not compatible with old raspbian release (jessie based one).
The newest raspbian based on stretch is ok.
To check, just issue
[code]
You must be at least at 229 something
With latest raspbian stretch, you will be at version 232
Use this fork instead
https://github.com/LukeShu/systemd-timesyncd-wait

[2017-09-29 15:28] perolausson commented on #6224
I've spent some time battling with this issue myself and reading this error report what stands out to me is that noone is asking if a /etc/systemd/network/NNNN.network file was setup on the server.

I too started out fiddling with /etc/resolv.conf and had no luck with it. In the end, my understanding is that to get this to work properly the solution is to configure the network correctly by telling

[2017-09-29 15:39] #6899 closed, assigned to nobody

[2017-09-29 16:10] poettering commented on #6543
Proposed fix waiting in #6946.

[2017-09-29 16:15] poettering commented on #6945
Can you elaborate on this? I don't really grok what you are saying here?

What do you mean by "systemd-resolve based systems respond to UDP queries"? We only have a local DNS stub, for local programs, talking UDP. Is that what you mean?

TTL=0 according to DNS means that the data shall not be cached, and that's what resolved is doing. For RRs like that resolved should behave no different than the

[2017-09-29 17:04] perolausson commented on #3980
I am the happy owner of a similar HW device (technicolor TG589vn) with an unruly DNS server and I think the problem is that it starts out working well by downgrading to UDP works fine, but then it upgrades and for whatever reason it get's stuck at being upgraded rendering the system unusable. So I am not so sure this is an unrelated / different problem.

I am currently trying out the upstream mast

[2017-09-29 17:35] perolausson commented on #3980
I thought there might be some new directives and retried on 233 using this:

[code]

It didn't change anything. But I discovered another interesting detail:

Dig client:
[code]
I don't think you can even begin to understand how frustrated I am with this software.

My theory: so what happens appears to be that systemd-resolve sees a UDP packet flyby and intercepts it, and then it figures out that m

[2017-09-29 19:50] perolausson commented on #6945
What I mean is that if I have a local network like this:

Servers running ubuntu 17.04

serverA
serverB

Servers running older version of ubuntu (not running systemd.resolve or any other DNS):

oldserver

then when running queries on serverA:

case 1: serverB ok
case 2: oldserver not ok, not found or delayed response

I think this is causing in part some of the frustration for people, since they d

[2017-09-29 22:13] aldem commented on #6432
Performance is not an issue (not a big one), disk/RAM storage is (and rotations because of it).

There are plenty of applications/daemons (rrdcached is one of them, as an example) which simply do not offer granular logging control - while spamming a lot, thus leaving us no choice.

Additional issue is "out of band" log rotation (and retention policies) for services that log to stdout/stderr - syst

[2017-09-30 20:19] tixxdz opened #6955 "Sandbox: Seccomp: basic syscalls and operations should be allowed inside RootDirectory= RootImage= and container envrionment"
Submission type: Request for enhancement (RFE)

We should improve our seccomp syscall groups so most basic operations should work inside a new mount namespace and if running as a normal user. Right now systemd has lot of sandbox operations but after some time, it seems that these options are not really user friendly or too technical for our users.

Having multiple seccomp groups can be helpful, bu

[2017-09-30 20:38] tixxdz commented on #6955
cc @topimiettinen

[2017-09-30 20:43] tixxdz commented on #5996
@poettering and all for the record I opened this issue: https://github.com/systemd/systemd/issues/6955 that explains how we should use simple real life seccomp combined groups instead of complex profiles/policies to block some functionality while allowing the rest, avoiding much of breaking user's apps noise...

[2017-09-30 20:54] tixxdz commented on #6955
One thing to note is that if sandboxed apps are updated in the future, and the program now starts to use a blocked syscall then things will fail quickly, users may just deactivate things again... this is why a generic group like `@basic` or `@portable` can help here.

This model is derived from:
https://man.openbsd.org/pledge.2
Chromium sandbox, and how Android apps/permissions are done. However o

[2017-09-30 20:57] topimiettinen commented on #6955
So, for each system call group, there would be a version with basic set with "traditional Unix system calls" and another with an extended set. But do the sets of syscalls made by different services actually match with this kind of basic/extended division? What if the sets would be "common/current" (reflecting current use by libc etc., maybe including a bit larger set) and "exotic" (rarely used, co

[2017-09-30 21:08] topimiettinen commented on #6955
With system call groups we could actually have a number of overlapping groups with different profile, this is only limited by maintenance burden and of course having a too large number of groups would make selecting them more difficult instead of helping. For example, group "@network-server" could allow all possible net syscalls, while "@basic-server" would only allow local sockets.

[2017-09-30 21:10] tixxdz commented on #6955
@topimiettinen

I would not say for each system call group, but most of them, especially chown() or other write operations on directories owned by apps should be allowed. Instead of "traditional Unix system calls" I may use system calls that do not have side effect or syscalls + context that does not change the outside world of the app.

I am not sure if I got what you mean here, but common/curren

[2017-09-30 21:22] tixxdz commented on #6955
Indeed, I would recommend to only have the basic ones `@basic-socket-info` as described above, then maybe `@basic-network-io: {accept, bind, connect, listen, recv, send, socket, socketpair, shutdown, + @basic-socket-info}`

Then `@network-io :{recvmmsg, sendmmsg, socketcall, + import:@basic-network-io}`

To answer your question about `@network-server` for net and  `@basic-server` for local sockets

[2017-09-30 21:47] sourcejedi commented on #6479
I like the consistency.  Thanks.  I don't have strong feelings about the remaining RFE.

[2017-09-30 21:49] q2dg commented on #4003
I have this error with every domain in Internet the first time I run systemd-resolve but the second time it just works fine. It's very strange...and worrying

EDIT: I'm using Fedora 26, Systemd v233

[2017-10-01 00:43] zerkms commented on #5595
It's not.

Let's say you scheduled to run something at 11:00am every 31st day of the month. Do you it to ever run in February or April?

And `February 29` - should it be run in a non-leap year?

2am sometimes happens twice a day (and sometimes does not happen at all). Your task explanation implies it should run twice. Otherwise - it should be formalised more explicitly to somehow exclude it. But h

[2017-10-01 12:08] Potomac opened #6956 "systemd 234.11-9 : Randomly I get a "Failed unmounting /home""
Hello,

I use archlinux 64 bits,

since systemd 234.11-9 I get randomly an error message at reboot and shutdown :

systemd[1]: Unmounting /home...
systemd[1]: home.mount: Mount process exited, code=exited status=32
systemd[1]: Failed unmounting /home.

despite the error the reboot/shutdown works without problem ( and without additionnal delay ), I have only this error message every 4~5 reboots/shu

[2017-10-01 17:47] arvidjaar commented on #6937
Well ... you are quoting documentation for `systemd.mount` while show configuration for automount unit. Although man page for `systemd.automount` just refers to `systemd.mount` for `/etc/fstab` options and hence you are right here.

Fact is that "noauto" is ignored for `automount` units, generated from `/etc/fstab`. It probably should not.

[2017-10-01 21:47] sourcejedi opened #6957 "nitpick: `shutdown -H 1` returns a programming error"
### Submission type

 - Bug report

### systemd version the issue has been seen with

### Used distribution

Fedora 26

### In case of bug report: Expected behaviour you didn't see

`Action <polkit action> is not registered` should not occur, it indicates a programming error, unless the system is corrupted, or a downgrade is in progress.

### In case of bug report: Unexpected behaviour you saw

[c

[2017-10-02 04:01] arvidjaar commented on #6867
`man systemd.unit` and search for "escape".

[2017-10-02 05:18] ThomasLamprecht commented on #6937
Hmm, as far as I understood, the _noauto_ option is a general fstab mount option which should tell systemd (or another init system for that matter) to not automatically mount this on systemd startup (or to reach the local/remote-fs targets) but only if another unit pulls it in (or naturally later if a user mounts it manually)

And then there are systemd specific .automount unit types:

I'd use thi

[2017-10-02 05:22] ThomasLamprecht commented on #6937
If there's agreement from the systemd side on how it really should behave, i.e., if the docs are right or the code, I can also try to assemble a pull request.
Honestly, I hope the docs are right, but I can work with both.

[2017-10-02 09:20] xnox commented on #6224
Debian does not use resolved by default... And Debian configuration of resolved is very different from Ubuntu. Please use correct upstream bug trackers for distribution issues, bugs.debian.org/systemd and launchpad.net/ubuntu/+source/systemd

[2017-10-02 12:40] #6045 closed, assigned to poettering

[2017-10-02 12:53] Zugschlus opened #6961 "networkd: dummy interface in bridge stuck in "configuring", leading to degraded system"
This is a bug in systemd 234 and 232, seen in Debian unstable and Debian stable.

Steps to reproduce:
Take a VM. Configure and enable networkd with the following configuration:
[code]

This is a common use case to force a bridge in "up" state before the first actual user is attached. Otherwise, the addresses configured on the bridge itself do not get useable before the first acutl user is attached

[2017-10-02 13:09] dougmill-ibm commented on #6867
@arvidjaar I do understand the mechanics of how this string was created. The problem is that the design of using a path as a filename, without checking its length, is flawed and is what is causing the problem. I am unfamiliar with the internals of systemd and so haven't even located the higher level code responsible for this. If the reason the encoding of the path is done is so that software can s

[2017-10-02 14:25] michaelolbrich commented on #6937
In my understanding, the documentation refers to the mount unit only. What happens to automount units is just not documented.

Also, the current behavior matches a pretty common use-case: lazy mounting filesystems only when they are needed. Changing that now would mean a lot of filesystems are no longer mounted and that will break a lot of existing setups.

I believe the problem is not the activat

[2017-10-02 14:30] ssahani commented on #5448
Sorry for late reply . I am able to reproduce it. If we stack more than one tunnel on a same interface this does happen while restarting networkd that means first time we are able to create and next time this does fail. We should not create the tunnels with the same name if they already exists.

[code]
Does this fix your issue ?
https://github.com/ssahani/systemd/commit/8ab1219f1c80aca81a83bb326a4

[2017-10-02 14:31] poettering commented on #6957
Fix pending in the newly pushed version of #6944.

[2017-10-02 15:10] Werkov commented on #6402
Thanks, I like this approach of propagating the value only when it wasn't explicitly set (paying with the introduced flag).
I gave the patch a try (based on [v234](https://github.com/openSUSE/systemd/commit/9e0985dc)) and it waits infinitely for the root FS device as is dracut's intention.

One remark though -- why to propagate only the 'infinity' value? If the user configures `rd.timeout=` kernel

[2017-10-02 15:33] poettering commented on #6608
that's a valid question, but afaiu as long as we check explicitly with waitid() and the cgroup check before doing aynthing we should be fine, and that in fact is what we do.

[2017-10-02 16:46] poettering commented on #6956
anything relevant in the logs? anything relevant if you do this in debug mode? is your /home something special? luks? weird fs? LVM?

[2017-10-02 17:04] Potomac commented on #6956
Hello,

my /home is a hard-disk with a classical ext4 partition,

in journalctl I can see some errors related to X11 and Qt software, but I don't know it's important,

you can find as attached file the full journalctl log
[systemd_mount_problem.txt](https://github.com/systemd/systemd/files/1349679/systemd_mount_problem.txt)

[2017-10-02 21:36] moonlight16 opened #6966 "Unable to find which specific Python process was killed by Linux OOM killer"
### Submission type
 - Request for enhancement (RFE)

### systemd version the issue has been seen with
235

### RFE description
(I originally posted this on Stack Exchange:
https://unix.stackexchange.com/questions/387068/finding-which-specific-python-process-was-killed-by-linux-oom-killer)

I'm trying to figure out which specific Python process or executable was killed by the Linux OOM killer.

In

[2017-10-03 01:37] devurandom commented on #6961
I have the same issue with systemd 234, but without the "dummy" netdev. The bridge itself (without any devices attached) is stuck in "no-carrier / configuring" state. If I manually `ip link delete br0` and then `brctl addbr br0`, it comes up immediately and without further issues.

[2017-10-03 03:10] xnox commented on #6281
I still believe this is a pure kernel bug, and oversight of something that was not merged in since 2011.

https://lists.linuxfoundation.org/pipermail/containers/2017-October/038250.html

Adding filters in lxd makes no sense at all, as it is not possible to check if one is running on a fixed kernel or not.

Furthermore, I wonder if this is racy, as capability can be revoked between adding a key and

[2017-10-03 04:01] yuwata opened #6967 "nss-systemd: cannot resolve user name if dbus.service is not started"
### Submission type

 - Bug report

### systemd version the issue has been seen with

ebfa2c1 with some PRs

### Used distribution

fedora 26 x86_64

### In case of bug report: Expected behaviour you didn't see

The user name of a dynamic user can be resolved even if dbus.service is not started.

### In case of bug report: Unexpected behaviour you saw

The user name of a dynamic user cannot be res

[2017-10-03 07:24] SimonvanEeden commented on #5097
Thanks, I got it working.
I'm using Raspbian on the PI3 version 232, the command that worked for me was "sudo make prefix= install"
This way it installed in /lib/systemd/.... just like my other homemade service and it did work.
Getting go commands to work with sudo didn't work but then it suddenly did :)

[2017-10-03 07:38] djfd opened #6972 "MSI-PR200: screen flickering issue: 60-keyboard.hwdb extend RFE"
### Submission type

 - Request for enhancement (RFE)

### systemd version the issue has been seen with

### Used distribution

*Issue*: backlight is flickering when trying to change screen brighthess by any of means: keyboard Fn+ keys, gnome shell applet slider, direct write to /sys/class/backlight/acpi_video0/brightness

Also mentioned [here](https://bugs.launchpad.net/ubuntu/+source/linux/+bug/

[2017-10-03 08:27] #6543 closed, assigned to nobody

[2017-10-03 09:52] zenvoid commented on #5744
It seems that the last comment by @qtonthat is what is actually happening, journal-remote does its first upload, then waits forever and never comes back. Going back to an older revision of systemd looks risky, is there any temporary workaround that we can use to make it work until properly fixed?

[2017-10-03 11:51] johnl opened #6976 "systemd-resolved SERVFAIL "No appropriate name servers" for search domains"
### Submission type
 - Bug report

### systemd version 234 (234-2ubuntu10 on ubuntu 17.10)

###  ubuntu 17.10

domains within search domains should resolve successfully but instead they fail to resolve with error "resolve call failed: No appropriate name servers or networks for name found"

Setup `resolv.conf` as:

[code]

then attempt to lookup www.facebook.com (or facebook.com):

[code]

debug l

[2017-10-03 12:34] ssahani commented on #2713
@net147 yes I reproduced it. Please try with https://github.com/systemd/systemd/commit/fb81f57f4d467d0db8397775352b1f04e38f5313.

[2017-10-03 14:58] SimonvanEeden commented on #5097
A new issue appeared, when i add my own NTP server in /etc/timesyncd.conf
systemctl status systemd-timesyncd gives: https://pastebin.com/6pyNwcA1

when i then reload the deamon only the warning goes
when i then restart systemd-timesyncd: https://pastebin.com/quXUH2Mi

the wait service seems to have blocked timesyncd to early.
Edit:
needed to restart my pc for ntp firewall settings to change *facep

[2017-10-03 15:31] jkufner opened #6978 "loginctl lock-sessions: add option to wait until locked"
### Submission type

 - Request for enhancement (RFE)

### systemd version the issue has been seen with

### Used distribution

### Description

Let's have following script:

    #!/bin/sh
    loginctl lock-sessions  # lock everything on background
    systemctl suspend       # not locked yet

Since loginctl does not wait until sessions get actually locked, the locking often happens after resume a

[2017-10-03 16:38] Zugschlus opened #6980 "[RFE] networkd: IPv6 interfaces don't really finish their configuration phase."
I have been discussing with @ssahani in private mail when a network interface can be considered "configured" in the IPv6 case. Unfortunately, this is not so easy, and thus he asked that I open an issue for discussion so that this information is not lost.

There is nothing that guarantees that an IPv6 router solicitation on system boot will be replied to, and it is not an error if there is no respo

[2017-10-03 19:55] g0tar commented on #6673
This is related, so I would like to share a solution I use for log retention, while preventing running out of disk space /etc/logrotate.d/journal:

[code]

The problem with journal is that it cannot split journal files and apply different policies. E.g. keep my web server access logs for 12 months (legal retention), while dropping debug messages as soon as free space is needed. Since I don't wan't

[2017-10-03 20:52] g0tar commented on #6605
Since the support for the legacy kernel device names used with btrfs RAID was merged in 0e8856d25ab71764a279c2377ae593c0f2460d8f, this ticket can be closed as resolved.

[2017-10-03 20:52] #6605 closed, assigned to nobody

[2017-10-03 21:19] xnox opened #6981 "test-copy fails when test-copy is too small"
### Submission type

 - Bug report

### systemd version the issue has been seen with

master

### Used distribution

Ubuntu Artful

### In case of bug report: Expected behaviour you didn't see

[code]

### In case of bug report: Unexpected behaviour you saw

[code]

### In case of bug report: Steps to reproduce the problem

1. Compile test-copy to be smaller than 32000 bytes, for example as manage

[2017-10-03 21:59] pauldraper commented on #4985
A hard requirement; means upgrading the init system every 2-3 months.

In any case, still happens ten versions later (229).

[code]

[2017-10-03 22:47] bernadinm commented on #6815
@poettering, thanks for your feedback. I've also tried Type=oneshot for this and the behavior is the same. I did see that this is not reproducible with the while loop. It is only when you have the loop in the ExecStartPre that the systemd unit fails with `Failed with result 'signal'.` rather than `Failed with result 'timeout'.` which is what it should be.

When I get some free cycles, I can see if

[2017-10-03 23:53] Rudd-O opened #6982 "Dropins in /etc/systemd/user for user units appear as DropinPaths in systemctl show but take no effect"
### Submission type

 - Bug report

### systemd version the issue has been seen with

231-17.fc25

### Used distribution

Fedora 25

### In case of bug report: Expected behaviour you didn't see

With this:

[code]

in `/etc/systemd/user/syncthing.service.d/qubes.conf`

The expected behavior is that syncthing user unit does not start with the user session.

I also expected to see ConditionPathExist

[2017-10-04 00:24] archuserr commented on #5744
I created `/etc/systemd/system/systemd-journal-upload.service.d/override.conf`
[code]
So systemd runs it every two hours, and kills it after 30 seconds. This fills your journal with error messages.

[2017-10-04 04:46] yuwata commented on #6639
@stephankn I do not reproduce your problem. I've tested with multiple drop-in configs but all settings seems correctly read.
I note that the man page systemd-timesyncd(8) states that

So, timesyncd uses only one, usually the first, NTP server in listed servers.
If you want to use the NTP server listed in the second or later position, I propose to use `NTP=` to clear currently listed servers. E.g.,

[2017-10-04 04:53] ppppn opened #6983 "nspawn: ipvlan interface connected to unintended interface?"
### Submission type

 - Bug report

### systemd version the issue has been seen with

 - systemd 232
 - systemd 234

### Used distribution

Ubuntu
 - 17.04 (systemd 232)
 - 17.10 (systemd 234)

### In case of bug report: Expected behaviour you didn't see

I boot up a container with the following command:
[code]

And I run `ip link` in the container.
The results should be like this:

[code]

If I a

[2017-10-04 05:38] yuwata commented on #6982
The version of systemd you use is old. Please read [CONTRIBUTING.md](https://github.com/systemd/systemd/blob/master/.github/CONTRIBUTING.md).

Moreover, I do not reproduce the problem with a recent snapshot. I've tested as follows, and the result seems fine.
[code]

[2017-10-04 06:39] ppppn commented on #6983
Additional note:

Each pair of the three options(`--network-macvlan`, `--network-ipvlan`, `--network-veth`) works as I intend.

[2017-10-04 09:14] poettering commented on #6972
Not sure I follow. @martinpitt something for you?

[2017-10-04 09:15] poettering commented on #6972
btw, if you have a specific change in mind, make sure to file a PR with it, otherwise it's unlikely to happen, as none of us has your specific piece of hw...

[2017-10-04 09:18] poettering commented on #6966
systemd is not involved with OOM killing. That's a kernel feature, implemented in the kernel and under the kernel's exclusive control. systemd doesn't get notified, and hence cannot log about it.

Please contact the kernel folks about this for help, we can't really help you. Sorry.

[2017-10-04 09:18] #6966 closed, assigned to nobody

[2017-10-04 09:19] poettering commented on #6976
so, do you have any name servers configured as well as a network connection that works? What does "systemd-resolve --status" say?

if you don't have DNS servers configured or no network connection set up, this is the error you get, and it has nothing to do with domain search lists..

[2017-10-04 09:23] poettering commented on #6982
Are you sure you issued "systemctl daemon-reload" after creating that file? What does "systemctl cat …" on the unit file list?

[2017-10-04 09:37] fogando commented on #5744
I was experiencing the same problem in a Fedora 25 environment and tried reverting packages to older versions. I got lucky by reverting the "libmicrohttpd" package from version 1:0.9.55-1.fc25 to 0.9.46-2.fc24, while keeping updated all others including the "systemd-journal-remote" package (with version 231-17.fc25)

[2017-10-04 09:48] Rudd-O commented on #6982
It may work from drop in configs for ExecStart but not necessarily for ConditionPathExists.  I will see how my tests go with newer systemd but we can't conclude this isn't broken yet, even on master.

On October 4, 2017 7:38:28 AM GMT+02:00, Yu Watanabe <notifications@github.com> wrote:

--

Rudd-O

http://rudd-o.com/

[2017-10-04 10:12] johnl commented on #6976
I do have name servers configured (network manager gets them from dhcp). all other domains not listed as search domains work fine, even new lookups that haven't been cached. And I've tried flushing the systemd-resolved cache and fully restarting it too.

[code]

[2017-10-04 11:02] poettering commented on #6520
So, you hit two issues here, and one is caused by the other:

1. The response to your query is larger in size to what classic DNS permits in UDP, (i.e. the response packet will be around 516 bytes, instead of 512 which are permitted). The usually way out with such size issues is to try again via TCP, which knows no such limit. The DNS stub in resolved actually implements that bit, too, but it is d

[2017-10-04 11:05] poettering commented on #6520
So, one possible way out would be for resolved to listen on a different port than 53 altogether, and then install a firewall rule to redirect both UDP and TCP traffic on port 127.0.0.53:53 to it. Some firewall code exists already in systemd, due to the `--port` option in systemd-nspawn. Maybe we can build on that and make this fully automatic in systemd-resolved. This would leave binding to port 5

[2017-10-04 11:13] djfd commented on #6972
[code]
pls, don't ask me for a PR, I simply do not know how to do that, sorry

given the patch above could you please make a PR?

[2017-10-04 11:49] risen opened #6990 "RFE: allow symlinks to block devices in /var/lib/machines"
### Submission type

### Systemd version the issue has been seen with

### Used distribution

### Enhancement description

I'd like to use LVM2 to create container-specific LVs containing a GPT with (LUKS-encrypted) partitions. And I'd like to control them using `machinectl`, i.e. `machinectl list-images`, `machinectl enable`, etc.

I tried setting this up, and symlinking `/var/lib/machines/contai

[2017-10-04 12:07] yuwata commented on #6982
@Rudd-O That may be logically true. However, still not reproducible with `ConditionPathExists=`.
[code]

[2017-10-04 14:08] fbuihuu opened #6994 "Why does tmpfiles want the "utmp" group for /var/log/btmp ?"
We have in tmpfiles.d/var/conf.my:

What exactly the purpose of setting `utmp` group on /var/log/btmp as:

- with mode 600 it doesn't really make sense to have something else but `root`

- the group `utmp` is only used to allow the utempter program to update /run/utmp (resp wtmp). utempter doesn't even touch /var/log/btmp.

Thanks for any suggestions.

[2017-10-04 14:13] flokli opened #6995 "systemd.network: allow matching on ID_NET_NAME_ONBOARD and ID_NET_NAME_PATH"
### Submission type

 - Request for enhancement (RFE)

### systemd version the issue has been seen with

Sometimes, network interface names are outside our control (imagine automatically installed udev rules), so having a `Name=` `[Mach]` section in a `systemd.network` doesn't catch.

In those cases, it would be helpful to also match via the `ID_NET_NAME_ONBOARD` and `ID_NET_NAME_PATH` names (via

[2017-10-04 17:14] Rudd-O commented on #6982
I'll wait for the update to trickle down to Fedora then.

On October 4, 2017 2:07:10 PM GMT+02:00, Yu Watanabe <notifications@github.com> wrote:

--

Rudd-O

http://rudd-o.com/

[2017-10-04 17:15] Rudd-O commented on #6982
For the record, I rebooted the box.  It was a Qubes TemplateVM.

[2017-10-04 17:29] #6967 closed, assigned to nobody

[2017-10-04 17:34] poettering commented on #6990
Fix waiting in #6996

[2017-10-04 17:36] poettering commented on #6982
OK, let's close this then here. If you can reproduce this on a current version, and are sure you did "systemctl daemon-reload" as needed, please reopen and provide the requested "systemctl cat" output.

[2017-10-04 17:36] #6982 closed, assigned to nobody

[2017-10-04 17:47] poettering commented on #6994
it has been that way since f448d9e7c4b7396881b7b9e941f18d4493060819 was merged.

The group "utmp" is used for permitting tools to modify these databases without having to be root. But you are right 0600 makes little sense for btmp. we should probably bump that to 0660

[2017-10-04 17:57] poettering commented on #6994
I prepped #6997 now, which adjusts the file mode to make things less contradictory. With that patch in place "utmp" members can now manipulate all four databases, which appears to be what the internet assumes the group does and what traditionally was implemented by most distros. (for example, it is implied by this CVE: https://www.exploit-db.com/exploits/17147/)

[2017-10-04 18:00] #6981 closed, assigned to keszybz

[2017-10-04 19:44] #6994 closed, assigned to nobody

[2017-10-04 19:52] perolausson commented on #5352
I've been debugging this after adding code to make it configurable what the maximum level supported is.

What has been puzzling me though, is that if I set UDP as maximum I get TCP.

And the reason for this appears to be that internally new DNS server records are created, but the level set as possible isn't initialised and therefore it defaults to whatever 0 maps to, and happens to be TCP.

I thin

[2017-10-04 20:37] perolausson commented on #5352
I think the bug is in fact in resolved-link.c:

[code]

The link_update_dns_servers() should be the last action in that function, ie. not before we have read and set all the link settings. I'll make a pull request and see what you think.

[2017-10-04 21:30] keszybz commented on #6520
Let's not do this, unless absolutely necessary. There's always going to be corner cases, in particular somebody will start a service on that port and it'll not receive packets. Since the impact of this is minor, I think we should close this once #6988 is merged. It's OK that old tools get a failure in cases which they don't support, and which is supported by newer tools just fine.

[2017-10-04 21:40] perolausson commented on #2514
poettering: in your reply 3 Feb 2016 you referred to a document that discusses dotless domains in the root domain and you claim that this document is telling the community that search domains should not be used.

But I've read the text and I don't see anything indicating this.

I think there is misunderstanding of the intent and scope of that document and this has created a situation where a great

[2017-10-04 22:13] perolausson commented on #5352
My pull request #7000 fixes the bug in resolved-link.c that I believe caused the issue mentioned above 1st of August by wavexx where the feature levels dance around.

The pull request #7002 is an extension and allows a user to set the explicit feature level for a specific DNS server. It also includes #7000.

[2017-10-05 01:49] software-artificer commented on #6441
I'm having pretty much the same issue with `systemd-networkd-wait-online`. It does not work if you disable IPv6 stack and don't have IPv6 sitting on your interface.

I have something very similar to what you are describing with PPPoE interface, because my provider does not support IPv6 and `ppp0` interface never receives IPv6 it just times out. See https://github.com/systemd/systemd/issues/5841.

[2017-10-05 02:40] software-artificer commented on #2713
@ssahani, I have tried your patch and it does not work for me (just for clarity: playing around inside of nspawn container with `LinkLocalAddressing` set to `no`).

[code]
[code]
[code]

[2017-10-05 02:48] evverx commented on #6281
I'm not sure about that, because, as was pointed out in https://lists.linuxfoundation.org/pipermail/containers/2017-October/038251.html, unsharing a user namespace can be used to change the uid of any key.

In any case, thank you for kicking off the discussion. Hopefully, `keyctl` will be namespaced one day.

[2017-10-05 02:56] evverx commented on #6281
I wonder why there is no "regression" label here. It's a regression, even though it is not going to be fixed.

[2017-10-05 08:22] brlin-tw commented on #4113
Is there any pointers for the "Attempted to kill init" kernel panic message?

IMO the systemd init process somehow quit itself and the kernel panics because of it, rather than another way around.

Assuming the "Exit code = 0x0000000b" follows is the exist status of systemd init process, is it anywhere in the systemd code that returns 0x0000000b?

[2017-10-05 09:17] ssahani commented on #2713
works for me

root@rawhide:/lib/systemd/network $ systemd-detect-virt
systemd-nspawn

[code]

[code]

[2017-10-05 09:25] software-artificer commented on #2713
Fails for me with the following:
[code]
[code]
[code]
[code]
However, made it work by setting `DHCP=ipv4` in `.network` file
[code]
Is that considered working?

[2017-10-05 09:26] #6957 closed, assigned to poettering

[2017-10-05 09:49] ssahani commented on #2713
`DHCP=` should not matter also if IPv6 disabled for the interface does it work for you?
[code]

[2017-10-05 10:08] software-artificer commented on #2713
Just tried that, but unfortunately, doesn't help.

[2017-10-05 10:12] keszybz commented on #2514
Hmm, I think different people are talking past one another. The ticket was originally also closed by mistake, afaict, because the title that @poettering changed to wasn't handled. But I don't think recycling this ticket is useful, let's just discuss separate issues in separate tickets.

@atorstling, @perolausson: please open new tickets with specific examples of stuff that you expect to work and w

[2017-10-05 10:37] keszybz commented on #6520
I'll close this, because resolution using EDNS works just fine.

[2017-10-05 10:37] #6520 closed, assigned to poettering

[2017-10-05 10:49] keszybz commented on #6478
Let's postpone this for now. It seems that we don't have a clear vision how this should be handled so let's not delay the release.

[2017-10-05 11:12] marcosfrm commented on #6956
I am also seeing this (Arch). Oddly, I do not have a separate /home. Just plain XFS / filesystem here.

[code]

[full-log.txt](https://github.com/systemd/systemd/files/1359054/full-log.txt)

[2017-10-05 12:44] #6402 closed, assigned to poettering

[2017-10-05 13:12] nh2 opened #7007 "Handling file systems that cannot be remounted"
### Submission type

 - Request for enhancement (RFE)

### systemd version the issue has been seen with

### Topic

Some file systems, for example GlusterFS, do not support `-o remount`.

However, when they are declared in `/etc/fstab` and systemd picsk them up, it still generates a `.mount` unit containing

[code]

When that unit is reloaded, it'll fail.

Would it make sense to add an `x-systemd.

[2017-10-05 13:15] boucman commented on #7007
naive question... the rootfs is either mounted by initrd (in which case it is not a remount, so you don't have the problem) or mounted by the kernel befor it starts PID1...

What is the point of having an entry for the rootfs in /etc/fstab if you can't remount it... what are you trying to achieve ?

[2017-10-05 13:55] poettering commented on #7007
Adding such a mount optoin might make sense, but it should just remove the ExecReload= line, nothing more. Any automatism that converts reload → restart in this case can't really work, because restarts will impact everything depending on the unit (and for mount units that is likely a lot). Moreover we already have "systemctl reload-or-restart" for cases where people want this anyway.

[2017-10-05 13:59] poettering commented on #6945
i am sorry, but I am now even more confused what you are trying to say. Can you elaborate?

[2017-10-05 14:32] nh2 commented on #7007
@poettering Do you mean `ExecRemount=` instead of `ExecReload=`?

What would `systemctl reload` do on such a unit, would it fail, or succeed but do nothing?

[2017-10-05 15:44] poettering commented on #7007
it would fail

[2017-10-05 16:16] fbuihuu commented on #6402
@keszybz I'm not sure why you closed this one without answering @Werkov's question.

AFAICS the question is valid, isn't it ?

[2017-10-05 16:18] xnox commented on #6281
@evverx "unsharing a user namespace can be used to change the uid of any key." i don't believe that is true, but i am still crafting a response to that.

[2017-10-05 17:00] poettering commented on #6402
@fbuihuu in case this wasn't clear: i reworked my patch before @keszybz merged it, doing what @Werkov suggested. hence all should be good.

[2017-10-05 17:04] perolausson commented on #2514
I understand that you feel this ticket was hijacked, but it is the only one that actually talks about the problem which so many users are experiencing, which is that search domains isn't working. I have no idea why you claim it is working, when @poettering 's response is that it doesn't work, because it has been programmed not to work that way. There is a whole community out with their pitch forks

[2017-10-05 17:15] poettering commented on #2514
Hmm? I am saying that single-label address look-ups should not hit unicast DNS servers as-is. Instead, they should be either sent to LLMNR or be subject to search list expansion before sending them to unicast DNS. And that is implemented that way already.

Do note that if you do not use nss-resolve but talk to resolved via the 127.0.0.53 stub resolver then search lists need to be applied client si

[2017-10-05 17:20] poettering opened #7009 "resolved needs to write out a 127.0.0.53 /etc/resolv.conf file that lists all collected search domains"
currently, there are two ways to set up your /etc/resolv.conf when using resolved. Either by symlinking it to `/run/systemd/resolve/resolv.conf` in which case all upstream DNS information (i.e. servers as well as DNS search lists) learnt by resolved is propagated to clients reading /etc/resolv.conf.

alternatively, /etc/resolv.conf can be linked to the static file /usr/lib/systemd/resolv.conf whic

[2017-10-05 17:23] poettering commented on #2514
I filed #7009 explaining the issue with search lists and the stub resolver. Is it possible that the issue you ran into is just that?

[2017-10-05 17:27] poettering commented on #6976
so my educated guess is that because the /etc/resolv.conf you supplied is not the one resolved itself wrote out  resolved reads it in, and consideres it authoritative and as configuration source. However, it drops the 127.0.0.53 entry from it, since it knows that it is itself which is listening on that. Hence you basically told resolved about a search list, but at the same time you configured it t

[2017-10-05 17:58] ayekat commented on #2208
I have made [a change][commit] that makes systemd-tmpfiles recognise `%U`, `%u` and `%h` as well, so this will allow using it in a user context a bit more easily.

That being said, tmpfiles still doesn't support environment variables like e.g. the `XDG_...` variables, so this doesn't entirely solve this problem yet (I'll wait with opening a pull request).

[commit]: https://github.com/ayekat/syste

[2017-10-05 18:06] johnl commented on #6976
But I can lookup other records on all other domains fine when the search list is configured.

here is a log of me looking up facebook.com, which is in the search list, and then looking up github.com, which isn't in the search list. They're the first two lookups after a restart of systemd-resolved, so no cache. facebook.com lookup fails but github.com succeeds (I'm on a different network right now

[2017-10-05 20:21] fooker commented on #5448
The correct link is https://github.com/ssahani/systemd/commit/b9e23e4488956522fda32d597851b9b0dd12b374

[2017-10-05 20:25] oddfellow commented on #2809
If I remove `--keep-unit` from override.conf, the reboot command works from both machinectl and from within the container.

[2017-10-05 21:10] fooker commented on #5448
The patch above fixes the problem for me.

[2017-10-05 22:35] stephankn commented on #6639
@yuwata I am thankful you try to help me. I wonder how to best proceed as the issue might be different to what is originally tracked here. My impression was that the code to parse config files existed only once in the systemd codebase. So it would not matter whether it reads timesyncd config or sysusers config.
And with it being confirmed that documentation was wrong and the lexically first file w

[2017-10-05 23:05] davispuh commented on #2460
With just complied from fdb63434844f53a14073000931263c7f81d82bab

When files aren't cached it's really unusably slow
[code]

2nd time when it's cached it's quick
[code]

`callgrind` when it's not cached and when it is

[callgrind.out.systemctl-status-sshd_nocache.gz](https://github.com/systemd/systemd/files/1361087/callgrind.out.systemctl-status-sshd_nocache.gz)
[callgrind.out.systemctl-status-ssh

[2017-10-06 00:15] perolausson commented on #7009
Ok. You forgot the third, which appears to pop up as well:

/etc/resolv.conf -> /run/resolvconf/resolv.conf

[code]
I've added "search lan" by hand to try it out, since it is what you want you describe it that it should look like.

Is there any way I can make sure that it stays this way? Do I need to hardcode it until systemd is fixed?

Can I suggest that a configuration guide for this is updated?

[2017-10-06 02:27] Andrei-Pozolotin commented on #1395
+1

[2017-10-06 04:37] keszybz commented on #6639
OK, it seems that the documentation is *still* unclear. I'll push another PR to clarify this.

[2017-10-06 04:40] software-artificer commented on #2713
@ssahani, my apologies, after extensive testing and playing around, I can confirm that your patch indeed fixed an issue. All my interfaces are now properly `configured` and `systemd-networkd-wait-online` works as expected. Thanks a lot.

[2017-10-06 04:44] software-artificer commented on #6441
There is a working patch in https://github.com/systemd/systemd/issues/2713, I tested it and can confirm that it works with IPv6 stack disabled.

[2017-10-06 04:48] software-artificer commented on #6961
[code]
is also affected. Having an ethernet device:
[code]
with following config:
[code]
leads to endless `configuring` and hence `systemd-networkd-wait-online` times out.

[2017-10-06 06:07] fbuihuu commented on #6402
ah ok I missed that. So everything is fine, thanks.

[2017-10-06 06:42] fbuihuu commented on #6402
One minor nit though: I think this behavior could have been documented somewhere.

[2017-10-06 07:05] keszybz commented on #6402
On Fri, Oct 06, 2017 at 06:42:14AM +0000, Franck Bui wrote:

You could still submit a NEWS entry ;)

Zbyszek

[2017-10-06 07:14] stephankn commented on #6639
@keszybz Ah, it appends options, instead of overwriting them. Many thanks for clarifying this important detail for list options.

Is there an easy way to figure out what is the actual content of the NTP setting, is it? systemctl show does not list it. Would have made it probably much clearer what actually happend when seeing the full list and not just the first entry being used.

So if it is easil

[2017-10-06 07:32] keszybz commented on #6639
It will switch to the next entry in the list if the first server does not respond. But no, I don't think there's a way to show this information. For some daemons (systemd, systemd-resolved) we have ways to dump internal state, but not for all of them.

[2017-10-06 07:40] yuwata commented on #6639
@stephankn

It may not be a good idea, but you can confirm the setting by creating the following drop-in config.
[code]

[2017-10-06 08:04] #6639 closed, assigned to keszybz

[2017-10-06 08:44] ssahani commented on #2713
Thanks for testing and confirm.  Fix PR https://github.com/systemd/systemd/pull/7012

[2017-10-06 08:46] ssahani commented on #5448
Thanks for verifying . https://github.com/systemd/systemd/pull/6973

[2017-10-06 08:50] yuwata opened #7013 "core: DynamicUser=yes with User= fails if static uid and gid are different"
### Submission type

 - Bug report

### systemd version the issue has been seen with

235 with PR #7003

### Used distribution

Fedora 26 x86_64

### In case of bug report: Expected behaviour you didn't see

`DynamicUser=yes` with `User=` works fine.

### In case of bug report: Unexpected behaviour you saw

`DynamicUser=yes` with `User=` fails if static uid and gid are different.
[code]
This is ca

[2017-10-06 12:10] xnox commented on #7009
@poettering i've wrote something like that for Ubuntu already and was meaning to propose it. Do you want me to send merge proposal with my code that does that?

[2017-10-06 13:54] dinapappor opened #7016 "Please add 3D graphics engine and office suit to SystemD."
### Submission type

 - Request for enhancement (RFE)

### Used distribution

All

### Please add 3D graphics engine and office suit to SystemD.

Since you're pretty far along on the road to becoming an operating system I am asking for 3D graphics engine and office suit so that I can game and work with my SystemD operating system. Thank you!

[2017-10-06 13:54] #7016 closed, assigned to nobody

[2017-10-06 14:49] mvduin commented on #2365
I'm still seeing this in systemd 234:

[code]

This is really annoying, especially since I've also seen this state get triggered by a change in network connectivity and I haven't found any way to recover from this state other than rebooting.

[2017-10-06 15:37] ssahani commented on #2365
@mvduin this is another issue please open a new Issue for this . I think you intended that ndisc client should not stop and keep on trying.  This means  sendmsg fails . does ping works ? Is there some conf error please elaborate.

[2017-10-06 15:43] mvduin commented on #2365
Uhh, why should I open a new issue when this one is still open and appears to be identical to the one I experienced?

After reboot SLAAC works fine:
[code]

then, after doing `systemctl restart systemd-networkd`, SLAAC fails:
[code]

Running networkd with debug output reveals the error shown in my previous post, indicating that networkd was unable to send an RS.

My config:
[code]

[2017-10-06 18:25] nh2 commented on #4468
While I agree with @poettering that network file systems should provide functionality to retry themselves because they have much better information about how that should be done (and I'm currently [trying](https://github.com/nh2/glusterfs/tree/retry-connect-failures) to hack glusterfs in that regard), I think there's another aspect to it:

One should not forget that the daemons that implement the

[2017-10-06 19:41] djfd commented on #6972
**UPD2** Sorry, this does not work on vanilla DSDT of the laptop

small update
Even better patch, allowing to suppress a logs pollution with a lot of messages like these:
[code]
[code]

[2017-10-06 20:31] Glandos opened #7018 "USB device still active even after physically unplugged"
### Submission type

 - Bug report

### systemd version the issue has been seen with

### Used distribution

### In case of bug report: Expected behaviour you didn't see

[code]

This was the case in systemd v233. Downgrading resolves the issue.

### In case of bug report: Unexpected behaviour you saw

[code]

### In case of bug report: Steps to reproduce the problem

`systemctl status` should ret

[2017-10-06 22:49] ingo-h opened #7019 "set AgeingTimeSec=0 on a bridge is not accepted"
### Submission type

 - Bug report

### systemd version the issue has been seen with

### Used distribution

### In case of bug report: Expected behaviour you didn't see

### In case of bug report: Unexpected behaviour you saw

30000

### In case of bug report: Steps to reproduce the problem

[2017-10-07 00:39] ingo-h opened #7020 "systemd-networkd: cannot set vlan interfaces to bond slave interface on a bridge"
### Submission type

 - Bug report

### systemd version the issue has been seen with

234

### Used distribution

Debian GNU/Linux 9.1 (stretch)

### In case of bug report: Expected behaviour you didn't see

    $ sudo bridge vlan add vid 10 dev bond0
    $ sudo bridge vlan add vid 20 dev bond0
    $ sudo bridge vlan add vid 30 dev bond0
    $ sudo bridge vlan show
    port    vlan ids
    br0

[2017-10-07 09:17] ssahani commented on #7019
fix is https://github.com/systemd/systemd/pull/7021

[2017-10-07 10:28] vit1251 opened #7022 "Build system"
Hello,

Why you think that Python compiling stack better than bash autotols stack.

I think new build system should be similar cmake but resolve cmake main problems.

Create meshon, neon and other building tools you increase dependency graph and make system more hard to support and maintenance.

Could you create bison/flex grammar for building system and start using building system or even think a

[2017-10-07 13:51] #7022 closed, assigned to nobody

[2017-10-07 18:36] arvidjaar commented on #7018
Run `udevadm monitor -ku`, unplug USB device. Did kernel generate events when unplugging? When in doubt, post output here.

[2017-10-07 19:32] Glandos commented on #7018
Here are the two outputs. The first is with systemd 233-10, using packages `libsystemd0_233-10_amd64.deb libudev1_233-10_amd64.deb systemd_233-10_amd64.deb systemd-sysv_233-10_amd64.deb udev_233-10_amd64.deb` and the second is with systemd 234-1 using `libsystemd0_234-1_amd64.deb libudev1_234-1_amd64.deb systemd_234-1_amd64.deb systemd-sysv_234-1_amd64.deb udev_234-1_amd64.deb`

Outputs seem to be

[2017-10-08 06:41] ioquatix commented on #5971
I'm glad this is now being set by default, it was causing all sorts of issues for me.

[2017-10-08 11:55] ingo-h opened #7025 "systemd-networkd: bond parameter not accepted after loading bonding module"
### Submission type

 - Bug report

### systemd version the issue has been seen with

234

### Used distribution

Debian GNU/Linux 9.2 (stretch)

### In case of bug report: Expected behaviour you didn't see

Parameter for bond interface set according to values in 08-bond0.netdev first time after bonding module is loaded.

    $ cat /proc/net/bonding/bond0
    Ethernet Channel Bonding Driver: v3.7.

[2017-10-08 12:04] gdamjan commented on #7025
this is fixed in 235 by

ps.
also, check older bugs (closed too) before opening new ones

[2017-10-08 12:05] gdamjan commented on #7025
pps.
additional workaround is to not use bond0 either

[2017-10-08 12:22] keszybz commented on #7025
Yes, seems to be a duplicate of #5971.

[2017-10-08 12:22] #7025 closed, assigned to nobody

[2017-10-08 12:34] ingo-h commented on #7025
Sorry for inconvenience, I've looked at the news and also checked older bugs but have overseen that ...

[2017-10-08 12:58] johnlinp commented on #710
Any plan or milestone to fix this issue?

[2017-10-08 14:09] boucman commented on #710
well, the half of the original PR that fixed this has been comitted and released in v235

what's left of the PR is the part that causes a .device reload on event. So I think this FR can actually be closed...

[2017-10-08 14:33] floppym opened #7027 "systemd-networkd Could not enumerate rules: Operation not supported"
### Submission type

 - Bug report

### systemd version the issue has been seen with

235

### Used distribution

Gentoo
Linux kernel 4.9.34

### In case of bug report: Expected behaviour you didn't see

systemd-networkd should start successfully.

### In case of bug report: Unexpected behaviour you saw

[code]

[2017-10-08 14:34] floppym commented on #7027
This was probably introduced by bce67bbee359eec19e6778619b6651100a1c1477.

CC: @ssahani

[2017-10-08 14:54] ghost opened #7028 "Make systemd create State/Log/CacheDir with label (SELinux)"
### Submission type

 - Bug report
 - Request for enhancement (RFE)

### systemd version the issue has been seen with

235

### Used distribution

Fedora Rawhide

### In case of bug report: Expected behaviour you didn't see

systemd doesnt create State/Cache/LogDir with proper label

### In case of bug report: Unexpected behaviour you saw

### In case of bug report: Steps to reproduce the problem

[2017-10-08 15:21] ghost commented on #7028
Oops does work just needed a systemctl daemon-reexec somewhere in there to reload the file contexts

[2017-10-08 15:21] #7028 closed, assigned to nobody

[2017-10-08 15:37] ssahani commented on #7027
Please run in debug mode and paste the log.

[2017-10-08 16:10] floppym commented on #7027
There is nothing interesting in the debug output that I can see.

[code]

[2017-10-08 16:13] floppym commented on #7027
Here's the relevant info from strace.

[code]

I believe this happens because my kernel is configured without FIB_RULES enabled.

[2017-10-08 16:15] floppym commented on #7027
`ip rule` fails in the same way on this kernel.

[code]

[2017-10-08 16:27] ssahani commented on #7027
Ok I figure FIB rules can be enable or disable in kernel. CONFIG_FIB_RULES=y/n
here is the fix . please confirm.
https://github.com/systemd/systemd/commit/3bd3ac67477ea319cc169dbd1c377912cf8ff198

[2017-10-08 16:31] floppym commented on #7027
Yes, that change resolves the issue. Thanks!

[2017-10-08 19:52] lucaswerkmeister opened #7032 "systemd-tmpfiles ignores --root when looking up user/group IDs"
### Submission type

 - Request for enhancement (RFE)

### systemd version the issue has been seen with

### Used distribution

### In case of bug report: Expected behaviour you didn't see

### In case of bug report: Unexpected behaviour you saw

### In case of bug report: Steps to reproduce the problem

Since the description of the `--root` option of `systemd-sysusers` and `systemd-tmpfiles` is a

[2017-10-09 01:49] biax commented on #5972
i can confirm this issue is present in archlinux too with systemd 234

[2017-10-09 08:44] keszybz commented on #902
Still the same with v235, yikes.

[2017-10-09 09:54] shibumi commented on #6485
@poettering
I observed this a while now. Seems like it has something todo with `machinectl shell`. Sometimes I can trigger that and sometimes not. I am pretty sure it's `machinectl shell` that triggers this issue. Do you have any idea how I can debug this?

I guess it has nothing todo with i3 and even without i3 I would have the same behaviour when I press `mod4+left` or `mod4+right` (mod4 == 'win

[2017-10-09 11:26] zilti commented on #6346
Oh great - systemd has to be modified for that? That speaks volumes about that piece of, uhh, Software...

[2017-10-09 13:23] shibumi opened #7036 "systemctl -q -M doesn't behave quiet"
**Bug Report**

**Systemd Version:**
[code]
**Linux-Distribution:**
`Arch Linux`

**Report:**

The `-q` switch of `systemctl` should behave quiet even when the `-M` switch is used.

**How to reproduce this issue:**

Start a container via `machinectl start <container>` and try to enable a service via `systemctl -q -M <containername> enable <servicename> --now`. You will see output of this command a

[2017-10-09 15:39] fpeterschmitt commented on #6652
Ok so i found what went wrong: i used an outdated version of my `.xsession` for this issue, that doesn't contain `killall dbus-daemon && eval $(dbus-launch...)`.

Because systemd as user instance starts a dbus daemon and sets environment variables, same for pulseaudio, killing it at session start makes some trouble.

Sorry for the noise.

[2017-10-09 15:39] #6652 closed, assigned to nobody

[2017-10-09 17:20] nh2 opened #7038 "Timeout does not mark systemd.mount unit as failed"
### Submission type

 - Bug report (at least I suspect it's one)

I've written up what I noticed [here](https://github.com/systemd/systemd/pull/4297#issuecomment-334788308) into a proper bug report now.

### systemd version the issue has been seen with

### Used distribution

### In case of bug report: Expected behaviour you didn't see

When a (fstab-generated, probably doesn't matter) mount unit

[2017-10-09 17:29] alexrudd commented on #2582
I have the same issue as @llamahunter

I can almost get the behavior I need by using `Type=simple` `restart=on-failure` `RemainAfterExit=yes` but then all depending services will try to start (and then fail) before the initial service has a chance to fully complete.

I assume this is because you only get the following behavior with oneshot: "it is expected that the process has to exit before syste

[2017-10-09 19:08] mikken commented on #6076
You (joshuafc and aigarius) need to do 2 things:
1. Make sure that DNS servers obtained from OpenVPN are used by systemd-resolved. You can do it with this little script: https://github.com/jonathanio/update-systemd-resolved
2. While OpenVPN is connected, block (reject with iptables or nftables) all requests that systemd-resolved makes to local DNS server

[2017-10-09 19:14] mikken commented on #6076
aigarius, for you the domain .local should be configured as "routing" domain on this link (tun0).

[2017-10-09 19:26] mikken opened #7039 "Make systemd-networkd able to advertise IPv6 routes on links"
### Submission type

 - Request for enhancement (RFE)

### systemd version the issue has been seen with

### Used distribution

Hello, I have a few virtual machines attached to br0 on my desktop.
I advertise a prefix for them with `[IPv6PrefixDelegation]` and `[IPv6Prefix]` sections in `br0.network`.
However, I'd like for hosts in my LAN to be able to reach those virtual machines, so a route shoul

[2017-10-09 19:37] FauxFaux opened #7040 "resolved DNSSEC=yes gets fixated on broken servers -> no DNS for you"
### Submission type

 - Bug report

### systemd version the issue has been seen with

### Used distribution

### Unexpected behaviour you saw

I have configured `resolved` to use Google Public DNS, but my distro packaging helpfully ensures it also sees the useless resolver my ISP's CPE ("modem router") gives out:

[code]

[code]

Initially, this setup works. However, after a few minutes, all DNS q

[2017-10-09 21:17] nh2 commented on #7038
Note that I cant reproduce this every time. Sometimes it doesn't work, sometimes works correctly, like in this run:

[code]

[2017-10-10 01:18] johnlinp commented on #710
@martinpitt What do you say? Thanks.

[2017-10-10 03:05] johnlinp opened #7043 "man: lack of descriptions of BoundBy= and ConsistsOf="
### Submission type

 - Request for enhancement (RFE)

### systemd version the issue has been seen with

v235

### Description

I saw `BoundBy=` and `ConsistsOf=` dependencies were mentioned in `systemctl(1)`, but I can't find the detailed descriptions of them anywhere in other documentations. I assume they should have been described in `systemd.unit(5)`?

[2017-10-10 08:09] poettering commented on #7043
Humm. These are primarily internal deps. They are automatically created as inverse of BindsTo= and PartOf= and cannot be configured directly. The hence aren't really first-class deps.

That said I figure it doesn't hurt documenting such internal deps too, as they do show up in systemctl show, indeed.

[2017-10-10 08:11] poettering commented on #7032
Uh, we do those lookups with libc NSS, and that doesn't really support --root=. Not sure what we can do about that, except document that names are resolved with the local user database...

[2017-10-10 08:13] poettering commented on #7036
indeed, we should suppress the symlink creation/deletion messages on -q

[2017-10-10 08:16] yuwata commented on #7013
@poettering What do you think about this? Now PR #7003 is merged. But for compatibility, it is necessary to remove e.g., systemd-timesync user and group if their uid and gid are different. However, for example, fedora prohibit to remove user or group in RPM scripts.

I do not catch why systemd does not support the case of `uid != gid`. If you agree to remove such restriction, I will try to remove

[2017-10-10 08:16] poettering commented on #7013
Hmm, I actually added that check on purpose, because non-matching UID/GID is a really sick idea. But hmm, if this breaks compat, I figure we should drop the check

[2017-10-10 08:20] poettering commented on #7013
ah, eh, we posted at the exact same time.

Anyway, the restriction should be removed, to make things compatible with Fedora in this regard

[2017-10-10 08:25] yuwata commented on #7013
@poettering OK. Thank you for your comment.

Yeah, I agree. But unfortunately, uid and gid corresponding to user and group created by RPM scripts are completely independent, at least on Fedora.

I will try to remove the restriction.

[2017-10-10 11:50] mvduin opened #7047 "Assertion failed in sd-dhcp-server.c"
### Submission type

Bug report

### systemd version the issue has been seen with

v234

### Used distribution

debian buster

### Unexpected behaviour you saw

With systemd-networkd debug logging enabled, when the ethernet link goes down I'm seeing:

[code]

I don't know if it might be related, but on subsequent link up I'm also experiencing "NDISC: Error sending Router Solicitation: Network is u

[2017-10-10 12:37] n-st commented on #949
Is this still on the to-do list?

[2017-10-10 13:08] mvduin commented on #7047
Just to be sure, I've also tested the following config:
[code]

Same results.

[2017-10-10 17:54] Waldteufel opened #7048 "networkd-dhcp4: no IPv4 default route with Anonymize=yes"
### Submission type

 - Bug report

### systemd version the issue has been seen with

### Used distribution

### In case of bug report: Expected behaviour you didn't see

### In case of bug report: Unexpected behaviour you saw

### In case of bug report: Steps to reproduce the problem

[2017-10-10 18:10] radaczynski commented on #6729
same here

[2017-10-10 21:24] flokli commented on #7048
RFC7844 requests to only send a minimal number of DHCP options. DHCP option 33, which might be used to configure static routes on top of a gateway address is one of those who can be omitted.

This currently gets done by simply disabling `network->dhcp_use_routes`. This does indeed preventing above DHCP option to be requested (not only used, as the name would imply), but also breaks default route i

[2017-10-10 22:14] mbiebl opened #7053 "test-suite failure: Assertion 'cg_pid_get_path(NULL, 0, &cgroup_root) >= 0' failed at ../src/test/test-helper.c:29, function enter_cgroup_subroot(). Aborting."
### Submission type

 - Bug report

### systemd version the issue has been seen with

v235

### Used distribution

Debian sid

The latest upstream version fails to build on Debian. The test suite fails on all architectures with the following message:
[code]
Full build logs are available at
https://buildd.debian.org/status/package.php?p=systemd

A git bisect finds https://github.com/systemd/systemd

[2017-10-10 22:26] mbiebl commented on #7053
Reverting 8c759b3 and the use of test-helper.c/enter_cgroup_subroot() fixes the test-suite failures.

[2017-10-10 22:55] jwwalton opened #7054 "spammy v235 "Detaching egress BPF program from cgroup failed: Invalid argument""
When reloading and elsewhere I get

[code]
 ` systemd[1]: systemd 235 running in system mode. (+PAM -AUDIT -SELINUX -IMA -APPARMOR +SMACK -SYSVINIT +UTMP +LIBCRYPTSETUP +GCRYPT +GNUTLS +ACL +XZ +LZ4 +SECCOMP +BLKID +ELFUTILS +KMOD -IDN2 +IDN default-hierarchy=hybrid)`

[2017-10-10 23:07] jwwalton opened #7055 "BindPaths or BindReadOnlyPaths SIGSEGV compile_bind_mounts v235"
[code]

[2017-10-10 23:17] mbiebl commented on #7054
I can reproduce that problem on Debian sid.

[2017-10-10 23:18] mbiebl commented on #7054
seems to happen during boot and on ```daemon-reload``` or ```daemon-reexec```

[2017-10-10 23:45] mbiebl commented on #7053
I've reverted that change for now, that's why https://buildd.debian.org/status/package.php?p=systemd is all-green now. You can find the build failure e.g. for amd64 at https://buildd.debian.org/status/fetch.php?pkg=systemd&arch=amd64&ver=235-1&stamp=1507655786&raw=0

[2017-10-11 01:51] jwwalton opened #7057 "BlockIOWeight / IOWeight have no effect with BFQ"
[code]

[code]

[2017-10-11 02:11] yuwata commented on #7055
https://github.com/systemd/systemd/blob/master/src/core/execute.c#L2164

[2017-10-11 03:30] yuwata commented on #7055
I've created PR #7058. If possible, please test it.

[2017-10-11 04:07] vcaputo commented on #7055
reopened pending @jwwalton test results if that's possible, merged anyways though.

[2017-10-11 04:47] johnlinp commented on #7043
@poettering Since those dependencies are only for internal use, how about removing them in `systemctl(1)` and describe them with something like "inverse BindsTo=" and "inverse PartOf=" instead?

[2017-10-11 07:08] #7019 closed, assigned to nobody

[2017-10-11 07:47] BurhanDanger commented on #6314
systemd 235.0-1 Creates `cgroup: cgroup2: unknown option "nsdelegate"` message with linux-lts 4.9.54-1

[2017-10-11 09:15] mbiebl commented on #6314
@BurhanDanger this requires Linux 4.13, see https://github.com/systemd/systemd/commit/4095205ecccdfddb822ee8fdc44d11f2ded9be24 and
https://patchwork.kernel.org/patch/9807945/

Afaics, the warning is harmless though

[2017-10-11 10:18] boucman commented on #7054
do you know if your kernel has cgroup eBPF enabled ?

[2017-10-11 11:16] BurhanDanger commented on #6314
I know it's for 4.13 . Just wondering if it'll cause any problem.

[2017-10-11 11:41] cirrusUK commented on #6314
Just to say Archlinux using kernel [ 4.12.14-1-ck-nehalem](https://wiki.archlinux.org/index.php/linux-ck) and systemd 235.0-1
 also shows `cgroup: cgroup2: unknown option "nsdelegate"`
i just installed 4.13 tho i've not yet rebooted to check if persists, if so i will report back.

[2017-10-11 12:28] mbiebl commented on #7054
[code]

I guess that means no. I'd say systemd should handle this more gracefully and not log about this issue (or only once).

[2017-10-11 13:15] jktjkt opened #7063 "Watchdog is still being reset even when a ton of services fail, including the emergency shell"
### Submission type

 - Request for enhancement (RFE)

### systemd version the issue has been seen with

234

### Used distribution

Buildroot 2017.11-git

### Description

I'm using systemd in an embedded ARM system with two copies of rootfs. U-Boot is configured to keep a counter of remaining boot attempts for both A and B rootfs slots, and I rely on HW's watchdog to reboot the system in case of

[2017-10-11 13:43] yuwata commented on #7055
I've created #7062. I think we can close this if the CIs pass.

[2017-10-11 13:45] poettering commented on #7057
Hmm, so why doesn't bfq use the same weight cgroup attributes?

I have the suspicion this is fixed in cgroupfs2 anyway, so I am not sure we should add new legacy supporting code for this here now.

[2017-10-11 14:02] poettering commented on #7043
well, even though they are for internal use they actually are interesting to admins too, as they may be used to determine things like "which service is bound to this device?" and things like that.

[2017-10-11 14:03] htejun commented on #6314
Yeah, the kernel added a new cgroup2 option nsdelegate and systemd now tries to mount with the option specified first, which triggers the warning in kernels which don't support them. They're harmless and will go away on kernels v4.13+. systemd *can* check kernel version to decide whether to try nsdelegate or not if this is too annoying.

[2017-10-11 14:14] poettering commented on #7054
hmm, yeah, this shouldn't log at all

[2017-10-11 14:14] poettering commented on #7054
(but note that this is purely a cosmetic problem)

[2017-10-11 15:31] iaguis opened #7069 "Standard{Error,Output,Input}=fd doesn't work with ExecStartPre"
### Submission type

 - Bug report

### systemd version the issue has been seen with

234

### Used distribution

Arch Linux

### In case of bug report: Expected behaviour you didn't see

A unit using `ExecStartPre=` and `Standard{Error,Output,Input}=fd` should work

### In case of bug report: Unexpected behaviour you saw

[code]

### In case of bug report: Steps to reproduce the problem

With the

[2017-10-11 18:22] #7036 closed, assigned to nobody

[2017-10-11 21:40] fsateler commented on #7013
The current restriction makes `DynamicUser` + static UID[1] unusable on debian-based systems. System UIDs and GIDs are allocated in the 100-999 range, but `base-passwd` (which ships the base passwd and group files), comes with the 100 GID allocated for the `users` group. This means that effectively, the system GID range is 101-999. Therefore, by default UID and GID will never match.

[1] That is,

[2017-10-11 22:20] injust opened #7070 "*Directory= directives override *Paths= directives"
### Submission type
Bug report

### systemd version the issue has been seen with
235

### Used distribution
Arch Linux

### Unexpected behaviour you saw
`RuntimeDirectory=` and similar directives, e.g. `CacheDirectory=` and `LogsDirectory=`, override the directives `InaccessiblePaths=`, `ReadOnlyPaths=`, and `ReadWritePaths=`. This was introduced in version 235; bug cannot be replicated in version

[2017-10-12 01:10] yuwata commented on #7070
Confirmed. The following service fails:
[code]
while the following succeeds:
[code]

[2017-10-12 03:00] jugovic commented on #1620
I have the same issue, using Ubuntu Gnome 17.04 .................. Absolutely same thing. Crypted Partition and Swap issue.....

Is there any solution (REAL SOLUTION) for this problem??

I will gladly pay someone to make it... if someone would like to do so.

All the best & please help folks

[2017-10-12 04:16] yuwata commented on #7070
Also, `ReadWritePaths=` does not work with `BindPaths=`, e.g.,
[code]

By setting log level to `debug`, I got the following debug messages.
With the above ver.service,
[code]
With the above hoge.service
[code]

From 6c47cd7d3bf35c8158a0737f34fe2c5dc95e72d6, `RuntimeDirectory=` and friends implies `BindPaths=`, which are bind-mounted. If at least one bind mount is requested, then systemd behaves li

[2017-10-12 07:36] michaelolbrich commented on #7063
I don't think the default should change. There may be important clues on the screen that will be gone once the system reboots. Just provide your own emergency.service to do the reboot with a useful ``FailureAction=``.
You should also add ``FailureAction=`` or ``StartLimitAction=`` for important services.

[2017-10-12 09:05] fbuihuu commented on #6608
This is where actually I'm not confident.

I'm not really sure but it seems that someone has been hit by this issue even with the legacy hierarchy, see : https://bugzilla.opensuse.org/show_bug.cgi?id=1062188

It happens on Leap 42.3 (v228).

From the coredump attached to the BZ report I can see:

[code]

So `manager_get_unit_by_pid_cgroup()` didn't found the relevant unit and since the unit has se

[2017-10-12 11:16] ignatk commented on #4496
Seems this is not only related to virtualised systems (maybe it is surfaced on them somehow), but getting the same on a physical server (Debian Jessie with systemd from backports - v230)

[code]

Have a link file, which should rename an interface to `int0` for a specific device path and a driver.

[2017-10-12 11:44] Temtaime commented on #6281
It is forcefully a regression maybe made with making some assumptions about the kernel.
Kernel fixes takes years, so it needs to be fixed in the systemd.
Please, fix this one or people will stay with version 229 for years.

[2017-10-12 12:51] nh2 commented on #2863
I'm getting this problem, but apparently not on a user session, but on `sshd:session`:

[code]

It delays my first SSH session after boot for 25 seconds.

[code]

See https://github.com/NixOS/nixpkgs/issues/30348 for details.

---

Is there a way to at least reduce this timeout as a temporary workaround?

[2017-10-12 13:04] al-caveman opened #7073 "Add coloring to `systemctl status'"
### Submission type

 - Request for enhancement (RFE)

### systemd version the issue has been seen with

235

### Used distribution

Arch Linux

### Enhancement details

The output of `systemctl status` looks like this:

    cavebox~> systemctl status
    ● cavebox
        State: running
         Jobs: 0 queued
       Failed: 0 units
        Since: Wed 2017-10-11 13:45:12 +04; 1 day 3h ago

[2017-10-12 13:05] nh2 commented on #2863
Possibly related?

* [systemd-logind must be restarted every ~1000 SSH logins to prevent a ~25 second delay](https://bugs.launchpad.net/ubuntu/+source/systemd/+bug/1591411)
* [dbus bug Bug 95263 - unix fd in-flight counting broken](https://bugs.freedesktop.org/show_bug.cgi?id=95263) with a fix in `dbus 1.11.10` (I use 1.10.*)

**Edit:** Using dbus `1.11.20` didn't change anything for me.

[2017-10-12 13:29] jojoax opened #7074 "systemd-logind's IP sandbox breaks nss-nis and suchlike"
### Submission type:  Bug report
After System upgrading (2017-10-12) systemd-235.0-1-x86_64.pkg.tar.xz on Arch Linux, no user X11 Usersession login was possible.

Plasma, XFCE4, Gnome failed, by thorwing a copnnect problem to dbus.
"Could not sync environment to dbus"

### systemd version the issue has been seen with: systemd-235.0-1-x86_64.pkg.tar.xz

### Used distribution: Arch Linux (Rolling Re

[2017-10-12 13:54] clonejo opened #7075 "we should refuse boot cleanly if we can't set up /etc/machine-id properly because /etc is read-only and the file doesn't exist for overmounting"
### Submission type

 - Bug report

### systemd version the issue has been seen with

systemd 234 build using http://www.linuxfromscratch.org/lfs/view/8.1-systemd/chapter06/systemd.html
Notably, `--disable-firstboot` is configured at compile time.

### Used distribution

custom based on LFS

### Expected behaviour you didn't see

Systemd generates a machine-id, saves it to /etc/machine-id and boot

[2017-10-12 14:07] nh2 commented on #2863
To answer some of this myself:

* [`BUS_DEFAULT_TIMEOUT ((usec_t) (25 * USEC_PER_SEC))`](https://github.com/systemd/systemd/blob/4e93d369b9f80c9f253f75bd65135705fbdf2806/src/libsystemd/sd-bus/bus-internal.h#L315)
* `Failed to create session` happens [here](https://github.com/systemd/systemd/blob/4e93d369b9f80c9f253f75bd65135705fbdf2806/src/login/pam_systemd.c#L412), as a result of failure to call

[2017-10-12 14:22] fsateler commented on #7075
I believe the problem is that at the moment the `/etc/machine-id` detection is done the root fs is still readonly. If you create the file, systemd should be able to bind mount a tmpfs-backed file over the empty machine-id file, and later in the boot process (after / is mounted rw), commit the machine-id to disk.

Does the problem go away if you create an empty `/etc/machine-id` ?
Alternatively, do

[2017-10-12 15:28] nh2 commented on #2863
Another suspicion: It might be an entropy issue (tip from @cleverca22):

* [recent libexpat versions can make dbus-daemon hang waiting for entropy](https://bugs.freedesktop.org/show_bug.cgi?id=101858)
* [libexpat: Nonblock fail getrandom](https://github.com/libexpat/libexpat/pull/92)

And a corresponding issue in systemd:

* https://github.com/systemd/systemd/issues/6418

[2017-10-12 17:30] nh2 commented on #2863
Hmm, I suspect it had crashed? I do have a dbus service set up and on another reboot it's also back in `ps`.

[2017-10-12 17:31] nh2 commented on #2863
Here's a journalctl output for sshd and dbus with debugging enabled, with dbus `1.0.24` which per release notes has a fix for the entropy problem:

https://gist.github.com/nh2/80a57f08b6ee61754bfb52c1d0cee82e

[2017-10-12 17:39] clonejo commented on #7075
That does indeed work. After boot, a new machine-id has been written to `/etc/machine-id`, I can also not see any leftover tmpfs mount for that path.

Actually that has been the case all along. FYI the root filesystem is a tmpfs prepared by the initramfs.

[2017-10-12 17:51] nh2 commented on #2863
Am I supposed to see a `CreateSession` anywhere in the dbus debug output?

It is absent.

[2017-10-12 20:18] Kolano opened #7077 "Enable Target File Error"
### Submission type
 - Bug report

### systemd version the issue has been seen with

### Used distribution

### In case of bug report: Expected behaviour you didn't see

### In case of bug report: Unexpected behaviour you saw

### In case of bug report: Steps to reproduce the problem

[2017-10-12 21:33] keszybz commented on #7077
Please report a bug in your distribution. The maintainers there should be able to help you.
Version 229 is too old for upstream, we are currently at 235.

[2017-10-12 21:33] #7077 closed, assigned to nobody

[2017-10-12 21:50] bl33pbl0p opened #7079 "delta: systemd-delta does not seem to follow symlinks"
### Submission type

 - Bug Report

### systemd version the issue has been seen with

234

### Used distribution

Exherbo Linux

### In case of bug report: Expected behaviour you didn't see

systemd-delta following symlinks and showing no overrides when there aren't any.

### In case of bug report: Unexpected behaviour you saw

systemd-delta not following symlinks and showing the same file as over

[2017-10-13 00:17] dcobbley commented on #7075
Was this the intention of writing to /run/machine-id (line 166 of src/core/machine-id-setup.c)?

In a similar scenario I can see the directory /run/machine-id has a valid machine-id, but cannot find any source code that consumes this in the event that /etc/machine-id is empty or does not exist.

Perhaps an addition needs to be made to check this file in the event a machine-id was not found in /etc

[2017-10-13 01:03] YmrDtnJu opened #7080 "ReadWritePath does not work anymore with DynamicUser."
### Submission type

 - Bug report

### systemd version the issue has been seen with

235

### Used distribution

Gentoo

### In case of bug report: Expected behaviour you didn't see

ReadWritePaths works with DynamicUser.

### In case of bug report: Unexpected behaviour you saw

ReadWritePaths does not work anymore with DynamicUser.

### In case of bug report: Steps to reproduce the problem
Pleas

[2017-10-13 01:36] yuwata commented on #7080
`DynamicUser=` itself does not cause this problem. This is caused by `RuntimeDirectory=` or their friends as already reported in #7070.

I've tested the following service and it works fine.
[code]

[2017-10-13 01:36] #7080 closed, assigned to nobody

[2017-10-13 01:42] yuwata commented on #7070
Workaround for this problem is
1. use `+` prefix for `ReadWritePaths=`, or
1. use `BindPaths=` instead of `ReadWritePaths=`.

The following two examples work fine.
[code]
[code]

[2017-10-13 01:55] bobrik commented on #2154
Seeing the same failure, but with bonded interface. If I exclude bond slaves, command succeeds:

[code]

I have carrier on `bond0` that is `eth2`+`eth3`.

[2017-10-13 03:23] jeevarathinam-dhanapal opened #7082 "we need to call name_to_handle_at() in a loop if EOVERFLOW happens, and resize the buffer"
### Submission type

 - Bug report

### systemd version the issue has been seen with

### In case of bug report: Expected behaviour you didn't see
new hostname is set

### In case of bug report: Unexpected behaviour you saw
 Ran - hostnamectl set-hostname k8s-worker-1507708889.ops1.srcclr.com
 Getting "Could not set property: Connection timed out"

### In case of bug report: Steps to reproduce the

[2017-10-13 04:46] ssahani commented on #7047
Fix is #7083

[2017-10-13 06:47] eworm-de opened #7084 "nss-myhostname: fails to resolve gateway"
### Submission type

 - Bug report

### systemd version the issue has been seen with

### Used distribution

### In case of bug report: Expected behaviour you didn't see

### In case of bug report: Unexpected behaviour you saw

### In case of bug report: Steps to reproduce the problem

[2017-10-13 06:54] eworm-de commented on #7084
Oh, looks like this is expected... Hold on.

[2017-10-13 07:10] #7084 closed, assigned to nobody

[2017-10-13 08:33] yuwata commented on #7055
Now #7062 is merged. Let's close this issue.

[2017-10-13 08:33] #7055 closed, assigned to nobody

[2017-10-13 09:05] wdoekes opened #7086 "systemd-resolved DNS search only works when *all* domains are marked for search"
Problems:

* DNS search domains only works when *all* domains on the interface are marked for search.

Forgive me if this has been fixed in the mean time. A quick google search did not turn up any similar problems.

Versions:
[code]

Yes, I know this is an older systemd, but it's the one in Ubuntu Zesty, so it's used by quite a lot of people. If this has been fixed in a newer systemd I can certain

[2017-10-13 10:31] ht990332 commented on #7074
Same issue here. I may or may not have been able to log onto Gnome once after the update but then it broke.
Downgrading to 234.11-9 made logging into X11 sessions possible again.

[2017-10-13 11:07] YmrDtnJu commented on #7070
There are quite a lot of features of systemd that require a separate mount namespace for a service. It seems to me, that most of those problems come from missing management code that controlls the mount namespace for all those features at one central point.

Additionally, the ordering of mounts is unclear. One example:
I like to have apparmor support within an nspawn container. Therefore, I need /

[2017-10-13 11:57] mbiebl commented on #7084
Yes, unless you distro has compiled systemd with ```-Dcompat-gateway-hostname=true```. The default is ```false```

[2017-10-13 12:25] eworm-de commented on #7084
Nah, we try to keep upstream settings in Arch. ;)

Wondering if we want to adjust the documentation if compatibility is enabled...

[2017-10-13 13:12] yuwata commented on #7070
@Injust and @YmrDtnJu I've created PR #7088 for this issue. If possible, please test it.
I confirm that my above examples works fine.

[2017-10-13 14:22] keszybz commented on #7075
#7051 explains the details. If you're booting with / read-only, `/etc/machine-id` should exist, either as an empty file or with proper contents.

[2017-10-13 14:26] fsateler commented on #7075
@keszybz thanks, I was looking for the docs and couldn't find them. However, the condition is quite fatal, but pid1 does not react to that failure and continues like business as usual (the return value of `machine_id_setup` is not checked). Maybe `emergency.target` should be forced when `/etc/machine-id` can't be setup.

[2017-10-13 15:19] motp opened #7090 "Same StateDirectory across multiple services"
### Submission type

 - Bug report

### systemd version the issue has been seen with

debian systemd 235-2/amd64

systemd 235
+PAM +AUDIT +SELINUX +IMA +APPARMOR +SMACK +SYSVINIT +UTMP +LIBCRYPTSETUP +GCRYPT +GNUTLS +ACL +XZ +LZ4 +SECCOMP +BLKID +ELFUTILS +KMOD -IDN2 +IDN default-hierarchy=hybrid

### Used distribution

debian sid

### In case of bug report: Expected behaviour you didn't see

Afte

[2017-10-13 15:28] gdamjan commented on #7055
should this be put into systemd-stable too?
ping @keszybz

[2017-10-13 16:24] jojoax commented on #7074
@hussamT : Is your setup also NIS + NFS ?

@all:
I recognized also, that during login attempt the tmpfs is NOT to be mounted to /run/user/$UID.
And waiting for dbus there is a long timer before an error / timeout occours.

[2017-10-13 16:36] ht990332 commented on #7074
No, just local.
So it could be a different issue that also regressed in 235. But the symptoms are the same. I could not longer log onto gnome. it would stall trying to login then take me back to the greeter.
What does 'loginctl list-sessions' say after you fail to log into an X11 session?

[2017-10-13 17:57] bobrik commented on #5154
Seeing this too.

[code]

It works if I exclude `eth2` and `eth3` (slaves of `bond0`):

[code]

Both vlan interfaces are on top of `bond0`.

[2017-10-13 18:43] evverx commented on #6281
I'm afraid in https://github.com/systemd/systemd/pull/6876 it was made clear that the issue wouldn't be fixed. For now it can be worked around by blocking `keyctl`.

[2017-10-13 18:50] evverx commented on #6281
For the record, that issue has been fixed in https://github.com/systemd/systemd/pull/6915.

[2017-10-13 19:26] injust commented on #7070
@yuwata LGTM. I can confirm that it works with my test cases.

[2017-10-13 19:58] zdzichu commented on #7073
But it is colored… maybe something wrong with your terminal?
![image](https://user-images.githubusercontent.com/496236/31564001-9fd83264-b061-11e7-8fa0-aa689f5855b7.png)

[2017-10-13 20:50] geissonator opened #7092 "Handle change to /etc/machine-id during /run to /var flush"
### Submission type

 - Request for enhancement (RFE)

### systemd version the issue has been seen with

### Used distribution

### Feature Request

openbmc mounts the file systems, specifically /etc/machine-id after journald has started.  Because of this, journald generates a machine-id and uses that to create the directory in /run/log/journal/machine-id.  When the "systemd-journal-flush.service"

[2017-10-13 22:44] guns opened #7093 "`systemd-nspawn --bind=/tmp/.X11-unix` broken in 235"
## Summary

Pull request #6979 should be reconsidered because it breaks a useful systemd-nspawn convention for little practical benefit.

See: https://github.com/systemd/systemd/pull/6979#issuecomment-336579978

### Submission type

 - Bug report

### systemd version the issue has been seen with

235

### Used distribution

Arch Linux

### In case of bug report: Expected behaviour you didn't see

[2017-10-14 00:39] al-caveman commented on #7073
Yes, it's red for `degraded` when, say, a unit fails. However, it is never *green* when all units are successfully operational. Hence, I think, the same coloring policy as one used in `systemctl status xxxx.service` is not applied with `systemctl status` as the latter lacks the green color.

[2017-10-14 04:26] evverx commented on #5163
[Given that allowing `keyctl` can make `systemd` unusable inside a container](https://github.com/systemd/systemd/pull/6876), I'm a bit puzzled about
* why `--no-new-keyring` isn't passed when `runc` is launched inside a container with blocked `keyctl`
* why `runc` fails when `keyctl` returns `EPERM`

Would it make more sense to advise users to pass `no-new-keyring` instead of unblocking `keyctl`?

[2017-10-14 06:16] evverx commented on #4964
I think this issue can be closed. It would be great to [get `coverity` worked](https://github.com/systemd/systemd/issues/5577) though.

[2017-10-14 06:16] #4964 closed, assigned to nobody

[2017-10-14 07:32] boucman commented on #7073
just created #7094 to fix this, please test...

[2017-10-14 10:07] mvduin commented on #7047
OK, so that error is just harmless noise, thanks!

Do you happen to have any ideas about IPv6 router discovery failing subsequently, resulting in loss of IPv6 connectivity? (apart from link-local)  The same error on restarting networkd (which we also experience) seems to match the longstanding open #2365.  So far the only way I found to recover from this is reboot :/

I'm puzzled though since pres

[2017-10-14 10:32] ssahani commented on #7047
test with  https://github.com/systemd/systemd/pull/6918. Also please elaborate why this issue exactly occurs ?

[2017-10-14 11:54] zifxify commented on #1620
Tried systemd 234-3~bpo9+1 and 232-25+deb9u1, same results

[code]

[code]

[2017-10-14 13:15] shibumi commented on #7093
I can confirm this bug. But some of points in the bug report are wrong:

`X unix socket at /tmp/.X11-unix/X0 on the host has been deleted by systemd-nspawn.`

That is not true. The X0 socket is still there it just seems that it's isolated from the rest of the filesystem. You can check this via `lsof` and you will get for example this:
`Xorg 673 674 chris 43u unix 0xffff97a489ffdc00 0t0 118253 @/tm

[2017-10-14 14:18] mvduin commented on #7047
I've cherry-picked both patches from your issue-5625 branch and both patches from your issue-7047 branch onto v234 and did some tests with its networkd:

* Toggling link down/up using `ip link` triggered the dhcp-related assertion failed in v234, this error is gone in the patched version. Interestingly, IPv6 remains functional (router advert received).

* Restarting systemd-networkd still results

[2017-10-14 14:24] maxnoe commented on #2750
Any news on this?

[2017-10-14 14:47] ezst036 opened #7095 "Ellipsis in loginctl --full seat-status seat0 > seatstatus.txt"
- Request for enhancement (RFE)

### systemd version the issue has been seen with

216 and 234

### Used distribution

Manjaro 17, Debian 9, several others

### In case of bug report: Expected behaviour you didn't see

I was expecting to see a text file full of devices without any ellipses.

Additionally, I had hoped to pull this information programmatically, but I also get ellipses with the follo

[2017-10-14 16:44] uzytkownik opened #7097 "/proc/cmdline handling should accept \n as whitespace separator"
### Submission type

Bug report

### systemd version the issue has been seen with

233-235

### Used distribution

Gentoo

### In case of bug report: Expected behaviour you didn't see

System boots

### In case of bug report: Unexpected behaviour you saw

System time outs on `dev-gpt\x2dauto\x2droot.device`

### In case of bug report: Steps to reproduce the problem

1. Compile kernel and create dr

[2017-10-14 18:46] guns commented on #7093
@shibumi

Unless I'm mistaken, the issue is that the filesystem entry in the host is unlinked by systemd-nspawn, preventing future connections to the socket on either the container or the host.

Existing connections to `/tmp/.X11-unix/X0` are unaffected by deleting the fs entry, so naturally lsof will show that the file handle is still held by existing processes.

[2017-10-15 03:50] poettering commented on #7092
We simply do not support that. The machine id must be available at the moment the initrd to host transition happens and should be considered immutable from that point on. The idea of the machinr id is that it is stable (unlike th hostname for example) and changing it dynamically at runtime defeats the whole idea.

Sorry but this simply not supported and would redefine the machine id in a way that

[2017-10-15 07:42] guns commented on #7093
Lennart Poettering https://github.com/systemd/systemd/pull/6979#issuecomment-336684161:

Evidently, the readonly mount flag does not prevent `connect()` on the socket, so mounting with `--bind-ro` is OK.

[2017-10-15 07:42] #7093 closed, assigned to nobody

[2017-10-15 13:52] enihcam opened #7100 "systemd[1]: Failed to populate /etc with preset unit settings, ignoring: Cannot assign requested address."
### Submission type

 - Bug report

### systemd version the issue has been seen with

### Used distribution

### In case of bug report: Expected behaviour you didn't see

### In case of bug report: Unexpected behaviour you saw

### In case of bug report: Steps to reproduce the problem

[2017-10-15 19:36] grawity opened #7101 "Priority of external mounts over fstab, also x-systemd.device-bound"
### Submission type

 - Not sure yet

### systemd version the issue has been seen with

v235, Arch Linux

### In case of bug report: Et cetera

The manual page says:

[code]

The problem is, even if I mount something with `mount`, as long as there is a fstab entry for the same path, systemd picks up all fstab parameters and tries to enforce them to the external mount.

For example, I have a fstab

[2017-10-16 00:18] djgera opened #7103 "networkd takes more time to setup netif and seems that network-online.target is irrelevant"
### Submission type

 - Bug report

### systemd version the issue has been seen with

### Used distribution

### In case of bug report: Expected behaviour you didn't see

### In case of bug report: Unexpected behaviour you saw

### In case of bug report: Steps to reproduce the problem

Just for reference, the interface is made at startup via udev rule.

[code]

Then configured by networkd with:

1

[2017-10-16 00:23] djgera commented on #7100
An important thing here and missing from report, such message appears only at initramfs stage.

[2017-10-16 02:44] yuwata commented on #7073
Now #7094 is merged. Let's close this.

[2017-10-16 02:44] #7073 closed, assigned to nobody

[2017-10-16 03:23] bobrik commented on #6629
@ssahani can you try systemd v232 that comes with Debian Stretch?

[2017-10-16 08:21] shibumi commented on #7093
@guns how does this solve anything? I tried that with my container.. now I get this message:
`Spawning container on root directory is not supported. Consider using --ephemeral.`

And with `--ephemeral` I get: `--ephemeral and --link-journal= may not be combined.`

And without `--link-journal` I get a:
`Job for systemd-nspawn@work.service failed because a timeout was exceeded.`
Are you sure that is

[2017-10-16 08:26] shibumi commented on #7093
Please Re-Open that Issue @poettering

[2017-10-16 08:32] wofferl commented on #7074
Same issue. Login today into kde fails with "Could not sync environment to dbus"

I use a NIS+NFS Setup

There is an error related to yp before the session fails.
[code]

After downgrading to 234.11-9 it works again.

[2017-10-16 11:30] mbiebl opened #7104 "Conflicts do not prevent service from being started"
### Submission type

 - Bug report

### systemd version the issue has been seen with

v232
v234
v235

### Used distribution

Debian stretch, sid
Fedora 26

### In case of bug report: Expected behaviour you didn't see

With chrony and timesyncd both enabled and installed, only chrony is started during boot as it has ```Conflicts=systemd-timesyncd```

### In case of bug report: Unexpected behaviour

[2017-10-16 11:39] jscotka opened #7105 "nspawn: unable to terminate nspawn created scope unit via machinectl terminate"
### Bug report
I have command:
[code]

and I'm uanble to stop this scope unit:
[code]

#### Commands
are unable to stop this machine
[code]

and more strange is that after this terminate after `sleep 100` finishes, it shows this service as `Container contA terminated by signal KILL.`

#### Command what works well immediatelly
[code]

[2017-10-16 12:17] Farom commented on #6980
Systemd starts to (auto)mount Network-Filesystems  after network-online.target is reached. As we have /home on ipv6-only NFS Servers, but have to support IPv4 for some embedded devices, the default behaviour fails badly. So as the admin, I would like to configure when a network-online.target is recognized as reached. This option is required for our network setup and urgently needed.

(If i have no

[2017-10-16 12:29] msekletar opened #7106 "systemctl set-property implies --runtime for transient units"
### Submission type

 - Bug report

### systemd version the issue has been seen with

- systemd-235

### Used distribution

- Fedora

### In case of bug report: Expected behaviour you didn't see

- ```systemctl set-property user-0.slice CPUShares=2048``` creates drop-in ```50-CPUShares.conf``` in ```/etc/systemd/system/user-0.slice.d``` directory

### In case of bug report: Unexpected behaviour yo

[2017-10-16 14:11] p5n opened #7107 "systemctl --failed does not show failed units if unit has Restart=on-failure option"
### Submission type
 - Bug report

### systemd version the issue has been seen with

### Used distribution

### In case of bug report: Expected behaviour you didn't see

### In case of bug report: Steps to reproduce the problem

1.
[code]
2. systemctl enable --now qwe.service

3. systemctl --failed
Does not show qwe.service as failed

4. Comment out 2 Restart* lines

5. systemctl --system daemon-r

[2017-10-16 14:12] riesebie commented on #7074
Debian sid systemd 235-2 Debian bug [#878625](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=878625)

Login as a NIS user with NFS home journalctl tells:
[code]
User is logged in after a while and there is no /run/user/UID

Running Debian's 234-3 from testing runs just fine.

Running a kernel with `CONFIG_CGROUP_BPF is not set` there are no
errors and the NIS user is logged in quite fast. But t

[2017-10-16 14:14] boucman commented on #7107
well, technically, the unit is not failed, it's constently oscilating between starting and started...

failed is a "real" state, not something remanent. Once you try starting the unit, it's not failed anymore, it's starting...

[2017-10-16 14:57] p5n commented on #7107
Yes, but I want to know if it fails continuously.

Probably "systemctl --state=auto-restart" can show something about it, but it would be very good to have ability to differentiate temporary and persistent service failures.

[2017-10-16 15:06] jobol opened #7108 "Remove capabilities after setting SmackLabel of executed processes."
### Submission type

 - Bug report

### systemd version the issue has been seen with

### Used distribution

### In case of bug report: Expected behaviour you didn't see

### In case of bug report: Unexpected behaviour you saw

### In case of bug report: Steps to reproduce the problem

Put in the unit file:
[code]
Then any process to start raise an error.

### Appendice

I would really like to get

[2017-10-16 15:18] geissonator commented on #7092
ok, thanks for the quick feedback, we'll look into other options.

[2017-10-16 15:18] #7092 closed, assigned to nobody

[2017-10-16 15:28] boucman commented on #7107
in the newest version of systemd there is arestart counter, i'm not sure how it works, please take a look to the NEWS file...

does that do what you want ?

[2017-10-16 15:45] cllovatto commented on #3449
Good suggestion! In my case, I have around 10 Docker containers running on a single host, most of them built on top of Spring Boot. Docker supports the "journald" logging driver and it is a no brainer to switch for all containers without having to change anything in the images themselves. On top of that, journald is the only other Docker logging driver apart from the default json-file driver that

[2017-10-16 15:59] p5n commented on #7107
if it would be possible to see these units together with failed using one command then yes. Ideally, if systemctl --failed shows immediately restart units.

[2017-10-16 16:01] p5n commented on #7107
As I understand restart counter counts total number of restarts, however here restart per minute or per hour will be useful.

[2017-10-16 17:16] guns commented on #7093
@shibumi

I am sure that my original issue is fixed, because I can successfully launch X client programs from a container launched with `--bind-ro=/tmp/.X11-unix`.

I'm not sure why your container is failing to boot, however.

[2017-10-16 17:23] shibumi commented on #7093
@guns can you please post your `override.conf` or the parameter that you use for it?

[2017-10-16 17:32] guns commented on #7093
Sure. I create shell scripts that exec into systemd-nspawn invocations. Here is a minimal reproducible example:

[code]

[2017-10-16 17:41] tillkamppeter opened #7109 "Services asked for by UDEV do not get triggered"
### Submission type

 - Bug report

### systemd version the issue has been seen with

### Used distribution

### In case of bug report: Expected behaviour you didn't see

### In case of bug report: Unexpected behaviour you saw

### In case of bug report: Steps to reproduce the problem

Please see all files, commands, configurations, and discussion up to now in the following Ubuntu bug report:

htt

[2017-10-16 20:14] wdoekes opened #7110 "INVALID (was: systemd-resolved makes up PTR records from a cached A record lookup)"
### Submission type

 - Bug report

### systemd version the issue has been seen with

systemd        232-21ubuntu5 amd64
on Ubuntu Zesty

### In case of bug report: Expected behaviour you didn't see

$ dig -t ptr 206.212.58.216.in-addr.arpa. @8.8.8.8 +short
ams16s21-in-f14.1e100.net.
ams16s21-in-f206.1e100.net.

### In case of bug report: Unexpected behaviour you saw

$ dig -t a google.com +short

[2017-10-16 21:18] floppym commented on #7110
Seems to work for me on systemd-235.

[code]

[2017-10-16 23:46] nh2 commented on #2863
OK, I've investigated a bit more now.

I found that the problem would only appear when I had an `/etc/fstab` entry with `x-systemd.*` options.

When I turned that entry to an equivalent `.mount` unit with the same options (see here https://github.com/nh2/nixops-gluster-example/commit/67f59bf49ad93966282e61ebd2a0a70ce1db654f  for an example of such transformation), the `pam_systemd(login:session):

[2017-10-17 01:52] antofthy commented on #1232
Issue is resolved with the use of the kernel keyring.  Non-root users can now use "systemd-ask-password" and in fact is a great alternative method for password reading (interactive star output) from a tty.
See   http://www.ict.griffith.edu.au/anthony/info/crypto/passwd_input.txt

However I have had other problems with this.

[2017-10-17 02:05] skoehler opened #7111 "[RFE] MulticastDNS resolution is slow if multiple hosts need to be resolved in parallel"
### Submission type

 - Request for enhancement (RFE)

### systemd version the issue has been seen with

235

### Used distribution

Gentoo

### RFE

I use pssh to manage multiple raspberry pis. Each of them answers to multicast DNS queries.
pssh runs ssh for multiple hosts in parallel. When using nss-mdns, resolution was quick and the ssh sessions completed almost simultaneously most of the time.

[2017-10-17 06:37] hphilm commented on #6314
Would be great if **systemd** is able to check if the function is available or not before trying it ...

[2017-10-17 09:31] yuwata commented on #7090
I guess the same situation even occurs with static `User=` settings. I do not know whether systemd should support such a misconfiguration...

[2017-10-17 10:20] draeklae commented on #7103
I can confirm this occurs with 235 and not with 234.

[2017-10-17 10:42] johnlinp opened #7113 "pid1: specifying DefaultDependencies=no in service unit causes default After= option lost in target unit"
### Submission type

 - Bug report

### systemd version the issue has been seen with

v235

### Used distribution

Arch Linux

### In case of bug report: Expected behaviour you didn't see

[code]

### In case of bug report: Unexpected behaviour you saw

[code]

### In case of bug report: Steps to reproduce the problem

Create 2 units: `some.service` and `some.target`:

[code]

According to `system

[2017-10-17 13:55] fsateler commented on #2863
@nh2 your `.mount` unit does not appear to be equivalent. The linked commit has a typo: the `requires = desp` should read `requires = deps` ? Perhaps that is the key difference.

[2017-10-17 14:22] fsateler commented on #7074
It seems to me that any service that might perform NSS operations can't have `IPAddressDeny=any` , which systemd-login does. Does running 235 with that line removed fix the issue?

[2017-10-17 15:31] YmrDtnJu commented on #7080
I too can confirm that your PR fixes the problem.

[2017-10-17 15:37] johnlinp opened #7114 "systemctl: respect [Install] section in drop-ins"
### Submission type

 - Request for enhancement (RFE)

### Description

According to discussion in the [mailing list](https://lists.freedesktop.org/archives/systemd-devel/2017-October/039629.html), [Install] section in drop-ins can be respected.

[2017-10-17 16:23] ghost opened #7115 "rescue mode and emergency mode won't work when the root account is locked"
### Submission type

 - Bug report

### systemd version the issue has been seen with

235 (and many versions before it).

### Used distribution

Debian sid (as well as Debian stretch and Debian buster)

### In case of bug report: Expected behaviour you didn't see

Rescue mode and emergency mode should give me a shell with root permissions.

### In case of bug report: Unexpected behaviour you saw

[2017-10-17 16:30] grawity commented on #7115
The emergency login prompt is done by `sulogin`, which is part of either "util-linux" or "shadow" – not a systemd component.

[2017-10-17 16:31] ghost commented on #7115
Some further notes:

* This was mentioned on Github by @marcosfrm [in a comment on issue 5674](https://github.com/systemd/systemd/issues/5674#issuecomment-306068919).
* This is tracked by Debian as [bug 802211](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=802211).
* ~~I'm testing [my patch](https://github.com/systemd/systemd/compare/master...rhymoid:sulogin-shell-should-force) right now, whic

[2017-10-17 16:33] ghost commented on #7115
@grawity And two years ago, [util-linux added an option to sulogin specifically for this kind of cases](https://github.com/karelzak/util-linux/commit/7ff1162e67164cb4ece19dd809c26272461aa254). The defect is that systemd is not using that option.

[2017-10-17 16:36] riesebie commented on #7074
I commented `IPAddressDeny=any` in both `systemd-udevd.service` and
`systemd-logind.service`. All runs fine now :-)

[2017-10-17 17:16] ingo-h commented on #7020
I've made a mistake. There are two files `20-bond0-up.network` and `28-br0_add-bond0.network`, both match `Name=bond0`. `28-br0_add-bond0.network` is never executed and will never set vlan-interfaces. I deleted `20-bond0-up.network` and added its setting to `28-br0_add-bond0.network`:

    $ cat /etc/systemd/network/28-br0_add-bond0.network
    [Match]
    Name=bond0
    [Network]
    Bridge=br0

[2017-10-17 17:20] #7020 closed, assigned to nobody

[2017-10-17 17:20] ingo-h commented on #7020
Closed, it's not a bug.

[2017-10-17 17:30] riesebie commented on #7074
Commenting `IPAddressDeny=any` in `systemd-logind.service` only seems to run very well, though.

[2017-10-17 18:00] shibumi commented on #7093
mh as I thought. Your setup is very simple and you don't register your machine to `systemd-machined` nor you set things like `--network-veth`. I can just say that the current systemd version breaks my container setup.

Should I open a new issue for this or do we re-open this one? I used the container to use a seperate VPN and spawn applications out of this container (like a web-browser). This way

[2017-10-17 19:04] guns commented on #7093
Like I said, it was a minimal example. I use `--link-journal=try-guest --private-network --network-veth` with my actual containers, and can control them externally with machinectl.

Since it can be demonstrated that `--bind-ro=/tmp/.X11-unix` does not prevent X clients launching from within the machine, your problem appears to be a separate issue.

[2017-10-17 19:12] virtualdxs commented on #2582
Any update on this? Is there a reason it's not implemented?

[2017-10-17 20:00] shibumi commented on #7093
Ok, no idea what that was.. suddenly it works. Thx for your last comment that makes me testing it again.

[2017-10-17 20:59] Enerccio opened #7117 "There should be systemd-kernel"
### Submission type

 - Request for enhancement (RFE)

I mean, why even use linux kernel, when you can integrate kernel into systemd?

[2017-10-17 21:01] #7117 closed, assigned to nobody

[2017-10-17 21:16] tSte opened #7118 "systemd with TPM: unable to add image options measurement: Invalid Parameter"
### Submission type

 - Bug report

### systemd version the issue has been seen with

235.0-1

### Used distribution

ArchLinux 64, Linux 4.9.56-1-lts and 4.13.6-1

### In case of bug report: Expected behaviour you didn't see

No message

### In case of bug report: Unexpected behaviour you saw

Message before "regular" booting messages (pls, excuse my poor terminology, I am not sure what it is rea

[2017-10-18 01:24] bobrik commented on #969
Can I request autoconf to be the next available setting? Currently it's only possible to control `ndisc_router_process_autonomous_prefix` from the router side, which is not always convenient.

[2017-10-18 01:38] yuwata commented on #7113
I may misunderstand your point. But systemd.target(5) states that

~~So, I think in your example, the service unit should have `Wants=some.target`, instead of specifying `Wants=some.service` in the target unit.~~

No no, I was completely wrong. And you may be right.

See, https://github.com/systemd/systemd/blob/master/src/core/unit.c#L1194-L1198.

I do not know this implementation is right or not.

[2017-10-18 02:14] johnlinp commented on #7113
From your link, I saw this behavior is since 21256a2b3be4f5fb12b68c47e570b865c5a631f8. The commit message is:

But I failed to see the real reason to do so.

[2017-10-18 02:15] rthorntn opened #7119 "systemd-journald Argument list too long"
### Submission type

 - Bug report

### systemd version the issue has been seen with

### Used distribution

### In case of bug report: Expected behaviour you didn't see

### In case of bug report: Unexpected behaviour you saw

### In case of bug report: Steps to reproduce the problem

[2017-10-18 03:38] yuwata commented on #7113
After reconsideration, now I think this is a documentation issue. The meaning of `DefaultDependencies=no` is that only explicitly specified dependencies are enabled. In your example, if the target implicitly has `After=some.service`, then the service unit gains `Before=some.target`, but the rule is not explicitly specified. So, considering `DefaultDependencies=` settings not only in the target uni

[2017-10-18 04:15] evverx commented on #6314
I'm not sure checking a kernel version works when `nsdelegate` is backported, so it seems that the only reliable way to ensure that `nsdelegate` is available is to try using it.

[2017-10-18 05:21] johnlinp commented on #7113
I see. Thank you for the explanation and the fix!

[2017-10-18 05:23] johnlinp commented on #7113
Since the pull request is not merged yet, it seems that I should reopen this issue. Sorry.

[2017-10-18 05:46] yuwata commented on #7108
The version of systemd you use is old. Please read [CONTRIBUTING.md](https://github.com/systemd/systemd/blob/master/.github/CONTRIBUTING.md)

Anyway, the change is done by 5cd9cd3537d1afca85877103615e61e6c03e7079. And it seems that the logic in the current code is almost same as that time. I am not sure that your approach is right or not. But if the patch works fine for you, I recommend you to cre

[2017-10-18 06:25] #7027 closed, assigned to nobody

[2017-10-18 06:30] #7113 closed, assigned to nobody

[2017-10-18 06:37] #7013 closed, assigned to nobody

[2017-10-18 06:48] yuwata commented on #7080
Thanks.

[2017-10-18 06:48] yuwata commented on #7070
@Injust Thanks.

[2017-10-18 07:21] wdoekes commented on #7110
Thanks for checking!

So, I browsed the dns-related changes between v232 and master, looking for changes in e.g. calls to answer_add_addresses_ptr/dns_cache_put. Couldn't find anything. Nor did I find any intentional ptr synthesizing.

Next I tried to reproduce on my desktop, also with Zesty. Couldn't.

I'll have to go back to my laptop / reproducible environment and see what's going on. Perhaps s

[2017-10-18 09:12] #2713 closed, assigned to nobody

[2017-10-18 10:19] halvors commented on #1080
@pfl Any progess on requesting prefix from DHCPv6 server with IA_PD?

[2017-10-18 10:38] #7047 closed, assigned to nobody

[2017-10-18 10:44] pfl commented on #1080
That is almost next on the agenda, after #6948 and possibly fixing DHCPv4 to do the same thing...

[2017-10-18 12:12] yuwata commented on #7053
#7050 is merged now. Let's close this issue.

[2017-10-18 12:12] #7053 closed, assigned to nobody

[2017-10-18 13:46] oliv3r commented on #3649
I am now running systemd on the host version 233 (gentoo) and the container is 232 (debian stretch).
Still non-functioning 127.0.0.53 nameserver unfortunatly.

[2017-10-18 15:12] OlafvdSpek opened #7125 "StartLimitIntervalSec docs issue"
https://www.freedesktop.org/software/systemd/man/systemd.unit.html#

This sounds like after 10 seconds (re)start will be retried but as far as I know this is not the case.
It's also not immediately clear where the 5 (burst) and 10 (limit) come from.

[2017-10-18 15:21] markstos opened #7126 "Clarify docs for restart behavior"
### Submission type

 - Request for enhancement (RFE)

### systemd version the issue has been seen with

### Used distribution

A user reasonably asks [Is ExecStop run when issuing systemctl restart myUnit?](https://serverfault.com/questions/879078/is-execstop-run-when-issuing-systemctl-restart-myunit).

One assumes  that a "restart" may be equivalent to  "a stop and then a start", but in practice

[2017-10-18 16:43] rjhornsby commented on #4209
In the mean time, I came across a new-to-me command for possibly resolving `invalid argument` errors:

`sudo systemd-analyze verify <unit>`

[2017-10-18 18:15] tfheen opened #7129 "systemd-run does not support SystemCallFilter and SystemCallErrorNumber"
### Submission type

 - Bug report

### systemd version the issue has been seen with

### Used distribution

### In case of bug report: Expected behaviour you didn't see

### In case of bug report: Unexpected behaviour you saw

### In case of bug report: Steps to reproduce the problem

[2017-10-18 18:24] wdoekes commented on #7110
Sorry about this. Turns out it was my router :(

I'm going to go ahead and say that my router has received a new "feature" at some point in 2017, since it has 2017-firmware which *I* didn't install, but my cable company apparently did. And because I switched to systemd-resolved and ran into a Domains= bug, I jumped to the conclusion that systemd was to blame here as well. It was not.

For future r

[2017-10-18 18:24] #7110 closed, assigned to nobody

[2017-10-18 20:29] martingh opened #7130 "systemd-journal-remote: Indefinite blocking in sd_event_run"
I was trying to use systemd-journal-remote/upload to collect journals from different hosts and was seeing timeouts for the journal-upload services, waiting for a response from systemd-journal-remote.

For its http code systemd-journal-remote is using libmicrohttpd (MHD). MHD is configured to use epoll with an external event loop (sd_event). As the epoll_fd is configured to be edge triggered this m

[2017-10-18 20:45] boucman commented on #7130
could you submit it as a pull-request ? they are easier to follow and have less risk to be lost than issues with patch attached...

[2017-10-18 22:28] sourcejedi opened #7131 "systemd-shutdown: code for remounting read-only seems buggy in the face of overmounts"
### Submission type

 - Bug report

### systemd version the issue has been seen with

v235 source code

### Bug report

The code for systemd-shutdown tries to remount read-only each mount point in /proc/self/mountinfo.

But it does not account for mounts which are hidden.  And remounting read-only involves passing the existing mount options for the filesystem.  So we could be passing the options f

[2017-10-19 03:19] yuwata commented on #7129
I think PR #6497 implements what you want to do, and the PR is merged in v235. If possible, please test with v235.

[2017-10-19 03:42] yuwata opened #7133 "CIs xenial-{i386,amd64} fails in boot-and-services"
### Submission type

 - Bug report

After #7003 is merged, CIs xenial-i386 and xenial-amd64 fails in boot-and-services with the following error.
[code]

Where can I find the source of the CI tests?

C.f.
- #7124 propose a change to fix this issue. But I think this just hides the issue...
- There are some discussion [here](https://github.com/systemd/systemd/pull/7003#issuecomment-337668530).

[2017-10-19 05:15] evverx commented on #7133
The source of `boot-and-services` can be found at https://anonscm.debian.org/cgit/pkg-systemd/systemd.git/tree/debian/tests/boot-and-services. Some general information is at https://www.freedesktop.org/wiki/Software/systemd/autopkgtest/.

[2017-10-19 05:24] tfheen commented on #7129
Seems to still not work, but the error message is different:
[code]

[2017-10-19 05:25] yuwata commented on #7133
@evverx Thanks.

[2017-10-19 05:34] yuwata commented on #7129
Confirmed.

[2017-10-19 05:46] yuwata commented on #7129
At least `SystemCallErrorNumber=0` is not a valid setting. From systemd.exec(5)

           Takes an "errno" error number name to return when the system call           filter configured with SystemCallFilter= is triggered, instead of           terminating the process immediately. Takes an error name such as           EPERM, EACCES or EUCLEAN. When this setting is not used, or when the empty string

[2017-10-19 06:06] Cherkah commented on #7054
i get the same error in systemd's logs:

[code]
[code]

[code]

what should i do? regards

[2017-10-19 07:01] 27o opened #7135 "systemd-nspawn: missing set_tls syscall in whitelist"
### Submission type

 - Bug report

### systemd version the issue has been seen with

### Used distribution

### Expected behaviour

Running the container

### Unexpected behaviour

musl-based container:

glibc-based container:

### Steps to reproduce the problem

Run any container without options.

### Fix

Runing the containers with `--system-call-filter=set_tls` works fine. So adding set_tls to

[2017-10-19 07:11] yuwata commented on #7129
`RestrictAddressFamilies=` is also broken...

[2017-10-19 08:48] myllynen opened #7136 "Dependent units not restarted even if using BindsTo"
Please consider the following scenario modelled after a larger real-world use case:

[code]

If we do restart for test-2.service while test-3.service is still starting, we end up with a situation that test-3.service is started before test-2.service even though Before/BindsTo/PartOf are in use:

[code]

Here systemd will start test-1 (no stop job since service is already stopped) and it will restar

[2017-10-19 08:48] paolo-github commented on #7057
bfq does use weights; actually, part of the blkio/io infrastructure is code taken from bfq hierarchical support. Simply, I have added an extra .bfq in the middle of the names of bfq cgroups parameters, to distinguish bfq parameters from cfq ones. Full details in bfq documentation:
https://github.com/torvalds/linux/blob/master/Documentation/block/bfq-iosched.txt

Any other sensible solution is ok f

[2017-10-19 08:51] acidg opened #7137 "systemd-logind ignoring LidSwitchIgnoreInhibited=yes"
### Submission type
 - Bug report

### systemd version the issue has been seen with
235

### Used distribution
Arch Linux:
- Kernel 4.13.7
- Gnome 3.26.1

### Expected behavior you didn't see
Laptop going to sleep when closing the lid

### In case of bug report: Unexpected behaviour you saw
Laptop did not go to sleep

### Steps to reproduce the problem
My /etc/systemd/logind.conf:
[code]

systemd-

[2017-10-19 09:07] OlafvdSpek commented on #7126
Restart being equivalent to stop / start would mean sockets getting destroyed and recreated, potentially having a short time window where a connect would return not found. I don't think it's like that so they wouldn't be equivalent.

[2017-10-19 09:10] OlafvdSpek opened #7138 "[RFE] Differentiate between first restart delay and subsequent delays"
If a service crashes (for the first time), I'd like it to be restarted as soon as possible, without any delays.
If it crashes / stops again soon after, a delay is probably in order.

However, I don't think there's a way to do this currently. RestartSec controls both delays.

[2017-10-19 09:14] keszybz commented on #7126
Well, it does mean that. If the service open sockets on its own and it does not pass them to pid1 to hold, they will be closed when the service is stopped or restarted.

[2017-10-19 09:16] OlafvdSpek commented on #7126
I'm talking about the sockets managed by pid1.

[2017-10-19 09:20] keszybz commented on #7126
The text should probably mention the distinction between start/stop and restart wrt. to fds which are stored in pid1.

[2017-10-19 09:21] yuwata commented on #7133
After #7059 is merged, now `DynamicUser=` is acceptable even if static user and group exist and have different numeric id.
However, #7059 is not perfect.
When `User=` and `Group=` are the same (this is default if `Group=` is not set), `DynamicCreds` has only information about the user (see [dynamic_creds_acquire()](https://github.com/systemd/systemd/blob/dd202fa492a776587f5805aa74168b9e70d52178/sr

[2017-10-19 09:50] fbuihuu opened #7139 "document that StartLimitBurst=/StartLimitIntervalSec='s effect is mooted if the unit is unloaded, due to the GC logic"
According to my understanding of the man pages, the following should fail:

[code]

since test.service is started more than 5 times within 10 sec.

However the unit can be started 7 times without any error.

This was tested with v234 (v228 shows the same behavior though).

[2017-10-19 09:54] keszybz commented on #7133
I'm working on a patch.

[2017-10-19 10:57] sourcejedi commented on #7131
If the code knew not to try remounting hidden mounts, it would make sense to use statvfs() to read the old mount flags, and stop blithely resetting all the other mount flags when remounting readonly.

EDIT: or scratch that and just parse the mount flags, which are broken out as a separate field in the `mountinfo` file that we read.

[2017-10-19 12:22] ghost opened #7140 "When use systemctl restart service , cma memory didn't free."
### Submission type

 - Bug report

### systemd version the issue has been seen with

### Used distribution

###  In version systemd 232 systemctl stop weston can free CMA:

### In case of bug report: Unexpected behaviour :
 It can only free Cma if I restart dbus.socket and dbus service.

My weston service as below:
[Unit]
Description=Weston Wayland compositor
After=dbus.service rc.pvr.service

[S

[2017-10-19 12:28] kylebrandt commented on #7126
I am still quite confused (I posted the original linked question).

For my part, I would _assume_ that the behavior of `restart` would be the same as `stop` followed by `start`.  Assuming I'm normal in that regard, if they are _not_ the same, I think the documentation needs to highlight that they are different with additional information in *how* and *why* they are different.

Also if they are dif

[2017-10-19 12:31] yuwata commented on #7129
I've created PR #7141. If possible, please test it.

[2017-10-19 13:32] bl33pbl0p commented on #7079
Weird, apparently fixed in v235.

[2017-10-19 13:32] #7079 closed, assigned to nobody

[2017-10-19 14:38] SjonHortensius opened #7143 "networkd's "Renamed to eth0" messages are confusing, suggest networkd did something here, but it actually just reports changes done elsewhere"
### Submission type

 - Bug report

### systemd version the issue has been seen with

### Used distribution

### In case of bug report: Unexpected behaviour you saw

It seems systemd-networkd renames interfaces in exactly the same way as the kernel just did, this is from my journal:

[code]

I end up with `idrac / eno1 / eno2` which is fine

Is this a bug or known behavior?

[2017-10-19 18:24] oliv3r commented on #3649
with systemd 234 on the host (debian stretch-backports for systemd) and the older on the client it works.

[2017-10-19 20:22] hexum opened #7145 "systemd-networkd: network interface hangs in pending state forever"
### Submission type

 - Bug report

### systemd version the issue has been seen with

+PAM -AUDIT -SELINUX +IMA -APPARMOR +SMACK -SYSVINIT +UTMP -LIBCRYPTSETUP +GCRYPT +GNUTLS +ACL -XZ +LZ4 +SECCOMP +BLKID -ELFUTILS +KMOD -IDN2 +IDN default-hierarchy=hybrid

### Used distribution

### In case of bug report: Expected behaviour you didn't see

### In case of bug report: Unexpected behaviour you saw

[2017-10-19 20:26] hexum commented on #7145
I do not have any idea what networkd is waiting for.
Your guidance is needed for further diagnostics.
Thanks!

[2017-10-20 04:00] zeitgeist87 commented on #7135
I have the same problem using Arch Linux on a Raspberry Pi 2. The command line parameter `--system-call-filter=set_tls` fixes it. Thanks!

[2017-10-20 08:34] ht990332 opened #7146 "[regression] systemctl daemon-reexec breaks logind."
### Submission type

 - Bug report

### systemd version the issue has been seen with
235

### Used distribution
Arch Linux

Starting with systemd 235, systemctl daemon-reexec breaks systemd-logind.

to reproduce:
1. log onto gnome or tty2 or something.
2. run: systemctl daemon-rexeec as root.
3.log off. and log on again.
4. run: loginctl list-sessions and notice the old stale sessions.
in addition

[2017-10-20 08:54] ht990332 commented on #7146
I just downgraded to 234.11 and can confirm this was not in issue in that build.

[2017-10-20 09:01] poettering commented on #7140
To be frank, I have no idea what "Cma" is. What makes you think this is an issue with systemd?

[2017-10-20 09:03] poettering commented on #7143
networkd just reports the kernel change, that's all, it doesn't trigger the rename, it's just the messenger here. But yeah, we could probably reword this a bit to make this less confusing.

[2017-10-20 09:14] poettering commented on #7075
we currenlty don't support booting without /etc/machine-id set up, and we try to set it up if it isn't there yet, but there's one condition where we can't set up: if it doesn't exist at all and /etc is read-only. In that case we can neither create the thing, nor overmount it with a remporary /run/machine-id...

I figure we should make this case more discoverable though, i.e. refuse booting with a

[2017-10-20 09:17] poettering commented on #7136
so, let me get this straight: you bind test1 to test2, but order test2 after test1? Semantically, that doesn't make sense, does it?

(Yeah, we should be more strict on allowing that)

[2017-10-20 09:22] poettering commented on #7119
what arch is this?

did you configure any specific values in journald.conf (such as the file metrics and such), or are they the upstream defaults? is the /var partition full or close to being full when this happens?

[2017-10-20 09:23] poettering commented on #7118
@haraldh you are the sd-boot/TPM guy

[2017-10-20 09:27] poettering commented on #7095
i am not sure i follow. can you please paste a short excerpt of what you expected and what you got?

[2017-10-20 09:38] poettering commented on #7074
yeah, we run logind in an IP networking sandbox these days. And yes, if you configured a network facing NSS module, then this will cause friction, and NSS lookups will fail.

Quite frankly, loading a module into every process that implicitly opens it up to network communication, and thus adds a network attack surface to every single process (even to something as insignificant and benign as `ls`) i

[2017-10-20 09:42] poettering commented on #7104
so, what does chrony's service file precisely look like?

And what's the purpose of that sleep.service?

What does the relevant transaction look like? i.e. if you boot with debug logging, what's shown regarding the transaction that causes this?

Please understand that I don't run Debian, I have no idea how things are set up here. You need to provide some detail on what is happening there

[2017-10-20 09:44] poettering commented on #7139
Well, if the service is unloaded in between then we forget everything about the start counter. And in this case it will be unloaded, since nothing references the unit, and because it doesn't fail.

i figure we should document this though...

[2017-10-20 09:47] poettering commented on #7038
Please retry with v235. There's a good chance this all starts working with 235, due to 22af0e5873978efbb3c210dc4c889041c7d56447

[2017-10-20 09:57] mistralol opened #7147 "systemd-resolv. Fails on SERVFAIL instead of trying another upstream server."
### Submission type

 - Bug report

### systemd version the issue has been seen with

systemd --version
systemd 232
+PAM +AUDIT +SELINUX +IMA +APPARMOR +SMACK +SYSVINIT +UTMP +LIBCRYPTSETUP +GCRYPT +GNUTLS +ACL +XZ +LZ4 +SECCOMP +BLKID +ELFUTILS +KMOD +IDN

### Used distribution

Ubuntu

### In case of bug report: Expected behaviour you didn't see

DNS Lookup failure. systemd-resolv did not move o

[2017-10-20 10:22] poettering commented on #7137
The logs actually give a good indication what is going on: GNOME is blocking the sleep operation:

[code]

And the inhibitor list shows who precisely is responsible:

[code]

i.e. you have multiple displays attached. At least "gsd-power" thinks so. if you don#t think this is right, please contact the "gsd-power" maintainers, but logind is really just honouring the inhibitor that "gsd-power" instal

[2017-10-20 10:23] poettering commented on #7137
uh, i missed that your bug was that we don't ignore the inhibitor even though LidSwitchIgnoreInhibited is set

[2017-10-20 10:43] poettering commented on #7137
Ah, so this is documented behaviour actually. From logind.conf(5):

So, gsd-power installed a inhibitor for handle-lid-switch as you see in your systemd-inhibit output. And that we honour unconditionally, regardless of the XyzIgnoreInhibited= setting, as documented.

This is confusing, admittedly, but it does make some sense.

To give a bit of background: logind distinguishes high-level and low-le

[2017-10-20 10:43] #7137 closed, assigned to nobody

[2017-10-20 10:52] poettering commented on #7093
This suggests you didn't specify -M nor -D nor -i and / was your working directory? Or that you specified -D/? either way it appears quite unrelated to the original issue at hand.

I'd need to know the precise nspawn command line ot help you further, if this is till an issue

[2017-10-20 10:54] fwaechter commented on #7126
No. See (for example): https://lists.freedesktop.org/archives/systemd-devel/2016-January/035585.html

[2017-10-20 11:30] myllynen commented on #7136
Please ignore the leftover/pasto in test-1.service above, the actual issue with test-3.service starting before test-2.service when restarted happens also without it. Let me know if you want me to refresh the above example here, but it's really just a matter of s,BindsTo.*,, for test-1.service. Thanks.

[2017-10-20 11:46] mbiebl commented on #7104
@poettering the sleep.service is a minimal test case to show the problem. The problem is perfectly reproducible on Fedora as well.

[code]
[code]

[2017-10-20 12:13] fbuihuu commented on #7139
I can understand why the previous test case doesn't fail but that makes the whole StartLimit feature unpredictable and mostly useless for the start operation.

The same behavior is seen for the following sequence BTW:

`# for i in $(seq 7); do systemctl start sleep.service && systemctl sleep.service; done`

In contrary, the limit can be reached whereas it isn't expected: someone reported the [case

[2017-10-20 12:16] mbiebl commented on #7104
debug log (booted with systemd.log_level=debug)
[log.txt](https://github.com/systemd/systemd/files/1401862/log.txt)

[2017-10-20 12:43] clonejo commented on #7075
@poettering No further requests from my side, I am happy with the workaround. Mostly I wanted this problem to be easier to debug. This issue report might already help others with that.

[2017-10-20 12:50] shibumi commented on #7093
@poettering Everything fine now. No idea what happened there. It's working now.

[2017-10-20 14:48] tominglis commented on #5242
@arianvp Thanks for offering to help with this - have you had a chance to look yet, and is there anything you need to know beyond what's in this issue?

[2017-10-20 14:56] markstos commented on #7126
Related, I just noticed this related comment from the [TODO file](https://github.com/systemd/systemd/blob/6e2d7c4f131edb19255842cdd4dc199cf8adb5ab/TODO)

I tried searching the source code to pin down the logic but wasn't able to pinpoint where the restart logic is implemented among the various mentions of "restart".

[2017-10-20 15:19] ipatrol commented on #2582
I would like this too. Is there a particular technical reason it's not implemented, or is it just a time/labor issue? Sadly I cannot help with that, because my C-fu is not up to the task.

[2017-10-20 15:48] dkebler commented on #6843
I have similar issue with 232 on 17.04.  235 is out and  I would like to try the current but the only  ppa i can find is lagging  at 233.  https://launchpad.net/~pitti/+archive/ubuntu/systemd?field.series_filter=zesty
I'm not prepared to compile my own so any suggestions of how to keep current?

[2017-10-20 16:10] masthoon commented on #4092
The systemd implementation of client certificate checking (passive mode) doesn't work due to an uninitialized attribute (_check_trust_) in [journal-remote.c](https://github.com/systemd/systemd/blob/master/src/journal-remote/journal-remote.c#L611).

So the method **check_permissions** which perform the certificate checking is never called.
The patch is straightforward I think: initialize _check_tru

[2017-10-20 16:38] skidadpa opened #7151 "Screen orientation for HP dv7 Pavilion Notebook PC"
### Submission type

 - Bug report

### systemd version the issue has been seen with

234

### Used distribution

Ubuntu 17.10

### In case of bug report: Expected behaviour you didn't see

Detected orientation should match laptop orientation

### In case of bug report: Unexpected behaviour you saw

Orientation was incorrect (left/right swapped, normal/upside-down off by 90 degrees)

### In case o

[2017-10-20 18:21] martingh commented on #7130
PR is here: https://github.com/systemd/systemd/pull/7152

[2017-10-20 18:53] zackw opened #7153 "RFE: ReadWrite{Directories,Paths}= should override ProtectHome=yes for child directories of /home"
### Submission type

 - Request for enhancement (RFE)

### systemd version the issue has been seen with

### Used distribution

### Requested feature

When a unit file specifies both ProtectHome=(either 'yes' or 'read-only') and one or more ReadWriteDirectories= or ReadWritePaths= pointing below /home, the ReadWrite directives should win.  For instance,

    ProtectHome=yes
    ReadWriteDirectorie

[2017-10-20 18:55] zackw commented on #7153
(N.B. I can only find references to ReadWritePaths in the manpages, but the unit files shipped with this system seem to be using both ReadWritePaths and ReadWriteDirectories.)

[2017-10-20 20:17] arianvp commented on #5242
Haven't had the time to dig into the code yet. Gonna do that this weekend. I'm at all-systems-go.io this week. If anybody else is there as well perhaps we can hack on it together.

[2017-10-20 20:59] dghodgson commented on #3943
I am having a similar (possibly the same?) issue with Intel's SCU on the C606 chipset (specifically on SuperMicro's X9SRi-3F). I have a question on [unix.stackexchange](https://unix.stackexchange.com/questions/398722/centos-7-doesnt-show-first-two-drives-on-intel-c606-scu/398742#398742) with my troubleshooting notes.

I'm on CentOS 7.4 though, which is using v219, so I can't submit an issue here (

[2017-10-20 21:06] sitsofe commented on #3943
@Toasty27 You might as well post a link to your CentOS bug here in case others are curious too. It would be interesting to know if a recompiled `/path/to/custom/udevadm test-builtin path_id <blockdev>` with the patch above spits out a more desirable link.

[2017-10-20 21:08] dghodgson commented on #3943
The bug report is [here](https://bugs.centos.org/view.php?id=14028), but it's mostly just copied info from the stackexchange question

[2017-10-20 21:15] sitsofe commented on #3943
@Toasty27 hmm, your issue looks slightly different to the one here insofar as your devices appear as SAS rather than ATA so the fix here wouldn't help you...

[2017-10-20 21:18] dghodgson commented on #3943
That's kind of what I figured. The SCU is a "SAS Control Unit" that depending on the platform, either supports only SATA devices, or both SAS and SATA. In my case it acts as a SAS controller (although I believe it might actually function as a port multiplier since there are 6 SATA ports ahead of the SCU ports, which are on `host6` and `host7`. I'm honestly not sure)

[2017-10-20 23:07] ezst036 commented on #7095
Thank you for the prompt reply.

Expected:
/sys/devices/pci0000:00/0000:00:12.0/usb3/3-3/3-3:1.2/0003:046D:C52B.0005/0003:046D:101A.0006/input/input7

Received:
/sys/device...:C52B.0005/0003:046D:101A.0006/input/input7

Short device addresses such as "/sys/devices/pci0000:00/0000:00:13.1/usb6" come out the same in terminal or in the text file.

[2017-10-21 00:41] dghodgson commented on #3943
I've been looking through `udev-builtin-path_id.c`, and more specifically the diff between v219 and v235. Based on what I can tell, I don't think my issue is fixed in v235.

To be honest, I'm not 100% sure what's going on in my scenario.

My device path includes `/end_device-` which means it's getting handled by `handle_scsi_sas`. This is why I get an `ID_SAS_PATH` variable which just ends in `sas

[2017-10-21 03:31] sitsofe commented on #3943
@Toasty27 I'd strongly recommend you file a new issue for what you're seeing but make sure you include a link to your new issue here and put a link to this issue there. It's true once upon a time the generic SCSI path would handle a lot more but I'm guessing (same as you) at some point that changed to make "better looking names". The problematic thing is that the "friendlier" names are not always

[2017-10-21 05:08] tfheen commented on #7129
Huh, indeed, you're right, it gives me a parse error.

It would be quite useful to have the ability to specify 0/"ignore" there too (since there's no `EOK` or similar errno for returning 0).  The use case is to mask out certain system calls such as `fsync` and so more easily implement something along the lines of `eatmydata` without ugly `LD_PRELOAD` hacks.

[2017-10-21 09:19] arianvp commented on #5242
I can't really find anything `journal-remote` specific that would cause this problem.

It basically opens a handle to the journal and writes to it...

So this seems to be an issue in journald itself I think?

[2017-10-21 11:29] riesebie commented on #7074
Installing nscd solved the problem. Asked nis maintainer to put nscd to "Depends" at install time. Thanks for the hint @poettering .

[2017-10-21 12:50] Yanpas opened #7155 "Unable to suspend with nvidia proprietary drivers"
### Submission type

 - Bug report

### systemd version the issue has been seen with

235

### Used distribution

Arch

### In case of bug report: Expected behaviour you didn't see

systemctl suspend makes system go asleep

### In case of bug report: Unexpected behaviour you saw

After doing some gpu actions (playing game or watching gpu accelerated video) system doesn't go to sleep. Systemctl sus

[2017-10-21 14:59] halvors commented on #1080
@pfl Thanks, combining prefix delegation IA_PD request and being able to assign it automatically is a great feature i have been waiting a long time for :) Keep up the good work!

[2017-10-21 15:42] ghost opened #7156 "Emergency mode could use a more novice-friendly opening message"
### Submission type

 - Request for enhancement (RFE)

### systemd version the issue has been seen with

253 (and many versions before it)

### Used distribution

Debian buster/sid

### The problem

The opening message of `systemd-sulogin-shell` currently suggests that a user should consult the output of `journalctl -xb` to view the system log. This message is emitted for both rescue mode and emer

[2017-10-21 17:18] xenithorb commented on #4468
Does this still "need-reporter-feedback" ? Can this bug be upgraded?

My use case for this is when rebooting a host with containers and virtual machines, sometimes the VM proving the NFS export isn't up in time while the others try to mount nginx configs from it.

It would be really useful to just say "just try again x more times" - because then subsequent services like nginx etc will fall in line

[2017-10-21 18:31] hexum commented on #7145
Nothing interesting in logs
[code]

[2017-10-21 18:55] kghost commented on #2741
@dechamps's solution works pretty well.

But if you want to override resolv.conf aka DNS server, add following line to your service file:

`BindPaths=/etc/netns/<foobar>/resolv.conf:/etc/resolv.conf`

[2017-10-21 20:04] hexum commented on #7145
Version 233 works fine.
Gentoo provides it's own patches. So it can be distro specific bug.

[2017-10-21 20:25] hexum commented on #7145
On another physical machine all works fine.
Problem affects only VM (virtio ethernet).

[2017-10-21 22:50] dghodgson opened #7157 "udev assigns same ID_PATH and ID_SAS_PATH for disks connected to intel SCU ports on C606 chipset"
### Submission type

 - Bug report

### systemd version the issue has been seen with

Looking through a diff of the source code for `udev-builtin-path_id.c` between v219 and v235 suggests that this issue is not fixed in the latest release. As this is happening on a client's server which is in production, I may not be able to test newer releases (but am willing to try).

### Used distribution

###

[2017-10-21 22:50] acidg commented on #7137
Thanks you for clarification! This helps a lot :)

[2017-10-21 22:53] dghodgson commented on #7157
I filed a bug report on the CentOS tracker [here](https://bugs.centos.org/view.php?id=14028) a few days ago, but it doesn't appear to have received any attention yet.

[2017-10-22 01:26] danielcompton commented on #6306
Looking at the output here, it seems like verify will return with a 0 exit code event if a warning is printed? Catastrophic errors, like no `[Service]` print an exit code, but unknown lvalue's don't.

[code]

[2017-10-22 05:16] dghodgson commented on #7157
I updated a gist I'd made previously [here](https://gist.github.com/Toasty27/49da6175371cdde317e662fb8a7d078a) that seems reliable enough as an interim solution, for anyone else out there having this problem.

[2017-10-22 09:16] Mic92 commented on #6281
I currently worked around in lxc by appending the following to my seccomp filter:

[code]

[code]

[2017-10-22 09:35] keszybz commented on #6867
I think we should just hash the name if it is above the length limit:
`sys-devices-pci0001:00-0001:00:00.0-0001:01:00.0-0001:02:01.0-0001:03:00.0-host1-port\x2d1:0-expander\x2d1:0-port\x2d1:0:10-expander\x2d1:1-port\x2d1:1:3-expander\x2d1:4-port\x2d1:4:10-end_device\x2d1:4:10-target1:0:71-1:0:71:0-block-sdcm-sdcm1.device.wants` → `ea01668388affa88ef1c981acfd94d00d249ad83d5c0a98e355a06bdabf48483.de

[2017-10-22 11:29] michaelolbrich commented on #7140
@poettering CMA is "Contiguous Memory Allocator" and this is not a systemd problem.

Is rc.pvr.service stopped with D-Bus? I'd guess that this service still uses the CMA memory.

[2017-10-22 12:47] poettering commented on #6867
Well. So far the scheme is reversible and the various specifiers we define (such as %f) rely on that...

[2017-10-22 12:54] mbiebl commented on #6867
You could store the original path in the device unit itself?

[2017-10-22 13:59] keszybz commented on #6867
After a quick discussion with @poettering  and @lnykryn and @msekletar in person, my understanding is:

* the error is "caused" by systemd itself, because systemd checks for the presence of .wants and .d directories for all units, and in this case such a directory does not exist and could not exist.
* the error should be downgraded (actually even log_debug is unecessary, and `ENAMETOOLONG` should

[2017-10-22 14:13] martingh commented on #7130
Looks like when using SSL the changes are not sufficient and I still see that systemd-journal-upload processes are waiting for a reply from systemd-journal-remote.

I cannot explain why, is there any difference at the level of event handling between SSL and non-SSL connections?

[2017-10-22 14:14] poettering commented on #7155
Can you test this without proprietary code in the kernel? There's a very good chance that's the cause of the issue, and if so there's very little we can do given the closed source nature of your driver.

[2017-10-22 14:18] Yanpas commented on #7155
I've tested with nouveau (open source one driver), there is no such bug. I don't know the responsibilities of systemd in this  case. I'll contact Nvidia

[2017-10-22 14:22] nh2 commented on #2863
@fsateler You're right about the typo (result of improper cleanup before pushing), but it doesn't make a difference (in fact nixops wouldn't let me deploy this with the typo, it points it out with `error: undefined variable ‘desp’`).

I've fixed the typo now ([updated commit](https://github.com/nh2/nixops-gluster-example/commit/e10a41488d0007b77c81b0811b8fa6947e77ce75)), the problem (commit before

[2017-10-22 14:34] poettering commented on #7157
Sorry. This the SAS device path code really should move somewhere else. We cannot really maintain this as this is very specific hw and we neither own any sch device nor have the expertise and understanding to maintain this properly. This storage folks really should tak this bit over. And until then there's very little we can do about this. Sorry

[2017-10-22 14:37] poettering commented on #7155
In that case please contact nvidia for help. We cant really support or fix closed source stuff. Sorry.

[2017-10-22 14:37] #7155 closed, assigned to nobody

[2017-10-22 14:38] poettering commented on #7151
Please provide a proper patch in a github PR. Thanks.

[2017-10-22 14:39] poettering commented on #7151
/cc @hadess

[2017-10-22 14:59] poettering commented on #7140
Thanks for clearing this up. Let's close this here then!