[2022-01-11 13:00] keszybz commented on #8774
It's been ages since this was reported and is hopefully fixed since a long time. Please reopen if this still occurs with recently released versions.

[2022-01-11 13:00] #8774 closed

[2022-01-11 13:01] keszybz commented on #8191
It's been ages since this was reported and is hopefully fixed since a long time. Please reopen if this still occurs with recently released versions.

[2022-01-11 13:04] keszybz commented on #9473
The documentation issue was resolved in b63dae3168209a06cefe2b9916667b7754b7de34. IIUC, everything else works. If the problem reappears, please open a new issue, because this one is quite messy.

[2022-01-11 13:04] #9473 closed

[2022-01-11 13:05] keszybz commented on #6870
It's been ages since this was reported and is hopefully fixed since a long time. Please reopen if this still occurs with recently released versions.

[2022-01-11 13:05] #6870 closed

[2022-01-11 13:07] pimzand commented on #481
@jimdigriz I have looked at your config files. Your case is similar to mine, I too need baby jumbo frames.
I too am using a .network for the ethernet interface used for pppd.
Could you explain what it is exactly in your pppd unit file that would make it wait for anything occurring in systemd-networkd?

[2022-01-11 13:13] yuwata commented on #9918
@aTanW Could you provide more detailed example? How do you configure IPSec?

[2022-01-11 13:29] mikehearn commented on #22057
OK, thanks for the answer. I had interpreted "ignored completely" to mean they don't affect it's behavior, rather than the literal meaning that the extension mechanism is semantically identical to a file comment.

IMO exposing the metadata as strings would be fine. It would be unreasonable to expect systemd or dbus to impose semantics on keys it doesn't recognize.

[2022-01-11 13:35] jimdigriz commented on #481
@pimzand this is why in the pppd unit file it has:
[code]

`%j` is expanded to `eth1` (`%i` expands to `wan`) as my unit file is called `pppd-eth1@wan.service`.

[2022-01-11 13:49] pimzand commented on #481
@jimdigriz Right, so the trigger is the creation of a virtual interface.
This virtual interface does not exist until system-networkd has configured it.

In my case, pppd is using a physical interface which is created by the kernel.

[2022-01-11 13:52] jimdigriz commented on #481
Not sure what you mean, `eth1` is a physical interface for me, it goes to my VDSL2 SFP. I run PPPoE directly against it (I have my switch handle the VLANing, but I could have done the VLAN interface on my Linux box if I wanted, just seemed more hassle and yet more configuration files).

[2022-01-11 14:15] pimzand commented on #481
@jimdigriz my bad, I noticed some VLAN's in your setup and I thought they were used for the wan interface.
In fact, your setup is exactly like mine. The only difference is the line
`WantedBy=sys-devices-virtual-net-%i.device`
in the `[Install]` section of the pppd unit.
I only have `WantedBy=multi-user.target`

I don't see how that would make pppd wait for anything, though.

My guess is that you a

[2022-01-11 14:21] pimzand commented on #481
I just thought of another workaround.
I could have systemd-networkd create a fake virtual interface, and have the pppd service depend on that, without actually using it.

I guess what we really need is an elegant way to make services depend on the systemd-networkd status of a specific interface.

[2022-01-11 14:59] jimdigriz commented on #481
Just rebooted, it looks like the `multi-user.target` is holding me back, it causes a 1m30s gap between the device `eth1` appearing and my PPP unit kicking off...which is plenty of time for `systemd-networkd` to get in and do its thing.
[code]

[2022-01-11 15:29] #22020 closed

[2022-01-11 15:41] Finoderi commented on #21921
Fill it up yourself then. And fix the obvious bug.
Nobody asked for this systemd-oom-fuck-upper in the first place. And now it creates security holes out of thin air and you can't pull your head out of your ass.

[2022-01-11 15:42] dimara commented on #13812
We bumped into this when using `udevadm` from inside a container that has `/run/udev/` bind mounted. Our container runs debian/stretch, i.e., systemd/udev 232. This was working until we tried a host running Ubuntu Focal, i.e., systemd/udev 245.

We ran strace both on `udevadm` inside the container and `systemd-udevd` inside the host.

`udevadm` that hangs send a message and waits for the response

[2022-01-11 15:57] pimzand commented on #481
Well, I have `multi-user.target` in my install section too, and yet the pppd service kicks off immediately, usually just before systemd-networkd.

I guess there is nothing that makes systemd wait with starting pppd when it sees it can, so again, it's pure luck if things go in the order you expect.

I guess it could even depend on what type of ethernet card you use, and how long the kernel takes to

[2022-01-11 15:59] luebking commented on #21921
For clarification: there's no (known) security issue attached to this! You can "getpcap" verify it yourself.
(If there was an actual issue I wouldn't have put it on the backburner but posted a patch asap)

It's just clumsy and probably exposes unexpected code behavior.
But the symptoms very much *suggest* that there *might* be a massive security issue - which is why one would immediately look ther

[2022-01-11 16:02] pimzand commented on #481
Sorry, I missed comment https://github.com/systemd/systemd/issues/481#issuecomment-1010092917 when I replied.
Interesting, will test.

[2022-01-11 16:12] pimzand commented on #481
So `-i` means wait for the interface to appear, and `-o carrier` means wait for carrier

In theory, there could still be a race condition, as systemd-networkd may still not have configured the interface.
In practice, it should work, because we are asking systemd-networkd to evaluate the state of the interface.
This in itself causes enough delay to make this succeed, I expect.

[2022-01-11 16:16] pimzand commented on #481
`ExecStartPre=/lib/systemd/systemd-networkd-wait-online -i %j --operational-state=routable`

might just be perfect.

[2022-01-11 16:29] jimdigriz commented on #481
My underlying interface never goes routable, it has no IP address.
[code]

Glad you found something that works for you though.

[2022-01-11 16:35] jimdigriz commented on #481
...okay we are now getting into really ugly territory:
[code]

[2022-01-11 16:42] bluca commented on #21921
A general reminder aimed at nobody in particular that adhering to https://github.com/systemd/systemd/blob/main/docs/CODE_OF_CONDUCT.md is required for participants in issues and PRs on this org, and unhelpful messages will be removed without notice

[2022-01-11 16:43] pimzand commented on #481
Yes, I suppose there is no hard relation with operational status (routable/carrier) and the setup status (configured).

So what we really need is a `--setup-state` option for systemd-networkd-wait-online.

I did assign an IP address to the underlying interface, even when it is not needed.
By doing so, I may have created a perfect workaround by associating "routable" with "configured".

[2022-01-11 16:49] jimdigriz commented on #481
I read https://github.com/systemd/systemd/blob/v247/src/network/networkd-link.c#L2037-L2152 and it looks like 'carrier' (ie. link up) is guaranteed to occur after MTU is set as some NICs bounce the link state that causes loops in the logic. I'm sticking with just `systemd-networkd-wait-online`.

[2022-01-11 16:55] rosenbergj commented on #19626
Being able to directly specify `UpheldBy=` would probably address the issue, though. I agree that this would be a useful feature.

[2022-01-11 16:59] aTanW commented on #9918
IPSec in kernel configured by IKE daemon, that fires up as a normal system service by systemd. It establishes SAs with peers, and after that I bring up GRE interfaces with that peers in IKEd's event scripts with help of "ip" tool.
It is the "right way" to have all network configuration in one place, here it is under systemd-networkd control. But how to hold configuraion of GREs until IKE daemon st

[2022-01-11 17:05] #22068 closed

[2022-01-11 17:06] Curtis-Jiang-2020 commented on #481
This is what I saw in systemd-networkd debugging log for pppoe-wan
Only a few lines are DHCPv6-PD related and I don't know what error it is.
@jimdigriz Do you have an example output for successful DHCPv6-PD? Thanks!
[code]

[2022-01-11 17:07] jqqqqqqqqqq commented on #481
This is what I saw in systemd-networkd debugging log for pppoe-wan
Only a few lines are DHCPv6-PD related and I don't know what error it is.
@jimdigriz Do you have an example output for successful DHCPv6-PD? Thanks!
[code]

[2022-01-11 17:18] yuwata commented on #13812
Unfortunately, yes. The commit breaks compatibility, so we cannot use different version of udevd and udevadm simultaneously.

[2022-01-11 17:34] jimdigriz commented on #481
@jqqqqqqqqqq Hopely I did not prune anything important to you (I removed all the LAN and [QoS IFB](https://github.com/tohojo/sqm-scripts), LLDP, RADV, DBus messages to clean up the noise). My ISP assigns me a /48 for DHCPv6-PD purposes in addition to the /64 for the PPP connection.
[code]

[2022-01-11 17:59] pimzand commented on #481
Great. In my case, the operational state "carrier" would quickly become "routable", so it would not be safe to depend on "carrier". Unless, like you, I remove the IP address from the underlying interface, so it stays at "carrier".

I still think having a `--setup-state=configured` option in systemd-networkd-wait-online would be the most elegant solution, but this is almost as good.

[2022-01-11 18:06] jimdigriz commented on #481
[manpage clearly states '--operational-state=**MIN_OPERSTATE**[:MAX_OPERSTATE]'](https://github.com/systemd/systemd/blob/372e8592c6e3a891174344be0899a91769ef61af/man/systemd-networkd-wait-online.service.xml#L76-L86) so my expectation is 'carrier' will capture its-self and subsequent states including 'routeable'; is this not what you are seeing?

[2022-01-11 18:16] pimzand commented on #481
You are absolutely right. I could test this from the command line without altering my configuration which I haven't yet.

[2022-01-11 18:24] jqqqqqqqqqq commented on #481
@jimdigriz

Thank you so much! I've already figured out that it is a firewall issue. My current logs looks similar to yours. Thanks for posting it!

[2022-01-11 18:59] wat-ze-hex commented on #22051
@evverx

Yes, please add me. The e-mail is in my profile.

[2022-01-11 20:06] #22084 closed

[2022-01-12 00:16] su-ex commented on #21995
After updating from systemd 249.7-1 to 250.2-1 with Debian sid, a bridge which worked totally fine before is stuck in degraded-carrier (configuring).
As a result, the wait online service fails and ipv6 prefix delegation is not working anymore.
Downgrading systemd solves this problem.

The config looks like this:
[code]

Is this a separate issue or maybe related this?

[2022-01-12 05:09] Toolybird opened #22089 ""systemctl status" Regression when running libvirt VM"
**systemd version the issue has been seen with**

**Used distribution**

**Linux kernel version used** (`uname -a`)

**CPU architecture issue was seen on**

**Expected behaviour you didn't see**

**Unexpected behaviour you saw**

**Steps to reproduce the problem**

run systemctl status

Not sure if this is a libvirt or a systemd issue. It only started as of systemd-2.50.

Obvious suspect:
https://

[2022-01-12 09:33] surfaceflinger opened #22091 "RFE: Support for TPM 1.2 in systemd-cryptenroll"
**Is your feature request related to a problem? Please describe.**
Many older devices simply can't update to TPM 2.0. While personally I have Haswell, there are also tons of Sandy/Ivy Bridge devices running Linux. TPM 1.2 might be deprecated and have some security issues but let's be real - most Linux users that would want to use TPM 1.2 most probably just want to protect their servers from potent

[2022-01-12 11:28] mrc0mmand commented on #22089
Can reproduce this locally with `systemd 250-3` as well.

[code]

[2022-01-12 11:34] mrc0mmand commented on #22089
Reproducer without `systemctl`:
[code]

[2022-01-12 11:39] worksasintended commented on #2994
Tried to get an old W520 going again, same issue here. I think I remember having this issue only with the nvidia card active (I use the old 390-dkms for it).
Unfortunately, the integrated intel graphics card cannot use the digital graphic ports....

[2022-01-12 12:19] mrc0mmand commented on #22089
So, the problematic commit appears to be https://github.com/systemd/systemd/pull/21172/commits/038cae098b6d85ad9fb06594d36f49915d32f000. And the root cause is that `GetUnitProcesses` is not a valid operation for the root slice (`-.slice`):

[code]

/cc @poettering @keszybz

[2022-01-12 12:23] mrc0mmand commented on #22089
Ah, it's not `-.slice`, but `machine.slice`:
[code]

[2022-01-12 12:34] mrc0mmand commented on #22089
A bit more, possibly interesting stuff:

[code]

[code]

[code]

[2022-01-12 12:41] mrc0mmand commented on #22089
And to be even more specific:

[code]

[2022-01-12 13:05] #21891 closed

[2022-01-12 13:43] yuwata commented on #22051
Fix is waiting in #22093.

[2022-01-12 13:47] mrc0mmand commented on #22049
Looks like this was some kind of an intermittent issue, since https://www.freedesktop.org/wiki/Software/systemd/ works for me.

@peter-kehl can you confirm if this is still an issue for you?

[2022-01-12 13:58] yuwata commented on #22061
If you reload units by `systemctl daemon-reload` and unmount /boot, then the /boot is mounted with the expected option?

[2022-01-12 14:01] mrc0mmand commented on #20445
I see, thank you. @DaanDeMeyer is this behavior expected?

`systemd 248 (v248.9-1.fc34)`:
[code]

`systemd 250 (250-rc3-251-g3989bdc)`
[code]

[2022-01-12 14:03] mrc0mmand commented on #20445
I mean, it's a corrupted journal, but I think we should skip invalid entries consistently in both cases.

[2022-01-12 14:11] DaanDeMeyer commented on #20445
Can you send me the journal? I'll need to look into where exactly the error is coming from. I'm always looking to improve how we handle corrupted journals.

[2022-01-12 14:11] mrc0mmand commented on #20445
It should be still available through the dropbox link above: https://www.dropbox.com/s/i0aser6pc8c27iq/system%400005d2b275abaaf8-f243a2818cb39b98.journal~?dl=0

[2022-01-12 14:13] yuwata commented on #22059
https://github.com/systemd/systemd/pull/21944#issuecomment-1003472130

TEST-02-UNITTESTS seems to be skipped on ppc64el, see e.g. https://autopkgtest.ubuntu.com/results/autopkgtest-focal-upstream-systemd-ci-systemd-ci/focal/ppc64el/s/systemd-upstream/20220109_183853_e8ad8@/log.gz

[2022-01-12 14:15] mrc0mmand commented on #21945
I wonder if this issue is related to https://github.com/systemd/systemd/issues/22089, since it seems to be in the same area.

[2022-01-12 14:20] yuwata commented on #22057
As already commented by @keszybz, I think it is already documented clearly. Is it OK to close this?

[2022-01-12 14:21] mrc0mmand commented on #21945
Yup, reverting https://github.com/systemd/systemd/commit/038cae098b6d85ad9fb06594d36f49915d32f000 helps.

Reproducer:
[code]

[2022-01-12 14:48] DaanDeMeyer commented on #20445
@belegdol can you try applying https://github.com/systemd/systemd/pull/22094 as well and see if that improves the situation?

@mrc0mmand Thanks for pinging me. I think the above patch will end up making journalctl even more robust against corrupt journals.

[2022-01-12 14:50] yuwata commented on #21945
Also systemd-cgls is broken when net_cls is mounted.

Fix is waiting in #22095.

[2022-01-12 15:01] keszybz commented on #22049
I fixed the icon on that page now…
Must have been some transient issue with the fd.o. Let's close.

[2022-01-12 15:01] #22049 closed

[2022-01-12 15:06] #3998 closed

[2022-01-12 15:23] mikehearn commented on #22057
I do still think it could be helpful to note explicitly that there's no way to access this data other than by parsing the files yourself. Given the way the feature currently works it doesn't add anything over comment syntax, which is a bit unexpected. Normally metadata extension mechanisms do expose the metadata somewhere even if they don't use it.

[2022-01-12 15:24] yuwata commented on #22089
Hopefully fixed by #22095.

[2022-01-12 15:25] zx2c4 commented on #21964
@yuwata I'm still waiting for you to merge that revert. Then we can go back to the drawing board to figure out how this "feature" should work, if it's even something we want at all.

This is *not* a matter of a few slapdash bug fixes, as I mentioned earlier. And I don't appreciate the hostage taking with respect to pressuring the discussion on the matter to resolve *NOW* with a list of things sent

[2022-01-12 15:32] codicodi commented on #21945
That's not the case for me.
Anyway, https://github.com/yuwata/systemd/commit/18e566419164bf4195ab1e04a8db7923025e0937 works fine, thanks!

[2022-01-12 15:49] bluca commented on #21964
@zx2c4 whether it's intentional or not, these last messages are coming off as unnecessarily aggressive - please knock it down a notch or two, this is all just some weird math running on a funny-looking pieces of sand and plastic

[2022-01-12 16:18] bluca commented on #21945
For reference, this is the doc: https://systemd.io/CGROUP_DELEGATION/

[2022-01-12 16:43] codicodi commented on #21945
Alright, thanks for explanation

I'll read some more on cgroups and report it there

[2022-01-12 16:43] #21945 closed

[2022-01-12 16:50] keszybz commented on #2355
I looked into this, but we now use netlink for all requests. We proxy dbus, so implementing -H/-M is very simple for dbus connections, but not for netlink. @yuwata do you think we could add a proxy for netlink too?

(#22096 is the cleanup I prepared while looking at the code…)

[2022-01-12 17:09] su-ex opened #22097 "Bridge stuck configuring after updating systemd to 250.2"
**systemd version the issue has been seen with**

**Used distribution**

**Linux kernel version used** (`uname -a`)

**CPU architecture issue was seen on**

**Expected behaviour you didn't see**

**Unexpected behaviour you saw**

After updating from systemd 249.7-1 to 250.2-1 with Debian sid, a bridge which worked totally fine before is stuck in `degraded-carrier (configuring)`.
As a result, the w

[2022-01-12 17:28] yuwata commented on #22097
Please provide debugging logs of systemd-networkd. It can be generated by creating the following drop-in config:
[code]

[2022-01-12 17:29] zx2c4 commented on #21964
- It's not clear whether this belongs in .netdev vs .network (push vs pull).
- It's not clear _who_ actually benefits from this feature at the moment and how common those users are.
- There are issues if you're a server with multiple peers.
- There are issues if you're a client with a default route.
- It's not clear exactly _how much of_ `wg-quick(8)`-style logic that systemd-networkd should inher

[2022-01-12 17:55] mrc0mmand commented on #21993
Local reproducer (with `systemd 250 (250-292-g5f5131c)`):

[code]

As described above, the `keyfile-timeout=` is apparently applied only when the key file is defined using the *external device* syntax (`<path>:<device spec>`). When the device itself is used as a key file, the default device timeout applies.

[2022-01-12 18:52] su-ex opened #22099 "DHCPv6 client fails to process reply message after updating systemd to 250.2"
**systemd version the issue has been seen with**

**Used distribution**

**Linux kernel version used** (`uname -a`)

**CPU architecture issue was seen on**

**Expected behaviour you didn't see**

**Unexpected behaviour you saw**

**Steps to reproduce the problem**

As a result, this interface can't acquire an IPv6 address and IPv6 prefix for prefix delegation through DHCPv6 anymore.
Downgrading sy

[2022-01-12 18:53] su-ex commented on #22097
@yuwata While updating systemd again so I can grab the logs I noticed that the bridge stuck in `configuring` is just a symptom:
The interface which should get the IPv6 prefix for the prefix delegation has multiple `wan0: DHCPv6 client: Failed to process received reply message, ignoring: Bad message`. If I set `DHCPv6PrefixDelegation=no` for my lan0 bridge interface, it get's configured again (of c

[2022-01-12 20:20] evverx commented on #22059
@yuwata Ubuntu CI runs the unit tests three times as normal unit tests, as the "unit-tests" test and as the "upstream" test. TEST-02-UNITTESTS is included in the "upstream" test and it's true it can be skipped with a denylist file (which is done on ppc64el). (in that particular case the issue was that even though I skipped TEST-02-UNITTEST the "unit-test" kept failing). I have no idea why it is so

[2022-01-12 20:42] gytsen commented on #22034
Digging around in the merge requests, it seems that there was a prior discussion about this that noted this behavioral difference (#17496). I think the summary is that while the idea behind the PR was correct, it reversed the logic meaning that if you turned it off for your unit, it turned ratelimiting off globally, which is not the desired behavior.

All in all, I think that the behavior you obse

[2022-01-12 20:54] Furgas commented on #22034
So it seems that there should be separate values for "disable limitting" and "use the global value". Maybe like that?
- 0: disable log limitting
- -1 (default): use global value

[2022-01-12 21:07] gytsen commented on #22034
that would be my first thought, but it seems that doesn't work for now. This is due to the default value being 0 for this property, and this property being an unsigned integer.

However, I've been digging in the code a bit more and it seems due to the chicken-egg problem of D-bus also logging to the journal, systemd cannot use D-bus to notify journald of per-unit rate limit settings.

Since these

[2022-01-12 21:16] #20445 closed

[2022-01-13 00:28] iam-TJ commented on #17380
[RFC4291 "IP Version 6 Addressing Architecture" section 2.1 "Addressing Model"](https://datatracker.ietf.org/doc/html/rfc4291#section-2.1):

"All interfaces are required to have at least one Link-Local unicast address (see Section 2.8 for additional required addresses). "

[2022-01-13 00:39] zx2c4 commented on #17380
I'm aware of that text. It doesn't change the fact that this isn't how WireGuard works.

[2022-01-13 04:29] march1993 opened #22101 "networkd: Name={gre0, gretap0, erspan0} should be avoided"
https://github.com/systemd/systemd/blob/df207ccb7be02b1ca6bdd0a2066a898e5b24ee86/man/systemd.netdev.xml#L100

It seems once ip_gre module was loaded, dummy interfaces gre0, gretap0 and erspan0 would be created. This should be documented.

[2022-01-13 06:05] yuwata commented on #22099
Could you try to dump the DHCPv6 packet, e.g. by `tcpdump -e -xx -n -vvv -i wan0 'ip6 and udp and (port 546 or port 547)'`?

[2022-01-13 06:09] yuwata commented on #22097
As you already mentioned, according to the log provided in #22099, the reason why the bridge interface stays in the configuring state is that the wan0 cannot handle the DHCPv6 reply message. Let's continue to investigate why DHCPv6 message is dropped in #22099. Closing.

[2022-01-13 06:09] #22097 closed

[2022-01-13 06:22] abouvier commented on #20268
I have the same problem with `NetworkManager`:

[code]
[code]

[2022-01-13 08:55] su-ex commented on #22097
Is there a way to have my bridge interface being configured although no IPv6 prefix could be delegated (but still using prefix delegation if it could acquire a prefix of course)?

[2022-01-13 09:10] su-ex commented on #22099
This is with the older systemd version where it's working fine:
[code]

This is with systemd 250.2:
[code]

[2022-01-13 10:54] yuwata commented on #22099
Hmm, the server sends broken NTP option...
[code]
It should be
[code]
Which DHCP server do you use? If the server is under your control, please try to fix the DHCPv6 server daemon.

[2022-01-13 11:04] yuwata commented on #22099
Note that the behavior is changed by b89a3758e92894162e3c2dcb594a55acff3274d5. Before the commit, the broken NTP option is ignored. But the commit makes the broken NTP option makes whole message dropped.

[2022-01-13 11:28] yuwata commented on #22099
Fix is waiting in #22106.

[2022-01-13 11:33] yuwata commented on #22097
@su-ex Please apply #22106. Unfortunately, there is no workaround for the issue. Also, see the comment https://github.com/systemd/systemd/issues/22099#issuecomment-1012022896.

[2022-01-13 11:38] su-ex commented on #22099
Sadly I don't really have control about the server. It's a [FritzBox 6660](https://en.avm.de/products/fritzbox/fritzbox-6660-cable/technical-specifications/) provided by my ISP.

[2022-01-13 11:45] yuwata commented on #22099
Then, I recommend to report the issue to your ISP.

[2022-01-13 12:36] getzze opened #22107 "[journalctl] Always showing the current boot - `-e` option after `-b` option cancels the latter"
**systemd version the issue has been seen with**

**Used distribution**

**Linux kernel version used** (`uname -a`)

**CPU architecture issue was seen on**

**Steps to reproduce the problem**

 $ journalctl --list-boots
 ...
 -2 48665a230e3346949035ea0130975d3b
 -1 7ef7a54648bf49cfb505825ae30d5df8
  0 d5c19bda3a884d9b953661c6fa7e5c2e
$ journalctl -e -b-1
...
Journal filter: _BOOT_ID=7ef7a54648bf49

[2022-01-13 13:34] yuwata commented on #22107
This is a regression caused by 2dd9285bacc2212e20853312f44175303c84807b.

[2022-01-13 14:03] medhefgo commented on #21289
I'm just gonna assume you hit the wrong button. Feel free to reopen.

[2022-01-13 14:03] #21289 closed

[2022-01-13 14:15] medhefgo commented on #18988
@Jookia Can you try out [this branch](https://github.com/medhefgo/systemd/tree/boot-serial)? You need to add `serial any` (or a specific number) to `loader.conf` to get it to hopefully work. If it does, please press `p` in the menu and tell me if the separator lines properly use unicode box drawing characters (the ones on the left are unicode, the right use ascii to make it easy to tell the differ

[2022-01-13 14:20] medhefgo commented on #10869
@Keruspe Ping. (You can use a vanilla systemd-boot form v250 now for this).

[2022-01-13 14:34] medhefgo commented on #15068
As already stated, the `default` option needs to match the full filename for the entry to be selected since https://github.com/systemd/systemd/commit/6cd12ebcfe459466257ea63022a32515d756e719. That means it has to end with '.efi' for stub entries or '.conf' otherwise.
It is an unfortunate regression, but was needed. I am not inclined to create a workaround for this either, so I will be closing this

[2022-01-13 14:34] #15068 closed

[2022-01-13 14:49] medhefgo commented on #16457
There has been a recent change in how we select/sort the list. Please try latest `main` branch.

[2022-01-13 14:59] medhefgo commented on #10052
Is this still an issue with systemd-boot v250?

[2022-01-13 15:59] poelzi opened #22112 "Reboot hangs if volume group got renamed"
**systemd version the issue has been seen with**

systemd 247 (247.3-6)
+PAM +AUDIT +SELINUX +IMA +APPARMOR +SMACK +SYSVINIT +UTMP +LIBCRYPTSETUP +GCRYPT +GNUTLS +ACL +XZ +LZ4 +ZSTD +SECCOMP +BLKID +ELFUTILS +KMOD +IDN2 -IDN +PCRE2 default-hierarchy=unified

**Used distribution**

**Linux kernel version used** (`uname -a`)

**CPU architecture issue was seen on**

**Expected behaviour you didn't se

[2022-01-13 16:06] yuwata commented on #22112
Sorry, v247 is slightly old here... Could you reproduce the issue with recent release (v249 or v250) or current git HEAD?

[2022-01-13 16:18] su-ex commented on #22099
I can try, but I doubt my ISP will care in the slightest. 🙄

I've now built the Debian systemd package with your patches and can confirm it's working again with the log telling `wan0: DHCPv6 client: Failed to parse NTP server option, ignoring: Bad message`. 👍🎉

[2022-01-13 16:20] yuwata commented on #22099
Thank you for testing the PR!

[2022-01-13 16:26] doverride opened #22113 "systemd-nspawn 250"
This surfaced since 250. Anyone seen it?

[code]

[2022-01-13 16:30] doverride opened #22114 "Support for encrypted credentials not available."
systemd 250 on Debian, what is missing here? I could not find any hints in documentation as to what kind of "support" it is referring to.

[code]

[2022-01-13 16:45] yuwata commented on #22113
Please provide debugging logs of nspawn, and .nspawn file or command line options.

[2022-01-13 16:49] doverride commented on #22113
the latter (i get back to you with debug logs later)

[code]

[2022-01-13 16:58] mrc0mmand commented on #22114
`systemd-creds` requires systemd to be built with OpenSSL for this stuff to work:

https://github.com/systemd/systemd/blob/4d6455c0754e31ddc9590c7b9c9a373d82ec0ed4/src/shared/creds-util.c#L77

otherwise it falls back to the EOPNOTSUPP error you've encountered

https://github.com/systemd/systemd/blob/4d6455c0754e31ddc9590c7b9c9a373d82ec0ed4/src/shared/creds-util.c#L962-L973

[2022-01-13 17:00] doverride commented on #22114
k thanks, I guess that is a Debian packaging issue then one way or another

[2022-01-13 17:00] #22114 closed

[2022-01-13 17:37] arvidjaar commented on #22061
`Options` inside unit of type `mount` cannot magically change unit type to `automount`. The `x-systemd.automount` is interpreted only by fstab generator. There is no bug.

[2022-01-13 18:13] mrc0mmand commented on #21725
@martinpitt I wonder if there's anything that could be done from the `umockdev` side for the *other* netlink stuff udev uses since 249 (iirc), because it significantly hinders its usefulness, e.g.:

[code]

[code]

The fail in the second case is caused by `udevadm` communicating with `udevd` over netlink, which then returns `ENODEV`, since it runs outside of the `umockdev` root:

[code]
(The respe

[2022-01-13 21:40] ugur1yildiz commented on #8449
When I try to create new service by
[code]
get an error :

[code]

Linux 4.14.256-197.484.amzn2.x86_64

[2022-01-13 22:03] mbiebl commented on #22059
One obvious benefit of having a separate "unit-tests" autopkgtest is that this test only requires `isolation-container`, so it e.g. can run on LXC, like used in the Debian CI infra.
This is in contrast to the monolithic "upstream" autopkgtest, which requires `isolation-machine`.

IIRC, the "unit-tests" autopkgtest also predates the upstream TEST-02-UNITTEST

[2022-01-13 22:15] mbiebl commented on #22059
I haven't really checked, but if TEST-02-UNITTEST and debian/tests/unit-tests run the exact same set of tests, then it might indeed make sense to skip TEST-02-UNITTEST.
Personally I would prefer that over dropping  debian/tests/unit-tests, as this autopkgtest, as said, is able to run on Debian CI via LXC (whereas unfortunately we can't run upstream on Debian CI yet).

[2022-01-13 22:17] bluca commented on #22059
the upstream suite is very different, as it runs in qemu and also in a completely different setup, so we want to keep both

[2022-01-13 22:19] mbiebl commented on #22059
Ok, thanks for the clarification. Can this issue be closed now then?

[2022-01-13 22:25] bluca commented on #22059
yeah, I think so, there's nothing actionable left

[2022-01-13 22:32] evverx commented on #22059
@bluca FWIW https://github.com/systemd/systemd/issues/11195 is pretty actionable

[2022-01-13 22:43] #22099 closed

[2022-01-13 23:02] MetalDroid opened #22116 "Mic error in Lenovo IdeaPad 700 15-ISK, 60-keyboard.hwdb"
Randomly shows a popup that says mic muted / mic unmuted.

This happens as of Ubuntu 20.04, and was recently reproduced also in Ubuntu 21.10.

As a workaround, I apply the following patch:

[code]

I suspect it is due to a lack of support for that particular model.

Please, if the report is not sufficient, feel free to ask me for any additional information.

All the best

[2022-01-13 23:38] evverx commented on #22059
@mbiebl fair enough. Thanks!

Given that the "upstream" test and the "unit-tests" test depend on the "systemd-tests" package I wonder if it would be possible to somehow fix issues like https://github.com/systemd/systemd/issues/21975 by changing the debian package in one place only? I mean, force-pushing stuff until it works isn't the best developer experience :-)

[2022-01-13 23:40] adam900710 commented on #21742
Easy, just another boot entry loading the overlay. If it crashes, switch to the original entry without the overlay.
In fact I use systemd-boot on all my arm boards mainly because it's much easier to have an interactive way to switch different kernels.
(U-boot extlinux loader doesn't provide switchable entry selection, GRUB is pushing too much towards auto-detect)

[2022-01-13 23:44] mbiebl commented on #22059
@evverx you are all over the place. I have no idea anymore what you want to see fixed, btw. hijacking this issue with several unrelated issues doesn't really help.

[2022-01-13 23:47] evverx commented on #22059
This particular issue is about `install_debian_systemd`: https://github.com/systemd/systemd/issues/22059#issuecomment-1008340367

[2022-01-13 23:48] mbiebl commented on #22059
this issue was about skipping the test. If you want to see issues in install_debian_systemd addressed, file a new issue

[2022-01-13 23:52] evverx commented on #22059
I think it was just renamed along the way. The original issue was about "fstab-generator-test" (which broke Ubuntu CI because `install_debian_systemd` failed to copy symlinks that shouldn't have been there in the first place).

Sorry about that. It's just that issues related to Ubuntu CI are ignored usually so I didn't expect anyone to pay attention to it.

[2022-01-14 00:06] evverx commented on #22059
FWIW I don't understand why there is an urge to close this issue right now considering it was just partly fixed. I generally have no problem with that because I can refer to closed issues (that aren't really fixed) as well. I'd let @mrc0mmand decide whether it should be closed or not though.

[2022-01-14 08:36] nitinexclusively opened #22119 "[hostnamed] Get "Serial Number" of device using hostnamed"
Hello ,
Currently , I am working to display "Serial Number" of device in gnome-settings . I am using ThinkPad X1 Yoga G6
We can get "Serial Number" of the device using sysfs "/sys/class/dmi/id/product_serial" . But since this needs root permission , we cannot directly access it .
Is it acceptable to add "serial number" in hostnamed ? Any comment regarding this will be helpful.
Thank you !1

[2022-01-14 10:35] mrc0mmand commented on #8449
I suspect you're using an old version of systemd. If that's the case, please follow up with your downstream distro. If you see this error with systemd 249 or 250, please open a new issue, so it can be properly looked at.

[2022-01-14 10:38] ondrejv2 opened #22120 "new Unit type request"
Currently we only support few SystemD unit types which are mostly derived of two basic types:
- simple
- forking
Now I am wondering if we could add another "forking" - type of unit, which is considered "Active" immediately after main PID is started -
i.e. much like in "simple" unit-type, but will work like "forking" so will finish only after the main PID and all it's forks finishes.

Does it make

[2022-01-14 10:38] mrc0mmand commented on #22059
@evverx could you sum the `install_debian_systemd` woes up in a new issue? I agree that this one is pretty bloated already, so having it in a new one has a higher chance of someone taking a look at it (including me).

[2022-01-14 10:42] evverx commented on #22059
Agreed. Sorry about that.

I'll try to do that once I've gotten round to it.

[2022-01-14 10:42] #22059 closed

[2022-01-14 10:48] Jookia commented on #18988
I'm going to tag @xogium in to this thread, they'll be trying your branch sometime soon. Their machine is a B450-PLUS, unknown if it even supports serial EFI. The use case is visual impairment making early boot troublesome to use.

If this doesn't work I imagine the only other solution would be to implement support for the typical x86 serial port.
I don't know much about EFI programming, but is it

[2022-01-14 10:51] bluca commented on #22120
This can already be achieved with the new `ExitType=cgroup` setting, please check that one out (new in v250)

[2022-01-14 10:51] #22120 closed

[2022-01-14 11:12] Jookia commented on #18988
I also do want to link in this thread about adding a beep to systemd-boot since it goes through some objections to what I'm suggesting above: https://github.com/systemd/systemd/issues/17508 Namely that adding arch-specific code isn't great.

There's two issues with x86 UEFI implementations that this issue concerns:

1. You can't switch to a serial console for UEFI's console
2. UEFI might not provi

[2022-01-14 12:36] p4block commented on #10052
@medhefgo Personally haven't had the issue for a long time.
I know some uefis go and fake a screen if you don't plug anything in, but the amount of hardware I run at this point with systemd-boot and no screen attached is probably in the dozens now with 0 issues.

[2022-01-14 12:56] doverride commented on #22113
Debug:

[code]

[2022-01-14 13:10] mrc0mmand commented on #22113
This sounds like https://github.com/systemd/systemd/issues/20989#issuecomment-997024152.

[2022-01-14 13:31] medhefgo commented on #17508
Please give that PR a try.

[2022-01-14 13:37] shalzz commented on #21644
I have the home user record property `icon-name` set for a user as `coffee2`.
I expected gnome-shell/gdm to automatically set that as a user avatar reading the file from a standard location (For gnome it can be found here: `/usr/share/pixmaps/faces/coffee2.jpg`).
However that didn't happen.

[2022-01-14 13:40] medhefgo commented on #21742
My point exactly. Just have a vanilla devicetree entry and an entry with devicetree overlay pre-applied. It's the same thing in green, just that the devicetrees are expected to be managed by userspace).

[2022-01-14 14:19] shalzz opened #22123 "[systemd-homed]: add fprintd login support to systemd-homed"
**Describe the solution you'd like**
Allowing configuring a login option using a fingerprint reader via libfprintd similar to the support for fido2 keys to act as an authentication method for unlocking and activating a home directory of a user.

Optionally have a authentication policy allowing granularity over a login method to be used  for the first login, DM login, sudo/privileged user requests,

[2022-01-14 16:09] gdonval opened #22124 "[systemd-homed] fails to resize"
**systemd version the issue has been seen with**

**Used distribution**

**Linux kernel version used** (`uname -a`)

**CPU architecture issue was seen on**

**Expected behaviour you didn't see**

**Unexpected behaviour you saw**

**Steps to reproduce the problem**

Looking at `journalctl`, `systemd-homework` tells me `Couldn't change image size`.

Activating debug mode shows that `systemd-homework

[2022-01-14 16:36] gdonval commented on #19208
*https://fidoalliance.org/specs/fido-v2.0-rd-20170927/fido-client-to-authenticator-protocol-v2.0-rd-20170927.html*

AFAIK, if no credential matches, the keys won't lit up. If multiple keys have a match, they'll just send back the correct assertion data. Systemd then "just" have to unlock with whichever device is answering first and then cancel the request for the rest of them.

[2022-01-14 19:00] soubhik-c commented on #14385
logrotate also fails for me.  something like

`
/var/log/buygame.log
{
        su buygame buygame
        rotate 4
        daily
        missingok
        notifempty
        compress
        delaycompress
        sharedscripts
        create 644 buygame buygame
        postrotate
                invoke-rc.d rsyslog rotate >/dev/null 2>&1 || true
        endscript
}
`

fails with service definition

[2022-01-14 20:39] pimzand commented on #481
I just rebooted for the first time using the `ExecStartPre=/lib/systemd/systemd-networkd-wait-online -i %j -o carrier` trick.
At first it did not look to be very efficient. There was a 12 second delay before pppd would continue, after gaining carrier.
The trick was to remove the IP address from the PPPoE ethernet interface, just like @jimdigriz does in his example.
Now the whole network setup is f

[2022-01-14 22:33] ugur1yildiz commented on #8449
You are right mine is 219 :)

[2022-01-15 03:00] renukamanavalan commented on #10529
I ran a script to restart rsyslog service repeatedly, which failed after 5 restarts.
So I made the script to call "systemctl reset-failed rsyslog" and resume the restart loop.
But the next attempt to "restart rsyslog" fails.
I had to add a 7 seconds sleep after reset-failed, to let the next restart succeeds.
If I have to pause, I really don't need reset-failed.

So why is the reset-failed not help

[2022-01-15 04:58] ILMostro commented on #14495
Is it not a sane suggestion to assume that Linux console is available on Linux systems? If defaults or compromises are sought, shouldn't that be the lowest common denominator?

[2022-01-15 08:00] ipaqmaster commented on #15208
Same issue on Archlinux on a host with dual Broadcom network interfaces (NetXtreme II BCM5709 Gigabit Ethernet).

The 98-bond-mac.link solution has worked around the problem for me as well.

The LACP/802.3ad bond to my switch would send packets, but even ARP responses were not making it back. The bond interface churn state stayed in "monitoring" for both interfaces. This worked just fine with the

[2022-01-15 08:33] paulmenzel opened #22128 "`journalctl --vacuum-time=1w` does not remove old journals"
I am using Debian sid/unstable with *systemd* 250.2-3.

    $ systemd --version
    systemd 250 (250.2-3)
    +PAM +AUDIT +SELINUX +APPARMOR +IMA +SMACK +SECCOMP +GCRYPT +GNUTLS -OPENSSL +ACL +BLKID +CURL +ELFUTILS +FIDO2 +IDN2 -IDN +IPTC +KMOD +LIBCRYPTSETUP +LIBFDISK +PCRE2 -PWQUALITY -P11KIT -QRENCODE +BZIP2 +LZ4 +XZ +ZLIB +ZSTD -BPF_FRAMEWORK -XKBCOMMON +UTMP +SYSVINIT default-hierarchy=unifie

[2022-01-15 09:40] mrc0mmand commented on #22128
I suspect the respective journals are still online, not archived - please check `journalctl --headers`. As all vacuum options work only on archived journals, you might need to do combine the vacuum command with `--rotate` (as `journalctl`'s man page suggest), so the journals are rotated & archived first.

[2022-01-15 09:46] paulmenzel commented on #22128
Two are online, one is offline:

[code]

[2022-01-15 10:06] mrc0mmand commented on #22128
Could you past output of `SYSTEMD_LOG_LEVEL=debug journalctl --vacuum-time=1w`?

[2022-01-15 10:54] mrc0mmand commented on #22128
Ah, nevermind, I see - you're currently using both runtime and persistent journals, maybe from a previous `journalctl --relinquish-var` call or other runtime/persistent switch shenanigans? Nevertheless, the persistent journal in /var/log is offline, not archived, hence it's ignored by vacuum operations, since they work on archived journals only.

[2022-01-15 12:35] schiavonedimitri opened #22129 "[RFE]: ass support for tpm2 authorization hierarchies password protected."
**Is your feature request related to a problem? Please describe.**
Yes, the problem being unable to enroll keys in a tpm2 device with the owner hierarchy password protected. See [here](https://tpm2-tools.readthedocs.io/en/latest/man/tpm2_changeauth.1/) for reference.
When running systemd-cryptenroll on a tpm2 device with the owner hierarchy protected by a password the following message is reported

[2022-01-15 15:30] zotanmew commented on #21964
This just broke my entire routing setup as this breaks connectivity of every node using BGP over wireguard, which requires ::/0 allowedips. I like this behavior in general, but making it opt-out instead of opt-in is breaking systems to an unacceptable degree.

[2022-01-15 15:31] zx2c4 commented on #21964
Indeed my inbox is lit up with folks like you who have been hit by this. I don't know why @yuwata hasn't merged the revert yet. Every day this remains the problem gets worse.

[2022-01-15 16:10] bhack commented on #10579
Any news on this for v251?

[2022-01-15 17:19] vincentbernat opened #22131 "DNSSEC validation fails for a record without a DS record nor a SOA record"
**systemd version the issue has been seen with**

**Used distribution**

**Linux kernel version used** (`uname -a`)

**CPU architecture issue was seen on**

**Expected behaviour you didn't see**

**Unexpected behaviour you saw**

**Steps to reproduce the problem**

1. Configure resolved with:
[code]
2. Restart systemd-resolved
3. Query: `resolvectl query dns.nextdns.io`

resolved seems to reach th

[2022-01-15 18:38] JHBoricua commented on #15208
@ipaqmaster Can you clarify something for me? When you say you stopped NetworkManager and created the bond manually and it works (which I presume means the LACP bond comes up after reboot), does that still requires the 98-bond-mac.link file to be present?

[2022-01-15 19:26] ptommy commented on #3107
Would it be possible for systemd to store the latest unit activation and inactivation times for a timer that needs it on disk? Then OnUnitActiveSec and OnUnitInactiveSec could continue in a timely manner after a reboot or crach.

I understand that inactivation due to a crach can not be saved to disk, but in case of a crach this is not really an inactivation, and it is detectable (latest activation

[2022-01-15 19:38] vincentbernat commented on #22131
FI, a SOA record is being added to check if it works around the issue. If you try to reproduce it, use `abcd.test.nextdns.io` which won't get a SOA and has the same problem.

[2022-01-15 23:13] ipaqmaster commented on #15208
Apologies I'll edit the post to be more clear as well - I mean that I stopped the NetworkManager service (giving up) and tried making the bond myself with the `ip` command just to see how that goes and that worked fine. It was only bonds created by NetworkManager experiencing this problem.

After I added the 98-bond-mac.link file with its contents and rebooted, NetworkManager was able to create th

[2022-01-16 05:55] s7hoang opened #22133 "UpheldBy property does not exist"
**systemd version the issue has been seen with**

**Used distribution**

**Linux kernel version used** (`uname -a`)

**CPU architecture issue was seen on**

**Expected behaviour you didn't see**

   -> UpheldBy=a.service

**Unexpected behaviour you saw**

   -> \<empty\>

**Steps to reproduce the problem**

**Additional program output to the terminal or log subsystem illustrating the issue**

[cod

[2022-01-16 06:46] yuwata commented on #22133
Thanks. Fix is waiting in #22134.

[2022-01-16 08:40] Jookia commented on #18988
Okay, so @xogium tested this and didn't get serial output. I can replicate those results.

I also installed UEFI shell. I don't have any screenshots or transcriptions of it, and I'm also not too sure just what I should be looking for, but after digging around for a while I think the picture is this:

- The only I/O protocol handlers are for input devices (mouse, keyboard) and output devices (graph

[2022-01-16 10:34] #17508 closed

[2022-01-16 14:04] #21964 closed

[2022-01-16 14:05] #22133 closed

[2022-01-16 14:57] zx2c4 commented on #21964
Looks like you didn't merge the revert. That's extremely disappointing, especially given how little you've engaged here and how much effort has been expended by myself and others into looking at this situation.

Needless to say, I won't be working further with @yuwata until this matter is rectified. You've burned a lot of goodwill.

[2022-01-16 14:59] zx2c4 commented on #21964
CC @poettering

[2022-01-16 15:12] medhefgo commented on #18988
Does `devtree` at least list serial devices?
[code]
Also, does `dh -p Sio` and `dh -p SerialIO` list anything of interest?

[2022-01-17 01:06] Jookia commented on #18988
devtree lists this:

[code]

dh -p Sio -d -v lists this (Wonky OCR incoming):

[code]

dh -p SerialIO shows nothing.

[2022-01-17 08:26] ManDay opened #22145 "`udevadm hwdb` undocumented"
The `hwdb` subcommand is neither in the manpage nor the online help `udevadm help`.

[2022-01-17 09:42] yuwata commented on #22145
The subcommand is deprecated. As you can see the following.
[code]

[2022-01-17 09:42] #22145 closed

[2022-01-17 09:59] ManDay commented on #22145
Thanks. This appears to be a Gentoo issue of sorts then.

[2022-01-17 10:31] doverride opened #22146 "systemd-portable (250) --extension documentation"
The documentation for --extension=PATH in the portablectl manual page is unclear.

This feature functionality is also inconsistent with `ExtensionImages=` (systemd.exec)

I would argue that it should be interchangeable

ie if ExtensionImages=/var/lib/extensions/myext.raw works for a service then --extension=/var/lib/extensions/myext.raw should also work with a portable service

instead if fails wi

[2022-01-17 10:42] bluca commented on #22146
They should be interchangeable - that error is telling you that the extension-release metadata of myext.raw doesn't match the os-release metadata of apache2.raw, what are the contents of the respective files?

https://www.freedesktop.org/software/systemd/man/os-release.html#/usr/lib/extension-release.d/extension-release.IMAGE

There's also more documentation here:

https://systemd.io/PORTABLE_SERV

[2022-01-17 10:53] doverride commented on #22146
The inconsistency is this

portables --extension= requires /usr/lib/extension-release.d/extension-release.NAME to exist *** on the extension image ***

systemd.exec ExtensionImages= requires that this file exists *** on the host *** only

[2022-01-17 10:55] bluca commented on #22146
Uhm, it shouldn't, both need to require it in the image, not in the host - what systemd version are you using, and can you share the directory structure of the images being used and the content of os-release and extension-release?

[2022-01-17 11:03] doverride commented on #22146
250

[code]
[code]
[code]
If i remove the /usr dir from the "myext..raw" image then:
1. portablectl --extension= will break
2. system.exec ExtensionImages= will still work

bottom line: systemd.exec ExtensionImages= does not require a /usr/lib/extension-release.d on the image

[2022-01-17 11:07] doverride commented on #22146
but yes i guess `man systemd.exec` is clear about that requirement
[code]

[2022-01-17 11:07] bluca commented on #22146
Ok, I'll try to repro later and fix it, thanks.

Is the documentation on systemd.io enough to clarify how --extension works? I need to link that doc in the manpage

[2022-01-17 11:14] doverride commented on #22146
I guess the documentation in systemd.exec and systemd-sysext are clear. The documentation in portablectl wrt --extension can probably be improved

But in the end what confused me is that ExtensionImages= works fine without a `/usr/local/lib/extension-release.d/extension-release.NAME` on the image (but I did have that one the host)

[2022-01-17 11:52] doverride commented on #22146
Not quite related but now that i have "myext.raw" to work with --extension and ExtensionImages= I wanted to try this on the host with systemd-sysext:

Jan 17 12:34:59 myguest1 (sd-sysext)[486]: Device '/var/lib/extensions/myext.raw' is loopback block device with partition scanning turned off, please turn it on.

What is it telling me? How do i turn this on?

This image was created with systemd-rep

[2022-01-17 12:22] doverride commented on #22146
never mind: https://blog.lazy-evaluation.net/posts/linux/ubuntu-loop-max_part.html

[2022-01-17 12:46] martinpitt commented on #21725
@mrc0mmand : I haven't looked too deeply into this, but it sounds rather closely related to https://github.com/martinpitt/umockdev/issues/164 . The latter is more accessible for me right now, so I'll start looking at that one first. With any luck, that's already the fix -- and otherwise I'll have learned enough about current udev to make debugging this one easier.

[2022-01-17 13:46] arianvp opened #22148 "Support 1.0.2-dev version of OCI runtime spec in systemd-nspawn?"
**Is your feature request related to a problem? Please describe.**
Both `containerd` and `podman` currently extract OCI bundles in the `1.0.2-dev` format. (Their header is `{"ociVersion": "1.0.2-dev").

Currently this causes systemd-nspawn not to start the oci bundle:

[code]

**Describe the solution you'd like**
Support the `1.0.2` version of the spec.  There don't seem to be that many big change

[2022-01-17 14:11] march1993 commented on #22101
I've created a PR: https://github.com/systemd/systemd/pull/22149

[2022-01-17 14:49] doverride commented on #22146
Actually no, that does not work reliably either....

https://github.com/systemd/systemd/blob/9519b41e529bc904b159acb87bdf84231599776b/src/shared/dissect-image.c#L3252

Strange because man systemd-sysext claims that gpt partition are supported

[2022-01-17 15:06] medhefgo commented on #17756
Can't say I can reproduce this myself with qemu. What qemu args are used to launch the VM?

[2022-01-17 15:24] doverride commented on #22146
I think that is a bug in systemd-sysext ... it should maybe be setting "LO_FLAGS_PARTSCAN" during setup?

specifying "loop.max_part" on the kernel command line enables part scanning for all loop devices but causes other weird behavior so that is a no-go

[2022-01-17 15:28] bluca commented on #22146
Would you be able to test it and send a PR if it works?

[2022-01-17 15:45] medhefgo commented on #4641
Version sorting (and selection) have changed recently. I now get this order (highest to lowest priority):
[code]

[2022-01-17 16:24] iranbingo opened #22151 "pam_systemd(crond:session): Failed to create session: Maximum number of sessions (8192) reached, refusing further sessions"
**Linux kernel version used** (`uname -a`)

**Steps to reproduce the problem**

Hi,

After we have updated SLES 15 SP1, Journal shows an Error:

Cron [45024]: PAM_SystemD (Crond: Session): Failed to Create Session: Maximum Number of Sessions (8192) Reached, Refusing Further Sessions.

SSHD [50481]: PAM_SystemD (SSHD: Session): Failed to Create Session: Maximum Number of Sessions (8192) Reached, Re

[2022-01-17 17:57] mrc0mmand commented on #21819
Looking at the second issue (btrfs related), there's a common denominator:

[code]

[code]

In all failed runs I've seen so far there always was the "floppy0" error after `udevadm settle`. Just for completeness, here's an excerpt from a successful run:

[code]

I'm inclined to drop the `/dev/floopy0` device from the test VMs to see if it helps, but I'm still not sure if this is a kernel issue our

[2022-01-17 21:15] #22087 closed

[2022-01-18 05:55] cubercsl commented on #22124
Same Problem, with `/home` ext4
Linux 5.16.0-arch1-1 #1 SMP PREEMPT Mon, 10 Jan 2022 20:11:47 +0000 x86_64 GNU/Linux

[code]
When I log out completely (disconnect from ssh) dmesg will output something like this, unless I have tmux or gnu screen running in the background.

[2022-01-18 06:46] Zeno-sole opened #22155 "systemd crashes unexpectedly"
**systemd version the issue has been seen with**

**Used distribution**

**Linux kernel version used** (`uname -a`)

**CPU architecture issue was seen on**

**Expected behaviour you didn't see**

**Unexpected behaviour you saw**

**Steps to reproduce the problem**

**Additional program output to the terminal or log subsystem illustrating the issue**

[code]

[2022-01-18 06:47] Zeno-sole commented on #22155
Since the log service has crashed, how should I get the crash information?

[2022-01-18 06:56] yuwata commented on #22155
Sorry, v241 is too old here. Please contact your distro, or try to reproduce the issue with recent release (v249 or v250) or the current git HEAD. Closing.

[2022-01-18 06:56] #22155 closed

[2022-01-18 08:30] yuwata commented on #21725
Hi, @martinpitt and @mrc0mmand. The issue https://github.com/martinpitt/umockdev/issues/164 is about the netlink socket for uevent. But IIUC, the above @mrc0mmand's question is about netlink for RTNL. So, it sounds not related for me. But I am not familiar with umockdev, I may wrong.

Maybe, we should add a new environment variable, say `$SYSTEMD_UDEV_USE_RTNL`, to make udevd not use rtnl to 'supp

[2022-01-18 09:33] keszybz commented on #21964
This was briefly answered by Yu above, but I'll expand a bit: we avoid breaking existing setups. This is the general rule and we follow it almost always. Nevertheless, there *are* cases where we do this, and usually that's when we cannot figure out a way to change things without some breakage somewhere. A case like this is when we redefine/split/clarify semantics of some early boot targets: in tho

[2022-01-18 11:34] #22089 closed

[2022-01-18 11:47] dhlavac commented on #8472
Having the same issue on F34, systemd 248 (v248.9-1.fc34),   cryptsetup 2.3.6 with encrypted  BTRFS partition

[2022-01-18 11:59] keszybz commented on #21964
#22136 has been backported to v250.3 now in.

[2022-01-18 12:16] bluca opened #22157 "systemd-boot EFI stub build is not reproducible"
Tested on v250.2, should be any different in main - even with the fixes for meson and files(), there's still a small diff found by the Debian repro CI build, as shown by diffoscope:

[code]

@medhefgo any idea?

CI job: https://salsa.debian.org/bluca/systemd/-/jobs/2376494
(a bit convoluted, can give direction to download binaries to compare if needed, the CI does two builds while altering things

[2022-01-18 12:34] yuwata commented on #21964
@zx2c4 Please do not get angry with our decision, and please understand our basic rule described in the above.
I feel sorry about that you feel your time is wasted. Actually, in a short time period, sometimes discussions and answering questions may look as a waste of time, especially for authorities. But it is not, especially for long time period. And unfortunately, your explanations are not suffi

[2022-01-18 12:41] mbiebl commented on #20212
@msekletar did you decide to backport all commits from #20603 or did you stick with the revert in RHEL?

[2022-01-18 12:45] zx2c4 commented on #21964
@yuwata The issue is that you did not engage or even discuss before moving ahead. It's insulting. Had you explained your rationale, engaged with the discussion here, and then made a decision, it'd be a different situation. Instead you just moved ahead with it on a Sunday, disregarding what I'd written. It doesn't send a nice message and leaves a _very_ sour taste in my mouth. Good luck.

[2022-01-18 13:24] mikhailnov opened #22158 "Not buildable with meson 0.61"
Systemd build broke after upgrading meson from 0.60 to 0.61

The Meson build system
Version: 0.60.3
Source dir: /tmp/abf/rpmbuild/BUILD/systemd-fab79a85af29ba1c1e237ace6c8078357c04b488
Build dir: /tmp/abf/rpmbuild/BUILD/systemd-fab79a85af29ba1c1e237ace6c8078357c04b488/x86_64-rosa-linux-gnu
Build type: native build

meson.build:3:0: ERROR: Unknown options: "default_locale, python, static"

It was a

[2022-01-18 13:32] mikhailnov commented on #22158
Oh, I am sorry, those were incorrect options passed to meson, e.g. -Ddefault_locale instead of -Ddefault-locale

[2022-01-18 13:32] #22158 closed

[2022-01-18 13:52] zx2c4 commented on #17380
This still needs to be reverted.

[2022-01-18 13:54] mbiebl commented on #22157
We also have issues with arm(hf),
see https://alioth-lists.debian.net/pipermail/reproducible-builds/Week-of-Mon-20211213/013354.html
and https://tests.reproducible-builds.org/debian/rb-pkg/unstable/amd64/systemd.html

The failures on amd64 and i386 are rather new.

[2022-01-18 13:55] mbiebl commented on #22157
I remember v249 building reproducibly at least on amd64 and i386 (and I think also arm64). Either something in v250 has changed or diffoscope in the mean time.

[2022-01-18 14:09] #22051 closed

[2022-01-18 14:14] yuwata commented on #21964
@zx2c4 Please provide concrete logic for what we should do and join constructive discussion, rather than such strong words.

The main issue here is previous working .netdev files for WireGuard do not work with v250. And the issue can be fixed without reverting the whole feature, as I wrote several times here and also in #22136. This logic should be pretty simple and clear, no?

Again, any suggesti

[2022-01-18 14:27] zx2c4 commented on #21964
The comment to have replied to before moving ahead without conversation was https://github.com/systemd/systemd/issues/21964#issuecomment-1011285491 . You ignored this and closed this issue. That slight is the problem. I've gone above and beyond in providing constructive conversation. Maybe you should re-read this thread. There's tons of analysis and discussion from multiple people. That you've jus

[2022-01-18 14:38] safecat commented on #13019
Have the same problem on Ubuntu 20.04.3 LTS alibaba cloud distribution (not able to reproduce on vagrant image), systemd version systemd 245 (245.4-4ubuntu3.14).
According to @teh, maybe alibaba cloud changed systemd start parameters or timezone database, already submitted a ticket to them, still waiting.

[2022-01-18 14:49] medhefgo commented on #22157
No idea. There's been to many changes to the sd-boot build system that it's impossible for me to take a guess.

[2022-01-18 14:54] yuwata commented on #21964
@zx2c4 First of all, you may doubt about that, but I feel thankful about the whole discussion in this thread, and I've recognized there exists multiple issues in the new feature. Also, your help in other PRs are much appreciated. That's very true.

But in this thread, there exists a missing link between 'the feature is useless and harmful' and 'the feature should be reverted' in your comments. Tha

[2022-01-18 14:55] bluca commented on #22157
The one I quoted in the description seems to point to the build-id getting changed, but _nothing_ else in the binary - is there any post-processing that could explain that?

[2022-01-18 15:00] zx2c4 commented on #21964
Please don't try to pretend retroactively like you were actually engaged in this discussion. You made the call that you did _without_ engaging. Here's a photo of the end sequence:

![image](https://user-images.githubusercontent.com/10643/149961632-d55eef46-35bd-4864-b25e-63787ca0273a.png)

I defer again to https://github.com/systemd/systemd/issues/21964#issuecomment-1011285491 which you still have

[2022-01-18 15:19] bluca commented on #21964
This is quite enough - we can endure some level of condescending, but straight up toxicity is not welcome. One warning was given, now it's time to stop posting.

[2022-01-18 15:34] lnussel commented on #22058
You may want to take a look at https://github.com/systemd/systemd/pull/21838
I started to fix some of the inconsistencies but the rabbit hole is deep.

[2022-01-18 16:01] eli-schwartz commented on #22158
https://mesonbuild.com/Release-notes-for-0-60-0.html#unknown-options-are-now-always-fatal

It's been a fatal error since 0.60.0, and you're not using meson 0.61 anyway. :p

[2022-01-18 18:44] vincentbernat commented on #22131
After adding a SOA record for steering.nextdns.io, resolved is able to do the verification. `abcd.test.nextdns.io` is still broken while valid.

[2022-01-18 22:41] #17756 closed

[2022-01-19 00:10] bluca commented on #22146
Found the issue with the validation - we were skipping it entirely if there was no VERSION_ID or SYSEXT_LEVEL, which is of course the case for rolling releases

[2022-01-19 00:12] bluca commented on #22146
@doverride with the validation fix and the updated manpage, is there anything else left pending for your use case?

[2022-01-19 00:28] bluca commented on #22146
Would you be able to test this PR? https://github.com/systemd/systemd/pull/22164

[2022-01-19 03:04] xiyou123321 opened #22165 "systemd-sysctl.service failed"
#systemctl status systemd-sysctl.service
鈼[0m systemd-sysctl.service - Apply Kernel Variables
   Loaded: loaded (/usr/lib/systemd/system/systemd-sysctl.service; static; vendor preset: disabled)
   Active: failed (Result: exit-code) since Wed 2022-01-19 10:45:03 GMT; 8min ago
     Docs: man:systemd-sysctl.service(8)
           man:sysctl.d(5)
  Process: 9349 ExecStart=/usr/lib/systemd/systemd-sysct

[2022-01-19 03:18] Edu4rdSHL commented on #15903
This feature hasn't been implemented yet, right? Because the solution described in the documentation doesn't work.

[code]

As you can see, the override file contains `Environment=SYSTEMD_IMPORT_BTRFS_QUOTA=false`, however, quota is still enabled on disk.

[2022-01-19 05:08] yuwata commented on #22165
Sorry v219 is too old here. Please contact to your distro.

[2022-01-19 05:08] #22165 closed

[2022-01-19 06:04] xiyou123321 commented on #22165
yesh,i know.But this problem did not occur on other machines

[2022-01-19 06:19] yuwata commented on #22165
I guess you use /etc/sysctl.conf and /etc/sysctl.conf.d/ files with newer format, which is not supported by old systemd.

[2022-01-19 06:34] xiyou123321 commented on #22165
the following is /etc/sysctl.conf ，But I don't think it's any different from a normal configuration file
#ll /etc/sysctl.conf
-rwxrwxrwx. 1 root root 1730 Dec  2 07:46 /etc/sysctl.conf

[2022-01-19 06:41] yuwata commented on #21819
@mrc0mmand Sorry for late response. For the second issue (btrfs), it seems `udevadm settle` is called too earlier. Like other places, I guess we should call `helper_wait_for_dev()` for the device(s).

[2022-01-19 07:09] doverride commented on #22146
https://github.com/systemd/systemd/pull/22164 fixes the aforementioned "partition scanning" issue. Thanks.

There is still an issue with systemd-sysext merge/refresh where it failed with "Failed to read metadata for image myext: File exists" but that is for another time.

[2022-01-19 07:13] yuwata commented on #22165
Anyway, here is not a support forum, but an issue or RFE tracker. Please contact to your distro.

Only I can say here is that try to check the contents of your sysctl files carefully. Sorry.

[2022-01-19 09:11] bluca commented on #22146
Can you share exact instructions for building the image triggering that? We can reopen this or a new one

[2022-01-19 09:22] mbiebl opened #22168 "getty: cursor state not reset"
Version: 250-1

This was originally filed downstream at https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=375275

[code]
[code]

It was originally filed against util-linux which provides agetty, but its Debian maintainer reassigned it to systemd, arguing that in `getty@.service` we call agetty with --noclear.

We do the initialization ourselves via
[code]

Maybe those should reset the cursor state

[2022-01-19 09:24] mbiebl commented on #22168
Quoting his response here in full:
[code]

[2022-01-19 09:39] bluca commented on #22168
Does paying init-string fix the issue?

[2022-01-19 10:15] mbiebl commented on #22168
I can try. What do you want me to set it to?

[2022-01-19 10:20] doverride commented on #22146
Something like this:
[code]

[2022-01-19 10:30] bluca commented on #22168
sorry, not really familiar with getty - was just going by the pasted comment above

[2022-01-19 10:55] lorn10 commented on #17056
Hi all, - just out of curiosity, was there any progress in this matter? Is sytemd able to handle this EFI mixed mode topic (as of 2022) properly?

Note, I'm now thinking this particular in conjunction with the [rEFInd](https://www.rodsbooks.com/refind/) boot manager and not GRUB.

Whatever, I guess that also rEFInd most likely needs some additional modifications to allow a mixed Mode EFI operation

[2022-01-19 11:23] ardbiesheuvel commented on #17056
In a nutshell, whichever link in the boot chain calls LoadImage() on the kernel image needs to deal with StartImage() potentially returning a failure, in which case the compat entrypoint needs to be invoked instead (provided that one exists for the arch in question)

[2022-01-19 12:13] yuwata commented on #21781
@anitazha Sorry for late response.

So, the host is connected to two separated networks. Is it possible to add a route prefix corresponding to each network in the RA message sent by the routers?

If the routers are not under your control, please try to add the following semi-static routes?
[code]

Then, networkd configures routes to prefixes provided in RA messages something like the following:
[c

[2022-01-19 13:18] yuwata commented on #21819
Is the file broken?? I cannot open with `journalctl --file`.

[2022-01-19 13:27] mrc0mmand commented on #21819
[code]

hmm, interesting. Let me look into that.

[2022-01-19 13:42] mrc0mmand commented on #21819
Not sure what happened but that journal is indeed corrupted. Thankfully, I managed to find another one with the same issue: [system.journal.tar.gz](https://github.com/systemd/systemd/files/7897532/system.journal.tar.gz)

[2022-01-19 13:43] onny commented on #9481
Unfortunately there seems to be no open PR to support this feature?

[2022-01-19 15:48] medhefgo commented on #22157
Please test the PR, I can't get reprotest to work myself. Also, if there are any other cc/ldflags that should be picked up for reproducibility, let me know.

[2022-01-19 17:53] yuwata commented on #21819
Ouch, the btrfs related issue is not fully fixed.
https://jenkins-systemd.apps.ocp.ci.centos.org/job/upstream-vagrant-archlinux/9599/artifact//systemd-centos-ci/index.html

[2022-01-19 19:43] cynecx opened #22177 "First time running resolvectl query produces "Invalid argument" error"
**systemd version the issue has been seen with**
 250.3

**Used distribution**
 Arch Linux

**Linux kernel version used** (`uname -a`)
`Linux cynecx 5.16.1-arch1-1 #1 SMP PREEMPT Sun, 16 Jan 2022 11:39:23 +0000 x86_64 GNU/Linux`

**CPU architecture issue was seen on**
x86_64 (Intel i7-6700K)

**Expected behaviour you didn't see**
[code]
After running the *second* time.

**Unexpected behaviour you

[2022-01-19 20:03] hmenke opened #22178 "systemd-resolved aborts with assert reading /etc/hosts"
When using [StevenBlack/hosts](https://github.com/StevenBlack/hosts) as `/etc/hosts` file and having set `ReadEtcHosts=true` (the default) systemd-resolved terminates with an assert and does not resolve queries.

This version of the hosts file was used: https://github.com/StevenBlack/hosts/blob/3.9.38/hosts

coredumpctl debug backtrace:
[code]

**systemd version the issue has been seen with**

**U

[2022-01-19 20:10] hmenke commented on #22178
It also looks like the `/etc/hosts` parsing code cannot deal with IPv6 zone identifiers as shown by this line in the logs:
[code]
However, this is not the source of the assertion.

[2022-01-19 20:26] yuwata commented on #22178
Thank you for the report. Fix is waiting in #22179.

[2022-01-19 20:27] steverweber commented on #14515
Personally I would like to see an option in: `/etc/systemd/journald.conf` to change the default output format,

[code]

What would also be nice is output format(s) that respect `LC_TIME`
[code]

[2022-01-19 21:10] bluca commented on #22157
After the last change, the only diff in the reproducible build test is in the `gnu_debuglink`:

[code]

[2022-01-19 21:38] bluca commented on #22157
So the difference is in the CRC checksum. From https://sourceware.org/gdb/onlinedocs/gdb/Separate-Debug-Files.html about `gnu_debuglink`:

<...>

[code]

[code]

[2022-01-19 21:42] bluca commented on #22157
So given an otherwise identical file, we get a different CRC checksum. Wat?

[2022-01-19 21:51] bluca commented on #22157
Ah of course, the problem is in the actual debugging symbols. The dbg packages were disabled in the previous build, I've enabled them now and I can see a diff. Does the following ring a bell @medhefgo

[code]

[2022-01-19 21:53] andrewchen5678 commented on #6854
Adding TCP6SegmentationOffload=false solves the issue for me:
cat /etc/systemd/network/0-e100efix.link
[code]
ethtool -k eno1  | grep seg
[code]

[2022-01-19 21:56] bluca commented on #22157
[out.html.gz](https://github.com/systemd/systemd/files/7900799/out.html.gz)

The side-by-side HTML rendering of the diff is more readable - looks like some symbols are moving up and down in the table

[2022-01-19 22:30] g0tar commented on #22168
`tput cnorm`? Or oc, rs1, rs2, rs3, is1, is2, is3 - apparently something from the list is missing.

[2022-01-19 22:33] medhefgo commented on #22157
Suggests files are processed in unstable order? But that makes no sense to me as the build logs show gcc build and link invocations to be the same sans build folder prefixes.

https://reproducible-builds.org/docs/randomness/ says something about LTO causing random identifiers and using `-frandom-seed`, but it doesn't seem to be needed for userspace?

Also, I am debating just stripping this file ou

[2022-01-19 22:39] bluca commented on #22157
Stripping it ourselves sound fine by me, assuming the distro tooling doesn't complain, but I can easily test that

[2022-01-19 23:20] robert-scheck commented on #17756
In case it's still relevant:

[code]

That's purely what `virt-manager` created.

[2022-01-19 23:28] rahilarious opened #22181 "[systemd-boot] Creates unnecessary empty directories in boot-path"
**systemd version the issue has been seen with**

**Used distribution**

**Linux kernel version used** (`uname -a`)

**CPU architecture issue was seen on**

**Unexpected behaviour you saw**

1. _/boot/EFI_
2. _/boot/EFI/Linux_

**Steps to reproduce the problem**

**Additional program output to the terminal or log subsystem illustrating the issue**

[code]

[2022-01-19 23:44] bluca opened #22182 "repart: should enable temp_fsid feature for newly created file systems by default to avoid EEXIST issues when mounting DDIs twice or shortly after each other"
**systemd version the issue has been seen with**

**Used distribution**

**Linux kernel version used** (`uname -a`)

First reported: https://github.com/systemd/systemd/issues/22146#issuecomment-1016289653

systemd-sysext refresh with a btrfs image sometimes fails with EEXIST:

[code]

Steps to reproduce on a mkosi Debian unstable image booted in qemu:

[code]

[2022-01-19 23:45] bluca commented on #22146
The original issues here are solved and this sounds quite different, so I've opened https://github.com/systemd/systemd/issues/22182

[2022-01-19 23:45] #22146 closed

[2022-01-19 23:59] #22181 closed

[2022-01-20 05:38] whot commented on #21856
did you rebuild the hwdb? `systemd-hwdb --update`, without that the changes don't take effect.

[2022-01-20 05:41] krutoileshii commented on #21856
Yes rebuild the db multiple times, even gave it a reboot just in case.

On Wed, Jan 19, 2022, 22:39 Peter Hutterer ***@***.***> wrote:

[2022-01-20 05:48] anitazha commented on #21781
Thanks I'll give it a try and report back!

[2022-01-20 05:53] jianwei1216 opened #22186 "lvm not recognize after reboot on centos 8.4.2105"
**systemd version the issue has been seen with**

systemd-239-45.el8.x86_64
systemd-libs-239-45.el8.x86_64
systemd-pam-239-45.el8.x86_64
systemd-udev-239-45.el8.x86_64

**Used distribution**

CentOS Linux release 8.4.2105

kernel-headers-4.18.0-305.3.1.el8.x86_64
kernel-tools-4.18.0-305.3.1.el8.x86_64
kernel-core-4.18.0-305.3.1.el8.x86_64
kernel-tools-libs-4.18.0-305.3.1.el8.x86_64
kernel-modules-

[2022-01-20 06:00] jianwei1216 commented on #22186
add @yuwata

[2022-01-20 06:04] jianwei1216 commented on #22186
Now the temporary solution is direct activate lvm by RUN command

[code]

[2022-01-20 06:04] whot commented on #21856
fwiw, after `sudo udevadm trigger` you can check if the hwdb entry succeeded, `udevadm info /sys/class/input/event3` should show the `KEYBOARD_KEY...` entry. This way you can rule out hwdb typos vs the actual remapping not working correctly.

[2022-01-20 06:41] yuwata commented on #21856
Note that `udevadm control --reload` (or restarting systemd-udevd) is also necessary after rebuilding hwdb. But @krutoileshii already tried to reboot. Hm...

[2022-01-20 06:52] #22178 closed

[2022-01-20 09:47] iranbingo commented on #22151
I found out that a bug in Systemd remains no longer fictional the D-Bus. You have to update systemd.
This update for systemd fixes the following issues:

- Revert "core: rework how we connect to the bus" (bsc#1193521 bsc#1193481)
sleep-config: partitions can't be deleted, only files can
shared/sleep-config: exclude zram devices from hibernation candidates

Fixes
systemd-234-24.99.1 causes systemd

[2022-01-20 09:47] #22151 closed

[2022-01-20 11:13] paulmenzel opened #22190 "resolve: ignore links in down state"
Using Debian sid/unstable with

    $ systemd --version
    systemd 250 (250.3-1)
    +PAM +AUDIT +SELINUX +APPARMOR +IMA +SMACK +SECCOMP +GCRYPT +GNUTLS -OPENSSL +ACL +BLKID +CURL +ELFUTILS +FIDO2 +IDN2 -IDN +IPTC +KMOD +LIBCRYPTSETUP +LIBFDISK +PCRE2 -PWQUALITY -P11KIT -QRENCODE +BZIP2 +LZ4 +XZ +ZLIB +ZSTD -BPF_FRAMEWORK -XKBCOMMON +UTMP +SYSVINIT default-hierarchy=unified

monitoring the system

[2022-01-20 11:44] yuwata commented on #22190
To retrieve information such as DNS servers from networkd. By accessing the file, resolved checks if the interface is managed by networkd or not. I guess that should not be harmful in general. Or, do you have any issues caused by that?

[2022-01-20 11:53] paulmenzel commented on #22190
It is not harmful. But unnecessary and waking the processor up needlessly I guess.

1.  Why does it (often) access the file several times in less than a second?
2.  NetworkManager is used on my system and not systemd-networkd. And can’t systemd-networkd inform systemd-resolved once it is taking over management of a device?

[2022-01-20 11:55] yuwata commented on #22186
Sorry, but here is an upstream issue or RFE tracker. Please contact to your distro, bugzilla.redhat.com. Or try to reproduce the issue with recent release (v249 or v250) or the current git HEAD. Closing.

[2022-01-20 11:55] #22186 closed

[2022-01-20 12:01] yuwata commented on #22190
There may be a chance that the networkd starts or processes the interface later than resolved does. So, resolved check the possibility every time when the interface state is changed. I guess such repeated access on the file occurs only when booting the system or configuring the network interface, and once the interface is configured, then the file merely accessed. Or do you observe the repeated ac

[2022-01-20 12:18] paulmenzel commented on #22190
Yes, I observe repeated access.

[2022-01-20 12:21] bluca opened #22192 "[Outreachy spring 2022] Applicants tasks/contributions"
# Intro

This ticket will serve as the central point tracking the contributions of perspective Outreachy (spring 2022 cohort) applicants.

For those interested, this process is described here: https://www.outreachy.org/apply/make-contributions/
The systemd project will participate for the first time this year: https://www.outreachy.org/communities/cfp/systemd/

A series of tasks will be listed her

[2022-01-20 12:38] yuwata commented on #22190
Hm. Strange. Will check.

[2022-01-20 13:01] jianwei1216 commented on #22186
I think systemd should slow down and seriously think about these problems, after all, a version has only been released for a short time.

[2022-01-20 13:13] yuwata commented on #22186
Sorry, but please understand the purpose of each issue trackers. Here is for upstream, and bugzilla (or any other distro's issue trackers) are for versions included in releases like CentOS 8, 9 or Fedora.

Feel free to request to reopen this page if you reproduce the issue with recent release.
Note, now we have a test suite for storage handling in udevd, and keep improving it.
So, if you reproduce

[2022-01-20 13:27] yuwata opened #22193 "test: add basic tests for Ceph to TEST-64-STORAGE"
Let's add several Ceph related tests to TEST-64-STORAGE.

I am not familiar with Ceph, but at least
- plain Ceph
- Ceph with LVM
cases should be added.

Prompted by #22186 (though, unfortunately the reported version is too old).

[2022-01-20 13:49] jianwei1216 commented on #22186
Bug 2043005 - lvm not activate after reboot on centos 8.4.2105
https://bugzilla.redhat.com/show_bug.cgi?id=2043005

[2022-01-20 13:55] jianwei1216 commented on #22186
Maybe systemd contains too many administrative tasks, and when something goes wrong, it will be the first thing exposed in the log.
Therefore, we must have enough patience to deal with these problems and be compatible with more software, hardware and operating systems. Only in this way, systemd will be perfect.
Enough test case coverage to determine the robustness of the software.

[2022-01-20 15:36] tomty89 commented on #22186
For the record, 69-dm-lvm-metad.rules has been [deprecated](https://sourceware.org/git/?p=lvm2.git;a=blobdiff;f=udev/Makefile.in;h=e777dda16d6b5155f4a701364b60d0f1e49752cd;hp=e32cba9210d1fbc7cdbd02452ffe9d43d0fa1c07;hb=67722b312390cdab29c076c912e14bd739c5c0f6;hpb=bbf8e7db74d744c1462a63ae2bc64f4d46e8db9f) ([albeit still maintained, apparently](https://sourceware.org/git/?p=lvm2.git;a=blobdiff;f=ude

[2022-01-20 16:06] yuwata commented on #22190
The file is accessed through `link_update()`, it is called when resolved receives `RTM_NEWLINK` netlink message, or a file is moved to the directory, or a file in the directory is removed.

If networkd is not running, then the directory is never touched. So, I guess `RTM_NEWLINK` message is broadcasted by kernel repeatedly.

Try to monitor RTNL message, e.g. iwd contains iwmon which can also monit

[2022-01-20 16:13] paulmenzel commented on #22190
Thank you for digging into this. It looks like that event is sent every ten seconds on my system (Wireless LAN turned off, and only Ethernet cable connected (e1000e).

[code]

[2022-01-20 16:37] keszybz commented on #6308
@matthijskooijman (and anyone else who commented): please check if #22195 DTRT for you.

[2022-01-20 17:34] kiwixz opened #22196 "Persistent DNS connections"
I use strict DNS-over-TLS ("on" mode), but I noticed systemd-resolved closes the connection after 10 seconds of inactivity.
It's too bad because it will then have to reconnect to satisfy the next cache-missed request.  This triples the time needed on my machine: 60ms to establish the TLS tunnel, and 30ms for any following requests in the 10s.

I'd like a config switch to make the outgoing DNS conn

[2022-01-20 18:26] yuwata commented on #22190
Interesting. Maybe, resolved should ignore links in down state.

[2022-01-20 19:21] amaltsev commented on #17745
I still see this problem with the current Fedora 35 / systemd 249 (v249.9-1.fc35). Same diagnostics in the log and same observed behavior, occasional failures in resolution from apps point of view.

[code]

[2022-01-20 21:27] yuwata commented on #22190
I hope the situation becomes better with PR #22199.
Unfortunately, the attempts of reading the link file cannot be removed completely even if the relevant interface is down.

[2022-01-20 22:03] WolleTD commented on #662
`systemd` advances the clock to `TIME_EPOCH` early, but in post-initrd time. The log says "build time", but it uses `stat -c %Y NEWS` and thats `1550139118 (2019-02-14T10:11:58+00:00)` for me (according to the [build2-logs](https://tests.reproducible-builds.org/debian/rbuild/buster/armhf/systemd_241-7~deb10u8.rbuild.log.gz)).

And that's also, where all my logs without RTC start, not in the 70s. O

[2022-01-21 00:44] #22030 closed

[2022-01-21 00:45] #22190 closed

[2022-01-21 07:47] berenddeschouwer commented on #662
An alternative to that might be to put clock in /boot/efi and get grub to pass it as an initrd option, ala boot loader entries.

It's better to support hardware workarounds very early in boot.

It's worse because now you're connecting grub and timesyncd in a hacky way, and it now depends on grub.

[2022-01-21 09:17] rfrail3 opened #22200 "Allow systemd.timer restart an active unit"
**Is your feature request related to a problem? Please describe.**
If you want to replace a cron task that restarts a running service, you can't replace it with one .timer file. That's because, as the [documentation](https://www.freedesktop.org/software/systemd/man/systemd.timer.html) points "_in case the unit to activate is already active at the time the timer elapses it is not restarted, but sim

[2022-01-21 09:46] paulmenzel commented on #22190
Thank you for taking care of this so quickly.

Out of curiosity, is it expected that these RTNL events are sent every ten seconds?

[2022-01-21 10:32] mwilck opened #22201 "Boot failure in multipath setup: systemd tries to mount invalid device"
**systemd version the issue has been seen with**

249 (very likely happens with current main, too)

**Used distribution**

openSUSE Tumbleweed, openSUSE Leap 15.4 beta

**Linux kernel version used** (`uname -a`)

`5.14.21-150400.3-default`

**architecture**

x86_64 (actually, any)

**Expected behaviour you didn't see**

This is observed with root on dm-multipath, in a VM, btrfs root with multiple

[2022-01-21 10:37] WolleTD commented on #662
Also, /var is required to be writable, $bootloader may be read-only.

What kind of hardware workarounds are you thinking of?

---

Of course, we could just load the time with a custom initramfs script:
[code]
I placed this in a script file for my initramfs-tools (there's no dedicated /var-Partition, which would have to be mounted before) and it's an improvement. I still got multiple `--- Reboot --

[2022-01-21 10:51] mrc0mmand commented on #21819
Yeah, TEST-64 seems to be now *angrier* than usual, probably sensing we're trying to silence it. Is there anything I could do to obtain some useful data for further debugging?

[2022-01-21 11:18] yuwata commented on #22190
Unfortunately, I do not have any idea. Maybe, the first step to investigate who triggers the RTNL event is stopping NetworkManager or wlan manager like wpa_supplicant or iwd.

[2022-01-21 11:22] #6308 closed

[2022-01-21 11:24] yuwata commented on #21819
I have not checked the rate of failure in the test, but if it increased, then I hope we are now closer to investigate the root cause of the issue :-p

Now, I am suspecting the behavior of blkid. Does it correctly detect btrfs filesystem even if btrfs module is not loaded yet? As you may observed, some (not sure if all) failure logs show that udev's blkid builtin command is triggered before btrfs k

[2022-01-21 11:38] berenddeschouwer commented on #662
I was just thinking of the lack of a RTC as a hardware bug, and working around the problem.

It's technically not a bug: it follows the spec.  It was just thinking about the problem like that.

[2022-01-21 11:49] berenddeschouwer commented on #662
grub already reads and writes /boot/grub2/grubenv before the kernel boots.  Can we shove a timestamp in there?

[2022-01-21 11:49] matthijskooijman commented on #6308
@keszybz Thanks! I haven't tested the PR, but from the documentation it seems like it would indeed fix my case *exactly*. Awesome!

[2022-01-21 12:10] frederictobiasc commented on #17866
@C0rn3j do you or anybody else has any news on this issue?

[2022-01-21 12:16] C0rn3j commented on #17866
It's not reported in any of the proper channels (as per my last message) to my knowledge, so I doubt there's any news.

[2022-01-21 12:59] WolleTD commented on #662
You can shove a timestamp wherever you want (just change the `$clock_file` path), but when we are searching for a systemd-solution, we shouldn't start relying on the bootloader, and especially not focus on grub. Many devices without RTC are embedded devices that are booted by u-boot or even some platform-specific bootloaders and not grub and may not have writable boot partitions.

Also, I'd argue

[2022-01-21 13:05] frederictobiasc commented on #17866
I created an issue at [LXC](https://github.com/lxc/lxc/issues/4052) and started a topic at the [LXC forum](https://discuss.linuxcontainers.org/t/hardened-service-fails-to-start/13118/20).

[2022-01-21 13:05] srd424 commented on #662
Is it worth considering filesystem metadata? ext4 has a last write time:
[code]

[2022-01-21 13:13] gdonval commented on #19398
@iznogoud-zz see if the workaround here works: https://github.com/systemd/systemd/issues/22124

[2022-01-21 13:15] gdonval commented on #22124
This looks like the same problem: #19398

[2022-01-21 13:24] iznogoud-zz commented on #19398
Hi @gdonval,

at the moment I am not using systemd-homed because I could not overcome the issue and really needed the extra space. So I can't really test it.

Don't know if we should close the issue or keep for investigation?

[2022-01-21 15:00] karelzak commented on #21819
libblkid works without any interaction with kernel modules; it looks up for magic strings at the block device, so all it needs from kernel is seek() and read() :-)

[2022-01-21 15:01] yuwata commented on #21819
@karelzak Thank you for the clarification!

[2022-01-21 15:07] yuwata commented on #21819
So the issue seems between how mkfs.btrfs writes filesystem information on a block device vs how udevd detects the filesystem change on the device. On failure logs, udevd detects block device change, trigger a synthetic uevent, and process it, everything before mkfs.btrfs finishes.

[2022-01-21 15:08] yuwata commented on #21819
Recent btrfs related failure: https://jenkins-systemd.apps.ocp.ci.centos.org/job/upstream-vagrant-archlinux/9631/artifact/systemd-centos-ci/index.html

[2022-01-21 15:10] karelzak commented on #21819
Always use `udevadm settle` after mkfs/fdisk/... and before you try to read anything from the device.

[2022-01-21 15:13] mlmatlock commented on #17191
Seeing the same line as well, systemd-250 (Arch).

`systemd-fsck-root.service @584542y 2w 2d 20h 1min 49.033s +12ms`

System has an RTC, and I don't see a time discrepancy like I do when (re)booting my Raspberry Pi (which also has an added RTC module).

[2022-01-21 15:39] yuwata commented on #21819
We use it, and unfortunately that's not enough. The issue seems to be in udevd synthesizing block device change. Though still I am not sure, that's just my guess.

[2022-01-21 15:58] brauner opened #22206 "core/namespace: Protect{Hostname,Subset} and ProcSubset=pid"
This is with systemd 250.

Starting any service with:
[code]
currently fails. A fix for this is waiting in https://github.com/systemd/systemd/pull/22203. That fix should be sound.

What I don't understand and would really like an explanation for is why the addition of `ProtectKernelTunables=true` makes a service with the aforementioned options work again:
[code]

I can understand it conceptually o

[2022-01-21 16:04] bluca commented on #22206
/cc @topimiettinen

[2022-01-21 16:12] krouma commented on #18389
Hi, I am also interested in this feature. Do you have any update?

[2022-01-21 16:17] yuwata commented on #18389
Unfortunately, not yet. But this feature is definitely in my TODO list.

[2022-01-21 16:32] WolleTD commented on #662
How exactly does the shutdown sequence work?

I'm now at
[code]
And that magic two is annoying. Thats about how log it takes from stopping `systemd-timesyncd` to stopping `systemd-journald` on my system, apparently. Trying to inject `ExecStopPost=touch $clock_file` into `systemd-journald` doesn't seem to work.

Also, when does journald stop? According to my shutdown log, local filesystems are un-

[2022-01-21 17:18] directhex opened #22207 "Allow override of HardwareModel value reported to org.freedesktop.hostname1"
**Is your feature request related to a problem? Please describe.**
It is ridiculously common for motherboard vendors to leave DMI information blank on hardware sold to consumers (rather than to Dell and HP), resulting in motherboards reporting their model as "To be filled in by O.E.M." or "System Product Name". GNOME Control Center dutifully reports the value taken from DMI:

![FJo_fMLXwAUWq4H](ht

[2022-01-21 17:27] medhefgo commented on #22157
Ultimately, building with debug symbols and LTO seems to be the root cause for this. Considering that bookworm is currently reproducible and unstable isn't, my best guess is some tooling changes. Could be worth investigating by someone more interested and knowledgeable.

In the end, I think it's best to just not generate debug symbols in the first place unless it's a developer build. This is a boo

[2022-01-21 17:58] medhefgo commented on #18988
So the serial device exists, but is either not active or no driver has attached to it. Not sure if there is anything I can do here. In theory one could write an EFI driver for this…

[2022-01-21 18:11] hadess commented on #22207
It can be overridden through quirks:
https://github.com/systemd/systemd/pull/15531/files

Though it could also be changed to respect the values in `/etc/machine-info` like we already support for chassis info.

[2022-01-21 18:12] hadess commented on #22207
cc @felipeborges

[2022-01-21 21:15] WolleTD commented on #662
I thought about that as well. In my head it's more generic, a "non-file location". Do other filesystems have this as well? Does this update on read-only mounts? If not, what's the advantage over mounting the partition and reading a file? Well, we're not mounting, but whats the advantage of that? We anticipate the partition to be mounted (and written to) anyway, otherwise the write time wouldn't be

[2022-01-21 22:31] topimiettinen commented on #22206
`ProtectKernelTunables=yes' makes a mount of `/proc/sys` with readonly flags. Maybe it defeats `ProcSubset=pidonly` by mounting the directory even if it wouldn't exist then?

[2022-01-21 23:11] #22157 closed

[2022-01-21 23:32] bobrik opened #22211 "cgroup limit setting errors can be swallowed"
**systemd version the issue has been seen with**

[code]

**Used distribution**

Debian Buster

**Linux kernel version used** (`uname -a`)

5.10.75, but applies to all of them.

**Expected behaviour you didn't see**

If I set `MemoryMax=15G`, I expect both kernel and systemd agree on the current value.

**Unexpected behaviour you saw**

In reality I see:

[code]

[code]

[code]

**Steps to reprodu

[2022-01-22 02:31] Jookia commented on #18988
You could just write directly to the hardware, no?

On Fri, Jan 21, 2022 at 09:58:25AM -0800, Jan Janssen wrote:

[2022-01-22 03:10] iamGavinJ opened #22213 "New "include" keyword in sd-boot entries files"
**Is your feature request related to a problem? Please describe.**
I have a number of sd-boot entry files which share many common `options`.  These options are duplicated across all entry files.

**Describe the solution you'd like**
Ideally, [src/boot/efi/boot.c](https://github.com/systemd/systemd/blob/df4ec48f45f518b6926e02ef4d77c8ed1a8b4e2c/src/boot/efi/boot.c#L1373) would provide an `include` k

[2022-01-22 07:49] #7390 closed

[2022-01-22 09:18] mrc0mmand opened #22215 "gcc-12 seems to be unhappy about `mfree()`"
**systemd version the issue has been seen with**

**Used distribution**

Recent Packit jobs fail with:

[code]

regarding

https://github.com/systemd/systemd/blob/f939a8984afb33e3242b8d18b40279876230dc61/src/fundamental/macro-fundamental.h#L282-L287

[2022-01-22 09:19] mrc0mmand commented on #22215
Given that clang-12 and clang-13 seem to be alright with this, I'd say it's an issue on gcc's side, but I tagged as "bug" just to be sure...

[2022-01-22 09:24] yuwata commented on #22215
I'd like to tag this 'not-our-bug' :-)

[2022-01-22 09:25] yuwata commented on #22215
C.f. #22191.

[2022-01-22 09:27] yuwata commented on #22207
Now I am working on this.

[2022-01-22 09:28] yuwata commented on #22119
Now I am working on this.

[2022-01-22 09:51] medhefgo commented on #18988
Yes, if you know what you're doing. (I don't)

[2022-01-22 10:13] bluca commented on #22215
Can we add a pragma to ignore it?

[2022-01-22 12:18] mrc0mmand commented on #22215
Interesting, the culprit seems to be `-ffat-lto-objects` when used with gcc-12 (and this option is added to `$CFLAGS` by rpm's hardening macros.

[code]

with `-fno-fat-lto-objects` appended:
[code]

[2022-01-22 12:56] mrc0mmand commented on #22215
Filed as https://bugzilla.redhat.com/show_bug.cgi?id=2043915.

[2022-01-22 14:52] t123yh opened #22217 "DHCP Server of systemd-networkd will not work on USB Gadget RNDIS connected to Windows"
**systemd version the issue has been seen with**
 249.5

**Used distribution**
 Buildroot

**Linux kernel version used** (`uname -a`)

 `Linux smartcross 5.15.10 #8 SMP PREEMPT Sat Jan 22 20:15:20 CST 2022 aarch64 GNU/Linux`

**CPU architecture issue was seen on**
 aarch64

**Expected behaviour you didn't see**
 systemd-networkd respond to DHCP requests sent from Windows

**Unexpected behaviour yo

[2022-01-22 15:45] directhex commented on #22207
It looks like, as a rule, if you didn't buy it from Dell or HP, the chassis and system DMI values are junk (since the OEM is expected to fill them in). The board DMI values are usable in this case

[2022-01-22 16:21] mateusz834 opened #22221 "systemd-resolved forward ad flag received from dns server"
**Is your feature request related to a problem? Please describe.**
So from my testing it looks like systemd-resolved is doing its own dnssec validation when DNSSEC is set to yes in /etc/systemd/resolved.conf. When DNSSEC=no then queries are not dnssec validated (as expected), but if the dns server is already doing dnssec validation  (ad flag is set in response), then systemd-resolved just removes

[2022-01-22 18:04] yuwata commented on #22217
@t123yh Hi! Could you test PR #22222. I do not have such hardware, so I cannot test it. Thank you.

[2022-01-22 20:18] JonnyWhatshisface commented on #22058
Thanks. My patch will need to be refactored to account for the changes you've made in halt_main() , so I'll take a look and start working on that.

I'm hoping to have legal approval this upcoming week. I'm happy to help continue refactoring and cleaning up once I get through that hurdle.

[2022-01-22 21:38] cjemorton commented on #5236
Found this issue by googling the journalctl message spam after setting up a minio s3 server on a vps provider.

I am not in control of which kernel is being used with the host.

This is one of the very reasons I try to avoid using any Linux based systems if at all possible, preferring instead the predictability of FreeBSD. That's just a personal choice however, so when it comes to something like t

[2022-01-22 23:21] RafaelMoreira1180778 opened #22223 "Google Chrome: Network service crashed, restarting service."
**systemd version the issue has been seen with**
[code]

**Used distribution**

**Linux kernel version used**

**CPU architecture issue was seen on**

**Expected behaviour you didn't see**

**Unexpected behaviour you saw**

**Steps to reproduce the problem**

**Additional program output to the terminal or log subsystem illustrating the issue**

[code]

Launching from the application drawer doesn't

[2022-01-23 01:36] t123yh commented on #22217
@yuwata Hi Yu,

Thanks for your great work!

After applying your patches from the PR, networkd now accepts the DHCP Discover from Windows and sent the OFFER. However, Windows doesn't seem to accept that OFFER.

I noticed two problems:

* You used `memeqzero` in `sd-dhcp-server.c`, however you didn't add `#include "memory-util.h"`. This will lead to compilation error.
* DHCP OFFER had the "Client A

[2022-01-23 01:45] t123yh commented on #22217
An extra problem, you mentioned ` See RFC2132 section 4.1.1.` in the comments, however I can't find 4.1.1 in [https://datatracker.ietf.org/doc/html/rfc2132#page-11](RFC2132). I wonder if it some misunderstanding of mine?

[2022-01-23 02:17] yuwata commented on #22217
Sorry, that should be RFC2131.

[2022-01-23 02:35] yuwata commented on #22217
I re-read RFC2131 and RFC4390, then I found that the current code has misunderstanding about chaddr handling. Will fix.

[2022-01-23 02:56] yuwata commented on #22217
@t123yh Thank you for testing the PR and investigating the issue in the PR. I've updated the PR. Could you test the PR again?

I did not observe such build error. Maybe, you applied the PR on v249 code base? Anyway, now `memory-util.h` is explicitly included in sd-dhcp-server.c.

Now, DHCP OFFER message always contains "Client Address" field except for when InfiniBand is used.
IIRC, Client Identif

[2022-01-23 03:08] t123yh commented on #22217
@yuwata

Indeed, yes.

I read RFC2131 again, and found that DHCP OFFER message MUST NOT contain Client Identifier. The statement from me of Client Identifier above may be wrong.

![截屏2022-01-23 上午11 06 22](https://user-images.githubusercontent.com/8972552/150663234-7d46e416-1736-457b-9988-be598035699e.png)

Anyway, I'll test your new patch soon. Thanks!

[2022-01-23 03:16] AdrianVovk opened #22224 "`bootctl install` modifies currently running system's state, won't work without a machine ID"
Using systemd v250 on carbonOS 2022.1

It seems like `bootctl install` now assumes that it will only ever be run inside of the system it will be booting. This assumption is wrong in many cases: it is only right if the system is being upgraded from a different bootloader to sd-boot. In most (all?) other cases, `bootctl install` will be invoked from within a _different_ copy of the OS than the one i

[2022-01-23 03:28] t123yh commented on #22217
Hi @yuwata ,

I have tested the PR and it works for me this time.

I have to add another `#include "memory-util.h"` to `dhcp-packet.c` because of `memcpy_safe`.

Sorry, I misunderstood what you mean. Now I know that you mean the "Client address" field, not the "Client identifier" option.

[2022-01-23 03:44] yuwata commented on #22217
Yay!! Thank you for testing!

I also added it into dhcp-packet.c. Thanks.

[2022-01-23 04:08] yuwata commented on #22224
@keszybz and @medhefgo I set 'regression' tag, but feel free to drop or downgrade the tag.

[2022-01-23 07:30] yuwata commented on #22223
I am not sure, but at RHBZ, it is reported that stopping resolved and edit resolv.conf propery fixes the issue.

So, I guess it is an issue in nss-resolve. Maybe caused by ae78529fc75027b3487b64e0d22a572fd9c8ffeb. And I guess 6e8ecb8974db74eba716bfd75231987172e10d83 fixes the issue.

Could you test the commit?

[2022-01-23 07:37] yuwata commented on #22223
Anyway, please bisect which commit introduces the bug.

[2022-01-23 09:54] EternityForest opened #22225 "Document the fact that systemd will apply the presets to every unit file on first boot"
**Is your feature request related to a problem? Please describe.**

When etc/machine-id is missing, it appears systemd applies all preset files, however, this behavior is non-obivous to anyone not aware of why it exists.

 The first boot service docs don't mention it, as it seems to be done by PID1.  The documentation for preset files, and the machine ID itself also don't seem to reference this.

[2022-01-23 12:14] mmaridev commented on #12527
+1 here, quite crucial to support environment files shared with sysvinit

[2022-01-23 19:19] #22217 closed

[2022-01-23 20:03] felagund opened #22228 "Impossible to susbscribe to the mailing list"
I reported this here: https://gitlab.freedesktop.org/freedesktop/freedesktop/-/issues/411

but nothing is happening and I thought I would bring it to your attention.

The mailing list seems to require filling captcha for signing up, but the captcha does not work. It is not displayed at all. This has been like this at least since the start of the year.
![Screenshot_20220123_210125](https://user-ima

[2022-01-23 20:26] rickyz opened #22229 "systemd-resolved returns SERVFAIL for reverse DNS lookups of 0.0.0.0/::0"
Reverse DNS lookups for 0.0.0.0 and some other addresses listed in [RFC6303](https://datatracker.ietf.org/doc/html/rfc6303) fail with SERVFAIL:
[code]

According to the RFC, NXDOMAIN should be returned for such queries. https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=961378 is an example of a program failure that can result from this behavior.

Looking at the code, it looks like reverse lookups

[2022-01-23 20:27] mrc0mmand commented on #22228
It indeed doesn't seem to display the captcha, but the subscription process seems to work nonetheless (after clicking on "Subscribe", I get an confirmation email). Does it work for you?

[2022-01-23 20:31] felagund commented on #22228
Ah, yes, all the confirmation e-mails were getting into spam, a basic mistake not to look there.

I was confused by the bold note there "(Note that you really have to sign up with the web form below, signing up via the mail service is not available for spam fighting reasons.)", I thought it meant no confirmation e-mail was involved at all.

Thank you, this can be ignored then.

[2022-01-23 20:31] #22228 closed

[2022-01-23 21:28] me-and opened #22230 "Cannot enable unit where the only [Install] sections are in drop-in directories for `-`-truncated unit names"
NB: the issue template says I should check that this is a report against one of the two most recent major systemd versions, and links to https://github.com/systemd/systemd-stable/releases for checking that. However that link -- at least for me -- gets me to a page saying "There aren’t any releases here", and it's not obvious to me how (or even if it's possible) to interpret the tags page to work t

[2022-01-23 21:50] yuwata commented on #22229
Fix is waiting in #22231.

[2022-01-23 21:55] #22207 closed

[2022-01-24 04:38] lilydjwg commented on #5755
But you no longer learn from user-provided information.

This isn't the sole use of the old behavior: you can no longer prioritize a nameserver. You may ask why it's important? ISP-provided DNS servers can usually get best results for CDN domains which are nearby and in the same network. But they may be slow (or fail) to answer infrequently used domains. On the other hand, public DNS servers are m

[2022-01-24 09:16] brauner commented on #22206
I found the culprit; it's `normalize_mounts()`. I renamed that function to `drop_unused_mounts()` and documented it a bit.

[2022-01-24 09:41] victor-sudakov opened #22234 "Message "Assertion 'a' failed at ../src/basic/path-util.c:433, function path_compare(). Aborting." when running `machinectl shell`"
**systemd version the issue has been seen with**

**Used distribution**

**Linux kernel version used** (`uname -a`)

**CPU architecture issue was seen on**

**Expected behaviour you didn't see**

**Unexpected behaviour you saw**

deb3 systemd[1]: container-shell@9.service: Succeeded.
deb3 systemd[1]: container-shell@9.service: Consumed 1ms CPU time.
deb3 systemd[1]: Started Shell for User vas.
deb

[2022-01-24 10:54] yuwata commented on #22234
Could you show the result of the `coredumpctl info XXXX` in the vm?

[2022-01-24 11:09] victor-sudakov commented on #22234
Sorry, `coredumpctl` in the VM says "No coredumps found."

[2022-01-24 11:11] victor-sudakov commented on #22234
There are coredumps on the host (Manjaro) system but they are not very informative.

[code]

[2022-01-24 12:08] jelly opened #22237 "[systemd-networkd] virtual machine's network is sometimes not brought up correctly"
**systemd version the issue has been seen with**

250

**Used distribution**

Arch Linux

**Linux kernel version used** (`uname -a`)

Linux archlinux 5.16.2-arch1-1 #1 SMP PREEMPT Thu, 20 Jan 2022 16:18:29 +0000 x86_64 GNU/Linux

**CPU architecture issue was seen on**

x86_64 (virtualized)

**Expected behaviour you didn't see**

A simple dhcp setup stopped working with the upgrade to 250 from 249.

[2022-01-24 12:11] #22229 closed

[2022-01-24 12:14] bluca commented on #22234
We need the stack trace - make sure libdw1 and the debugging symbols for systemd and machined are installed, and then reproduce the problem. coredumpctl info should then show the decoded backtrace

[2022-01-24 13:05] bluca commented on #22206
https://github.com/systemd/systemd/pull/22203

[2022-01-24 14:30] yuwata commented on #22237
Could you provide full debugging logs of networkd?

[2022-01-24 14:58] #22101 closed

[2022-01-24 15:29] jelly commented on #22237
[systemd-networkd.log](https://github.com/systemd/systemd/files/7926631/systemd-networkd.log)

[2022-01-24 15:31] yuwata commented on #22237
Thanks. I will take a look.

[2022-01-24 15:52] yuwata commented on #22237
Hm, that's quite strange. Why the DHCPv4 address is once configured but soon removed? If it is removed by networkd, then there should exist logs `Removing address: ...`, but there is no logs about that. I guess that another network interface management daemon is running on the system.

[2022-01-24 16:11] FireBurn opened #22238 "Long waits resolving DNS for samba"
**systemd version the issue has been seen with**

249.9

**Used distribution**

Gentoo
**Linux kernel version used** (`uname -a`)

5.16
**CPU architecture issue was seen on**

x86_64
**Expected behaviour you didn't see**

**Unexpected behaviour you saw**

It's taking a long time for systemd to resolve DNS in Samba calls
**Steps to reproduce the problem**

net usershare info
net usershare: usershar

[2022-01-24 16:12] FireBurn commented on #22238
Here's the output if ifconfig if it's useful

[code]

[2022-01-24 16:13] FireBurn commented on #22238
Original KDE bug https://bugs.kde.org/show_bug.cgi?id=446923

[2022-01-24 17:06] DemiMarie commented on #20485
Is systemd-resolved trying to send the data out the dummy interface?  That would of course fail and would explain the problem.

[2022-01-24 17:12] yuwata commented on #22237
OK. Let's close this. If you still find any issues, then please feel free to request to reopen this issue, or open a new issue page. Thank you.

[2022-01-24 17:12] #22237 closed

[2022-01-24 17:26] DemiMarie commented on #5398
Is this really tricky?

[2022-01-24 20:12] sven opened #22241 "Mount/Automount unit should detect and report CIFS mount status when network connection is lost"
**Is your feature request related to a problem? Please describe.**
I'm using systemd 250 on Manjaro and created a mount + automount unit file for a CIFS share. The intention is that I can use systemd via the D-Bus API as a reliable way to check whether the mountpoint is available or not. A simple test reveals that the mount unit still reports `active (mounted)` as ActiveState/SubState when the fol

[2022-01-24 20:27] elshyam commented on #15470
How could we save return value for `RequestOptions`, is there any specified location/file where is it saved?
I see my dhcp server send Requested Option but `systemd-networkd` is not saving. I am running `systemd-networkd` version 246.2, please let me know

Thanks in advance.

[2022-01-24 20:42] yuwata commented on #15470
@elshyam Unfortunately, currently systemd doesn't provide a way users to read/parse requested options.

[2022-01-24 21:09] #22119 closed

[2022-01-24 22:28] xavierog commented on #22234
Hello,

Same issue here, on a Debian Sid host with packages systemd{,-container,-coredump,-dbgsym,sysv,timesyncd} 250.3-1 + libdw1 0.186-1.
Unfortunately, the stack trace does not tell much:
[code]
However, the following observations may prove useful:

* this issue happens when machinectl-shelling into oldstable/buster containers with systemd 241-7~deb10u8
* I have not tested (yet?) with stable/bu

[2022-01-25 01:57] krutoileshii commented on #21856
I think it might be the mapping string, but not sure. Give a few other options a go and will report back.

[2022-01-25 02:04] victor-sudakov commented on #22234
I've just tried shelling into a bullseye container (systemd/stable,now 247.3-6 amd6), the issue does not happen.

[2022-01-25 02:51] keycommander commented on #21856
How about getting a preprogrammed keyboard.

Sent from my iPhone

[2022-01-25 05:46] garyvdm commented on #5317
Duplicate of #1942 ?

[2022-01-25 11:05] subdiff opened #22242 "Service in secondary D-Bus session does not log to journal"
**systemd version the issue has been seen with**

**Used distribution**

**Linux kernel version used** (`uname -a`)

**CPU architecture issue was seen on**

**Expected behaviour you didn't see**

**Unexpected behaviour you saw**

**Steps to reproduce the problem**

[2022-01-25 12:00] mrc0mmand commented on #22234
Ah, sweet, thanks. That's the detail I was missing, now I can reproduce it locally as well. I'll try to dig something useful out of it.

[2022-01-25 13:08] mrc0mmand commented on #22234
"First version" of a coredump:

[code]

[2022-01-25 13:14] anp135 commented on #18803
According to https://man7.org/linux/man-pages/man8/ip-vrf.8.html, you need to have **CAP_SYS_ADMIN**, **CAP_NET_ADMIN** and **CAP_DAC_OVERRIDE** capabilities for successfull run `ip vrf exec` code inside systemd units.

[2022-01-25 13:17] mrc0mmand commented on #22234
The respective core file for further inspection (requires systemd 241 - Debian oldstable): [systemd.core.tar.gz](https://github.com/systemd/systemd/files/7933815/systemd.core.tar.gz)

[2022-01-25 14:14] mrc0mmand commented on #22234
This one should be more useful:

[code]

[2022-01-25 14:19] mrc0mmand commented on #22234
Which, in turn, sounds like https://github.com/systemd/systemd/issues/15344 probably caused by a9c97bbbfb271d68b2ca4f3aa346fdf5e9c70c27.

[2022-01-25 15:57] yuwata commented on #22234
It seem the issue is fixed by e8cf09b2a2ad0d48e5493050d54251d5f512d9b6 (v246).

[2022-01-25 15:58] yuwata commented on #22234
Hence, please contact to your distro to backport the commit. There is nothing we can do in upstream.

[2022-01-25 16:22] jabberabbe opened #22243 "Set network device group with systemd-networkd"
**Is your feature request related to a problem? Please describe.**
Network interfaces reside in groups that can be used, e.g. in firewall rules, or to perform administration on multiple links (with `iproute2`). The default group is 0.

**Describe the solution you'd like**
It would be useful to have an option `Group=XX` in link configuration files to set the group via systemd-networkd as soon as th

[2022-01-25 16:27] yuwata commented on #22243
Hm? We have `Group=` setting in [Link] section of .network file. You mean, it does not work for you??

[2022-01-25 16:34] jabberabbe commented on #22243
Sorry, I think missed that. I mostly looked through the documentation of `.link` network files because I thought it could only make sense as a global per-link setting. RTFM to me.

[2022-01-25 16:36] #22243 closed

[2022-01-25 16:45] martinpitt opened #22244 "logind: Add PropertiesChanged mechanism"
**Is your feature request related to a problem? Please describe.**

We are trying to add the display of scheduled shutdowns to [Cockpit](https://cockpit-project.org/). For that, the cockpit page needs to react to changes of shutdowns, i.e. if some admin runs `shutdown +10` or `shutdown -c` at some point, so that the information stays accurate.

logind has a nice `ScheduledShutdown` property in its

[2022-01-25 17:48] yuwata commented on #20306
This is already fixed, and related fix is already backported. Closing.

[2022-01-25 17:48] #20306 closed

[2022-01-25 18:34] daiaji opened #22246 "[systemd-networkd] RequiredFamilyForOnline does not appear to be working"
**systemd version the issue has been seen with**

**Used distribution**

**Linux kernel version used** (`uname -a`)

**CPU architecture issue was seen on**

**Expected behaviour you didn't see**

**Unexpected behaviour you saw**

**Steps to reproduce the problem**
[code]
[code]
[code]
[code]
[code]
[code]

**Additional program output to the terminal or log subsystem illustrating the issue**

https

[2022-01-25 19:06] yuwata commented on #22246
Thanks.

- Please disable NetworkManager. The provided log suggests that NetworkManager is running on the system. It sometimes causes conflicts with systemd-networkd.service.
- Please try to edit systemd-networkd-wait-online.service with the following: by calling `systemctl edit systemd-networkd-wait-online.service`
[code]

[2022-01-25 23:18] bluca commented on #22244
Isn't the PrepareForShutdown signal enough?

[code]

[2022-01-26 04:38] daiaji commented on #22246
NetworkManager should have been disabled.
[code]
[code]
https://gist.github.com/daiaji/d116ef3ba0ead77ee5aac93bc53d7adb

[2022-01-26 05:06] martinpitt commented on #22244
@bluca : Perhaps, but in my busctl monitor (see the description)  there is no such signal. Only the general `NameOwnerChanged`/`NameLost` pair, which is just noise in this context.

[2022-01-26 05:17] yuwata commented on #22246
Hm, it seems the result may be expected. From the man page systemd-networkd-wait-online.service(8),

And from the log, it seems enp6s0 may be already configured and its operational state is equal or higher than 'degraded'. Because, in the last iteration, there is no line about enp6s0:
[code]
that suggests enp6s0 is already configured.

If you need that br0 is configured and it has IPv4 address, th

[2022-01-26 06:00] daiaji commented on #22246
[code]
[code]
seems to be available.
But I configured `RequiredForOnline=no` for all network files except br0, why still can't work.
Can I only configure -i br0 for systemd-networkd-wait-online?

[2022-01-26 06:19] yuwata commented on #22246
Doesn't it? I cannot reproduce it.
Could you show provide the result of `networkctl -n 0 status '*'`?

[2022-01-26 06:42] daiaji commented on #22246
[code]

[2022-01-26 07:00] yuwata commented on #22246
From your console, could you run `SYSTEMD_LOG_LEVEL=debug /usr/lib/systemd/systemd-networkd-wait-online`, and provide the result?

[2022-01-26 07:04] daiaji commented on #22246
[code]

[2022-01-26 07:05] yuwata commented on #22246
It finishes almost instantaneously? Or does it timed out?

[2022-01-26 07:06] daiaji commented on #22246
Complete in an instant

[2022-01-26 07:15] yuwata commented on #22246
Ah, maybe I got the root cause. Please try to create the following .network file:
[code]
If it works for you, then I will post a fix soon.

[2022-01-26 07:27] daiaji commented on #22246
That seems to be a bridge network managed by libvirt, and once I configure it, my PC can't get online.

[2022-01-26 07:32] tmccombs commented on #5755
A related use case is where you have multiple nameservers, but one is closer than the others say because it is in the same region/availability zone/datacenter/etc., so you would prefer to go to that one first, since it has lower latency, but if it is down going to a nameserver that is farther away until the first one comes up is acceptable. There isn't really a way to encode that using multiple in

[2022-01-26 07:45] yuwata commented on #22246
Ah, then, how about the following?
[code]
Then, networkd does not touch anything about the interface, and should not interfere with libvirt.

[2022-01-26 08:08] daiaji commented on #22246
[code]
[code]
The vnet0 interface doesn't seem to be ignored.

[2022-01-26 08:36] yuwata commented on #22246
Thanks. I hope that PR #22249 fixes the issue.

[2022-01-26 08:39] yuwata commented on #22246
Unfortunately, workaround for this issue is only setting `-i br0`, and `RequiredForOnline=no` does not work, as you already observed.

[2022-01-26 09:28] bluca commented on #22244
Are you calling systemctl reboot? It needs to go through the logind apis for logind to send signals. The legacy scripts afaik don't, for backward compatibility reasons

[2022-01-26 09:38] jelly commented on #22244
cockpit uses `shutdown` with the time as argument so that would use the compatibility layer.

[2022-01-26 09:45] jianwei1216 commented on #22186
I have found the cause of this problem

There is a newly written udev rule file for the management platform
it does one thing,
is when the disk increases or decreases,
It will update the database via udev RUN command line
But this script to update the database, after failure, will retry 3 times, every 5 seconds cycle

I think it will occupy systemd-udev every time the disk passes through udev, eac

[2022-01-26 09:48] martinpitt commented on #22244
@bluca: It's not really about "me" or what cockpit itself would *call* -- the point is, if an admin calls `shutdown +30`, either on the CLI or some other tool, then cockpit UI should react to this.

@jelly: We can of course change cockpit's own calls, but that's uninteresting -- we already know when that happened and can update the internal state accordingly. We want to pick up changes from "outsi

[2022-01-26 09:50] martinpitt commented on #22244
@bluca : How do you do a scheduled shutdown/reboot with `systemctl reboot`? Neither `--help` nor the manpage mention this in any way. I.e. the systemctl counterpart of `shutdown +N`

[2022-01-26 09:53] jianwei1216 commented on #22186
Since I'm not an OS expert, I'm researching ceph
It is too difficult to solve this problem
I compared all the files under /etc/ and found the udev rule file that has a problem with the management platform
The process is painful

[2022-01-26 09:54] jianwei1216 commented on #22186
Don't close the question too soon next time, thanks

[2022-01-26 10:01] jianwei1216 commented on #22193
[root@node1 manual-create-lvm]# cat create_mon_cluster.sh
#!/bin/sh

set -x

pkill -9 ceph-osd
pkill -9 ceph-mon
pkill -9 ceph-mgr
pkill -9 ceph-mds

sleep 5

ps aux|grep ceph

### get fsid from ceph.conf generate by uuidgen command
fsid=$(cat ceph.conf|grep fsid|awk '{print $3}')
echo "fsid is $fsid"

### reset env
rm -rf /var/lib/ceph/*
rm -rf /etc/ceph/*

###create mon/bootstrap-osd keyring
mkd

[2022-01-26 10:01] jianwei1216 commented on #22193
[root@node1 manual-create-lvm]# cat lvm_create_by_ceph_volume.sh
#!/bin/sh
#set -x

#### ceph-volume lvm create --data /dev/${DB_WAL_DEV} --data-size 111G
#### example ceph-volume lvm create --data /dev/sdc --block.wal /dev/${DB_WAL_DEV} --block.wal-size 5G --block.db /dev/${DB_WAL_DEV} --block.db-size 47.602G

###create tfs osd
TFS_DEV=$(lsblk -d|grep 894.3G|awk '{print $1}')
for i in {1..8}; do

[2022-01-26 10:04] jianwei1216 commented on #22193
[code]

[2022-01-26 10:05] jianwei1216 commented on #22193
step by one node
1. ./create_mon_cluster.sh
2. ./lvm_create_by_ceph_volume.sh

[2022-01-26 10:30] yrro commented on #20485
Perhaps, I didn't bother to debug further because using a dummy interface is a hack. Really this needs solving properly. At present you're better off forwarding DNS queries to dnsmasq/coredns or something else that can route queries to the appropriate recursive DNS service as described at the top of this RFE.

[2022-01-26 10:46] daiaji commented on #22246
It looks like it does, I used your commit, the vnet0 interface is no longer detected, but the detection of the other interfaces (enp6s0 and enp7s0f2) seems to sometimes still affect my test scripts, I now configure for the enp6s0 and enp7s0f2 interfaces With the RequiredForOnline=no parameter, everything seems to work fine.

However, too many places that require additional configuration at this st

[2022-01-26 10:56] yuwata commented on #22246
Thank you for testing the PR.

That's should be expected behavior, as they are managed (a .network file is assigned to the link), and they will be in 'enslaved' state. The 'enslaved' state is higher level than 'degraded', and the default minimum requirement of wait-online is 'degraded' state (degraded < enslaved < routable, as you can see that in the man page networkctl(1)).
So, setting `RequiredF

[2022-01-26 11:08] daiaji commented on #22246
Perhaps it is.

[2022-01-26 14:45] pfactum opened #22253 "[systemd-networkd] regular crashes since v250 release"
**systemd version the issue has been seen with**

[code]
**Used distribution**

Latest Arch Linux.

**Linux kernel version used** (`uname -a`)

[code]

(_it was the same with v5.15_)

**CPU architecture issue was seen on**

`x86_64`

**Expected behaviour you didn't see**

`systemd-neworkd` should not segfault.

**Unexpected behaviour you saw**

`systemd-neworkd` segfaults once DHCP client connects

[2022-01-26 14:48] pfactum commented on #22253
Probably introduced by d635a7f9e4c58c5578f4fe2989bb799325067232 /cc @tohojo

[2022-01-26 15:21] tohojo commented on #22253
Yeah, I've been seeing these as well, but haven't had time to investigate properly :(

[2022-01-26 15:22] yuwata commented on #22253
Could you test #22254?

[2022-01-26 15:22] jianwei1216 commented on #22186
https://www.freedesktop.org/software/systemd/man/udev.html
RUN{type}
Specify a program to be executed after processing of all the rules for the event. With "+=", this invocation is added to the list, and with "=" or ":=", it replaces any previous contents of the list. Please note that both "program" and "builtin" types described below share a common list, so clearing the list with ":=" and "=" aff

[2022-01-26 15:31] pfactum commented on #22253
@yuwata no crash observed after a dozen of reconnections.

[2022-01-26 15:37] yuwata commented on #22253
Thank you for testing! But I pushed one more commit to the PR. If possible, please test again.

[2022-01-26 15:45] pfactum commented on #22253
@yuwata no crash after applying both commits as well. thank you!

[2022-01-26 15:47] yuwata commented on #22253
Thank you testing the PR so quickly!!

[2022-01-26 15:57] mat8913 opened #22255 "systemd-homed: Getting "New partition doesn't fit into backing storage, refusing""
**systemd version the issue has been seen with**

+PAM +AUDIT -SELINUX -APPARMOR -IMA +SMACK +SECCOMP +GCRYPT +GNUTLS +OPENSSL +ACL +BLKID +CURL +ELFUTILS +FIDO2 +IDN2 -IDN +IPTC +KMOD +LIBCRYPTSETUP +LIBFDISK +PCRE2 -PWQUALITY +P11KIT -QRENCODE +BZIP2 +LZ4 +XZ +ZLIB +ZSTD -BPF_FRAMEWORK +XKBCOMMON +UTMP -SYSVINIT default-hierarchy=unified

**Used distribution**

**Linux kernel version used** (`un

[2022-01-26 16:17] #22246 closed

[2022-01-26 17:23] DemiMarie commented on #20485
It might be possible to use nftables to redirect the traffic, but I am not certain.

[2022-01-26 18:48] bluca opened #22257 "Failing ExecCondition and Restart=always cause a unit to keep restarting until limit is hit"
**systemd version the issue has been seen with**

**Used distribution**

**Expected behaviour you didn't see**

**Unexpected behaviour you saw**

**Steps to reproduce the problem**
[code]

**Additional program output to the terminal or log subsystem illustrating the issue**

[code]

With a Condition:

[code]

[code]

This was fixed for Restart=on-failure and on-abnormal by https://github.com/syste

[2022-01-26 19:08] SethFalco opened #22260 "Logitech Craft keyboard is detected as mouse"
I reported this bug in [upower](https://gitlab.freedesktop.org/upower/upower), and was suggested by one of the developers to forward it here.
You can see the original bug report here: https://gitlab.freedesktop.org/upower/upower/-/issues/161

Similar to:
* https://github.com/systemd/systemd/pull/15711

**systemd version the issue has been seen with**

However, the issue should still be present in

[2022-01-26 19:10] bluca commented on #22244
Good question, I don't know if there's an equivalent (I don't really use this feature myself) - there probably should be if there isn't? The main problem with changing the behaviour of the legacy commands, is that every time it happens people start screaming bloody murder... so it's pretty much a lose-lose situation :-/

[2022-01-26 21:58] SethFalco commented on #22260
Based on the previous PR, I assume I just have to add this to `60-input-id.hwdb`:

[code]

Sorry if this is a daft question, but I'm wondering how to test this locally though? ^-^'

[2022-01-26 22:32] JiriPodhorny commented on #16328
What about introduce new `loader.conf` option, for example `random-seed-mode secure-boot-override` to skip secure boot checking for random seed usage? Bad idea?

[2022-01-27 00:14] Edu4rdSHL opened #22264 "systemd-portabled: Failed to set up mount namespacing: File exists when using StateDirectory, LogsDirectory, etc"
**systemd version the issue has been seen with**
[code]

**Used distribution**
 - ArchLinux

**Linux kernel version used** (`uname -a`)

 - `Linux SecHackLabs 5.16.1-237-tkg-cfs-llvm #1 TKG SMP PREEMPT Wed, 19 Jan 2022 22:21:26 +0000 x86_64 GNU/Linux`

**CPU architecture issue was seen on**
 - x86_64

**Expected behaviour you didn't see**
 - I should be able to use the portablectl image and save t

[2022-01-27 03:59] gdamjan commented on #22264
I can confirm the issue with systemd-git 250.r497.gf223fd6add-1-arch too

[2022-01-27 04:54] Edu4rdSHL commented on #22264
I just have uploaded the [findomain-portabled.raw](https://github.com/Findomain/Findomain-Portable/blob/56abf78752e0aa63a30aa968d46ac108a417f4bc/findomain-portabled.raw) image in case that someone want to reproduce the issue without building anything.

[2022-01-27 05:13] yuwata commented on #22260
Please try to add the entry in /etc/udev/hwdb.d/ and run `systemd-hwdb update; udevadm control --reload; udevadm trigger --action add /dev/input/eventX`.

If it works, then please submit it as a PR. Thank you.

[2022-01-27 05:53] jpalko commented on #22255
I have a similar issue with a homed on a dedicated drive `nvme1n1` which has the partition `nvme1n1p1` which is the LUKS btrfs storage for my user. When I run `homectl activate jukka` on systemd version 249.7-2, I get:
[code]
As soon I upgrade my systemd to 250 or above, that same execution causes me to have this log output:
[code]
I checked the pam.d configurations after noticing the sddm-helper

[2022-01-27 06:06] yuwata opened #22266 "resolve: llmnr: why dns_stream_unref() called in on_llmnr_stream_packet()??"
LLMNR stream does not have `complete`  callback, that means the stream is unref()ed when `dns_stream_complete()` is called.

However, unlike the other `on_packet` callbacks, `on_llmnr_stream_packet()` unref() the stream.

In `on_stream_io()`, `on_packet` is called and then `dns_stream_complete()` is called. Does this mean the stream is doubly unref()ed?

Also, I cannot understand the comment added

[2022-01-27 06:09] #22257 closed

[2022-01-27 06:22] yuwata opened #22267 "test-network: test_activation_policy is racy"
[code]
See https://jenkins-systemd.apps.ocp.ci.centos.org/job/upstream-vagrant-archlinux/9726/artifact//systemd-centos-ci/index.html

[2022-01-27 14:26] bluca commented on #22264
Fix waiting in https://github.com/systemd/systemd/pull/22272

[2022-01-27 18:37] ronalde commented on #21123
Same here. A year ago, and now again. I tried to follow the diagnose instructions here and in an older closely related issue; this one seems a Duplicate of #12142. but gave up again. I ran `resolved` on an arch desktop, wireless connected to a hotspot (ie. as a DHCP client), with dnsmasq binded to the (static configured) wired interface, which serves as both dhcp and (caching/forwarding) dns serve

[2022-01-27 21:00] yuwata commented on #22267
Hm, there may be another issue in the test (or networkd), as in the above link, the test failed with 'down'.

[2022-01-27 21:07] SethFalco commented on #22260
Just dropping this link here for future reference:
https://www.freedesktop.org/software/systemd/man/hwdb.html#Examples

Thanks for the help! Works fine locally so I'll open a PR.

[2022-01-28 00:52] #22260 closed

[2022-01-28 03:04] #22264 closed

[2022-01-28 03:45] #22267 closed

[2022-01-28 06:50] yuwata commented on #20370
reference: https://www.freedesktop.org/software/ModemManager/api/latest/ref-dbus.html

[2022-01-28 08:05] yuwata commented on #20370
So, let me confirm. How about the following way?
1. When networkd detects `wwanX`, then call [ListBearers()](https://www.freedesktop.org/software/ModemManager/api/latest/gdbus-org.freedesktop.ModemManager1.Modem.html#gdbus-method-org-freedesktop-ModemManager1-Modem.ListBearers) method, and get the [Interface](https://www.freedesktop.org/software/ModemManager/api/latest/gdbus-org.freedesktop.ModemM

[2022-01-28 08:14] yuwata commented on #20370
BTW, @zabbal and/or @benibr, could you provide the result of `udevadm info /sys/class/net/wwanX`? I'd like to know how to determine the interface is a WWAN interface, as the interface name may be changed arbitrary. I guess, `DEVTYPE` or `DRIVER` field can be used. But not sure.

[2022-01-28 08:45] yuwata opened #22287 "test-bpf-lsm fails"
https://jenkins-systemd.apps.ocp.ci.centos.org/job/upstream-vagrant-archlinux-sanitizers/9719/artifact//systemd-centos-ci/artifacts_all/artifacts_m85i3fds/vagrant-logs.7OK/vagrant-arch-sanitizers-clang-testsuite.Zzo/ninja-test_sanitizers_FAIL.log

Not sure this is reproducible.

[2022-01-28 13:01] dwrz commented on #20370
Hello @yuwata - I really appreciate your time on this. Here's the output from one machine:

[code]

[2022-01-28 13:03] dwrz-dbhg commented on #20370
And from my work laptop:

[code]

[2022-01-28 13:20] poettering commented on #22213
No. Let's not do that. sd-boot entries are supposed to be simple, parsable with simple tools, reimplementable trivially. include concepts turn them into a templating language of sorts, and that is explicitly what these snippets should not be. Doing so would create all kinds of problems, i.e. we'd have to add an include cycle detector and similar. Complexity raises dramatically in non-obvious ways

[2022-01-28 13:20] #22213 closed

[2022-01-28 13:23] poettering commented on #22241
I am sorry, but this is something the SMB/CIFS and kernel people of to figure out and systemd would then just follow. i.e. I think adding a "state" to mounts makes a lot of sense, but not glued onto the top layers, guessing the current state of the lowest layers of the stack. If this is a good thing (and I think it might be) then this has to come from the lowest layers and be propagated up in some

[2022-01-28 13:23] #22241 closed

[2022-01-28 13:26] poettering commented on #22168
We issue a TTY reset and even disallocate the VT. If the cursor state is not reset that smells like a bug in the VT layer really. Or maybe something keeps the VT open while we restart it, so that the disallocation doesn't work? screen reader or so?

[2022-01-28 13:28] poettering commented on #22200
Duplicate of #17705

[2022-01-28 13:28] #22200 closed

[2022-01-28 13:31] poettering commented on #22116
Please submit a PR with the additional match line added to the hwdb file. That way we'll be able to fix this and properly attribute the addition to you.

[2022-01-28 13:33] poettering commented on #22113
Duplicate of #20989

[2022-01-28 13:33] #22113 closed

[2022-01-28 13:34] poettering commented on #22112
Please contact the LVM community regardig LVM issues.

[2022-01-28 13:34] #22112 closed

[2022-01-28 13:37] poettering commented on #22061
Yeah x-systemd.automount is an option understood by the fstab generator, not by PID1.

[2022-01-28 13:37] #22061 closed

[2022-01-28 13:38] poettering commented on #22058
Inhibitors do not exist on Sysv, hence the SysV compat commands don't support them. Use the new commands if you want the new stuff.

[2022-01-28 14:24] yuwata commented on #21819
@mrc0mmand BTW, have you seen the first issue recently? I checked not all failures, but most of them seem to be the btrfs issue.

[2022-01-28 14:30] mrc0mmand commented on #21819
The most recent one I can find is from 10.1.2022: https://jenkins-systemd.apps.ocp.ci.centos.org/job/upstream-centos8/5687/artifact//systemd-centos-ci/index.html

[2022-01-28 14:34] poettering commented on #22055
Hmm, you run per-user code outside of a logind user session? If so, you have no systemd instance for it, and no dbus bus instance, and no pk authentication agent will work hence.

PK is not compatible with such setups really. (Neither is systemd really)

I don't think there's anything to fix here...

Once you have a session, then the dbus instance+systemd gets started, and you can have a PK agent

[2022-01-28 14:50] yuwata commented on #21819
Hm, so the issue is not fixed (possibly by another package) yet... But I guess the ratio is quite smaller than the btrfs issue.

[2022-01-28 15:11] poettering opened #22288 "COPY_HOLES is borked with holes at the end of files"
See my comment here:

https://github.com/systemd/systemd/pull/22125/commits/8646b5d6e6019e95063a49fb3105833b07da5ebc#r794588930

I think there's the bug with holes at end of files, but I only got this by reading the PR, not by actually trying it out, maybe I am missing something.

Opening this issue so that we can keep track of this.

@DaanDeMeyer

[2022-01-28 15:18] yuwata commented on #22288
This should be already fixed by f82f0b993740f4a9a3719c4df7c185411710df2b.

[2022-01-28 15:19] poettering commented on #22052
Not following? the lid input device propagates a state, not a singular event. (i.e. the input layer calls this "switch" as opposed to "key"). And we model it like that: a suspend will suspend if the lid closed, agressively – only while a lock is taken to block that we'll not do so, but once you remove it, we'll immediately suspend.

This is by design, to make things robust: the privilege to acquir

[2022-01-28 15:19] #22052 closed

[2022-01-28 15:22] poettering commented on #22288
Ah, i didn't see that one, I am just looking at my backlog...

Hmm, those are 5 syscalls for each hole. I wonder if we can do this better... And issue truncate only once at the end, and make this configurable via COPY_TRUNCATE. It might make sense to truncate outside of the hole context anyway.

[2022-01-28 15:23] poettering commented on #22288
Also the punch hole stuff is only supported on some fs... this needs a better fallbcak logic still. (i think ramfs is an fs that doesn't implement hole punching, if you need one for testing)

[2022-01-28 15:45] poettering commented on #22091
Sorry, but no. TPM 1.2 works sufficiently differently to require major effort to support, and it's quite frankly obsolete. Adding new support code for obsolete technology is not something I am keen on. The major issue is that the crypto TPM 1.2 supports (SHA1) by today's standards is too weak. Thus TPM 1.2 can't really hold the security guarantees that people assume it provides. Supporting securit

[2022-01-28 15:45] #22091 closed

[2022-01-28 16:35] mbiebl commented on #22168
No screen reader here.

Is the problem not reproducible on Fedora using `setterm -cursor off`?

[2022-01-28 17:06] DaanDeMeyer commented on #22224
@AdrianVovk It'd be great if you could test #22290. It should make sure that bootctl works without a machine ID available.

[2022-01-28 18:12] iamGavinJ commented on #22213
@poettering that's fair.  I wasn't aware that `include` statements previously existed in `[Unit]` files, so the consistency and justification is understandable.  Thanks for explaining.

[2022-01-28 18:26] JonnyWhatshisface commented on #22058
This isn't feasible. I'm working in an infrastructure of 100k unix machines with decades worth of self-provisioning tools, updated mechanisms and self-service utilities that can't all be re-written to use "systemctl {reboot, halt}" etc.

The inhibitors are a part of systemd in general. Using policy kit, non-root users can leverage the inhibitors. So why can't a flag be added to allow root users to

[2022-01-28 19:14] mbiebl commented on #22058
couldn't you replace /sbin/shutdown with a shell wrapper calling `systemctl`?
That would about the same amount of work as setting a config parameter on those systems?

[2022-01-28 19:33] JonnyWhatshisface commented on #22058
No - I've had that discussion with stakeholders until we were all blue in the face. Shutdown wrappers are prohibited entirely, and that is true in most corporate environments with this size and type of regulation.

[2022-01-28 19:34] mbiebl commented on #22058
Did they provide any solid reasoning for this?

[2022-01-28 19:38] JonnyWhatshisface commented on #22058
Because it's ugly and presents more issues than it needs to with upgrades etc.

Why would we want to wrap the shutdown and reboot commands if we could simply flip a switch in the login.conf ?

When you're working in environments of this size, they rely on what's in the product and what the vendor supports - as unfortunate as that may sound. Custom wrappers for /sbin/{shutdown,reboot,halt} and etc

[2022-01-28 20:35] tomty89 commented on #22052
So *two different modes of locks* just suddenly doesn't apply for lid switch?

I do admit that lid switch is a bit different from keypress since one can see it in a way like "closed -> kept being pressed" (not exactly sure if that's what you mean by state since you sounded more like you are not aware of block mode lock than that). I am unsure whether it has to be the way / is a more robust way to

[2022-01-28 20:51] tomty89 commented on #22055
lingering, maybe?

Besides, user services never runs inside a session anyway, although interactive operation might not exactly be expected from a process of one. Regardless, `udisksctl` works fine completely, and systemctl also works with the trick shown above (no session remains either)

The user manager can still be be up when there's no session remains, if that's what you mean by systemd instan

[2022-01-28 21:21] bionade24 commented on #17745
I permanently do have this issue with systemd 250.3 on Arch Linux. Interestingly, it even occurs when I have my Router set as DNS server, as it runs dnsmasq querying 1.1.1.1

Why does this issue then only occur on machines with resolved?

[2022-01-29 01:08] yuwata commented on #17745
Not sure, but already fixed by #22132? Could you all test the current git HEAD?

[2022-01-29 01:25] yuwata commented on #20370
@dwrz and @dwrz-dbhg Thank you!

[2022-01-29 02:35] yuwata commented on #20370
@zabbal, @benibr, @dwrz and @dwrz-dbhg, could you also show the result of `busctl tree org.freedesktop.ModemManager1`?

[2022-01-29 03:09] dwrz-dbhg commented on #20370
[code]

🙏🏽

[2022-01-29 03:13] dwrz commented on #20370
[code]

🙏🏽

[2022-01-29 03:43] cmurf commented on #15903
[code]

So yeah looks like it's not wired up still.

systemd-249.9-1.fc35.x86_64

[2022-01-29 04:10] yuwata commented on #20370
Thank you!

[2022-01-29 08:52] Lastique commented on #17745
The problem was reproducible without DoT too.

[2022-01-29 11:51] renbag commented on #22234
Same problem in Ubuntu jammy with systemd_249.9-0ubuntu2:

Jan 29 12:27:53 ns-xxx systemd[153]: Assertion 'a' failed at src/basic/path-util.c:486, function path_compare(). Aborting.

However, I have checked that the fix e8cf09b is already applied in the sources of systemd, so it is not the solution.

[2022-01-29 11:56] mrc0mmand commented on #22234
Just for clarification, the mentioned patch (https://github.com/systemd/systemd/commit/e8cf09b2a2ad0d48e5493050d54251d5f512d9b6) must be included in the **container's systemd**, not just the host's one

[2022-01-29 12:14] victor-sudakov commented on #22234
Thank you. It would be easier then to upgrade the container to Debian 11.

[2022-01-29 12:31] xavierog commented on #22234
Indeed, from a very practical perspective, this incompatibility issue is more of an incentive to upgrade oldstable containers to stable than an incentive to backport the systemd fix to oldstable.
That said, some people may need to keep oldstable containers for various reasons...

[2022-01-29 13:12] renbag commented on #22234
OK, in fact the container was running an older systemd_245.4-4ubuntu3.15.
Now, after upgrading the container the problem is solved.
Thank you.

[2022-01-29 14:10] MetalDroid commented on #22116
Hi, thanks for your response

The problem is that if I do that it could affect other models, since the patch consists of commenting out all the lines that contain `f20`.

Maybe it is possible to include a specific patch for that model? what would be the procedure?

Thanks

[2022-01-29 18:19] samm-git commented on #17745
@yuwata i was not using dot, so unlikely

[2022-01-29 20:03] AdrianVovk commented on #22224
@DaanDeMeyer your PR fixes the "doesn't install without machine-id present" bug, but it still writes `/etc/machine-info` into the running environment

[2022-01-29 21:25] subdiff commented on #22242
Thanks for the explanation. For me it's a development setup. The `dbus-run-session` I use for testing the desktop shell + window manager and running tests that should not interfere with the current user session.

The KDE Plasma startup was recently changed to employ systemd for starting up various services the workspace provides. I assume that's also the case when running `dbus-run-session startpl

[2022-01-29 22:56] jonesmz commented on #21174
I use systemd-resolved in an environment where I have a samba domain controller as the (primary) DNS server.

If systemd-resolved decides that it doesn't like the domain controller (it rebooted, for example) it switches to the fallback DNS server.

This means that the machine using systemd-resolved can no longer use DNS to query for important active directory resources, and eventually any cached u

[2022-01-29 23:07] mrc0mmand commented on #22230
I see. The drop-in lookup mechanism support for dash-prefixed units was introduced by 5396624506e155c4bc10c0ee65b939600860ab67, however, the `systemctl install` stuff has its own unit-file handing. Not sure if this is an intentional design decision or something that should be fixed.

[2022-01-30 05:23] daiaji commented on #22246
@yuwata `After=network-online.target ` does not seem to guarantee that the network will be available before the service is started.
[code]
[code]

This seems to contradict the description of the document.

[2022-01-30 06:26] jonesmz commented on #5755
I'm working around this locally by setting a per-minute timer to restart systemd-resolved. That'll switch it back to the first dns server.

[2022-01-30 06:35] jonesmz commented on #18056
This feature can also be useful for environments that use active directory. Queries for the active directory's name should go to the AD DNS, but queries to any other top level domain should go to a non-AD DNS server.

[2022-01-30 07:24] keycommander commented on #21856
Hm

[2022-01-30 11:04] karlkashofer commented on #17564
Hi Lennart, Sebastian !
It seems the PAM issue was solved for real in August 2021, not exactly Christmas, but alas, is implementation of this feature now possible ? We'd really need in on Pinephone et. al. :)
Cheers,
KK

[2022-01-30 12:21] pothos commented on #17564
I installed (on Debian) libpam-cap, put `^cap_wake_alarm *` into `/etc/security/capability.conf` (the `none *` line commented out), and got this result (from a new `sudo -u $USER -i` shell):
[code]

Not sure if this is will work yet for `/lib/systemd/systemd --user` because with a quick test of swapping out `CLOCK_REALTIME` for `CLOCK_REALTIME_ALARM` in the `man 2 timerfd_create` example I got `ti

[2022-01-30 14:40] ShadowJonathan opened #22305 ""Startup from unclean shutdown" target"
#### Is your feature request related to a problem? Please describe.

I'd like to easily start services (filesystem checks, emergency logging, some basic sanity checks, removing application-specific temporary files, etc.) after a system has just restarted from an unclean shutdown, these can include kernel panics, power loss, and/or anything that prevents systemd from reaching `shutdown.target` befo

[2022-01-30 17:19] spaetz commented on #17564
I tried the same thing previously and could not get it to work not sure what was missing, so no, no cigar yet....

[2022-01-30 17:47] mbiebl opened #22308 "no (bash) autocompletion for bootctl install --make-machine-id-directory"
Version: 250.3

Would be great to have bash autocompletion for `bootctl install --make-machine-id-directory=yes|no|auto`

[2022-01-30 19:56] cjsthompson opened #22309 "Systemd user units, systemd-homed encrypted home directories and keeping track of network state"
Hi,

I have a network service that synchronizes files in my home directory. I have it started only when I am connected to
my home LAN. I have configured NetworkManager's dispatcher to check the connection UUID and then start or stop this
service as a system service running with my user account. This works well. When I am connected to my home network and
log into my user account the sync service is

[2022-01-30 22:16] AndrewGMorgan commented on #17564
What version of `libcap` and what version of `libpam` ? What is your `pam.d` config line that references [`pam_cap.so`](https://sites.google.com/site/fullycapable/pam_cap-so)?

[2022-01-30 23:01] AndrewGMorgan commented on #17564
I grep'd through the `systemd` sources for how it invokes `pam_end()`. I don't think it is following the [documentation for `pam_end()`](http://www.linux-pam.org/Linux-PAM-html/adg-interface-by-app-expected.html#adg-pam_end) (written sometime around the year 2000). That is:
[code]
As such, I think that is likely the crux of the issue. You can see this omission is widespread, likely due to copy-pas

[2022-01-30 23:01] pothos commented on #17564
Yes, should have written that, sorry: libcap 2.44-1, libpam 1.4.0-11

`auth	optional			pam_cap.so` is the last line of `/etc/pam.d/common-auth`

[2022-01-30 23:05] pothos commented on #17564
… and libpam-cap is also on 2.44-1 - thanks for the link to the home page which clearly says `From 2.58 on, compliant Linux-PAM applications should be able to support Ambient vector Capability inheritance.`. I need to get a newer version first.

[2022-01-30 23:11] woky opened #22313 "systemd-cryptsetup: Cannot unlock root filesystem with keyfile on another encrypted device"
Proper bug report is below. Note on use case: In this setup I want to unlock root filesystem with key stored on USB stick that's not supposed to be permanently attached. But they key is stored on encrypted filesystem on USB stick and they key to unockl the USB stick stick is stored on the machine with encrypted filesystem. The rationale for this setup is that the USB stick can be operated by perso

[2022-01-31 02:39] yuwata commented on #20370
Hi all! Could you test PR #22315?

[2022-01-31 04:18] yuwata commented on #22246
@daiaji Could you open a new issue page? At that time, please
- enable to generate debugging logs in systemd-networkd-wait-online.service, and provide journal log,
- provide all .network files,
- clarify which version you use (current git HEAD? with or without #22249?).

Thank you!

[2022-01-31 04:20] yuwata commented on #22288
#22291 is merged.

[2022-01-31 06:57] spaetz opened #22318 "systemd does not invoke pam_end properly"
This is a spinoff of https://github.com/systemd/systemd/issues/17564#issuecomment-1025252833 which is about enabling WakeSystem= for user units.

libcap and (previous) PAM author AndrewGMorgan comments that systemd likely does not use the pam API correctly with regard to pam_end(). I cannot claim to understand half of it, but the linked comment contains more pointers to likely code culprits. It wo

[2022-01-31 06:58] spaetz commented on #17564
Just filed a spin-off issue with regard to pam_end, to keep this one focused on the WakeSystem progress.

[2022-01-31 09:45] spaetz commented on #22318
Digging deeper, I am a bit puzzled, systemd does invoke pam_end, it just does not add the FLAG PAM_DATA_SILENT, which looking at the documentation does not seem too critical, but then I don't really know PAM...

[2022-01-31 09:56] lnussel commented on #22058
The reason I got in touch with the shutdown logic was partially also motivated by the inhibitor inconsistency actually. My private use case is a rpi that does some regular sensor readings. The reading and processing may take a variable amount of seconds so makes sense to place an inhibitor to avoid rebooting in the middle. In that case it doesn't really matter whether eg some automatic OS update t

[2022-01-31 11:52] poettering commented on #22052
Not following? Why wouldn't they?

It's not that *we* see it that way. The kernel's input layer makes that distinction: there are "keys", that know key press repetition and so on, i.e. one initial key press, possibly followed by more if key is held down, eventually followed by key release event. "Switches" are different: the are on, or off, continously, and there are no repetition events generated

[2022-01-31 12:50] mrc0mmand opened #22320 "TEST-56-EXIT-TYPE hags in nspawn when run on a host using legacy cgroups"
**systemd version the issue has been seen with**

**Used distribution**

**Linux kernel version used** (`uname -a`)

First of all, I'm not sure if `ExitType=cgroup` is supposed to work under legacy cgroups (but the test's QEMU part works fine even with legacy cgroups), so I'm a bit puzzled.

Currently the test hangs and eventually timeouts when running the nspawn part on a host with legacy cgroups

[2022-01-31 13:06] poettering commented on #22230
See:

be73bb486a1a1bb43a04319c3cb0b639edd6b98f

[2022-01-31 13:09] poettering commented on #22230
Ah, hmm, we removed that restriction in 142468d89508c63262dd59335ea6d4fe82267564

[2022-01-31 13:16] poettering commented on #22046
i am not sure i follow? what's the precise issue here? note that D-Bus is not usable to "stream" data, as sending too many messages in a time window will cause the broker to throttle you and eventually kick you off the bus. D-bus is purely suitable for control data, not for payload data hence.

I udnerstand your test program floods signals into the bus and you are surprised these don#t arrive? Tha

[2022-01-31 13:20] poettering commented on #22036
I am not sure I follow? Something needs to give users the privs to access the screen. Typically that's a display manager or a TTY session, that cause a logind session to be created.

Are you suggesting that unprivileged users should be able to allocate sessions without a display manager? I am not sure why that'd be desirable?

I get the sense you should be using a display manager like gdm, but the

[2022-01-31 13:25] poettering commented on #22022
not following. "systemctl isolate" will shut down only units that *aren't* also dependencies of the specified target unit. Hence switch with it from multi-user.target to graphical.target shouldn't shut down logind at all, since that is required by either (already because graphical.target is a superset of multi-user.target).

Figure out whyt logind.service is shutdown if you do this. Most likely sm

[2022-01-31 13:37] poettering commented on #21967
@Malvineous you are using the in-kernel IP auto-configure logic, or an initrd with some network management service to boot from NFS?

[2022-01-31 13:46] poettering commented on #21966
You probably have some process or so running that accesses /home/ and doesn't exit on shutdown.

If you disable Docker, and then reboot and shut down, is it clean then? Docker is messy, my guess is that that's causing this. Consider turning off other payload services until you find the one keeping /home busy.

But anyway, this isn't really a bug or issue in systemd, whether a mount is busy or not

[2022-01-31 13:46] #21966 closed

[2022-01-31 13:47] poettering commented on #21963
Please provide logs, otherwise this is not actionable

[2022-01-31 13:49] poettering commented on #21961
This is a misunderstanding: the service stays up once it ran. If you issue "systemctl start" again this is a NOP, since the service is already up.

issue "systemctl restart" instead, and it should work.

[2022-01-31 13:49] #21961 closed

[2022-01-31 13:53] poettering commented on #21953
I am not sure I follow, but you want to use a running user SSH agent from a system service that also runs something udner that UID? You probably want to use PAMName, so that your code actually runs under the user's session instead of a real system service...

But this isn't really a feature request or bug report, but a support question. Those do not belong here. Please use the mailing list or so i

[2022-01-31 13:53] #21953 closed

[2022-01-31 13:54] C0rn3j commented on #21961
Re-tested with `restart` and it is indeed correctly applied.

Sorry, my bad!

[2022-01-31 13:56] #22266 closed

[2022-01-31 13:56] poettering commented on #21952
So podman puts stuff owned by other users into $HOME? I mean, that might be OK as a hack, but as a regular workflow is a mess, for quota reasons and such. It really shouldn't do that.

We map the 16bit range outside of the homed range as is, so that people can unpack containers under their regular UID range. Container managers should be able to run these then in an userns environment via uidmappin

[2022-01-31 13:58] #22224 closed

[2022-01-31 14:00] DaanDeMeyer commented on #22224
@AdrianVovk Yeah writing /etc/machine-info is by design. Is there a reason you can't persist /etc/machine-info in the OS image? The information we put in there isn't machine-specific so it should be safe to ship as part of the image.

[2022-01-31 14:01] poettering commented on #21932
Don't run long-running stuff from udev rules, that's really not what this is intended for. udev rules are supposed to be quick stuff that runs and exits in instants. If you udev rule script runs for a minute, it's *waaay* too slow.

Generally, for anything "payload", i.e. that is more than just acquiring some meta info about a device, use service activation form udev rules instead of direct script

[2022-01-31 14:02] poettering commented on #21932
Anyway, closing as this appears to be a downstream/user issue, not an upstream one.

[2022-01-31 14:02] #21932 closed

[2022-01-31 14:07] poettering commented on #21918
which container manager do you use? systemd-nspawn is supposed to be legacy-free stuff, i.e. it's focussed on running modern init systems, i.e. systemd itself as payload. If you use stuff that doesn't implement the container spec things will get messy.

nspawn can be used in two ways: to run a full OS, i.e. boot up some real system inside. That's what "machinectl poweroff" is to be used on. And th

[2022-01-31 14:09] poettering commented on #21907
Hmm, that dir is inside a mount namespace that noone but the nspawn instance can see, i.e. its /run is private to the container, and freshly mounted, hence noone else should be able to create /run/systemd/incoming below it. Weird stuff.

[2022-01-31 14:19] poettering commented on #21899
Do I understand correctly: you want firewall rules to be in effect before networkd does its thing, so that they are guaranted to take effect for *any* traffic generated on the system while a network iface exists? But you also want firewall rules to be create after network interfaces appeared, because you want to reference the interfaces from the rules?

These two requirements are contradictory. Yo

[2022-01-31 14:21] poettering commented on #21885
Not a useful bug report. Please read the submission form properly.

[2022-01-31 14:24] poettering commented on #21873
No sure I follow? Our default propagation on the host is shared. Since you didn't change the propagation of the mounts the umount should just propagate. back to the main mount namespace. What am I missing?

[2022-01-31 14:29] poettering commented on #21873
Not sure I follow? Why pointless? If you run a system service with PrivatTmp=yes and no other service settings the effect should be that /tmp and /var/tmp for that service get replaced by something service specific but /dev should be shraed from the host. We can only implement that if /dev/ is mounted as shared on the host, because otherwise propagation will be off...

What am I missing? Not follo

[2022-01-31 14:31] poettering commented on #21862
That's really not what "systemctl edit" is for. Seems to me a nicer fix to your usecase if we had "systemctl write" or so, which can create unit files from data you pass in stdin... i.e. an explicit call makes more sense then to make an explicitly interactive operation magic in some cases.

[2022-01-31 14:32] AndrewGMorgan commented on #17564
To be clear, getting PAM to propagate Ambient values requires the following things to be true:

- `systemd` needs to correctly use `PAM_DATA_SILENT` in the `pam_end()` arguments **for the process that execs the child**
- use a modern enough version of `libcap` & `pam_cap.so` (version >= 2.58)
- include the `pam_cap.so` module arguments: `keepcaps` and `defer`.

[2022-01-31 14:33] poettering commented on #21832
You want a nested automount? We don't support that. To establish the inner automount the outer one needs to be triggered.

We should probably document this explicitly.

[2022-01-31 14:36] poettering commented on #21950
predictable names are symlinks in the fs for char/block dev nodes, or are the interface names/alias for network interface names. For "any USB device" like you say, which device nodes do you have in mind?

We can only enforce naming regimes for device types we know, not for "any", because what does that even mean? i.e. which objects specifically do you want to name?

[2022-01-31 14:37] AndrewGMorgan commented on #22318
The `PAM_DATA_SILENT` flag is the way that `pam_end()` communicates to the module stack that this invocation of `pam_end()` is not the final one, but in the process that is going to directly exec the child. Without this flag, all of the modules assume that PAM is fully shutting down and they should fully delete and cleanup all credentials etc.

[2022-01-31 14:38] poettering commented on #21813
hmm? what does sudo need to insult you? what does it do instead? not sure in which way homed would interfere with the insults.

[2022-01-31 14:41] poettering commented on #21812
Please contact your distro and maybe the NM people about this first. I doubt systemd is at fault here...

also, enable debug logging (i.e. `systemd-analyze log-level debug` before you shutdown) to see what is being done...

My guess: NM has some ExecStop= thing or something else blocking that it does while shutting down, that is causing this. But this is nothing we can help you with from systemd's

[2022-01-31 14:41] #21812 closed

[2022-01-31 14:41] poettering commented on #21793
/cc @jwrdegoede

[2022-01-31 14:43] poettering commented on #21789
Hmm, @yuwata you marked this with "nspawn" label. Does this actually have anything to do with nspawn? i.e. is this inside an nspawn container? or was this a mistake?

[2022-01-31 14:46] Alexander-Shukaev commented on #21832
Was under impression that `x-systemd.requires-mounts-for=/boot` will do all the heavy lifting.  Like, why shouldn't it pull the parent mount?

[2022-01-31 14:47] yuwata commented on #21789
Sorry, seems to be mistake.

[2022-01-31 14:48] poettering commented on #21787
It's kinda a limitation of Linux. We would use O_TMPFILE here if we could, so that we can build the new file while it is unlinked, and then atomically link it in once we are done. But that cannot work, since we can't replace existing files that way, and hwdb.bin will almost always exist already when we run this. It's a shortcoming of Linux that O_TMPFILE and link-and-replace cannot be combined.

B

[2022-01-31 14:49] poettering commented on #22318
@AndrewGMorgan so in a better world the flag would be named PAM_CALLING_IN_CHILD or so? or maybe PAM_NOT_CALLING_IN_PARENT?

[2022-01-31 14:56] poettering commented on #21832
it's applied to the .mount unit. Thus if the inner automount becomes idle, and thus eventually gets undone, then this means the outer one will become idle too, and be undone.

[2022-01-31 14:56] jwrdegoede commented on #21793
What is the output of: "cat /sys/class/dmi/id" ?

And can you please run:

udevadm info -e > db.txt

And then attach the generated db.txt here ?

[2022-01-31 14:58] BillPlunkett commented on #21787
Seems like on startup one could check for files with names beginning with .#hwdb.bin and delete them.

[2022-01-31 15:10] AndrewGMorgan commented on #22318
Possibly, but it has been named this way since around (I suspect before) the year 2000.

I seem to recall there were some use cases wanting to have a hook in the PAM stack that executed a callback **after** the application called `setuid()` but before it invoked `exec*()`. There was a desire to drop/wipe references to some kernel objects at this stage etc. but not all of them---the session closing

[2022-01-31 15:21] poettering commented on #21712
We rely on your DE to tell us when the session is idle. if it does that incorrectly weird things will happen. It appears to me have have automatic suspend on idle enabled but your DE doesn't properly inform us about the DE state. There's little we can do in that case.

[2022-01-31 15:23] poettering commented on #21707
What is "reload" supposed to mean? keep the socket fd open, but reapply sockopts? not sure that works, the are a number of sockopts that cannot be be changed once a socket is bound or listening...

So what do you thinkg "reload" should mean?

[2022-01-31 15:26] poettering commented on #21683
cgroup delegation to unpriv users for scopes simply doesn't exist so far. i.e. no User/Group= setting. Sounds like something we could add though, but it would be a new feature, not a bug.

[2022-01-31 15:29] poettering commented on #21668
are you sure that zstd:xyz syntax even exists?

The screenshot you appended is from yast, i.e. has nothing to do with systemd. If the mount command yast invokes doesn't work this smells as if the option string you use simply doesn't work at all, and systemd has nothing to do with that.

Please contact the opensuse community for help about this, as this doesn't appear to be an issue caused by syste

[2022-01-31 15:29] #21668 closed

[2022-01-31 15:31] poettering commented on #21660
Uh, I am not convinced this would be a good idea. unit files should not be complex templating languages, but easy to parse for anyone. Adding more magic templating logic would make this an even bigger mess.

[2022-01-31 15:37] poettering commented on #21592
Note that systemd's growfs logic will only grow the file system itself, not the partition it is contained in. Use systemd-repart for that (or some other tool).

Is this a boot with an initrd? It appears /dev/block/179:2 doesn't actually work for accessing the backing block device of your fs. That's a symlink typically created by udev. And usually that should exist if the initrd managed to transiti

[2022-01-31 15:39] poettering commented on #21586
The client cap is without effect, we can't check that safely on AF_UNIX. The fact we still write it down is a kdbus remnant (where we could do that safely).

Ideally AF_UNIX would support SCM_CAPS or so, so that we could implement this safely...

But given this hasn't happened so far, i guess we can remove any mention of the cap in sd-bus code for priv checks.

[2022-01-31 15:41] poettering commented on #21552
So this is about homed? It's a feature, not a bug that we remove all passwords from memory when not needing them...

[2022-01-31 15:43] mystiquewolf commented on #21813
I don't know what is causing it. All i know is that on wrong password when using an account with systemd-homed i receive this error message: `password  incorrect or not sufficient for authentication of user .....`.
When i'm using my regular old-school-no-homed account i get various insults on wrong password. Like `Take a stress pill and think things over.`. Is systemd-homed hardcoded to display th

[2022-01-31 15:50] mystiquewolf commented on #21552
I guess it's a security tradeoff then. I don't really know if it's possible to evade this high memory usage on password checking with the mentioned LUKS parameters... If there's nothing to be done you can close this issue.

[2022-01-31 15:53] poettering commented on #21551
N_() is for marking strings for translation so that xgettext finds them. It has no effect other than that. (At least that's how I remember this to work.) Hence, the fact that this is mapped to a NOOP macro is intended.

I think it's polkit which use the wrong locale settings but i honestly don't know how polkit l10n works...

[2022-01-31 16:03] poettering commented on #21552
Well, if there was that would defeat the point of the setting, no?

[2022-01-31 16:08] mystiquewolf commented on #21552
I'm not exactly competent about this, but doesn't this feature high-memory usage have its highest value before you've unlocked the loop file? After that i don't get it why you would need the high-memory usage. Probably because you don't want to keep the secret in memory.

[2022-01-31 16:13] shibumi opened #22322 "systemd ignores link file with id_path match"
**systemd version the issue has been seen with**
 systemd 241 (241)
+PAM +AUDIT +SELINUX +IMA +APPARMOR +SMACK +SYSVINIT +UTMP +LIBCRYPTSETUP +GCRYPT +GNUTLS +ACL +XZ +LZ4 +SECCOMP +BLKID +ELFUTILS +KMOD -IDN2 +IDN -PCRE2 default-hierarchy=hybrid

**Used distribution**
Debian Buster

**Linux kernel version used** (`uname -a`)
Linux ant1 4.19.88-20200526-1 #1 SMP PREEMPT Thu Dec 5 08:21:36 UTC 2019

[2022-01-31 16:19] shibumi commented on #22322
Closing this.. found the issue:

1. I haven't used `10-` as prefix.
2. There was a spelling mistake in my link file with the `10-` prefix: network instead of ethernet in the path name.

[2022-01-31 16:19] #22322 closed

[2022-01-31 16:24] g5pw commented on #19394
We have the same problem with `named` RPZ usage

[2022-01-31 16:26] jlinton commented on #22022
Ok, let me give that a try.

[2022-01-31 16:43] poettering commented on #21552
Yes, homed is designed to be frugal with secret data: we don't want to keep sensitive stuff in memory we really don't need to keep around... And the assumption is that if we can reauth with original stored data we don't need unencrypted pws around.

[2022-01-31 18:38] wak-google commented on #22046
No, the problem is that d-bus broker and the process receiving the signals end up consuming unbounded amounts of memory. Presumably this is because the event loop is not actually waking up for signals that need to be processed by sd_bus_process. The above patch changes the behavior of the event processing loop to be edge style instead of regular poll style. By consuming all of the outstanding even

[2022-01-31 18:40] wak-google commented on #22046
It appears that the number of events on the file descriptor being epoll()'d is fewer than the number of sd_bus_process() calls needed.

[2022-01-31 20:44] topimiettinen commented on #21899
Indeed, this isn't possible for all rule types (specifically ingress filters).

I presented option 3. above (minimal initial filter blocking all traffic except DHCP, then open up with full filter later) which doesn't have the vulnerable window.

There's [libnftnl](https://netfilter.org/projects/libnftnl/index.html) and low level Netlink library [libmnl](https://netfilter.org/projects/libmnl/index.

[2022-01-31 21:21] mbiebl commented on #20989
@poettering I guess this needs input from your side

[2022-01-31 21:47] mrc0mmand opened #22329 "test_xfrm* from the systemd-networkd-testsuite.py fail on the latest Arch"
**systemd version the issue has been seen with**

**Used distribution**

**Linux kernel version used** (`uname -a`)

Not sure if it's the kernel update (5.16.2-arch1-1 -> 5.16.4-arch1-1) or something else, but `test_xfrm` and `test_xfrm_independent` keep failing when CI attempts to upgrade the Arch Linux image:

[code]

Relevant lines from the journal:
[code]

[code]

Full log: [systemd-networkd-t

[2022-01-31 22:15] coagentpai commented on #21967
I have a very similar setup (RPi, root on NFS, systemd-250 on Arch) and I am seeing the same failed boot. I have tried both KeepConfiguration=dhcp and KeepConfiguration=yes separately and still have the issue.

As far whether the configuration happens in the kernel or in initrd I am not quite sure. I have ip=dhcp on the kernel command line.

Let me know what other information would be helpful.

[2022-02-01 00:12] jmlzr commented on #21918
That issue came up when I was playing around with using nspawn to test/experiment with openwrt, buildroot and other userlands/rootfs designed for embedded. I know that this is a very niche and maybe somewhat hacky use case. If `KillSignal` wouldn't already exist I wouldn't have asked for it.

In the meantime I noticed that initiating shutdown via the systemd service unit (`systemctl stop systemd-n

[2022-02-01 03:49] yuwata commented on #22329
5.16.3 has several patches for xfrm. E.g. `if_id` related message is introduced by https://git.kernel.org/pub/scm/linux/kernel/git/stable/stable-queue.git/tree/releases/5.16.3/xfrm-interface-with-if_id-0-should-return-error.patch.

[2022-02-01 04:29] yuwata commented on #22329
Fix is waiting in #22331.

[2022-02-01 04:55] tomty89 commented on #22052
Ugh what? That's like exactly the reason I filed this: block mode lock are showing exactly the same behavior as delay mode lock for lid switch; both types of locks only delay the suspend "command" signalled with the lid swtich during the lock is on

Or did you intend to say "Why should they?" Like "due to the nature of the switch yes they behave identically at the end"

Doesn't that mean it should

[2022-02-01 05:10] #22253 closed

[2022-02-01 06:19] yuwata commented on #21967
@coagentpai Could you generate debugging log of networkd by creating the following drop-in config?
[code]
Then please provide the log of networkd (`journalctl --no-hostname -b -u systemd-networkd.service`).

You may need to change /etc/systemd/journald.conf to not save journals through NFS (`Storage=volatile`).

Also, please provide the relevant .network file.

[2022-02-01 08:26] landgraf opened #22334 "mount is unable to create "What" directory if path is a symlink"
**systemd version the issue has been seen with**

**Used distribution**

**Linux kernel version used** (`uname -a`)

**CPU architecture issue was seen on**

**Expected behaviour you didn't see**

**Unexpected behaviour you saw**

**Steps to reproduce the problem**

**Additional program output to the terminal or log subsystem illustrating the issue**

[code]

[2022-02-01 09:22] poettering commented on #22052
Nope. That's not the case.

Blocking locks will *stop* any operations of the selected kind to happen *while* *the* *lock* *is* *taken*.

Delaying locks will *delay* any operations of the selected kind a bit *while* *the* *lock* *is* *taken*.

While you have a blocking lock on the lid switch it will not have any effect. While you have a delay lock it will have, but you'll get some time to react to

[2022-02-01 09:27] poettering commented on #22320
cgroup empty notifications are unfortunately not reliable in containers on cgroupsv1...

[2022-02-01 09:32] mrc0mmand commented on #22320
I suspected something like that, just wanted to make sure. I don't really care about `ExitType=cgroup` on cgroupsv1, so just documenting the behavior in the man page would be enough for me. Not sure if there's anything we could do to make it work reliably.

[2022-02-01 09:34] poettering commented on #22046
What makes you think it's unbounded?

Both dbus-broker and sd-bus will maintain in-memory queues of queued-but-not-written messages for each connection. But these are bounded, there's a limit on it. Once the limit is hit, the thing fails.

sd-bus is an asynchronous library: it will not block on IO, but only do IO when the event loop signals us the socket is writable. We'll queue messages locally a

[2022-02-01 09:57] tomty89 opened #22336 "shutdown unmount order messed up because stop job to mount / automount unit is propagated to local-fs.target"
**systemd version the issue has been seen with**

**Used distribution**

**Linux kernel version used** (`uname -a`)

**CPU architecture issue was seen on**

**Expected behaviour you didn't see**

**Unexpected behaviour you saw**

**Steps to reproduce the problem**

**Additional program output to the terminal or log subsystem illustrating the issue**

[code]

[2022-02-01 10:04] bluca commented on #22320
Can we detect v1 in the test and skip?

[2022-02-01 10:08] tomty89 commented on #22336
Actually, it's probably not exactly/entirely out of order but in the scenario the unmounting is like in parallel. The failures appears to be races triggered when the unmounting of the "child" mount is not quick enough.

[2022-02-01 10:21] poettering commented on #22320
yeah, we should.

i mean, at this point, cgroupsv1 is legacy enough for me not caring if all features work with it really.

[2022-02-01 10:22] mralexandernickel commented on #21952
not sure if this comment is helpful, but I am using systemd-homed and podman for around a year now, and this issue came up for me between the 15th of december and the 15th of january (been on vacation so I cannot tell the exact date), so the change causing this issue (not knowing if in systemd, podman or something else) should have been rolled out (on arch linux) during that time.

before that, ev

[2022-02-01 10:23] bluca commented on #22320
That's fair, but I also think we should refuse this setting and error out when starting the unit - it's easy enough to detect and in fact we already do it in several places

[2022-02-01 10:28] mrc0mmand commented on #22320
Agreed, I'll prep a patch for the test.

[2022-02-01 10:28] tomty89 commented on #22336
@poettering Btw, while there's no real reason that #22326 should be merged, it is true that relying on `local-fs.target` for shutdown unmount ordering is far from perfect. In addition to the case of `nofail`, this is another example. So if you really want to spend time fixing something, what we need here is a brand new approach that replaces this whole existing mechanism *everywhere*. Reverting #2

[2022-02-01 10:51] polaris64 commented on #22177
I am also getting this issue, it seems to happen a few times a week on average, but only for a few minutes at a time.  The error message I get is the same as above, but as yet I haven't been able to catch it in time to produce a debug log.

Flushing caches and restarting `systemd-resolved.service` does not help.

For reference: -

[code]

[2022-02-01 11:01] JonnyWhatshisface commented on #22058
@lnussel Thoughts on making it a configurable/optional setting?

I don't personally feel shutdown/halt/power/reboot commands are really a component of "system v compatibility," when the biggest part of that compatibility is the ability to use traditional init scripts and the layer that converts them to unit files. My personal view is given we are using systemd, and not system v, I expect the featu

[2022-02-01 12:03] tomty89 commented on #22052
Let's clarify this first: what *exactly* do you mean by "stop" here?

"Will not" as in the suspension will be queued/delayed (like will not "for now"), or as in lid closing actions / state changes that **occurred during the lock is on** will not ever be processed?

I'm NOT expecting the lock to make the lid switch ignored permanently (obviously that won't be a lock anymore). If you look at my atta

[2022-02-01 12:21] tomty89 commented on #22052
Ah never mind. Apparently the delay lock doesn't work as how I thought it does. I missed the `InhibitDelayMaxSec` part.

I guess what I'm really after is a convenient / "runtime" way to set `HandleLidSwitch=` et. al. to `ignore`, like without needing to edit a file and restart logind.

[2022-02-01 12:48] tomty89 opened #22339 "[RFE] Add something like --ignore-lid-switch and --handle-lid-switch to loginctl"
**Is your feature request related to a problem? Please describe.**
Since the lid switch (closed) state will persistently trigger logind to handle it, one can't really use an inhibit lock to make logind ignore the lid switch for only a couple times of closing.

**Describe the solution you'd like**
Some runtime command (option) that allow the lid switch to be ignored indefinitely without needing to

[2022-02-01 12:51] poettering commented on #22339
I don't follow? Why not just take the blocking inhibitor lock for the lid switch as long as you want this behaviour?

[2022-02-01 12:55] poettering commented on #22052
Stop happening? The lid state is ignored *while* the lock is taken, but not before or after.

We will not act on lid state while the lock is taken. Once you release it or before you took it we will.

Yes exactly, once the lock is release we return to normal behaviour and act on the lid state then in effect.

Not sure I follow.

[2022-02-01 12:58] mattock commented on #7160
I believe I've hit this same issue with Mozilla Firefox and Thunderbird on Fedora 35. Launching Thunderbird takes about four minutes because it is waiting for systemd-resolve to resolve the local hostname ("carbon") from DNS. The same seems to happen with Firefox : clicking on links that go to the default browser (=Firefox) take ages to actually load.

I can work around this problem by adding an e

[2022-02-01 13:06] tomty89 commented on #22339
Well one sort of can, I suppose. It's just lame that you have to keep something running by some means (like with a terminal window opened or having a service running `systemd-inhibit while-true-sleep-1d-script`). Or is there some neater / less silly way to do it that I missed?

[2022-02-01 13:07] poettering commented on #22339
You want to make a persistent config change?

[2022-02-01 13:08] poettering commented on #22339
What does that mean? You want the change persistently? Or not? I am confused...

[2022-02-01 13:14] tomty89 commented on #22339
You can see it as persistent-for-this-boot. Sometimes you just want it to be ignored because of a context/scenario that last for an indefinite (as in, not yet determinable) period of time, but not like till one specific program finishes its job. So it would be nice if the user can just like "tell" logind "to ignore" and "stop ignoring" on his/her will.

Persisting, but not permanent.

[2022-02-01 13:19] poettering commented on #22339
you know that all systemd tools that read /etc/…/xyz.conf also read /etc/…/xyz.conf.d/*.conf, /run/…/xyz.conf and /run/…/xyz.conf.d/*.conf, right? i.e. what you are looking for is:

[code]

because /run/ is flushed out on reboot you get the behaviour you want?

[2022-02-01 13:23] bluca commented on #22244
@poettering do we have a recommended workflow for scheduled shutdown aside from the legacy sysv tools?

[2022-02-01 13:25] #22329 closed

[2022-02-01 13:34] tomty89 commented on #22339
Yeah the problem is you need to restart logind for the snippet to be in effect, no? Which seems to be kind of a dangerous thing to do. (I tried exactly the same thing and X is left in some half crashed state.)

Besides, regardless of whether this can work successfully, it is not at all less clumsy than `systemd-inhibit while-true-sleep-1d-script.

[2022-02-01 13:43] tomty89 commented on #22339
Perhaps it would be even greater if this can be implemented like the linger file: logind checks for file (e.g. /run/systemd/ignore-lid-switch), if the file exists, logind consider the keys to have the value of `ignore`, if it does not, the cached values are used. This way one can even implement a "toggle" easily.

[2022-02-01 14:08] mattock commented on #7160
I should add that restarting systemd-resolved while Firefox or Thunderbird is stalling also "fixes" the problem.

[2022-02-01 15:43] landgraf commented on #22334
This commit causes the regression https://github.com/systemd/systemd/commit/3008a6f21c1c42efe852d69798a2fdd63fe657ec

[2022-02-01 15:52] tewarid commented on #21592
Thanks for clarifying the need for systemd-repart, I'll try it out.

udev is handled by systemd-udevd, `udevadm info /dev/block/179:2` after boot, logs

<details>
<summary>Log</summary>

[code]
</details>

init is handled by systemd / telinit.

Still trying to figure out why /dev/block/179:2 is not available when systemd-growfs runs.

[2022-02-01 16:34] #22318 closed

[2022-02-01 16:46] poettering commented on #21592
But again, is this a boot with an initrd (and in that question: which initrd generator?)? or is this without an initrd, i.e. the kernel directly mounting the rootfs itself?

[2022-02-01 17:03] nandryshak opened #22348 "systemd-resolved: Intermittent failure resolving domain names"
Re-open of prior issue: #9690

**systemd version the issue has been seen with**
 250

**Used distribution**
 Arch Linux

**Linux kernel version used** (`uname -a`)
    Linux nick-arch-home 5.16.2-arch1-1 #1 SMP PREEMPT Thu, 20 Jan 2022 16:18:29 +0000 x86_64 GNU/Linux

**CPU architecture issue was seen on**
 x86_64

**Expected behaviour you didn't see**
 Expected domain name to be resolved. It fail

[2022-02-01 17:10] #12236 closed

[2022-02-01 17:18] polaris64 commented on #22177
I've just managed to capture debug output from running `resolvectl`, however I'm not sure how much help it will be. Please note that I've replaced the actual hostname in the output with `<hostname>`.

[code]

[2022-02-01 17:24] tewarid commented on #21592
Right, the kernel is configured to mount the rootfs from /dev/mmcblk0p2.

[2022-02-01 18:24] daiaji commented on #22246
@yuwata Maybe this is a bug again? , I will compile the latest HEAD tomorrow and test it.

[2022-02-01 19:09] xioren commented on #8472
Have this issue on a brand new install of Debian Testing.

systemd 250 (250.3-1)
cryptsetup 2:2.4.3-1

log:
[code]

[2022-02-01 20:09] anitazha opened #22352 "RFE: ability to create externally controlled tunnels"
**Describe the solution you'd like**
Additional .netdev options/properties that would generate an externally controlled tunnel. I noticed there are also restrictions currently on ip6tnl in systemd-networkd where we need to provide `Local=` and `Remote=` but in the desired state these would be `::` (is this the same as "any" in systemd-networkd?). This could also be a separate RFE for this issue to

[2022-02-01 21:58] yuwata commented on #22352
@anitazha You mean, `Local=::` and/or `Remote=::` do not work?

[2022-02-01 22:06] yuwata commented on #22352
Ah, 'external' case, tunnel should be created without local or remote address.

[2022-02-01 22:07] #15026 closed

[2022-02-02 01:02] #22320 closed

[2022-02-02 01:58] yuwata commented on #22352
@anitazha The external mode support is waiting in #22355.

ip-link(8) mentions `ip route encap`, but we have not implemented that feature on routes. What is your usecase? Do you also want encap support?

[2022-02-02 06:11] yuwata commented on #22334
Fix is waiting in #22359.

[2022-02-02 06:42] daiaji opened #22360 "[systemd-networkd] After=network-online.target doesn't seem to work."
**systemd version the issue has been seen with**

**Used distribution**

**Linux kernel version used** (`uname -a`)

**CPU architecture issue was seen on**

**Expected behaviour you didn't see**

**Unexpected behaviour you saw**

**Steps to reproduce the problem**
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
**Additional program output to the terminal or log subsystem illustrating the i

[2022-02-02 07:40] yuwata commented on #22360
Please provide debugging logs.

[2022-02-02 08:00] landgraf commented on #22334
@yuwata I can confirm that fixes the issue. Thanks

[2022-02-02 08:03] yuwata commented on #22334
@landgraf Thank you for testing the PR so quickly!

[2022-02-02 08:09] JonnyWhatshisface commented on #22058
Disregard, I just saw your pull request was merged. Your merge fixed my issue.

Just one thing now: when using force, it should skip using logind_reboot and go straight to halting the system to prevent calling inhibitors.

[2022-02-02 08:12] JonnyWhatshisface commented on #22058
Issue was fixed in https://github.com/systemd/systemd/commit/adefc8789b63225662e50ceaa282f9553b5c64eb

[2022-02-02 08:12] #22058 closed

[2022-02-02 08:39] poidl opened #22364 "How to wait for non-root-user accessible tap devices"
I'm a beginner trying to start qemu on boot as a non-root user with tap devices. The non-root user is granted access to the tap devices in `.netdev` via the `User=` and `Group=` directives.

I get an error message:

[code]

I found I can solve this by adding

[code]

where IFNAME is the tap device name. But this is cumbersome, because I need to hard-code all the interface names into the service fi

[2022-02-02 09:24] poettering commented on #21592
So, are you saying that *no* initrd is involved?

[2022-02-02 09:56] tewarid commented on #21592
Right, initrd is not involved - bootloader loads kernel image that sets up root file system on disk.

[2022-02-02 10:44] daiaji commented on #22360
@yuwata The log has been supplemented.

[2022-02-02 11:03] #22334 closed

[2022-02-02 11:47] yuwata commented on #22360
It doesn't contain no debugging logs from networkd nor wait-online. Please see my last comment in the previous issue.

[2022-02-02 13:46] poettering commented on #21592
OK, so best would probably be to find a to find the device node to open for a major/minor pair without relying on udev's /dev/block/* symlinks. If we did that we should be able to open the device node before udev is up.

Not sure how to do that best though...

Most likely we have to open /sys/dev/block/$major:$minor/uevent and then look for DEVNAME there... kinda sucks though

[2022-02-02 14:11] poettering opened #22370 "#20833 must be reverted (OnFailure=/OnSuccess= metadata propagation)"
#20833 contains non-trivial to fix memory corruptions, see my comments there. THis needs some more rounds of review. I would have posted a revert PR, but it already got changed since, hence this issue instead.

This really isn't ready for release, and is a blocker issue hence.

[2022-02-02 15:10] poettering opened #22376 "KERNEL_INSTALL_MACHINE_ID in /etc/machine-info should be revisited"
I am not too happy with  #21757 and how it played out.

Three points:

1. I would like to understand why /etc/machine-info is ever written to by the script. Consuming might be acceptable, but writing it?
2. I don't think /etc/machine-info is the right place for this, it's not really machine info, it's kernel-install specific configuration. Hence, can we please move this to /etc/kernel/image-prefix

[2022-02-02 15:11] poettering commented on #22376
(I'd be fine with still honouring KERNEL_INSTALL_MACHINE_ID if it is set, but I am pretty sure we should move this elsewhere, and I think probably never auto-write this, but maybe I don't understand what this is about...)

[2022-02-02 15:12] DaanDeMeyer commented on #22376
Writing a separate file in /etc/kernel was my initial idea but @keszybz suggested we use /etc/machine-info. I don't mind switching back to a separate file in /etc/kernel but @keszybz might want to pitch in here as well.

[2022-02-02 15:15] pieterlexis opened #22377 "`machinectl shell` results in no shell and a coredump"
**systemd version the issue has been seen with**

**Used distribution**

**Linux kernel version used** (`uname -a`)

**CPU architecture issue was seen on**

**Expected behaviour you didn't see**

**Unexpected behaviour you saw**
[code]

**Steps to reproduce the problem**
* use `mkosi` to generate a Ubuntu Focal image with this config:
[code]
* Import it `machinectl import-tar image.tzr.xz ampache`

[2022-02-02 15:18] bluca commented on #22370
Follow-ups here: https://github.com/systemd/systemd/pull/22378
For the rest, see comments on #20833

[2022-02-02 15:33] daiaji commented on #22360
https://gist.github.com/daiaji/c5e8e209e42f873988cf079397eba39d

[2022-02-02 15:43] poettering opened #22379 "KERNEL_INSTALL_LAYOUT needs love"
See my comments on #19006.

Questions: where is this actually configured? /etc/machine-info? /etc/kernel/install.conf?

(I am pretty sure it should not be /etc/machine-info, that's supposed to carry machine information, not boot loader details)

this needs documentation, i find this all utterly confusing, and kinda chickening out...

So, I'd like to take a step back from all this. What is the actu

[2022-02-02 15:46] poettering commented on #22376
@DaanDeMeyer what was the rationale for writing that file automatically though?

(writing to env var files sucks btw, since you basically need an editor. if you we use a file like /etc/kernel/image-prefix-dir or so that just containst the prefix dir string that is much either since if you want to change it you jst rewrite the file as a whole)

Also, /etc/kernel/install.conf exists now too. So one

[2022-02-02 16:08] DaanDeMeyer commented on #22376
@poettering The reason for writing a file (either machine-info or a new one in /etc/kernel) automatically is because we need some kind of identifier to identify the directory to use in the boot directory that isn't the machine ID because it's not guaranteed to be available. Like you already said, it doesn't matter what it actually is, so we decided to just generate a UUID and use that. Of course w

[2022-02-02 16:23] medhefgo commented on #22377
Looks like a duplicate of #22234 to me.

[2022-02-02 16:23] #22377 closed

[2022-02-02 17:47] dasJ commented on #21707
This would also help because it we could change properties of the socket without having to stop the service which might be expensive. We currently have to stop the service as well because the socket won't start when the unit is already active.

[2022-02-02 18:30] jamincollins commented on #19394
Looks like three different users are all experiencing this issue, any update?  Is further information needed?  If so, what information?  I'm happy to provide any additional information.

[2022-02-02 18:45] pieterlexis commented on #22377
looks like it, I guess I used the wrong keywords to search. Thanks!

[2022-02-02 20:06] martin-vitek commented on #19537
The same problem is with ssh - it is searching `.ssh/` in home directory using `getpwuid`.

We are using [JupyterHub](https://jupyter.org/). It is a web application where user authenticates by OAuth2, and based on that, a dynamic user is created for him. This is working very well, and it is very convenient. The user can run python scripts, persistently store data, but he cannot simply use ssh for

[2022-02-02 21:17] durfman commented on #17686
Using  Packer 1.7.8 and ubuntu 20.04  image we receive the same issue as Lethargosapatheia explained.  During packer build the VM gets stuck stating "Reached target Host and Network Name Lookups".  Was resolution ever found?

[2022-02-02 22:21] lethargosapatheia commented on #17686
@durfman in my case the problem was related to cloud-init, which is not terribly explicit, unfortunately. I think the problem at that point was that it couldn't get network access at all or something to that effect.
One of the things I realised in the meantime that I needed to use cloud-init from the very beginning, and no longer debian-installer.
The boot parameters also need to be correct. This

[2022-02-02 23:56] yuwata commented on #22360
Still it does not contain no debugging logs. Please create the following drop-in configs and reboot.
[code]
[code]

[2022-02-03 00:17] anitazha commented on #22352
Thanks for getting to this so quickly @yuwata!

We're only using this in ingress traffic so we don't need encap support on routes. Maybe in the future but no one has mentioned wanting it yet. I'll take a look at the PR.

[2022-02-03 00:19] yuwata commented on #22352
Thanks. OK. Let's add encap support when we get a request.

[2022-02-03 02:07] coagentpai commented on #21967
@yuwata
I think I may have a lead on what I am doing wrong here. When `systemd-network-generator.service` is enabled boot fails. When it's not enabled boot works fine. For some reason I had overlooked it earlier. I don't quite understand all the details but I suspect because `ip=dhcp` is in the kernel command line it must be creating a configuration that is later releasing the IP interrupting root

[2022-02-03 02:29] yuwata commented on #21967
Thanks. But, the journal seems to be truncated. It does not contains early stage of starting the service.

[2022-02-03 02:42] coagentpai commented on #21967
Sorry I had removed the earlier lines:
[journal-data-clean.txt](https://github.com/systemd/systemd/files/7991441/journal-data-clean.txt)

[2022-02-03 03:22] daiaji commented on #22360
https://gist.github.com/daiaji/37d8ce1a0bdf0c060783f2a570e14d86

[2022-02-03 04:01] yuwata commented on #21967
Thank you!

I hope #22383 should fix your issue even if systemd-network-generator.service is enabled.

In your log, I found the following:
[code]
It seems you do not use number-prefixed .network files. It easily causes issues. As, networkd searches a matching .network file in alpha-numerical order. And network-generator.service generates .network files prefixed "90-" or "91-". So, you also need to

[2022-02-03 04:02] yuwata commented on #22360
Thank you!

[2022-02-03 05:08] sunharis opened #22384 "networkd: Is NTP a system level configuration or interface level"
I have a system with two ethernet interfaces, eth0 and eth1. Per networkd, the NTP servers are property at interface level.
But NTP is for the time management and it does not matter if the time comes down to the system via eth0 or eth1. Single time should be given to the system.
Does it makes more sense to move NTP servers as a system level configuration ?

Same question holds good for the NameSer

[2022-02-03 05:10] sunharis commented on #22384
@poettering @ratagupt

[2022-02-03 05:38] yuwata commented on #22360
The last log suggested systemd-networkd-wait-online.service is not started.

Why `Wants=network-online.target` in the test.service is commented out? Please see systemd.special(7).

[2022-02-03 05:39] yuwata commented on #22360
Please try to enable `Wants=network-online.target` in the test.service, and provide debugging logs again.

[2022-02-03 05:53] yuwata commented on #22384
If you want to configure system wide NTP servers, then please create the following:
[code]
For DNS servers, similarly you can configure /etc/systemd/resolved.conf.d/foo.conf.

About the question why NTP or DNS servers assigned by networkd is per-link config. Because each network interface may be connected to different network. For example, if the host is a router, then one interface is connected t

[2022-02-03 05:53] #22384 closed

[2022-02-03 07:01] daiaji commented on #22360
Isn't it enough to just use `After=network-online.target`?

[2022-02-03 07:03] yuwata commented on #22360
No. Wants= is necessary.

[2022-02-03 07:05] daiaji commented on #22360
Sounds like Wants=network-online.target and After=network-online.target are required?

[2022-02-03 08:12] daiaji commented on #22360
[code]
[code]

[2022-02-03 08:53] evgeni opened #22385 "TimeoutStartSec not honoured if changed *after* the service is starting"
**systemd version the issue has been seen with**

**Used distribution**

**Linux kernel version used** (`uname -a`)

**CPU architecture issue was seen on**

**Expected behaviour you didn't see**

**Unexpected behaviour you saw**

**Steps to reproduce the problem**

[code]

[code]

in a second shell:
1. edit `/etc/systemd/system/timeouttest.service` to have `TimeoutStartSec=1` or similar (or even r

[2022-02-03 09:35] GitArUs opened #22386 "udev: Support for setting MDI-X state in .link files"
Low priority (very rarely needed).
If it is possible I would like to be able to set mdi-x state in similar way as speed/duplex can be set. Classic nework scripts (like in Fedora) allow to specify ethtool options in configuration file (ifcfg-xxx) in convenient way (ETHTOOL_OPTS="mdix on").

**Describe the solution you'd like**
Something like MdiX=auto|off|on in [Link] section would be great.

**Des

[2022-02-03 09:39] sunharis commented on #22384
Thank you @yuwata

[2022-02-03 10:36] behrmann commented on #19537
As said in jupyterhub/systemdspawner#92, I'm not sold that `DynamicUser=` is the right hammer for that particular nail. I also agree with @poettering that `HOME` should be honoured, which is what most parties do, and that the whole thing is not very well-defined and that there is not really an obvious choice of what it should be (looking at various `/etc/passwd` entries).

That being said I think

[2022-02-03 10:54] MayeulC commented on #15273
I am planning to create a bootable device with Arch Linux and systemd-homed.
This would allow me to carry a bootable system on a single storage device, while being compatible with other systems that understand homed.

The device is a fast (Sandisk extreme pro) flash drive. Here's how I ideally picture the partition table:

[code]
Ideally, I'd like to also encrypt the root partition to prevent temp

[2022-02-03 13:05] poettering opened #22390 "sd-boot: reboot-through-nextboot should be made generic, and independent of BitLocker"
See discussion in:

https://github.com/systemd/systemd/pull/22043#issuecomment-1028964448

I am pretty sure the option knob should be renamed (to drop the bitlocker specificity), hence making this a blocker issue for the upcoming release, since we shouldn't do a release with an option that is going to be renamed.