[2015-07-01 03:58] StoneCypher commented on #437
@poettering it is not appropriate for you to close the issue by google saying "stop using our resources" because you have decided it is inconvenient.

you do not have the privilege of using their servers over their protest.  choices of this form do serious damage to community good will.  please re-open.

[2015-07-01 04:17] NotLennart opened #441 "Issue #437 closed"
timeX.google.com provide non standard time

[2015-07-01 04:18] GaiusCoffee commented on #437
Both timeX.google.com and systemd are both non-products, therefore, there's no problem here. Right?

[2015-07-01 04:21] johnku1 commented on #437
Curious, why is a FOSS project depending on a proprietary time server(i.e Google's) as a first resort?

[2015-07-01 04:23] mlindner commented on #437
@poettering You're being kind of absurd and stupid here. Supplying a broken timeserver as a default is inane and silly. Please accept the pull request. https://github.com/systemd/systemd/issues/439

[2015-07-01 04:23] jhalterman commented on #437
Looking forward to seeing the emergency update after Google pulls the DNS entry for its time servers.

[2015-07-01 04:24] codyhatch commented on #437
@johnku1 According to the email thread linked earlier:

Didn't seem like good reasoning to me to begin with, and it's now doubly so since Google has now made it explicit.

[2015-07-01 04:26] marineam commented on #437
NTP pool's vendor registration is provided precisely for such default values in software projects:

[code]

We (CoreOS) are happy to register `systemd` on the projects behalf if no one else has.

[2015-07-01 04:28] jedsmith commented on #437
@marineam +1, and I will update #439 to match if that work is performed.

[2015-07-01 04:48] poettering commented on #437
oops. Somehow github lost my explanation For closing the issue i posted here which i typed on the phone.

Coreos should register its own product with the pool and use that. Systemd upstream is not a product, we shouldnt register it as one. distributions such as fedora have their own pool, debian has, ubuntu ha, arch hass. if downstream dont set the correct pool for their product then thats somethi

[2015-07-01 04:49] kevinoid opened #442 "systemd-cryptsetup v220 breaks non-LUKS devices with unspecified type"
On a system running the Debian testing distribution, I recently upgraded the `systemd` package from 215-18 to 220-7.  The system now fails to open the swap device (/dev/sda7) on boot with the following message:

[code]

The device is configured as a plain (non-LUKS) device using a keyfile with the following line in `/etc/cryptsetup`:

[code]

I tracked the issue down to a change in [commit 7376e83

[2015-07-01 04:50] codyhatch commented on #437
The issue is that the google time servers shouldn't be used as a default, period.  How does adding a warning if you use the defaults fix the underlying issue?

A default you shouldn't use turns the entire idea of a default on its head.

[2015-07-01 04:53] poettering commented on #437
Even if the google servers dont provide time that is correct, its good enough to run testcases again. Products however of course shouldnt use it.

the ntp pool made very clear we cannot use them. As i read what is written above google just says the servers are crap but doesnt explicitly deny us to use them. Which is why id like to leave them in place because they are at least googd enough for test

[2015-07-01 04:54] mlindner commented on #437
@poettering Then how about we delete the server list entirely and let systemd crash and burn loudly when ntp servers are not supplied. This seems preferable to silent failures or silent hard to find issues.

[2015-07-01 04:54] chrisportela commented on #437
@codyhatch it completely solves it. He is saying to not set the default at all and throw a configure warning when you try to build it (the only way its not changed before use, as before they mentioned all major distros already change it) so you make sure to change it.

I think it should have some comment around there or in the warning which points to how to get it.

[2015-07-01 04:55] jedsmith commented on #437
@poettering We do already. This issue and associated PR is to fix Google's concern, the subject of the thread. Google has indicated their presence as a default at all is suboptimal.

That's the only thrust of my patch. Others are stepping in on the vendor front. I just want to fix the default for folks who compile systemd on their own and such. I believe you've misunderstood Google's position here

[2015-07-01 04:57] marineam commented on #437
@poettering we do have our own pool and use it. The situation is simply that the default built into systemd _is_ going to wind up in the wild, whether by users building systemd on their own or small linux distros that haven't _yet_ gotten to registering their own pool. What do you mean by "the ntp pool made very clear we cannot use them"? Is that just the generic pool.ntp.org? In which case yes of

[2015-07-01 05:17] crrodriguez commented on #437
@poettering I think the patch attached in #439 is the best compromise possible as google does not want systemd using its time servers and that's something I believe we should honour..

[2015-07-01 05:27] poettering commented on #437
systemd is not an app you install. Its something you have adjust to your needs before you can use it in a product. And the products should do the right thing and register as a vendor with the ntp pool. Its not systemd's job to do that for them and take the responsibility for it. We are an open source project, with no legal entity behind it and as such we are not the ones who can take responsibilty

[2015-07-01 05:30] frei0 commented on #437
From www.pool.ntp.org/en/vendors.html:

Since systemd is _not a vendor_ but is _an open source project_, it seems readily apparent that the NTP Pool would be happy to be a default for systemd.

When NTP Pool warns that pool.ntp.org should not be a default, this warning is directed to _vendors_, not _open source projects_.

[2015-07-01 05:32] poettering commented on #437
@crrodriguez we shouldnt merge a patch that is expressly againstvwhat the ntp pooL folks allow.

@marineaum please do not register a pool under the systemd name. We cannot take responsibility for anything like that. we have no legal entity, we are not a vendor.

[2015-07-01 05:34] hishamhm commented on #437
@poettering Your explanation makes sense, except for the fact that you are ignoring Google's request for having their server being removed from the source code as a default. It's not a matter if their servers are bad or not, it's a gesture of goodwill towards the request from someone providing a publicly accessible resource.

@dannyperson's link above pretty much settles that ntp.org is fine with

[2015-07-01 05:39] jedsmith commented on #437
@abh Can you perhaps speak to this perceived corner case in the usage of the pool? This seems to be a situation not encountered before, since traditional ntpd does not ship with defaults and instead only has example configurations with ACTS drivers and such.

We're obviously at an impasse here. Allow me to summarize:
- Google firmly requests, including with emphasis, that systemd stop using `time?

[2015-07-01 06:12] martinpitt commented on #437
After reading that, it seems to me that this would be a viable compromise:
- Don't default to any server.
- Skip timesyncd tests with a big warning if you configured without any
- In semaphore and similar CI tests, configure with an appropriate server. E. g. semaphore runs under Ubuntu, and it would be perfectly valid to use `?.ubuntu.pool.ntp.org`, and I don't think anyone would complain if it us

[2015-07-01 06:14] aneeshusa commented on #437
This PR takes away the default ntp servers (I agree a systemd vendor pool doesn't make sense.)

EDIT: Oh, I didn't see your comment about skipping timesyncd tests, I should add that to the PR.

[2015-07-01 06:26] aneeshusa commented on #437
Actually, what's the use case for configuring with timesyncd but not providing ntp servers (i.e. when would we skip timesyncd tests)? CI can just pass the option, and I can't think of another use case at 2:30 AM...

[2015-07-01 06:28] martinpitt commented on #437
Sure, I'm also fine with tests just failing if you forgot to configure with an NTP server. (FTR, I'm not even aware of any timesyncd tests upstream..).

[2015-07-01 06:34] aneeshusa commented on #437
I can't find any timesyncd tests, so I'm not going to add code to skip something that doesn't exist.

[2015-07-01 06:38] fdr opened #445 "gdigdlcvjelig"

[2015-07-01 06:38] fdr opened #446 "vlrnrkghhecthrrij"

[2015-07-01 06:38] fdr opened #447 "bucjfjlcfvbuiggit"

[2015-07-01 06:38] fdr opened #448 "biuttehlrcttvdgkrk"

[2015-07-01 06:38] fdr opened #449 "tjnketkbbiffkie"

[2015-07-01 06:39] fdr opened #450 "vjifhhcvtblegkhndj"

[2015-07-01 06:45] julienw opened #451 "When the monitor DRM status is "unknown", systemd thinks it's connected."
Because of a kernel issue (see https://bugzilla.kernel.org/show_bug.cgi?id=100741) my monitor DRM status is set to "unknown" instead of "connected"/"disconnected" after a resume.

Because of this, systemd refuses to suspend once more, because it thinks 4 monitors are connected. It works again if I run "xrandr" which sets the status right.

I'm not sure what is the right behavior here, but for sure

[2015-07-01 06:47] julienw commented on #451
output of `journalctl -b -u systemd-logind` when it fails suspending:

[code]

output of /sys DRM status when there is the issue:

[code]

output of /sys DRM status when there is no issue (after a clean boot or after running `xrandr`):

[code]

output of `xrandr`:

[code]

[2015-07-01 06:59] #450 closed, assigned to nobody

[2015-07-01 07:04] martinpitt commented on #445
@fdr, pretty please stop this!

[2015-07-01 07:04] #445 closed, assigned to nobody

[2015-07-01 07:04] #446 closed, assigned to nobody

[2015-07-01 07:04] #449 closed, assigned to nobody

[2015-07-01 07:04] #448 closed, assigned to nobody

[2015-07-01 07:04] #447 closed, assigned to nobody

[2015-07-01 07:23] #416 closed, assigned to nobody

[2015-07-01 08:58] f4hy opened #454 "timesyncd gives no error message if it can not reach servers"
I had a setup which for months the NTP servers in /etc/systemd/timesyncd.conf were not reachable, yet nothing in the journal about it. Doing `journalctl --unit=systemd-timesyncd.service
` gives me weeks of nothing but:

[code]

with no synchronized messages updating the time, but also no messages that the time servers were unreachable. Eventually when I figured out the servers in the config were n

[2015-07-01 09:21] kekimmo commented on #437
@dannyperson @hishamhm I don't understand that interpretation.

Isn't that specifically asking Open Source projects ("you") to get a vendor zone if they use the NTP pool in their default configuration?

So, if systemd wants to use the NTP pool in systemd's default configuration, systemd is particularly welcome to do so, but systemd must get a vendor zone.

It seems to me that "vendor zone" is just

[2015-07-01 10:03] eworm-de opened #455 "kdbus breaks networkmanager-vpnc"
Networkmanager itself works just fine, but I can not connect to VPN via vpnc plugin. System log looks like this:

[code]

So we have a policy issue, no?

[2015-07-01 10:17] ghost commented on #437
@kekimmo Worse, the idea is to avoid setting up a sane default because insane defaults (Google) exist and were/are preconfigured.

The two solutions here are obvious:
1. Set up a sane preconfigured option if a preconfigured option is to exist _at all_: Replace Google with `systemd.pool.ntp.org`, allowing CoreOS to register it so that it feels comfortably NIH to people who object to self-vendoring

[2015-07-01 10:32] ghost commented on #441
It has been reopened now.

[2015-07-01 10:32] kaihendry opened #456 "systemd-nspawn networking best practices"
Also posted on https://bbs.archlinux.org/viewtopic.php?pid=1541228#p1541228

I think I followed the guide https://wiki.archlinux.org/index.php/Systemd-nspawn correctly.

I have the guide's `/etc/systemd/network/50-containers.network` setup on my host.

But I can't get network working from a container.

<img src=http://s.natalian.org/2015-07-01/no-network-in-container.png>

http://ix.io/jpm is a lo

[2015-07-01 11:09] jsynacek opened #457 "test-udev fails on kvm"
I'm not sure if it's relevant or not, but running the test on a KVM machine fails:

FAIL: test/udev-test.pl

From test-suite.log:

TEST 137: builtin path_id
device '/devices/pci0000:00/0000:00:1f.2/host0/target0:0:0/0:0:0:0/block/sda' expecting node/link 'disk/by-path/pci-0000:00:1f.2-scsi-0:0:0:0'
./test-udev add /devices/pci0000:00/0000:00:1f.2/host0/target0:0:0/0:0:0:0/block/sdaadd:         err

[2015-07-01 11:12] dvdhrm commented on #203
As there haven't been any objections, I now reverted the change without any version bump.

[2015-07-01 11:12] #203 closed, assigned to nobody

[2015-07-01 11:21] hwinkel commented on #359
any hints for hunting the root cause so far? seems the journal directory or file handling/caching cluold be involved ?

[2015-07-01 11:36] intelfx commented on #435
I have a mountpoint `/test-directory` in fstab, which somewhy doesn't get pulled in by the test target... but if this double escaping is "display only", then I suppose my problem is somewhere else.

[2015-07-01 12:16] arvidjaar commented on #435
But is it mounted? Could you show /etc/fstab?

[2015-07-01 12:22] MatejLach commented on #437
If @poettering doesn't want to vendor a pool, doesn't want the NTP servers to be blank by default and Google doesn't want systemd to use their test servers, the only possible solution I could see is for ntp.org to provide some sort of `devtest.pool.ntp.org` if they are willing to, so that systemd and other projects that feel similarly can use it as a reasonable default without annoying anyone.

I

[2015-07-01 12:22] intelfx commented on #435
No, it isn't (and doesn't get mounted).

It says `none /test-directory tmpfs noauto 0 0`.

[2015-07-01 13:09] #441 closed, assigned to nobody

[2015-07-01 13:14] mburnicki commented on #437
Here is a plot how time1.google.com smeared the time over the leap second:
http://people.ntp.org/burnicki/leap-second-2015-06-30/time1.google.com-216.239.32.15.png

And here is what time.windows.com was doing:
http://people.ntp.org/burnicki/leap-second-2015-06-30/time.windows.com-23.99.222.162.png

So I's say neither of them is appropriate for accurate timekeeping.

[2015-07-01 13:24] abiuan opened #458 "Multiseat is not working after upgrade of systemd from 215-17 to 220-7"
I have a machine with 2 nvidia graphic cards, configured as multiseat, with 2 seats.
Debian version is testing (stretch). I use nouveau driver for nvidia cards.
The output of "loginctl seat-status seat1" is normal.

seat1
         Devices:
                  ├─/sys/devices/pci0000:00/0000:00:07.0/0000:03:00.0/drm/card1
                  │ [MASTER] drm:card1
                  │ ├─/sys/devices/pci000

[2015-07-01 13:26] jaystrictor commented on #397
Seems like this is not a problem with the `-e` option, but rather with the `-n` option.

The command `journalctl -nall` works well, so does `journalctl -n193`. In general, any number below or equal to 193 works, while `journalctl -n194` and above seem to seek to the wrong location inside the journal and print the wrong output.

[2015-07-01 13:29] shaneforsythe commented on #317
There are currently 2 open TTS tickets for Fedora regarding this issue
  https://bugzilla.redhat.com/show_bug.cgi?id=1141137
  https://bugzilla.redhat.com/show_bug.cgi?id=1170765

And one here for Centos7.2
   https://bugzilla.redhat.com/show_bug.cgi?id=1199644

(also see: https://bugs.launchpad.net/ubuntu/+source/mosh/+bug/1446982 )

Ubuntu,Debian, and Centos7.2 have now all reverted the commit i

[2015-07-01 13:42] mbiebl commented on #435
If it's "noauto", then it won't be mounted automatically, i.e. hooked up in local-fs.target

[2015-07-01 13:45] intelfx commented on #435
I know, but I wanted the target to pull in the mount...

...but well. I've missed this sentence in the man.

Ok, so this whole report is invalid.

[2015-07-01 13:45] #435 closed, assigned to nobody

[2015-07-01 13:57] mbiebl commented on #451
Sounds like
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=788400#92

[2015-07-01 13:59] mbiebl commented on #451
@julienw Lennart reworked this particular code in https://github.com/systemd/systemd/commit/602a41c22ac2df33b4b5e5083719c1cfaf58acf9
which is part of v221. If you can test 221-1 from Debian unstable, that would be great.

[2015-07-01 14:09] mbiebl commented on #266
@arvidjaar So far I haven't seen another unit triggering this particular issue, so the explicit Conflicts was sufficient.
But you are right that this points at a more general problem and if a more general solution can be found, even better.

[2015-07-01 14:12] poettering commented on #437
I have now deleted a couple of hate-filled messages here and locked the issue. I'll unlock it again in a few days when the reddit peanut gallery lost interest.

[2015-07-01 14:17] ikeydoherty opened #461 "bootchart spams console in VM (cannot read disk model)"
Currently when bootchart is enabled, an error is printed to the console, despite being a non-fatal condition.

Relevant "fix" would be:

[code]

Is this something that would be fixed? If so I'll follow up with a pull req.

[2015-07-01 14:19] ikeydoherty commented on #461
Or he'll do it before I post this.

[2015-07-01 14:46] heftig commented on #455
Yes, I think so. I think the default policy for the systemd system bus allows nothing and the generated busname units poke "AllowWorld=talk" holes  in order to allow clients to talk to them.

I guess this can be fixed by providing service definitions (/usr/share/dbus-1/system-services) for the VPN plugins. The generator will pick them up and create busname units with policy.

[2015-07-01 15:20] dvdhrm commented on #378
Fixed in kdbus upstream:
https://github.com/systemd/kdbus/commit/4a4a7f03237e559025119fb7083eb1a651b29190
(sha256 subject to change)

[2015-07-01 15:20] #378 closed, assigned to nobody

[2015-07-01 15:22] dvdhrm commented on #381
Fixed in:
https://github.com/systemd/systemd/commit/0204c4bd69f694b527643ace9d434befce80085c

Ray Strode also agreed on dropping support for multiple sessions on the same VT, gdm does not use it anymore these days.

[2015-07-01 15:22] #381 closed, assigned to nobody

[2015-07-01 15:48] ShadowKyogre commented on #438
Did some more research and it turns out it's a kernel bug. I found this out by killing udev and noticing the phantom joystick was still being created: https://gist.github.com/denilsonsa/978f1d842cf5430f57f6

[2015-07-01 16:37] kaysievers commented on #455
Fixed by https://github.com/systemd/systemd/commit/3723263f4989ebeb087cf0a1259884de962bc85e

[2015-07-01 16:37] #455 closed, assigned to nobody

[2015-07-01 16:45] kaysievers commented on #312
Bus names and file names need to match with native kdbus. With dbus-1 they don't, but I don't think we can make work with dbus-1 compat. Closing.

[2015-07-01 16:45] #312 closed, assigned to nobody

[2015-07-01 16:51] mbiebl opened #462 "can't redirect (debug) output of systemd-udevd"
I'm trying to run systemd-udevd in debug and redirecting the output to a file.
Reading the man page about --debug I tried the following:

[code]

But that file just remains empty. Am I doing something wrong or is this a bug?

[2015-07-01 16:57] kaysievers commented on #457
This works just fine in qemu here. Any idea what's going wrong and what might cause it?

[2015-07-01 17:16] kaysievers commented on #462
The log should just end up in the journal because the redirect is not a tty anymore.
You should be able to add SYSTEMD_LOG_TARGET=console.

[2015-07-01 17:24] kaysievers commented on #462
Added log_set_target(LOG_TARGET_CONSOLE); to the code.

We should probably just remove the --debug option and document in the man page how to use the environment variables. No other systemd tool has this switch.

[2015-07-01 17:24] #462 closed, assigned to nobody

[2015-07-01 17:44] mbiebl commented on #462
In this particular case I was running udev under sysvinit, so no journal is available.

[2015-07-01 20:53] zonque commented on #461
Fixed in 4e5356169a

[2015-07-01 20:53] #461 closed, assigned to nobody

[2015-07-01 21:14] dvdhrm commented on #462
For more details, see `src/basic/log.c`. The STDERR ("console") fallback is really the last option we chose by default. So if the journal is not available, we still try kmsg.

By setting SYSTEMD_LOG_TARGET appropriately, you can avoid this behavior, as Kay explained.

[2015-07-01 21:24] elkrejzi commented on #312
How about at least handling the non-zero exit status of the generator (return if symlink exists or overwrite it)?

[2015-07-01 21:48] eworm-de opened #464 "kdbus: exchange full"
Looks like kdbus is responsible for this, I am not sure though. Happens from time to time on kdbus-enabled system, have not seen it without.

systemctl and other systemd-tool just give "Exchange full" messages:

[code]

And journal reports the same for pam_systemd

[code]

[2015-07-01 21:51] jernst opened #465 "machinectl clone: access denied"
[code]

It's unclear what is going wrong here. The image otherwise can be renamed or deleted. Nothing particular in the journal.

[2015-07-01 21:57] mbiebl commented on #462
2015-07-01 23:14 GMT+02:00 David Herrmann notifications@github.com:

Is this behaviour of systemd-udevd documentend somewhere?

##

Why is it that all of the instruments seeking intelligent life in the
universe are pointed away from Earth?

[2015-07-01 23:27] teg commented on #299
This branch was just merged, so hopefully this is fixed for you with the next release. If not, please reopen. Thanks for the report!

[2015-07-01 23:27] #299 closed, assigned to nobody

[2015-07-02 03:46] zonque commented on #464
This is a kdbus issue, yes. What happens is that the pool of the receiver of a message runs full, either because too many messages are received in a short period of time, or because messages remain in the pool that should be freed. It could also mean the sender is issuing a sync reply request but can't receive the answer, for similar reasons.

Do you happen to see any pattern in when that occurs?

[2015-07-02 04:00] kaihendry opened #468 "sysctl fails to setup IP forwarding"
Using 221-2 on Archlinux.

http://s.natalian.org/2015-07-02/ip_forward_system_conf_bug.mp4

Only once I had `/etc/sysctl.d/40-ip-forward.conf` set!

Ref: https://bbs.archlinux.org/viewtopic.php?pid=1541424#p1541424

[2015-07-02 04:02] kaihendry opened #469 "systemd-networkd fails to setup host0 container interface on boot"
Using 221-2 under Archlinux

Video demonstrating the issue: http://s.natalian.org/2015-07-02/systemd-networkd-container-host0.mp4

Error messages:

[code]

[2015-07-02 04:43] jernst commented on #468
To confirm and to elaborate:
1. `/etc/sysctl.d/ip_forward.conf` contains `net.ipv4.ip_forward = 1`
2. Reboot
3. `cat /proc/sys/net/ipv4/ip_forward` shows 1
4. `systemd-nspawn -n ...` container has local networking, but fails to reach upstream
5. toggle the bit: `echo 0 > /proc/sys/net/ipv4/ip_forward`, followed by `echo 1 > /proc/sys/net/ipv4/ip_forward`
6. container now can reach upstream

[2015-07-02 07:40] eworm-de commented on #464
Not sure what the exact cause is. This happens on a git server with lots of simultaneous ssh connections (via sshd.socket). The repositories are managed by gitolite, but I do not think this matters, no?

[2015-07-02 08:21] dvdhrm commented on #464
This looks like a memory-leak of sd_bus_message somewhere in libsystemd (and as such, it does not free the pool memory). Especially the fact that it only happens for systemd services (which are native), and not for proxies is a bit suspicious.

How long does your machine run for you to hit these errors?
What distribution are you on?
Any other special setup?
(and the obligatory: which kdbus tree an

[2015-07-02 08:35] eworm-de commented on #464
I hit this twice yesterday. Not sure about the exact time it needs to trigger after a reboot.

This is with Arch Linux, [systemd 221-2](https://www.archlinux.org/packages/core/x86_64/systemd/) and Linux 4.1.1 with kdbus from Greg's char-misc tree (last commit is b69af624).

Currently I am back on legacy dbus as this server is in use...

[2015-07-02 08:56] maxcrees opened #471 "loginctl cannot lock own session"
shell output:

[code]

journal entries:

[code]

Arch Linux with systemd 221-2

[2015-07-02 09:10] dvdhrm commented on #462
Hm, they environment variables are global for all systemd utilities. The only real reference I see is systemd(1).

[2015-07-02 09:59] ghost commented on #469
Can confirm I have this issue with systemd 119+ on Arch, resorted to dnsmasq and dhcpcd, since systemd-networkd will always, even if DHCP is available, assign your device an IP from the MS "DHCP failed" range. Here's the email I sent out:

[code]

[2015-07-02 10:27] dvdhrm commented on #464
This is now fixed by: https://github.com/systemd/systemd/commit/0c9cc10dcca6cc260b293c2732e7a4833280272e

Thanks!

[2015-07-02 10:27] #464 closed, assigned to nobody

[2015-07-02 13:24] jsynacek commented on #457
I don't know, I hoped that I could get some pointers in here:) I wonder why udev doesn't suffix the dev node with "scsi-0:0:0:0".

On Fedora 22:

<pre>
# qemu-system-x86_64 -enable-kvm -hda /var/lib/libvirt/images/rhel7.qcow2
...
# make check
</pre>

Since the output is full of weird errors, I'll post the whole log here:

<pre>
===================================
   systemd 221: ./test-suite.log
=

[2015-07-02 13:28] sschindler89 commented on #359
I have another hint for this issue: I've rewritten my tool, so the timestamps of the incoming remote logs are monotonic **over all files** . journalctl now shows all entries, so this issue seems to be rooted in the monotony of the timestamps of all journalentries.

[2015-07-02 15:00] dvdhrm commented on #451
Btw., this is also a kernel bug. The kernel should properly reload the EDID information etc., so the "unknown" state should always be temporary.

[2015-07-02 15:36] sschindler89 opened #474 "journalctl doesn't follow rotated files properly"
Reproduced on Systemd 219 (Kubuntu 15.04) and 221 (Fedora 21)

If you follow a file or directory via
- journalctl --directory /path/to/logs/ -f
- journalctl --file /path/to/logs/my.journal -f

files that get rotated won't be followed in the journalctl view.
I witnessed this issue with induced rotation (due to non monotonic timelogs) as well as rotation caused by file size (by spamming the system j

[2015-07-02 16:21] drizzt commented on #421
After a bisection I found that 27cc6f166bdebc0e698fb692993b801db2618866 is the first bad commit

[2015-07-02 16:53] richardmaw-codethink opened #475 "nspawn --selinux-context call to setexeccon fails because tid is cached and not invalidated"
I've been trying to use the advanced nspawn features and came across a snag.
setexeccon() is failing with ENOENT.
After digging in with strace, it appears to be attempting to write to the exec context of the wrong thread.

I believe the reason for this is that libselinux caches this path, and invalidates it with an atfork() handler.
However, because glibc doesn't expose a low-level clone() interfa

[2015-07-02 17:08] haraldh commented on #421
What is mounted on /sys and /proc before systemd stumbles over it?

Maybe the mount options differ?

[2015-07-02 17:08] haraldh commented on #421
Can you turn on debugging?

[2015-07-02 17:09] haraldh commented on #421
btw, that code has been modified just recently... so please recheck with git master.

[2015-07-02 17:17] drizzt commented on #421
I tried with v221 and I have the same problem.
I'll re-try with currently git master with LOG_DEBUG enabled and I'll add logs.

[2015-07-02 18:17] drizzt commented on #421
[code]

[2015-07-02 18:52] drizzt commented on #421
With the last version that works (918315e457ca36cab94ff3b6060e143968c99ace), built with debugging, it doesn't try to mount /sys and /proc.
So it seems that `path_is_mount_point` was returning `> 0` and so `mount_one` returns 0 correctly.
With the new implentation, `path_is_mount_point` returns 0 and so `mount_one` tries to mount /sys and /proc

[code]

[2015-07-02 18:52] rektide commented on #258
_Third, C/R != live migration. It's the basis for it, but not only, there are other use cases for C/R other than migration._

I'll cite snappy-start's [other stated advantages](https://github.com/google/snappy-start/blob/master/README.md#snappy-start-tool-for-process-startup-snapshots); it's a different C/R implementation but the advantages apply for any C/R system:
- Faster startup, if the progra

[2015-07-02 19:46] kaysievers commented on #457
Does the "out" file reveal something?
  $ strace -f -o out test/udev-test.pl 137

[2015-07-02 22:03] zlinuxman opened #476 "/dev/disk/by-uuid/* and /dev/disk/by-label/* symbolic links missing after udev upgrade"
After upgrading udev from version 215 to version 220, I found that the
symbolic links in the /dev/disk/by-uuid and /dev/disk/by-label directories
are no longer being created on my system.  I traced the problem to
/lib/udev/rules.d/60-persistent-storage.rules.  Under 215, there was a
line in this file which read like this:

KERNEL=="fd_|mtd_|nbd_|gnbd_|btibm_|dm-_|md_|zram_|mmcblk[0-9]*rpmb", GOTO=

[2015-07-03 07:13] doraskayo opened #477 "Automatically pre-select the last used boot entry in the systemd-boot EFI boot menu"
When no default boot option is set in loader.conf ("default" is omitted) and the "LoaderEntryDefault" efivar isn't set, automatically pre-select (highlight) the last used boot entry in the EFI boot menu. In the case of a first-time boot, keep the current behavior of selecting the last suitable boot entry.

Use cases:
- Restarting an OS without having to manually select it again on boot. A system r

[2015-07-03 07:54] poettering commented on #475
Urks, libselinux is a pile of borkedness anyway. atfork() handlers really should be forbidden... They pretty much use everything that is ugly, like gcc constructors and suchlike.

I would be willing to take a patch that writes the context directly.

An alternative would be to change libselinux to query the tid directly, with syscall(). Or alternatively fix the glibc to either provide a proper wrap

[2015-07-03 08:03] danielsilverstone-ct commented on #475
I worked with Richard on this problem and for our ¢2 -- changes to libselinux or glibc take much much longer to reach usability, particularly when "Enterprise" linux is involved.  Given that systemd already uses access to the proc filesystem directly for reading attributes of other processes (something libselinux in theory provides) for determining credentials of bus endpoints, my vote (were I to

[2015-07-03 08:06] poettering commented on #475
Usually we try at least to fix things properly where the issues are. Which in this case are somewhere between glibc/libselinux I think. Again, I am open to merge a patch to nspawn, that works around this borkedness in glibc/libselinux, but I'd really prefer to have @rhatdan's opinion on this first, whether he things this should be fixed in libselinux instead, and is willing to ensure this is done.

[2015-07-03 08:09] poettering commented on #476
Yeah, we turned this from a blacklist into a whitelist.

Any chance you can prep a patch that adds the i20 and dasd matches?

[2015-07-03 08:15] poettering commented on #451
Yes, v221 should handle this properly. This should still be fixed in the kernel though.

(Also, please do not report issues in such old versions of systemd upstream. We only track bugs that are in recent systemd versions upstream).

Anyway, closing, since this should already be fixed with v221.

[2015-07-03 08:15] #451 closed, assigned to dvdhrm

[2015-07-03 08:24] jsynacek commented on #457
The trace is too long to post here, so I created this gist:
https://gist.github.com/jsynacek/bfff1832d1e9d76dd19a

[2015-07-03 08:41] julienw commented on #451
Thanks, the whole issue and threads were really informative. Hopefully the kernel devs will finally fix this too.

[2015-07-03 09:04] mmazur opened #479 "No predictable interface names without networkd"
(I'm running 219, can't check 221 for whether this got fixed. I don't see anything in the changelog indicating that it has.)

rules/80-net-setup-link.rules assumes ID_NET_NAME is set to rename all interfaces to PNIN. However that var is not set without networkd running.

So with a simple 208 -> 219 upgrade of systemd I've gotten a rather serious regression.

(Old udev rules just checked all ID_NET

[2015-07-03 09:20] grawity commented on #479
Hmm, this has nothing to do with networkd; the mechanism has been slightly expanded but remains completely within udev. You should have an 80-\* rules file that calls the net_setup_link built-in, which then determines the possible names on its own, looks for *.link files, and renames interfaces accordingly.

[2015-07-03 09:22] poettering commented on #458
Well, systemd/udev just maintain a list of seat assignments for each device, that's all. The x server then uses this information to actually put something on screen. if "loginctl seat-status" show the right seat device-to-seat assignments, than all should be good for systemd's/udev's side, since that really just shows the udev data.

WHich means this is somewhere between X and gdm. Please ask them

[2015-07-03 09:22] #458 closed, assigned to nobody

[2015-07-03 09:47] sschindler89 commented on #474
Update: This does not occur if the logs are in a subdirectory in the followed directory with a name that has the format of a machine id.

Example:
- The location of the journal file is ~/logtest/dca72f9011fc456b8c70371ad5ecdd53/test.journal
- Follow logtest: journalctl --directory ~/logtest -f

[2015-07-03 09:57] mbiebl commented on #458
@poettering apparently there were changes in logind though which broke the users setup between v215 and v220/v221. Any idea what that could be?

If gdm and X need changes, what changes would that be?

[2015-07-03 09:58] mbiebl commented on #451
@julienw Can you confirm, that v221 actually fixes your issue?

[2015-07-03 10:11] poettering commented on #458
@mbiebl "users setup"? what do you mean?

I don't see what could have changed. If the "loginctl seat-status" info shows the right assignments, then everything should be good. X uses the assignments to figure otu which devices to open, but it opens them on its own.

Consider checking the X and gdm logs for details.

[2015-07-03 10:17] mbiebl commented on #458
@poettering  user = @abiuan
Apparently he had a working setup with v215 and that regressed with v220/v221.

[2015-07-03 10:18] poettering commented on #458
@abiuan did you update anything else at the same time?

what do the X or gdm logs say about this, when this happened?

[2015-07-03 10:22] poettering commented on #479
Note sure I understand what the issue is supposed to be. @grawity is right, the renaming is applied by udev, by reading the .link configuration files. Specifically /usr/lib/systemd/network/99-default.link carries the default policy. Maybe your distro removed that file or packaged it along with networkd rather than udev?

Which distro is this anyway?

What is "PNIN" supposed to mean?

[2015-07-03 10:26] mbiebl commented on #451
btw, if this is also a kernel issue, "someone" should also file this at https://bugzilla.kernel.org/ I guess.
@julienw are you willing to do that?

[2015-07-03 10:42] bitstreamout commented on #317
@ poettering : is there any solution from upstream to avoid the method of jumping from the frying pan into the fire (aka `den Teufel mit dem Beelzebub austreiben')?  Most customers/users do not like  data loss.

[2015-07-03 11:07] poettering commented on #312
@elkrejzi not sure i groke what you are suggesting?

I mean, the config is kinda broken when you have two files for the same activatable names, so it should generate an error.

[2015-07-03 11:10] poettering commented on #465
Hmm, weird. Any chance you can run "strace -s 500 -o /tmp/strace.log -p $PID" right before issuing the clone command, replacing $PID by the PID of machined. Then, afterwards terminate strace with C-c, and attach the output it generated in /tmp/strace.log here. That should give us a hint, what precisely fails due to access control issues.

Is this maybe a system with selinux enabled? If so, if you

[2015-07-03 11:21] mmazur commented on #479
Right, it was in fact a distro packaging error, the 99-default.link file was in a separate subpackage instead of the main systemd package. I've notified distro upstream and am closing this case.

[2015-07-03 11:21] #479 closed, assigned to nobody

[2015-07-03 11:23] poettering commented on #479
(Which distro was this, out of curiosity?)

[2015-07-03 12:06] elkrejzi commented on #312
Given that D-Bus was handling it error-free (not that I say in the right way, but it never has thrown an error in such situation), it wouldn't be a smooth upgrade if something started throwing an error about something you never encountered before, especially when you log into your account on tty.

I agree that this needs to be fixed on the faulty service side, but until then at least make it less

[2015-07-03 12:07] zabbal opened #481 "add pppoe support to systemd-networkd"
Well, subject line does it :)
Would be very handy to setup PPPoE connections in same concise manner as I do with other interfaces, get them exposed to networkctl, track dependencies on underlying eth interface, automatically reestablish connections on timeouts, underlying interface flaps etc.

[2015-07-03 12:17] zabbal commented on #406
Which gcc version introduced this? Maybe it would be easier to just up the requirements for minimal gcc version?

[2015-07-03 13:09] mmazur commented on #479
[PLD](http://pld-linux.org)

Packager wrongly assumed that everything that resides under /lib/systemd/network is only relevant to networkd.

[2015-07-03 13:16] utezduyar commented on #327
I think there is still a leak. Prior to these calls, my application is issuing sync and async calls.

[code]

This sequence of calls should drop all the references to the bus and force bus to clean itself. But, I noticed the `rqueue` is getting bigger and I noticed that messages are REPLY messages to a previous async call. Then I tried to figure out how these REPLY messages ended up in the rqueue.

[2015-07-03 13:50] richardmaw-codethink commented on #475
I've included #483 for completeness. I'm happy to keep this downstream if working-around the problem is not acceptable upstream.

[2015-07-03 15:02] abiuan commented on #458
I have to check. The computer is (turned off) at work therefore I'm
unable to do anything.
Monday I will try to find the "guilty".

Regards

On Fri, 2015-07-03 at 03:19 -0700, Lennart Poettering wrote:

[2015-07-03 15:22] julienw commented on #451
I couldn't try v221 yet (I want to have some free time so that I can fix potential issues ;) ).

I already filed https://bugzilla.kernel.org/show_bug.cgi?id=100741 that was duped to an "invalid" bug. That "invalid" bug has a link to a thread started by @poettering, but I see no real consequence of the thread. Some people think the kernel should detect again the monitor status after a resume; some

[2015-07-03 16:24] poettering commented on #312
@elkrejzi I very much disagree. dbus-daemon should rather be fixed to also warn about these errors.

[2015-07-03 16:37] poettering commented on #481
There's already code for that in our tree, it just needs be be finished off and made woking in networkd.

[2015-07-03 16:38] poettering commented on #406
I generally prefer checks for behaviour over checks for version numbers, since distros tend to backport features...

[2015-07-03 16:49] poettering commented on #451
Well, see http://thread.gmane.org/gmane.comp.freedesktop.xorg.drivers.intel/62584/focus=62733

Daniel Vetter prepared a patch to fix the situation, but I never tested it, because I am too lazy. If you want the bug to be fixed, please consider testing that. The kernel bugzilla bug should really be reopened as long as that issue is not fixed there.

[2015-07-03 16:59] poettering commented on #327
Hmm, so, in systemd's own tool we not only use sd_bus_flush(), but sd_bus_close() which resets the queues. I figure that's what you should use too:
1. sd_bus_flush(); /\* write unwritten messages */
2. sd_bus_close(); /\* disconnect and discard unread messages */
3. sd_bus_unref(); /\* drop reference to bus object */

These three steps are neatly packed into _cleanup_bus_close_unref_()...

I figur

[2015-07-03 17:18] julienw commented on #451
Thanks for the extra pointer, I'll try this patch in the next days.

[2015-07-03 17:53] poettering commented on #327
I prepped a patch for this now in #485. Please have a look.

[2015-07-03 20:01] utezduyar commented on #327
Applications can freely use `sd_bus_close` but I believe libraries cannot. I mean, they cannot obtain the bus with `sd_bus_default_system` and then close with `sd_bus_close`.

In that case each library has to have their own connection to the bus with `sd_bus_open_system`.

Am I missing something?

[2015-07-03 20:03] utezduyar commented on #406
I am really horrible at autotools (who isn't). For this reason, until I find a time to implement ./configure check, I will have a downstream patch for this. I though, I shouldn't hold up anyone in case someone else wants to implement this.

[2015-07-03 22:57] kaysievers commented on #477
We do not want to write to the EFI variables unless such action is explicitly requested by the user. The EFI variable store is fragile on some machines and it should not be touched by any action during normal operations.

There is the 'd' key for for default, to set the default manually.

[2015-07-03 22:57] #477 closed, assigned to nobody

[2015-07-04 10:36] dvdhrm commented on #471
Yeah, our dbus-policy lacks entries for LockSession.

@poettering Given that we use AllowWorld=talk for kdbus, what's the reason to keep shipping those elaborate dbus1 policies? Why not punch holes for everyone to talk to our daemons?

[2015-07-04 10:43] dvdhrm commented on #327
Libraries should never care for this. They either must take the bus passed by the application, or they must open their own. But the must never use the default bus! This is global state and thus not available to libraries. In sd-bus it is really just a convenience helper for _applications_, but we explicitly provide an API to avoid this global state.

Edit: ..and if the application passes the defau

[2015-07-04 10:50] dvdhrm commented on #438
I cannot follow, sorry. Can you describe the problem in more detail?

[2015-07-04 10:56] dvdhrm commented on #415
Please describe this in full detail. It's cumbersome to jump between threads to gather information. I appreciate the links, but I really wouldn't mind duplicating a description of your issue.

Anyhow, sd_bus_slot cleanup callbacks sound easy to implement. But I need further information:
- when should it be called
- what context should it have
- _why_ is it exactly needed
- _who_ is going to use it

[2015-07-04 11:10] dvdhrm commented on #401
Fixed: https://github.com/systemd/systemd/commit/e2bccc9d9974eb1290653ecfa3ccfd03c313842b

[2015-07-04 11:10] #401 closed, assigned to nobody

[2015-07-04 11:47] utezduyar commented on #327
I don't really agree that libraries are not allowed to use the API to get the default connection. It could be that application is a gdbus applicaiton linking to a sd-bus library. Then all the sudden, bunch of applications need to be changed to pass the default connection.

It is of course Ok, if the library opens its own connection and makes sure to clean up after itself but that means we will hav

[2015-07-04 11:51] dvdhrm commented on #327
I did not say that applications are not allowed to use the default-bus API. I said 'libraries'! And I stand by that.

We really don't want global state in libraries. If glib does that, ok, then they have to deal with the side-effects. We don't want that.

If you write a library that needs dbus-access, then you should require an sd_bus object passed to your constructor. Optionally, if that bus is N

[2015-07-04 11:56] utezduyar commented on #327
I have fixed my typo. s/application/library.

[2015-07-04 12:12] utezduyar commented on #327
Are we really keeping a global state or sharing a singleton resource in the library?

[2015-07-04 12:12] dvdhrm commented on #327
A singleton is global state.

[2015-07-04 15:04] arvidjaar commented on #421
Well, you are the only one able to debug it. Add printf's to path_is_mount_point to see at which point it makes wrong decision.

[2015-07-04 18:55] utezduyar commented on #327
I gave it another thought and I think you are right that the right way of implementing a library would be by passing the sd-bus to it.

Now I know what to do. My library has to open its own connection to bus and I can suck up the tiny overhead of having extra bus connection per library. It is not an option for me to change my library's API.

But, do you really believe people will follow your parad

[2015-07-04 20:20] p4yne opened #487 "After update from 219 to 221 journalctl throws "Error was encountered while opening journal files: Invalid argument""
The bug was originally discovered by users from the [archlinux bug tracker](https://bugs.archlinux.org/task/45451).

The following is just a short summary for detailed error logs please take a look at the linked bug report.

This is the affected version:

[code]

After upgrading from systemd 219 to 221, journalctl is not able to open some journal files. Which of the journal files is not determinis

[2015-07-04 23:15] ShadowKyogre commented on #438
@dvdhrm: So, what's going on is:
1. When I plug in the Wacom CTH-460, a joystick device (`/dev/input/js${num}`) for it is created
2. Also of note is that udev assigns ID_INPUT_JOYSTICK based on some things that aren't exclusive to controllers, like BTN_1 (as mentioned in the linuxwacom mailing list, I also double-checked the merged upstream code for the wacom drivers in the kernel). I don't think

[2015-07-05 08:49] dvdhrm commented on #438
Just because a joydev device is created doesn't necessarily mean that it is a joystick. Furthermore, the ID_INPUT_\* properties are just hints. We try to do our best, but user-space input drivers really need to double check, perform white/black-listing and so on.
As long as the wrong ID doesn't break any applications, I don't think it's worth fixing.

Closing this now. Feel free to re-open, if you

[2015-07-05 08:49] #438 closed, assigned to dvdhrm

[2015-07-05 09:06] daurnimator commented on #415
That's pretty much it:
To add some callback that is called when an `sd_bus_slot` is destroyed.

inside of `bus_slot_disconnect`

just the slot is fine I think, once you have it you can:
- grab the bus (`sd_bus_slot_get_bus`) out of it
- get the userdata (`sd_bus_slot_get_userdata`)

To clean up (e.g. `free`) the userdata stored in the object
Invalidate any weak references to the slot

anyone using

[2015-07-05 09:20] dvdhrm commented on #415
I don't see why that's needed, sorry. I mean, why not just destroy your userdata at the time you unref your slot-reference? Sure, the object might still be alive as someone else might have a ref. But then again, just don't hand out references to your slot.

The same issue exists with sd_event_source: just because it is ref-counted does not mean that you need a destroy hook. In fact, most systemd c

[2015-07-05 14:21] kaysievers commented on #476
There are too many devices which should not be accessed by udev, and they are added to new kernels, hence the whitelist and not a blacklist.

I cannot find any i2o block devices in the kernel sources. How are they actually named in /sys?

[2015-07-05 15:58] WallanceLee opened #489 "Cannot automatically recognize usb partition table Unless use "partprobe""
I use linux kernel 4.1.0 in my Gentoo Linux.
I think it is something about udev.
Whenever I insert my USB-HDD into USB-port, kernel cannot read the partition table automatically.
But when I use the partprobe command, it can read my partition table.
I want to know whether it is a bug.

As the following, the output of the "dmesg|tail":
dmesg | tail
[ 5384.806237] usb-storage 1-4:1.0: USB Mass Storag

[2015-07-05 16:06] keszybz commented on #462
systemd-active(1) has

[code]

Second half of this paragraph could be added to other man pages, probably as a xi:include.

[2015-07-05 21:06] kaysievers commented on #489
udev does not do anything with devices, or partition scanning, all that happens inside the kernel.

[2015-07-05 21:56] arianvp commented on #47
I'm on systemd 221 with the same issue.  It still seems to act the same:

[code]

and

[code]

[2015-07-05 23:33] daurnimator commented on #47
Indeed. Running with 221:

[code]

[code]

[2015-07-06 00:14] daurnimator commented on #415
So you're suggesting that the proper way to `unref` is to `unref`, then `sd_bus_slot_set_userdata`?.

There is still no way to remove my callback: my message handler is in a dynamically loaded object that I'd like to dlclose once it's not needed any more...

AFAIK, there's no way to stop a library or thread from using `sd_bus_get_current_slot` on a bus. this particulary matters for the default bus

[2015-07-06 00:15] zlinuxman commented on #476
On Sun, 05 Jul 2015 10:22:01 -0400 (EDT), Kay Sievers wrote:

I see.

The naming pattern is /sys/block/i2o!hd*

I've heard rumors, though I have not confirmed it myself, that
i2o support has been removed starting with kernel 4.2.  So depending
on what kernel version you are looking at, that may be true.
If true, this is a disappointment to me, as I regularly use a machine
that has an i2o RAID devi

[2015-07-06 00:30] gregkh commented on #476
Yes, i2o has been removed for 4.2.  But, we still have the old dpt_i2o driver around, if you are using that one, you should be fine as it has survived.

If you rely on i2o hardware, please work with the kernel community to maintain it, as it is long out of support from what we could tell, so that is why it was removed (that, and there was no maintainer for the kernel code...)

[2015-07-06 05:33] Nobulus commented on #487
I have a similar problem with journalctl 221, also on Archlinux and like the other accounts I read, also following an unclean shutdown, in my case, pressing reset after waiting for an ever increasing timeout on

[code]

This from dmesg on start-up:

[code]

journalctl said this

[code]

With debug, one journal file isn't added

[code]

After removing the file, journalctl behaves apparently as norm

[2015-07-06 10:11] abiuan commented on #458
I checked the log and I found:
libwayland updated from 1.7.0-2 to 1.8.1-1
gdm updated from 3.14.1-7 to 3.14.1-8.

Therefore the best suspected is libwayland. I already opened a debian bug
for that package.

Thanks

Best regards

On Fri, Jul 3, 2015 at 5:01 PM, Alberto Brosich alberto.brosich@gmail.com
wrote:

[2015-07-06 10:28] utezduyar commented on #415
I don't think you need to mess with sd_bus_slot_set_userdata. All the slots create a reference to the user data.

Like @dvdhrm said, shouldn't following be enough to clean up your stuff?

[code]

[2015-07-06 10:32] dvdhrm commented on #415
I agree with @utezduyar.

Sure, there _might_ be other code that owns a reference to your slot, but why would you care? I mean, you as the slot owner have full control over the slot. Don't pass references to other code, if you don't want it. Hence, you can be sure the slot is unused after you drop your reference.

In fact, I'd even say you're doing something horribly wrong if you call sd_bus_slot_

[2015-07-06 10:34] dvdhrm commented on #327
I don't believe people will do what we think is "the right thing". But that's fine. We cannot force them to. So yes, we should document this clearly.

[2015-07-06 10:37] utezduyar commented on #327
Seems like what I have been after is sharing a connection with other objects and when time comes just leaving the connection. In that case, doesn't matter if I am using the default connection or any other connection.

We can cancel everything with the slots but cleaning must happen manually. Say I have a ref to the connection (shared with other people) to the bus and I make 10 async calls with slo

[2015-07-06 10:58] mbiebl commented on #458
@abiuan Have you tried downgrading libwayland back to 1.7.0-2 and checked if that works with v220/v221?

[2015-07-06 12:13] p4yne commented on #487
Hello me again, after I graduated from git bisect noob to git bisect compile pro, I discovered that there may be two distinct errors hidden in this bug.
- First: After this commit:

[code]

`journalctl --verify` does verify the journals but there is always an error thrown right at the beginning but the system.journal file passes:

[code]
- Second: After this commit:

[code]

Verify fails completel

[2015-07-06 15:22] LantosIstvan opened #493 "ExecStartPost lines are not executed after restart"
I have this systemd script:

[code]

`/bin/bash -c 'cat /dev/null'` is presented, because if I not including it, the first docker exec line after ExecStart not running.

My problem is if I restart the Docker host, the shared folder will be not attached. Every ExecStartPost runs before this fleetctl journal line:

[code]

Here is the full log, when everything happening as I wanted to be:

[code]

A

[2015-07-06 16:04] imcsk8 opened #494 "FallbackDNS shouldn't have values set at compile time"
Currently systemd-resolved has it's fallback DNS hardcoded at compile time, this values might not even be used since there are a lot of layers that configure this stuff (DHCP, NetworkManager, /etc/systemd/resolved.conf, etc...) but still having this buried inside the code might lead to confusion on the user side and if for some reason you want to change this value you'll have to compile at least s

[2015-07-06 16:05] zonque commented on #493
Can you reproduce this with a minimal test service like this?

[code]

[2015-07-06 16:15] LantosIstvan commented on #493
Of course, here is the full log after restart:

[code]

This is how my environment looks like:

[code]

[2015-07-06 16:19] LantosIstvan commented on #493
Here is my Dockerfile:
https://github.com/DJviolin/debian/blob/master/Dockerfile

And here is my systemd file:
https://github.com/DJviolin/coreos-systemd-unit-files/blob/master/lanti-debian.service

[2015-07-06 17:10] arvidjaar commented on #493
How was this log obtained? Under which conditions it works?

You should have included full log starting from "systemctl restart". But in any case - your subject is wrong. ExecStartPost are obviously executed, they just fail fail to produce result you expect - but that is outside of systemd control. At this point it does not look like systemd issue at all - you need to troubleshoot what your servic

[2015-07-06 17:23] poettering commented on #494
I very much disagree. Note that FallbackDNS= is really just the last resort setting, if no other DNS servers are known: if none could be learnt via dhcp or ppp, and none have been configured explicitly in /etc/resolv.conf or in the DNS= setting.

We generally try to make our code work so that it works fine even without any configuration in /etc being around. As such resolved should come with compi

[2015-07-06 17:23] #494 closed, assigned to nobody

[2015-07-06 17:29] LantosIstvan commented on #493
Thank You the information. So probably can be docker or bad script problem.

As I mentoined above, the problem only exist when I restarting the VM. If I just reloading the service without restart, everything works fine:

[code]

Here is the really full log, but there's now "systemctl restart". I reloading the VM with `$ vagrant reload && vagrant ssh`. But this is same with a simple `sudo reboot`,

[2015-07-06 17:29] poettering commented on #487
Are these some weird builds without ACLs?

Any idea what precisely is triggering the EINVAL you see? for that please gdb journalctl and set a breakpoint to set_put_error() and let it run, and provide the backtrace here when the breakpoint hits, as well as the precise numeric argument "r" of that function.

[2015-07-06 17:40] imcsk8 commented on #494
I understand and i agree that this has the best of intentions my point here is that having values like DNS hardcoded in the binary might result in confusion.
I would be better just to pre configure it in /etc/systemd/resolved.conf, this can be addressed at distro level but i thought it might be good to take the shot and try to contribute upstream with this observation.
thanks for your time

[2015-07-06 18:03] poettering commented on #494
Well, DNS is not hardcoded, it's just the _fallback_ DNS that is hardcoded. It's the one that is used if nobody configured anything, if /etc is empty, if the resolved configuration is missing. That's a major distinction. Also note that this is explicitly documented in the resolved.conf man page.

Also note that the default /etc/systemd/resolved.conf that we install actually lists the very same DNS

[2015-07-06 18:22] #469 closed, assigned to nobody

[2015-07-06 18:45] dvdhrm commented on #354
Just as a heads-up: We now support directed-signals on kdbus with bus-proxy just fine. So avahi should work with kdbus-git and systemd-git even without patching avahi.

kdbus patches should hit -next in 1 or 2 days.

[2015-07-06 18:52] imcsk8 commented on #494
Oh yeah i'm assuming we're talking about the fallback DNS, and yes i noticed that it's well documented.
The fact that the /etc/systemd/resolved.conf file already has the (commented) FallbackDNS settings motivated me to open this issue. If there's already a mechanism of filling the file and showing the settings to the user. ¿Why add them to the binary? ¿Is the implicit redundancy needed?

this are

[2015-07-06 18:57] poettering commented on #468
Not sure what this bug is precisely about?

What does the sysctl ip forwarding setting for the individual interface say?

Note that current versions of systemd-networkd will turn off forwarding for each interface it manages, unless it is explicitly enabled in the .network file via either IPForward=yes or IPMasquerade=yes. 80-container-ve.network has that set by default, and hence should get forwar

[2015-07-06 18:59] poettering commented on #494
As written twice above: we want systems that can boot up without /etc around, and they should do the right thing then. Hence: resolved should have fallback dns servers configured in the binary if /etc/systemd/resolved.conf is missing.

[2015-07-06 19:31] kaysievers opened #498 "pid1 crashes with assert at ../src/core/manager.c:1192 (manager_add_job(unit = NULL))"
Jul 06 20:57:27 ank systemd-logind[555]: Power key pressed.
Jul 06 20:57:27 ank NetworkManager[546]: <info>  sleep requested (sleeping: no  enabled: yes)
Jul 06 20:57:27 ank NetworkManager[546]: <info>  sleeping...
Jul 06 20:57:27 ank NetworkManager[546]: <info>  (wwp0s20u4): device state change: disconnected -> unmanaged (reason 'sleeping') [30 10 37]
Jul 06 20:57:27 ank NetworkManager[546]: <inf

[2015-07-06 21:05] kaysievers commented on #498
systemd-coredump no longer crashes:
  https://github.com/systemd/systemd/commit/de8763b6d23963e14787556de159d813e863043f

[2015-07-06 21:51] zabbal commented on #481
Excellent! Out of curiosity - what are the plans with regards to login:password for ppp? Is there some sort of http://standards.freedesktop.org/secret-service/ implementation in systemd?

[2015-07-06 22:24] neheb opened #499 "Cannot indicate to EFI to boot into setup mode: No such file or directory"
I get this error by running 'systemctl --firmware-setup reboot'

On Arch Linux with kernel 4.0.7

Not sure if the error is in systemd or the kernel. FWIW this works in Windows :.

edit: the error in the title is obtained when running the command as an unprivileged user. when ran as root the error becomes

'Cannot indicate to EFI to boot into setup mode: Unknown object '/org/freedesktop/login1'.'

[2015-07-06 22:33] kaysievers commented on #499
That works just fine here. Unprivileged, it asks for authorization and then reboots into the firmware menu.

[2015-07-06 23:12] poettering commented on #499
@neheb do you have booted the system and kernel in EFI mode?

[2015-07-06 23:19] neheb commented on #499
@poettering currently the system is booted in "Ultra-fast" mode. No keyboard drivers loaded means I have to use the OS.

[2015-07-06 23:29] poettering commented on #499
@neheb that's not the question I asked. Are you booting in MBR or in EFI mode?

What does "ls -al /sys/firmware/efi/efivar" show?

[2015-07-06 23:37] neheb commented on #499
It's in EFI with systemd-boot. The full output shown below.

-rw-r--r-- 1 root root   12 Jul  6 12:37 AcpiAslPtr-ec87d643-eba4-4bb5-a1e5-3f3e36b20da9
-rw-r--r-- 1 root root    8 Jul  6 12:37 AcpiGlobalVariable-af9ffd67-ec10-488a-9dfc-6cbf5ee22c2e
-rw-r--r-- 1 root root   12 Jul  6 12:37 AcpiGlobalVariable-c020489e-6db2-4ef2-9aa5-ca06fc11d36a
-rw-r--r-- 1 root root   37 Jul  6 12:37 AMITSESetup-c81

[2015-07-06 23:45] daurnimator commented on #415
because then my callback function will end up segfaulting. or libsystemd will try and call my callback function which no longer exists and segfault. Or worse: no segfault, something else has been loaded in it's place and gets run instead.

e.g.
1. I grab a default bus
2. I call `sd_bus_add_filter` and get a slot.
3. I process some matches.
4. I unref my slot.
5. I `dlclose` the library my callback

[2015-07-07 01:06] zonque commented on #499
`Cannot indicate to EFI to boot into setup mode: Unknown object '/org/freedesktop/login1'` seems to be the culprit. What's the output of `busctl` and `systemctl status systemd-logind.service`?

[2015-07-07 01:13] neheb commented on #499
the latter indicated that it is active and "Processing Requests". The former's output is here: http://pastebin.com/zMJattmr

[2015-07-07 01:45] falconindy commented on #487
These are being reported by Arch users using the distro-provided package -- we build with ACLs. I can't reproduce this error myself, so I can't provide a backtrace.

[2015-07-07 01:51] jernst commented on #465
This is plain vanilla Arch installation; no selinux.

[code]

produces:

[code]

[2015-07-07 02:14] daurnimator opened #503 "errno-to-name.h missing from make rules"
Running e.g. `make journalctl` fails with:

[code]

(it works fine for a `make all`, which will spit out `GEN      src/basic/errno-to-name.h`)

It appears that a necessary make rule is missing.

[2015-07-07 03:28] jidanni opened #504 "Can't anything bad be detected when given gibberish?"
Can't anything bad be detected when given e.g.,
 # systemctl disable zzzzzzzzzzzz.servicezzzzz ; echo $?
 0

[2015-07-07 05:17] poettering commented on #504
it can be detetect and is. However ther's a logic in place to turn invalid unit names into valid ones by escaping invalid chars and suffixing .service if the unit name lacks any valid unit name. This is done to make things easier for the user.

Also, note that "systemctl disable" is a NOP but no error for unit files that are missing to make the call idempotent. If you try the same unit name for "s

[2015-07-07 05:17] #504 closed, assigned to nobody

[2015-07-07 05:25] poettering commented on #489
Please file a bug to the kernel bugzilla. Partition scanning and device node creation are done in the kernel (the latter in devtmpfs) and userspace is not involved. Closing hence.

[2015-07-07 05:25] #489 closed, assigned to nobody

[2015-07-07 05:34] poettering commented on #456
If you run networkd on the host and in the container and use nspawn's -n switch things should just wor modulo DNS config. We ship two .network files by default, one that only applies to the host, and automaticalyl picks a free IP range, does DHCP serving on it as well as IP masquerading. The other one applies only to containers where it does a DHCP client. If you the configure your internal's DNS

[2015-07-07 05:34] #456 closed, assigned to nobody

[2015-07-07 05:36] poettering commented on #465
Hmm. The snapshot creation ioctl fails on /var/lib/machines...

Does it work if you use the btrfs command line on the terminal?

Do you have selinux on? Consider turning it off.

[2015-07-07 05:37] poettering commented on #465
Oops. Closed this by accident... Sorry!

Which systemd version is this?

[2015-07-07 06:16] utezduyar commented on #415
I don't get how callback will help you in this case though? If slot has many references it will never be cleaned up anyways. So, I don't get how that callback will help you. Also pay attention that library calls `bus_slot_disconnect` for floating slots (slots that are not referenced by the application).

As far as I can see `sd_bus_get_current_slot` is useful for the reply callbacks. Once you are

[2015-07-07 06:21] daurnimator commented on #415
I'll need a few days to play around and come up with some examples

---

`sd_bus_slot_unref` returns `NULL` in all cases, so I don't think that's an issue

[2015-07-07 12:56] kaysievers commented on #503
I don't know of a nice way to specify that.

"It might be important to emphasize that BUILT_SOURCES is honored only by ‘make all’, ‘make check’ and ‘make install’. This means you cannot build a specific target (e.g., ‘make foo’) in a clean tree if it depends on a built source. However it will succeed if you have run ‘make all’ earlier, because accurate dependencies are already available."

http://

[2015-07-07 13:04] bronislav opened #506 "Don't see any events using journal-gateway"
I can't get `systemd-journal-gatewayd` working. It's started successfully and `lsof` shows that it reads system log, but `curl localhost:19532/entries` returns empty response.

I have no idea where to look. Any suggestions?

[code]

[code]

I'm willing to provide any additional debug info. Just tell me what you need.

[2015-07-07 14:03] rebootl opened #507 "mounting davfs fails"
On Debian 8.

[code]

systemd uses "-n" mount option. This is not understood by davfs and mounting fails.

Mount unit is created by fstab entry (systemd-fstab-generator(8)).

Journal (sorry output is partially german):

[code]

Mounting manually works.

Should I report to davfs instead ?

[2015-07-07 14:12] arvidjaar commented on #507
You seem to have too old mount; this is generic option which should not be forwarded to davfs at all.
`-n, --no-mtab
    Mount without writing in /etc/mtab. This is necessary for example when /etc is on a read-only filesystem.`

[2015-07-07 14:32] kaysievers commented on #476
The dasd block devices are added to the list, the i2o ones are gone from the kernel. Closing.

[2015-07-07 14:32] #476 closed, assigned to nobody

[2015-07-07 14:41] rebootl commented on #507
Thx for your reply!

[code]

This ?

Well as mentioned it's Debian 8 stable, so should I report there ?
Edit: Don't see this in the changelogs (https://www.kernel.org/pub/linux/utils/util-linux/)

[2015-07-07 16:21] arvidjaar commented on #507
This version should be OK. Any chance you have multiple versions of mount hanging around?

[2015-07-07 18:12] jidanni commented on #504
All I know is this is just as bad as if I did
$ rm file
but mistyped the file name, only to come back the next week with customers complaining I did not remove the file.

Anyway this is all one big black box where one can only cross ones fingers things worked.

Or I suppose dig in and do things manually.

At least add an option like perl has:
  -w                enable many useful warnings
  -W

[2015-07-07 19:28] zonque commented on #506
FWIW, I can reproduce this on my machine.

[2015-07-07 19:39] bronislav commented on #506
@zonque, Also, this was introduced some when after 219, cause with 219 gateway works as expected.

[2015-07-07 21:29] zonque commented on #506
This should be fixed in #510. Care to check?

[2015-07-07 23:33] daurnimator commented on #503
...

From your link:

[2015-07-07 23:42] zlinuxman commented on #476
On Sun, 05 Jul 2015 20:30:18 -0400 (EDT), Greg Kroah-Hartman wrote:

No such luck.  I need kernel modules i2o_core, i2o_block, and i2o_config.

I would be happy to do that, in principle.  In practice, I'm not sure that
I will meet your requirements as a maintainer.  I do not have any
specialized knowledge of i2o hardware or software.  I have a server in
active use that uses i2o, and I can certainl

[2015-07-08 01:28] MrOats opened #511 "Systemd takes 5 minutes to suspend laptop"
Kernel: 4.1.1-1-MANJARO x86_64
Linux Distro: Manjaro Linux 0.8.13.0 Ascella (64-bit)
Desktop Environment: Cinnamon
System: Toshiba Satellite Pro S300 (PSSBAU-004005)
Extra Notes: "toshiba_acpi" module loaded. BIOS is latest version.

Issue: When triggering the "systemctl suspend" command, it takes about 5-6 minutes for the system to finally sleep. I saw in the journal that there was a delay right

[2015-07-08 02:49] crrodriguez opened #512 "Assertion 'subsystem' failed at src/libsystemd/sd-device/sd-device.c:1194, function device_get_id_filename()."
Once every full moon.. I am getting the following assertion

Assertion 'subsystem' failed at src/libsystemd/sd-device/sd-device.c:1194, function device_get_id_filename().

I have not found a way to reproduce it..this report was opened on Lennart's request in order to track down exactly why it happens.

[2015-07-08 04:04] mbiebl opened #513 "logind changes from #509 break gdm"
Since the merge of #509 , gdm 3.14 is broken.
When I log out, gdm is just stuck and no display prompt is shown.
Reverting the two commits from #509 makes the problem go away.

[2015-07-08 04:50] kaysievers commented on #513
It is too late, v222 is already out. Needs to be sorted out after the release.

[2015-07-08 05:18] kaysievers commented on #513
I guess you need a newer gdm to work with the current work-around/fix in logind, specifically this:
https://git.gnome.org/browse/gdm/commit/?id=806f2de647803a4f5890dc56d5ffe93ac489946b

Edit: Nah, I'm confused. We look for session class, not session type. That should be fine.

[2015-07-08 07:37] kaihendry commented on #456
Thanks, but I am still wondering about the default practice. For example without `-n` there is no virtual interface. It just binds to the hosts IP IIUC. Ok, that sounds fine really. It's not "isolated" by default, but I guess it's easiest to use and seamlessly integrates when people use it like `chroot`.

However with `-n` is specified, I was just curious to know what the grand scheme of things we

[2015-07-08 08:25] rebootl commented on #507
Hello.
Not that I would know of. We only installed packages. It seems two packages are around but they're the same version (Edit: mount and util-linux):

[code]

Could it use something else than mount for this maybe ?

[2015-07-08 10:42] p4yne commented on #487
There you go, this is the fresh version with the all current commits by the time of writing:

[code]

Which fails completely again with:

[code]

[2015-07-08 13:02] xnox commented on #494
No files should be shipped in /etc fullstop. I even dislike the commented .conf files in /etc and for clearlinux we even purge those. There are man-pages describing everything what's listed there anyway.

Arguably the compiled in defaults should be expressed somewhere, e.g. manpage or --help output or somewhere else under /usr, but not in /etc. /etc is for admin configuration & modifications, not

[2015-07-08 13:41] zonque commented on #511
Which version of systemd is that? We've had a regression in logind which should be fixed in v221 and v222. Care to check in case your version is older?

[2015-07-08 13:44] zonque commented on #512
Any error message before that, such as `sd-device: could not set subsystem for …`? Which task is crashing, and did you catch a coredump?

[2015-07-08 14:28] antoineco opened #518 "systemd does not serialize/deserialize the ExecStart= or ExecStartPre= line number across daemon reloads"
(systemd 220)

I use a systemd unit to load and start fleet units inside a CoreOS cluster. The unit is pretty straightforward but I observe strange behaviours with successive `ExecStart` directives:

[code]

The first `ExecStart` exits in 2-3s but the second `ExecStart` is not executed, the unit simply exits after the first command:

[code]

It works if I replace the first `ExecStart` directive wi

[2015-07-08 14:48] rhatdan commented on #475
We are having the conversation over at https://github.com/systemd/systemd/pull/483 but I would prefer to have @eparis comment on this.  The patch looks fine but it seems to be either a bug in glibc or libselinux.

[2015-07-08 16:20] zonque commented on #518
Is that the same issue as #493 ?
Not sure why that would be systemd's fault - could you try the simple unit file listed in the other issue?

[2015-07-08 16:24] eparis commented on #475
There's no great answer....  Someone could put a patch into libselinux to use getpid(2) instead of getpid(3). Would still be a lot cheaper than the syscalls to actually open the selinuxfs files and read/write the contents over and over and over and over....

[2015-07-08 16:26] eparis commented on #475
@pcmoore think you would be willing to do that? change procattr.c to use getpid(2) and avoid the glibc cache of pid altogether?

[2015-07-08 16:29] zonque commented on #506
The fix is merged now, but it didn't make it into v222. If you still see the problem with current systemd.git, please reopen this issue.

[2015-07-08 16:29] #506 closed, assigned to nobody

[2015-07-08 16:45] zonque commented on #506
Ah, and thanks for reporting this, much appreciated :)

[2015-07-08 16:51] pcmoore commented on #475
Without really looking closely at the libselinux code, it sounds reasonable to me.  However, I'm going to defer this to @stephensmalley since I'm more than a bit swamped at the moment and Stephen generally handles the userspace side anyway.

[2015-07-08 17:09] stephensmalley commented on #475
SELinux discussions are supposed to occur on selinux@tycho.nsa.gov.  Not buried in some github issues tracker.  Willing to test a patch that switches to getpid(2).  However, I'd like to revisit the justification for the procattr cache, as it seems an unending series of these fixes has been needed ever since it was first added and it keeps getting more complicated.  Maybe the better question is why

[2015-07-08 17:29] antoineco commented on #518
Isn't systemd supposed to invoke each `ExecStart` command sequentially until it meets a non-zero exit code? Even though it is not systemd's fault, it doesn't explain why `ExecStart` and `ExecStartPre` behave differently inside a oneshot service.

The test unit works just fine:

[code]

[2015-07-08 17:40] arvidjaar commented on #518
On the first glance, not quite - in #493 commands are executed. Log with debug level would be useful.

[2015-07-08 18:25] antoineco commented on #518
I'd be glad to post it. Would it be enough to add `LogLevel=debug` to _system.conf_? When I do so I can't see any difference in the journal after a reboot.

[2015-07-08 18:30] zonque commented on #518
Just add `debug` to your kernel command line parameters.

[2015-07-08 18:33] derekstavis opened #521 "network: Propagate DNS server information via DHCP FORCERENEW"
The following `enp2s0.network` file allows us to create a rudimentary NAT:

[code]

As far as I know, `DHCPServer` feature was designed for containers use-case, where DNS-related stuff can be handed to standard `resolv.conf` mechanism. Thinking outside this use-case, it would be great to implement DNS integration in DHCP server, so physical clients also acquire DNS addresses.

I'd be happy to cont

[2015-07-08 19:03] antoineco commented on #518
Thanks @zonque. I think that's the best I have right now:

[code]

[code]

[2015-07-08 19:13] antoineco commented on #518
With `ExecStartPre` it doesn't fork bash:

[code]

[2015-07-08 20:22] poettering commented on #507
@karelzak can you comment on this one? Is this something to fix in davfs or in util-linux?

(either way, I am pretty sure there's nothing to fix in systemd here, hence closing the ticket here)

[2015-07-08 20:22] #507 closed, assigned to nobody

[2015-07-08 21:15] npmccallum opened #524 "sd_bus_add_object_manager() exposes no objects when path != "/""
This works:

[code]

In the above scenario, "/foo" is exposed in the ObjectManager on "/".

This doesn't:

[code]

In the above scenario, "/foo/bar" is NOT exposed in the ObjectManager on "/foo".

[2015-07-08 21:20] BotoX commented on #421
+1 I am affected by this bug.

[Killed one of my Archlinux OpenVZ containers by upgrading the system to the latest version of systemd where this bug is still persistent. (That makes this bug the 3rd systemd related bug that killed one of my non-production servers.)]

[2015-07-08 21:20] npmccallum opened #525 "sd_bus_add_object_manager() excludes the object on its own path"
Here is the scenario:

[code]

The first call creates an ObjectManager on "/". The second and third calls create and expose an object on "/" and "/foo", respectively. The ObjectManager exposes "/foo" but NOT "/".

This behavior differs from other implementations. In particular, Bluez expects the ObjectManager on "/" to expose BOTH "/" and "/foo".

[2015-07-08 23:29] kaysievers commented on #503
Yeah, I know, but I don't want to add that everywhere. We heavily depend on code we create during build, and it will make the mess, that the autofoo already is, even uglier.

We could add:
  built-sources: $(BUILT_SOURCES)
so that:
  make built-sources
would trigger the build and all later custom targets would work.

[2015-07-09 03:26] arvidjaar commented on #518
Where does it come from? Does "fleetclt load" perform daemon-reload?

[2015-07-09 07:04] daurnimator opened #528 "sd_bus_slot_get_description should return a const string"
`sd_bus_slot_get_description` should return a `const char**`

(same as `sd_bus_get_description` already does)

[2015-07-09 07:43] bronislav commented on #506
I have rollback to the v219. I'm ok with waiting for the release.

[2015-07-09 08:59] dvdhrm commented on #524
What do you mean by "does not work"? (or "NOT exposed) What exactly do you call to retrieve the data?

[2015-07-09 09:04] dvdhrm commented on #503
We can also add:

[code]

Via the immediate assignment ':=' we force `make built-sources` on each invocation of `make`. Now we just need a way to avoid the recursion here... Might not be worth it to investigate.

[2015-07-09 10:08] dvdhrm commented on #481
@zabbal We do have a ppp protocol implementation, but no hookup in networkd. Furthermore, no-one is working on this. If you want this, you need to find someone to implement this. I doubt this will get finished anytime soon (there're even proposals to drop the now unused ppp protocol implementation again).

I guess we should close this bug, as I see little use in keeping long-lasting RFEs open. We

[2015-07-09 10:30] teg commented on #481
I'm responsible for the PPP stuff we have so far. I think it is awesome, and love hacking on it. However, people are telling me that this is out of scope of systemd, and I have yet to find a good counterargument to this ("it is fun" seems not to cut it), so it may very well be that this code will not get anywhere. Until a final decision has been made, I'll still keep this on the TODO though, and I

[2015-07-09 10:53] kaysievers commented on #454
Do you run networkd? Timesyncd needs to know about that there is a network connection:

Jul 09 12:15:03 ank systemd-timesyncd[527]: Network configuration changed, trying to establish connection.

[2015-07-09 10:58] f4hy commented on #454
Ah so networkd is a requirement? I do not believe I am running it. I guess it should check for networkd is running and give some sort of error if it is not, ya?

[2015-07-09 11:15] zabbal commented on #481
Out of curiosity, are there any arguments against having ppp inside systemd? Besides usual whining I mean :)

To me there is 0 difference from dhcp in here:
- there's a protocol on top of ethernet
- information obtained over it is absolutely crucial for interface setup (IP address etc)
- there are billions on systems relying on it

I don't see any major difference between DHCP ethernet frames or P

[2015-07-09 11:19] dvdhrm commented on #481
No particular reason against ppp as is, but against including it in systemd. It's importance is questionable in modern OSs.
On the other hand, we haven't worked on supporting external layer-2 modules, either. So this really needs to be discussed once someone start working on it.

[2015-07-09 11:21] zabbal commented on #481
As long as DSL remains popular PPPoE will be of paramount importance.

[2015-07-09 11:23] arvidjaar commented on #481
PPPoE is widely used by pure Ethernet providers, at least in my country; it is not directly related to DSL in any way.

[2015-07-09 11:24] dvdhrm commented on #481
I'm not questioning the importance of PPPoE as is, but whether it belongs into base of a general purpose OS.

Anyway, I don't see the point of discussing this here, as long as no-one commits to writing the code.

[2015-07-09 11:27] antoineco commented on #518
`fleetctl load` is used to schedule one or more systemd units inside a fleet cluster.

For example `fleetctl load kubelet.service` will create the kubelet.service unit on the appropriate nodes without starting it.

It might perform a daemon reload indeed.

[2015-07-09 12:29] martinpitt commented on #454
It shouldn't be, at least it's not intended. I'm using timesyncd with NetworkManager on a desktop, and I get "Synchronized to time server ..." from timesyncd as soon as NM connects to a network.

[2015-07-09 12:41] Fredrik89 opened #533 "Configure option --without-bashcompletion not behaving correctly"
We don't need to install bash completion files on our target system since it does not use bash (nor zsh). However using the configure option --without-bashcompletion does NOT exclude these files from being installed. Instead they are installed to some default path ending with 'no'

In './configure --help' it is specified that " --without-PACKAGE        do not use PACKAGE (same as --with-PACKAGE=no

[2015-07-09 13:00] vinc17fr opened #534 "incorrect x bit for group on .journal log files after setting Storage=persistent"
On my Debian/unstable machine with systemd 222, the .journal files under `/var/log/journal/*/` have an incorrect x bit for the group:

[code]

According to Christian Seiler's message https://lists.debian.org/debian-user/2015/07/msg00359.html the cause is the following lines in `/usr/lib/tmpfiles.d/systemd.conf`:

[code]

Christian said:

If I remove the x bit with `chmod g-x`, it is automatically

[2015-07-09 14:36] npmccallum commented on #524
Create two ObjectManagers:

[code]

Create three objects:

[code]

Now, call GetManagedObjects() on /. After fixing #525, it returns a dictionary with three entries. This is correct. However, if you call GetManagedObjects() on /foo, it returns an empty dictionary. It should return a dictionary with two entries.

[2015-07-09 14:36] johannbg commented on #481
@dvdhrm there is no point in writing the code if it wont be accepted anyway. That's just waste of contributors time. You yourself should be quite familiar with that through your kdbus work so it needs to be clear _before_ someone does decide to start working on that code that it will be included or it wont be included due to certain individuals having vague idea how a modern OS should look like or

[2015-07-09 14:39] poettering commented on #528
#529 is merged, Closing.

[2015-07-09 14:39] #528 closed, assigned to dvdhrm

[2015-07-09 14:46] poettering commented on #525
I figure gdbus is not in sync on this with what the spec says. I have the suspicion though that the spec should be adjusted to match what gdbus does, rather than the other way round. Hence I filed this now:

https://bugs.freedesktop.org/show_bug.cgi?id=91283

[2015-07-09 14:50] dvdhrm commented on #481
I said "commits to writing the code", not "submits the code".

IIRC, there is no-one who is even willing to write it, so I see no point in discussing this.

[2015-07-09 14:50] #186 closed, assigned to dvdhrm

[2015-07-09 14:57] dvdhrm commented on #524
I cannot reproduce this. Can you post a script to test this? Or example code?

[2015-07-09 15:56] godzillante commented on #504
@poettering  wrote:

well, IMHO it doesn't.

[2015-07-09 15:57] npmccallum commented on #524
Yup:

[code]

The above code appears to work. However, if you call GetManagedObjects() on /foo, it returns an empty dictionary.

[2015-07-09 16:01] johannbg commented on #481
The individual(s) that submit the code, already have committed to write that code so there is in essences no distinction and I thought Tom already expressed his will in committing to that code it but he has not done so because ( some ) people are discouraging him from doing so due to their own vision of how modern os should look like ( and there is no point for him or anyone else  to do so until t

[2015-07-09 16:24] zonque commented on #518
Ok, so if your `ExecStart*` directives call into `systemctl daemon-reload`, subsequent commands will likely not be executed or course. The reason for this is that systemd will spawn the first command and then wait until it returns, which PID1 is notified of through `SIGCHLD` signals. While waiting, it continues dispatching other things from its main loop, which is where the `org.freedesktop.system

[2015-07-09 16:27] zonque commented on #493
Any chance you're running into the same issue as in #518? Does any of your commands execute `systemctl daemon-reload` or issue the equivalent DBus call? In that case, other commands are not executed (see the other issue for details).

[2015-07-09 16:33] antoineco commented on #518
Ok that totally makes sense, and as you said there   are workarounds. But I'd like to ask a question from a previous comment again: why does it work with `ExecStartPre`?

[2015-07-09 16:40] cinquecento opened #536 "Something went wrong with that request. Please try again."

[2015-07-09 16:46] zonque commented on #518
Does that always work for you in that case? This is a race condition, after all, so it might not be strictly reproducible.

[2015-07-09 16:50] haraldh commented on #518
it should probably do "systemctl --no-block daemon-reload"

[2015-07-09 16:50] antoineco commented on #518
Surprisingly yes, unless I'm extremely lucky because I've tried each scenario around 10 times in a row.

[2015-07-09 17:26] arvidjaar commented on #518
Why is it "of course"?
- systemd spawns child for the first command
- child calls "systemctl daemon-reload"
- systemd serializes current state, which includes child PID and information that child was running ExecStart
- systemd loads configuration
- systemd deserializes current state

At this point systemd knows about pending command, knows PID it has to wait for and knows that it has multiple com

[2015-07-09 18:40] teg commented on #481
Chill, chill. I wrote all the code so far, and I expect I'll be the one to write the rest of the code if we decide we want it (so if anyone's time is wasted it is mine). But I haven't made up my mind which way we'll go on this, and I'm open to being convinced either way...

[2015-07-09 18:49] poettering commented on #518
So, this is a known issue, has been raised on the ML many times. The problem is that we don't serialize which command we execute if there are multiple ExecStartPre=, ExecStartPost=, ExecStop=, ExectStopPost=. The reason is that there's not a nice way how to recognize what we are executing after we come back, if the unit file was changed in between.

Let's say with have a service with five ExecStar

[2015-07-09 19:14] poettering commented on #481
I still think we should do pppoe, actually. i don't think the stuff is on its way out.

[2015-07-09 19:38] LantosIstvan commented on #493
I refactored my script little bit:
https://github.com/DJviolin/coreos-systemd-unit-files/blob/master/lanti-debian.service

[code]

[code]

`docker exec lanti-debian /bin/bash -c cat /dev/null` why fails? This is the reason why I included it: if I not put this line after the ExecStart, the first line always fails. So I have to include this.

[code]

There's no brake in the service for this command:

[2015-07-09 19:52] xnox commented on #518
haven't looked deep into systemd serialisation, but e.g. in upstart once equivalent of the unit has started we'd keep in memory all the processes/commands to exec, and serialise/desiriale all of them and continue executing them as we originally started and never switch to a different config. (e.g. if somebody rewrites post-stop exec lines during re-exec, the old post-stop commands would be used, a

[2015-07-09 20:11] arvidjaar commented on #518
The problem is, it does not explain what happens. If it restarts from the beginning, why it does not execute second ExecStart line?

[2015-07-09 20:17] zonque commented on #518
On 07/09/2015 04:11 PM, Andrey Borzenkov wrote:

Because the 2nd line might not be there anymore in the unit file after
the restart, or 1st line could have been removed, and the former 2nd
line is now the 1st etc.

As @poettering wrote, this can get really nasty when the logic is only
based on remembering the index of the last executed command.

This can become arbitrarily complex if you think of

[2015-07-09 20:24] arvidjaar commented on #518
Sorry, I do not speak about theoretical case. I speak about case reported in this issue. Here we have no evidence that original unit kube-fleet.service had been changed during reload. @antoineco - could please clarify whether original unit is unchanged?

[2015-07-09 20:36] antoineco commented on #518
@arvidjaar yes this unit remains absolutely unchanged, it's just used to start other units in my cluster.

[2015-07-09 20:53] zonque commented on #518
Sure, but as @poettering said, systemd does not currently pick up execution of command lists after a reload. It would be easy to implement for simple cases, assuming that unit files remain unchanged. Restoring the index would suffice then, but that doesn't cover the corner cases.

Again, one common reason for reloading is to make the daemon look at the unit files again, so there's a high probabili

[2015-07-09 21:40] poettering commented on #536
@dvdhrm i think this is something you changed? could you comment?

[2015-07-09 21:47] poettering commented on #534
I prepped a fix for this in #539, please have a look.

[2015-07-09 21:53] daurnimator commented on #528
:+1:

[2015-07-09 21:56] dvdhrm commented on #536
On it, see the discussion on the ML. Problem is, reverting the initial patch breaks --user units. I couldn't reproduce it, yet. Lets see whether tomorrow will make things better.

[2015-07-09 22:35] poettering commented on #521
Yes, we'd like a logic that can propagate DNS server information from the host to clients to its dhcp server. This would require a number of changes:
- when putting together the dhcp lease we should add all DNS servers configured on all other links.
- we need to implement dhcp service-side FORCERENEW stuff, so that the dhcp server can let the client know that things changed, whenever we learn or l

[2015-07-09 22:38] poettering commented on #536
How does this one relate to #513? Should that issue be closed in favour of this one?

[2015-07-09 22:40] dvdhrm commented on #536
I assume it's the same issue.

[2015-07-09 22:44] poettering commented on #499
Hmm, that error you got suggests that logind and loginctl might not be compatible? is it possible you have a mix of an old systemd version and a new loginctl tool running, or vice versa?

Can you run "busctl tree org.freedesktop.login1", and paste the output here?

[2015-07-09 22:45] poettering commented on #513
#536 probably tracks the same issue, let's follow discussions there. Closing this own hence as duplicate.

[2015-07-09 22:45] #513 closed, assigned to nobody

[2015-07-09 22:47] joshtriplett opened #540 "udev disk locking breaks syslinux/mtools"
syslinux uses mtools to manipulate disk images when making them bootable. mtools attempts to acquire an exclusive lock on the device when opening it for writing, and fails if that lock acquisition fails.  At the same time, some part of setting up a loopback device (initially set up via losetup on the command line, then manipulated by syslinux) causes udev to open and lock that device, likely as pa

[2015-07-09 22:57] joshtriplett commented on #540
cc @jausmus

[2015-07-09 23:03] drizzt commented on #421
Sorry for the late reply, but I'm on vacation:

[code]

In `fd_is_mount_point`: First call of `name_to_handle_at` returns `ENOTSUP/EOPNOTSUPP` (I think it's because it's an old kernel), secondo call of `name_to_handle_at2` returns `ENOENT`, so the function returns `-ENOENT`

[2015-07-10 01:47] MrOats commented on #511
Version 221-2. I shall also try switching kernels to double check if that could be an issue.

Edit: Same issue. Manjaro is mostly a rolling release system, I'm pretty up-to-date on the main software.

[2015-07-10 02:25] f4hy commented on #454
I am not using NetworkManager either.

[2015-07-10 03:18] neheb commented on #499
[code]

this installation started with systemd 219 and then upgraded to 221.

edit: scratch that, it's always been 221. 219 didn't come with systemd-boot.

[2015-07-10 03:31] arvidjaar commented on #518
Sorry for being insistent, but I do not understand this. @poettering said "we restart from the beginning" which I interpret as "we restart _execution_ of command list from the beginning". If "restart" in this context does not mean "restart executing" then what "restart" here refers to?

[2015-07-10 07:25] utezduyar commented on #406
I think similar thing with implicit-function-declaration.

Regardless of preparing a patch as Lennart said, if you want a quick fix, `cc_cv_CFLAGS__Werror_implicit_function_declaration=no` solves it too.

[2015-07-10 09:33] dvdhrm commented on #536
...lightdm doesn't even set `XDG_SESSION_CLASS`. Meh.

Which makes we wonder, why my first patch improved the situation for you?

[2015-07-10 09:34] dvdhrm commented on #536
Reading your last reply: It seems this is rather randomly working for you, right?

(I really appreciate your many logs, but it's hard to find a description of the problem in your own words ;))

[2015-07-10 10:44] WallanceLee commented on #489
Oh,sorry.I know it because I closed a kernel option.

[2015-07-10 11:20] utezduyar opened #541 "Poky patch for configurable root folder [Accept or deny?]"
Poky is carrying over a patch that makes the root folder configurable. I do not remember seeing any discussion about it in the ML. If we are OK with the idea I take a stab at it by updating the patch for 223. If we not taking the patch then I will update the poky systemd recipe as "Upstream-Status (http://www.openembedded.org/wiki/Commit_Patch_Message_Guidelines)".

http://git.yoctoproject.org/cgi

[2015-07-10 11:22] LantosIstvan commented on #493
Is it possible somehow forcing a total restart of my *.service after system restart? Than include this line in ExecStartPre?

`$ sudo systemctl daemon-reload` seems like ineffective in my case.

[2015-07-10 11:40] dvdhrm commented on #536
Weird. If I run lightdm, then `loginctl show-session $sid` does not show `class=greeter`, but `class=user`.

[2015-07-10 11:59] LantosIstvan commented on #493
I noticed with Virtualbox Debian GNOME install that if I mounting my shared folder into `/media/share` it will be unreadable for the user after restart, just only root can enter. So I mounted the folder into `/home/user/share` and problem solved.

I did the same trick with my system script, so I mounted my shared folder into `--volume=/home/core/temp:/home/debuser/share:rw`. The new `/home/core/te

[2015-07-10 12:25] LantosIstvan commented on #493
FINAL FIX!

It was Virtualbox who caused this: permission issue. Looks like Windows host mounted folders into Virtualbox have some permission issues with Linux, Vagrant quests. So I need to move to Coreos my files from the Windows shared folder if I not want any issues.

This is how it will work on the server also. I hope so there will be no issues if the FTP server will be another CoreOS on the c

[2015-07-10 14:02] dvdhrm commented on #536
On top of systemd-git:

[code]

I hope this fixes your issues.

[2015-07-10 14:17] zonque commented on #518
I'm not following. Yes, as the code currently stands, starting `foo.service` with

[code]

will only execute up the daemon reload command. `echo '2'` will likely not be ran. When the daemon reload is finished, `systemctl start foo.service` will 'restart' execution of the command list from the beginning, not where it left off.

[2015-07-10 14:23] dvdhrm commented on #536
Sorry, I stripped the interesting parts.. let's try it again:

This on top of systemd-git fixes all issues for me:

[code]

[2015-07-10 14:24] zonque commented on #541
I'm curious - what alternative root home do users of OE set?

[2015-07-10 14:53] arvidjaar commented on #518
@zonque Do you mean we have a loop? Yes, that was I thought initially, but I was confused by service status. @antoineco could you show "systemctl list-jobs"? For the wrong case? Also service status should show different PIDs basically every time you call it.

[2015-07-10 15:02] mbiebl commented on #493
wow, that service file is seriously horrible.
Is there no better way to achieve that?

[2015-07-10 15:15] antoineco commented on #518
@arvidjaar the PID doesn't change, the status remains `Main PID: 1628 (code=exited, status=0/SUCCESS)`, and it starts displaying the following fields only after 30sec:

[code]

No jobs are running

[code]

[2015-07-10 15:31] LantosIstvan commented on #493
The only way to put those preconfiguration into Dockerfile. This means image re-creation every time. If you change your SSH key or the location changes, you need to re-build your Docker image. This is time, plus after such modifiction your Dockerfile become highly opinionated. Otherwise we can use a virtual machine. What I want to achieve is to build Docker containers that if they die, I can re-cr

[2015-07-10 15:47] mus65 opened #544 "busctl monitor spits out a confusing error message when run as non-root on kdbus"
When using kdbus, running `busctl monitor` as a normal user fails with the following message.

[code]

Running it as root works, but without kdbus it works as a normal user as well.
- Arch Linux
- systemd 222
- kernel 4.1.1
- kdbus compiled from v4.1 branch from github repo

[2015-07-10 18:28] olof commented on #541
The default in OE is /home/root. Don't know the reason for this, but has been this way since at least 2005 (initial commit in git).

[2015-07-10 19:02] xnox commented on #541
@olof  a lot of stuff in Yocto / OE seems to have random things in place for whatever old reasons (e.g. read-only root and only certain things on a RW sdcard and so on)

If one wants to use /home/root wouldn't a symlink with tmpfiles from /root -> /home/root be more sensible?

[2015-07-10 19:03] heftig commented on #544
Seems the connection to the kernel bus fails because HELLO_MONITOR requires privileges. busctl then proceeds to use the proxied system_bus_socket, which rejects the match.

[2015-07-10 19:12] heftig opened #545 "Messages from bus-proxyd (kdbus) when polkit changes"
Whenever a polkit auth agent registers or unregisters itself, I get one of these in my logs:

[code]

`uid=102` is polkit. I think this happens because ModemManager's policy starts with
`<deny send_destination="org.freedesktop.ModemManager1"/>`. This is probably needlessly restrictive, as the default bus policy already rejects all method calls.

[2015-07-11 09:08] so0k commented on #487
This bug still exists in journalctl v222

[code]

log tail comes out fine using `sudo systemctl status <service>`

[2015-07-11 12:12] heftig opened #550 "kdbus breaks libvirtd 1.2.17"
When starting, libvirtd complains that `operation failed: network 'default' already exists with uuid 1a41bcc0-41a1-414e-b6fe-c26997680eb0`.

When starting virt-manager, libvirtd outputs a _lot_ of error messages in the form `operation failed: filter 'XXX' already exists with uuid XXX`. This also happens when stopping libvirtd.

 virt-manager shows that no virtual networks exist. Attempting to star

[2015-07-11 14:00] zonque commented on #550
Could you provide any debugging hints from `busctl monitor` or `strace`?

[2015-07-11 14:08] heftig commented on #550
While `busctl monitor` is running, the bus seems unusable. `systemctl start` hangs and `d-feet` gets a timeout on all its attempts at introspection.

[2015-07-11 14:27] heftig commented on #550
From `strace`, this might be interesting:

[code]

[2015-07-11 14:47] poettering commented on #540
mtools should take a blocking lock of course.  (i.e. not use LOCK_NB)

(udev only takes a non-blocking lock, because it will reprobe anyway if another tool closes the block device after writing)

I don't think there's anything to fix in udev.

[2015-07-11 14:47] #540 closed, assigned to nobody

[2015-07-11 14:58] poettering commented on #421
Sounds like a kernel/OpenVZ bug to me.

The first name_to_handle_at() call is invoked with an fd of the root directory for the path "sys". The second name_to_handle_at() call is invoked on the same fd, but for the path "" and the AT_EMPTY_FLAG flag is set.

According to the man page ENOENT means: "pathname is an empty string, but AT_EMPTY_PATH was not specified in flags." Which doesn't apply here,

[2015-07-11 14:58] #421 closed, assigned to nobody

[2015-07-11 15:05] poettering commented on #541
Hmm, I don't think this should be configurable, we should gently push people towards a unified hierarchy, and if they decide to depart from that, the burden for it should be on them, downstream, not us, upstream.

Hence, I am pretty sure we should not merge this upstream. The better option would certainly be to fix Yocto to just use /root, like everybody else...

Closing hence. Sorry!

[2015-07-11 15:05] #541 closed, assigned to nobody

[2015-07-11 15:10] poettering commented on #499
hmm, that output looks fine. Can you also paste "busctl introspect org.freedesktop.login1 /org/freedesktop/login1"?

[2015-07-11 17:27] jidanni commented on #504
disable X && is-enabled X proves something is wrong

[code]

[2015-07-11 17:32] poettering commented on #437
I have now unlocked this issue again.  I have also put together PR #554, which adds a configure time warning, and documentation for the issue. If people leave the default google ntp servers in, they'll now get a configure time warning.

@isomer does this make sense to you? Again, I am pretty sure we should not register systemd as a vendor pool project with ntp.org since downstreams really should r

[2015-07-11 17:36] poettering commented on #504
@jidanni That appears unrelated to the original issue. Could you file a seperate issue for that, and please include information on the distro you use, and of the contents of /usr/lib/systemd/system and /etc/systemd/system when it comes to files named _ssh_? Also, please paste the sshd.service unit file contents. Thanks.

[2015-07-11 17:39] jidanni commented on #504
Perhaps you could give me a script to run to gather this information, i.e., "shd.service unit file " = ?

I will also append reportbug --template.

[2015-07-11 17:44] jidanni commented on #504
Wait, I see reportbug includes all that. OK, never mind.

[2015-07-11 17:46] poettering commented on #504
[code]

[2015-07-11 17:51] jidanni commented on #504
OK thanks. That will save 500 KB.

[2015-07-11 17:55] jidanni opened #555 "disable X && is-enabled X proves something is wrong"
[code]

Package: systemd
Version: 222-1
Severity: wishlist

-- Package-specific info:

-- System Information:
Debian Release: stretch/sid
  APT prefers experimental
  APT policy: (990, 'experimental'), (500, 'unstable')
Architecture: i386 (i686)

Kernel: Linux 4.0.0-2-686-pae (SMP w/1 CPU core)
Locale: LANG=zh_TW.UTF-8, LC_CTYPE=zh_TW.UTF-8 (charmap=UTF-8)
Shell: /bin/sh linked to /bin/bash
Init:

[2015-07-11 17:57] poettering commented on #555
Hmm, Debian appears to have a weird setup, can you try the find command again, but specify /lib rather than /usr/lib in the path passed?

[2015-07-11 18:10] jidanni commented on #555
[code]

/var/lib/systemd/deb-systemd-helper-enabled/sshd.service

[2015-07-11 18:13] poettering commented on #555
THis is all pretty weird... you have both "ssh.service" and "sshd.service." What's going on there? Did you create one of this, or did your distro do that? @mbiebl what's going on here?

[2015-07-11 18:14] poettering commented on #555
@jidanni that output is from when the service was enabled, right? Can you poste the same "find" output, after disabling it, when "systemctl is-enabled" still claims it was enabled? Thanks!

[2015-07-11 18:16] poettering commented on #544
Yeah, on kdbus monitoring requires priviliges, and that's intentional.

We should really fix the message about it though.

[2015-07-11 18:35] poettering commented on #327
I actually think it's fine if libraries use the default bus connection object of a thread. But they should be aware of the consequences, and document that they do what they do, so that the callers know that they have to flush/close the bus.

Or in other words: it's OK to use the default bus logic in libraries as long as the library is written under the assumption that the caller uses sd-bus too, a

[2015-07-11 18:52] jidanni commented on #555
[code]

[2015-07-11 18:56] jidanni commented on #555
All I know is I used to have this (sshd) installed but not run at boot, and would like too keep things that way with systemd.

[2015-07-11 18:58] jidanni commented on #555
[code]

[2015-07-11 19:02] jidanni commented on #555
[code]

I see, I need to disable ssh not sshd in order to stop sshd.

[2015-07-11 19:11] jidanni commented on #555
OK things are looking up,

[code]

[2015-07-11 19:13] jidanni commented on #555
Anyway, it would be great if systemctl disable would give error messages like systemctl enable does.

[2015-07-11 19:13] heftig opened #557 "Monitored kdbus system bus becomes unusable"
While `busctl monitor` is running, the bus seems unusable. `systemctl start` hangs and `d-feet` gets a timeout on all its attempts at introspection.

Linux 4.1.2 with kdbus-next (systemd/linux@c61382ef278eb8569c87e4be3077f3f9f1f2fc49)
systemd v222

[2015-07-11 19:17] poettering commented on #555
Still confused by the relationship of sshd.service and ssh.service. Are both shipped by your .deb package? Are both files? Or is one a symlink? And if so, which one and where does it point to?

[2015-07-11 19:18] poettering commented on #511
MrOats: could you please retry with v222?

[2015-07-11 19:19] jidanni commented on #555
[code]

[2015-07-11 19:21] poettering commented on #487
Any chance you can redo this with all optimizations off and LTO disabled?

[2015-07-11 19:23] joshtriplett commented on #540
That would cause mtools to block forever if something else is holding the lock less transiently than udev does. That's not a particularly user-friendly behavior, especially for a tool that is not just called interactively by users, but indirectly by scripts.  (In theory it could attempt with LOCK_NB first, then print a message saying the device seems to be locked and to Ctrl-C if needed, and then

[2015-07-11 19:26] poettering commented on #475
/proc/thread-self sounds like a good solution for me, because glibc's fucked caching getpid() won't be used at all then.

Instead of changing libselinux to bypass glibc's getpid() it would also work for me us to first use /proc/thread-self and on ENOENT fallback to the glibc getpid() path... This would fix things for us at least on new kernels > 3.16, even if it would stay broken on older kernels.

[2015-07-11 19:30] jidanni commented on #555
In the tar.xz on https://packages.debian.org/sid/openssh-server you can see some of what they are doing.

[2015-07-11 19:32] poettering commented on #540
udev should not get confused by tools altering the low-level partition table, it should not propagate data from the disk while the disk is being modified.

Loop devices do get partition block devices created. Among others nspawn actually relies on that.

[2015-07-11 19:35] poettering commented on #555
OK, so it appears that ssh.service has Alias=sshd.service in its [install] section. This means "ssh.service" is the actual name of the service, and "sshd.service" is only an alias that exists when the unit is enabled, but not otherwise.

This means that enabling/disabling the unit is not symmetric: you cannot use "sshd.service" identical to "ssh.service" when enabling/disabling the unit, because t

[2015-07-11 19:38] poettering commented on #540
Still: mtools should take a blocking lock. If it is afraid that this might take too long, then it should set a timeout (which is really nasty to do however, you probably require alarm() and sigsuspend() to implement that...), but that's something to fix in the kernel APIs...

But honestly, I wouldn't bother, just make it blocking and forget about the timeout...

[2015-07-11 19:38] neheb commented on #499
No such file or directory

[2015-07-11 19:41] poettering commented on #471
@dvdhrm Well, so far we did the policy as precise and locked-down as possible for the technology used. Not that it would matter much, but I think that's a fine policy, and we should continue to do this. (we should punch the hole for LockSession though)

[2015-07-11 19:45] poettering commented on #499
That is seriously weird...

What happens if you do "busctl call org.freedesktop.login1 /org/freedesktop/login1 org.freedesktop.DBus.Introspectable Introspect"? Does this fail, or give you some XML output?

If it gives you the XML output, does it mention the strings "CanRebootToFirmwareSetup" and "SetRebootToFirmwareSetup"?

If this provides you with XML output, could you please run "strace -o /tmp

[2015-07-11 19:51] jidanni commented on #555
Well nobody will know if

# systemctl disable

continues not to even give the slightest hint that something isn't working.

[2015-07-11 19:52] joshtriplett commented on #540
That much is entirely sensible; reading the partition table should certainly acquire a lock.

This part I'm wondering about; what is it propagating via udev events that could change if a lock isn't held?  As opposed to a program invoked by or receiving udev events acquiring a lock before it relies on some transient aspect of the device state.  (Noting that this still only excludes programs that po

[2015-07-11 20:02] neheb commented on #499
some relevant XML output:

http://pastebin.com/4pVTd4Js

the strace output: http://pastebin.com/CCGm5W11

[2015-07-11 20:05] poettering commented on #471
PR #558 contains a fix for this issue.

[2015-07-11 20:07] poettering commented on #499
XML output looks fine.

The strace output looks incomplete? Are you sure that's all that was generated while you ran "busctl introspect org.freedesktop.login1 /org/freedesktop/login1" from another window?

[2015-07-11 20:11] poettering commented on #499
any chance you can gdb attach to logind, then set a breakpoint on property_get_reboot_to_firmware_setup and continue execution. Then, issue the introspect command from another terminal. It should break in that function, now step through it, see efi_get_reboot_to_firmware() inside it fails, and with what error. Might be useful to step through that function, too.

[2015-07-11 20:12] neheb commented on #499
Oh I ran the XML command. my bad. Attempt 2:

http://pastebin.com/7XAM6ifq

[2015-07-11 20:17] poettering commented on #540
@joshtriplett udev reads a lot of metadata from disksas they appear, from partition table info, to disk labels, uuids, ... it then attaches that as metadata to the devices, and propagates that on.

A good chunk of the props shown by this command are generated that way:

[code]

The loopback partition devices appear as /dev/loop0p1, /dev/loop0p2 and so on.

[2015-07-11 20:18] poettering commented on #540
If you use "losetup" you can force the parscan with -P

[2015-07-11 20:19] poettering commented on #499
Any chance you can repaste this without all lines chopped off at the right?

[2015-07-11 20:21] neheb commented on #499
hmm i tried gdb but i just managed to crash logind which also kills gdm.

also here: http://pastebin.com/g8LwdKGK didn't realize it was chopped.

edit: there is no OsIndications file as stated in the strace. However I do have an OsIndicationsSupported file.

[2015-07-11 20:21] poettering commented on #457
@kaysievers anything you can read from that?

[2015-07-11 20:31] poettering commented on #499
Please test if #559 fixes your issue!

[2015-07-11 20:34] poettering commented on #327
I added more documentation around this in #556. If that's applied, this should really settle the issue.

[2015-07-11 20:36] poettering commented on #162
Closing this now, as this is something to deal with in dracut. @haraldh please look into this.

[2015-07-11 20:36] #162 closed, assigned to nobody

[2015-07-11 20:37] poettering commented on #181
Closing this issue now. Should there be something more to fix, please reopen.

[2015-07-11 20:37] #181 closed, assigned to nobody

[2015-07-11 20:39] poettering commented on #321
With PR #537 all userns ids of containers registered via machined will now appear in NSS.

[2015-07-11 20:40] poettering commented on #433
Any chance you can "strace -s 500 -o /tmp/log -p $PID" the machined process while you execute this? The EPERM issue must come from somewhere, the strace might be able to show us that.

[2015-07-11 20:41] poettering commented on #432
We currently do not support setting this with networkd. But I'd be open to add a patch that adds a .network and .link file option for this.

[2015-07-11 20:53] poettering commented on #415
I'd probably still at the destroy callbacks, and do that for all our objects, also sd_event_source ones... This is specifically useful for "floating" objects, where you don't keep the slot object around, but where the slot object is implicitly destroyed when the owning object goes away.

That said, we currently implement floating objects by taking NULL object pointers... To set a destroy callback

[2015-07-11 21:02] floppym opened #560 "downgrade systemd-tmpfiles failure on unsupported chattr() flags to a non-fatal warning"
systemd-tmpfiles seems to exit with a non-zero status when it fails to set the (invalid) nocow attr on a file on reiserfs.

[code]

This also fails when you call chattr +C.

[code]

This was originally reported on Gentoo Linux.

https://bugs.gentoo.org/show_bug.cgi?id=554530

[2015-07-11 21:15] drizzt commented on #421
Opened upstream: https://bugzilla.openvz.org/show_bug.cgi?id=3280

[2015-07-11 21:33] poettering commented on #560
Hmmm. This apparently is not an issue on ext4... I have the suspicion that this should be fixed in the kernel so that the ioctl behaves the same on all file systems.

[2015-07-11 21:36] poettering commented on #442
Yeah. That change was not intended afaics. would be happy to take a patch that restores old behaviour on this one.

[2015-07-11 21:44] neheb commented on #499
#559 fixes my issue. I can get into the setup screen again. Thanks!

On Sat, Jul 11, 2015, 13:31 Lennart Poettering notifications@github.com
wrote:

[2015-07-11 21:49] floppym commented on #560
On XFS, I get a slightly different error.

[code]

The manual page for chattr has the following note:

I'm honestly a bit suprised that it doesn't generate an error on ext4. If it doesn't support COW, I guess it just silently throws this flag away?

[2015-07-11 22:32] #499 closed, assigned to nobody

[2015-07-12 04:11] Korvox opened #562 "Logitech G500 Mouse DPI hwdb entry"
Hope this isn't already in hwdb for 222 or 223 already, with the bugtracker changeover its a PITA to read recent bug reports on hardware info like this.

Anywho:

mouse:usb:v046dpc068:name:Logitech G500:
 MOUSE_DPI=3600@505

Of note this mouse has three physical DPI settings buttons, and apparently can be tweaked using the Windows utility to poll at up to 5700 DPI. My mouse has never touched Windo

[2015-07-12 07:11] p4yne commented on #487
As requested:
1. `git pull origin master`
2. `./autogen.sh`
3. `./configure CFLAGS='-g -O0 -ftrapv' --libexecdir=/usr/lib --localstatedir=/var --sysconfdir=/etc --enable-lz4 --enable-compat-libs --enable-gnuefi --disable-audit --disable-ima --disable-kdbus --with-sysvinit-path= --with-sysvrcnd-path= --with-ntp-servers="0.arch.pool.ntp.org"`
4. `make`
5. `gdb journalctl`

[code]

[2015-07-12 07:19] devurandom commented on #487
I ran into this with systemd-220 (previous version being 219). It also happens to root. I do not have SELinux or anything else enabled in the system.

[code]

[code]

[code]

[2015-07-12 09:44] #471 closed, assigned to nobody

[2015-07-12 11:21] cyberdynesoftware opened #563 "Network device name changing due to other hardware"
I have a Asus P5B Motherboard with an IDE controller, that may be disabled. I usually have it disabled. Only sometimes I enable it. I do not use the onboard network controller, but an PCI card.

Everytime when I enable the IDE controller in the BIOS, the name of the network device changes (in /sys/class/net) and thus breaking my network configuration.

For more information please have a look at th

[2015-07-12 11:56] zdzichu commented on #563
Looks like disabling IDE changes PCI topology. Have you opened a bug with your motherboard maker?

[2015-07-12 14:03] jleclanche commented on #437
@poettering Given that the server would near-exclusively be used for testing, is there an actual reason the default (non-vendor) ntp.org servers won't do? FWIU, they are completely fine for personal and testing use. It just seems like there would be very low usage of them, especially now that a warning is being added.

[2015-07-12 15:26] gregkh commented on #563
That's not a bug, PCI topology can change whenever it wants to, it does not have to be deterministic.

I suggest creating a rule based on a mac address if you want this to work properly all the time.

[2015-07-12 16:44] arvidjaar commented on #518
OK, so in case of Type != forking systemd does not resume (or restart) running ExecStart at all. In this case service_enter_start() sets main_command, not control_command, and systemd does not serializes main_command value.

[code]

This is just as good in this case, otherwise we'd enter endless loop. But this also means that we still are in danger of endless loop in case of forking service.

Stil

[2015-07-12 17:10] kaysievers commented on #563
As Greg said, this is the expected behavior if the firmware works that way. The default network names are only predictable for a stable hardware configuration.

[2015-07-12 17:10] #563 closed, assigned to nobody

[2015-07-12 19:14] jernst commented on #433
Here's the `/tmp/log` as requested:

[code]

[2015-07-12 19:19] jernst commented on #433
This may be related to file ownership in the container: the file in the original report is owned by user shepherd, not root. Here's a test:

In the container:

[code]

On the host:

[code]

I tried a few other things, and it seems unrelated to the ownership on the containing directory; only the ownership of the to-be-copied file seems to matter.

[2015-07-12 19:31] MatejLach commented on #437
@jleclanche I believe that `systemd` using non-vendored ntp.org servers would unfortunately be explicitly against their policy.

[code]

Source: http://www.pool.ntp.org/en/vendors.html

[2015-07-12 21:48] mbiebl commented on #555
2015-07-11 20:13 GMT+02:00 Lennart Poettering notifications@github.com:

The old ssh sysv init script was called /etc/init.d/ssh, but had

# Provides: sshd

in its LSB header.

That's why the native .service is called ssh.service and the sshd.service
symlink is there for software which might use the sshd.service name as
dependency.

##

Why is it that all of the instruments seeking intelligent lif

[2015-07-12 22:27] xorbug opened #567 "systemctl start not working when ReadWriteDirectories is a symlink"
This bug has been reported on debian bts first:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=792187
I copy/paste relevant infos:
#

Package: systemd
Version: 221-1
Severity: normal

Dear Maintainer,

I installed tor (The onion router) the other day and when i started it
(either via /usr/sbin/service or systemctl) i went through this:

$ sudo systemctl start tor.service

[code]

$ systemctl st

[2015-07-13 05:13] daurnimator opened #569 "sd_bus_vtable: offset should be ptrdiff_t not size_t"
`struct sd_bus_vtable`'s `.x.property.offset` is currently a `size_t` rather than a `ptrdiff_t`.

[2015-07-13 06:12] cdprashanth opened #570 "PropertiesChanged signal not received when a service starts"
hi
I am writing a monitoring application to see when a service starts and exits (and take some actions on those events).
To know when a service starts I am relying on PropertiesChanged signal and query ActiveState.
But I see that PropertiesChanged signal not received when a service starts.
So its not possible to know a service start event happened.
1) Is this a bug ?
2) Is my approach of listening

[2015-07-13 06:45] martinpitt opened #571 "pid 1 wakes up from automount-expire timer every second"
In https://launchpad.net/bugs/1470845 it was reported that pid 1 wakes up every second on a system without anything happening:

[code]

FD 14 is just a timerfd:

[code]

I. e. this creates a short-lived thread every second on some `SOURCE_TIME_MONOTONIC` sd-event. There are no journal entries for this even in debug mode.

This goes away after `daemon-reload` or `daemon-reexec`, and I can't reprodu

[2015-07-13 06:46] martinpitt commented on #571
This happens since at least 221, I verified with 222 and current git master.

[2015-07-13 06:51] cdprashanth commented on #87
Even I have same requirement. I am writing a monitoring application to monitor service start and stop.
I am listening to PropertiesChanged signal and query ActiveState.
if state is not 'active' , then I infer that service is not running.
Is this correct way ? if not what is recommended way ?

[2015-07-13 07:08] martinpitt commented on #571
Ah, I found the sd_event_source's description field. The timer is `automount-expire`. Indeed that seems to set up an 1 s timer:

[code]

[2015-07-13 07:11] martinpitt commented on #571
automount related journal entries:

[code]

[code]

[2015-07-13 08:25] mator opened #572 "journalctl, check for unit arg to exist, before running"
journalctl doesn't check for unit if it exists or not, just silently runs. For example, with non existent unit glusterfsx:

[root@node01 ~]# rpm -q systemd
systemd-219-18.fc22.x86_64
[root@node01 ~]# systemctl list-units | grep glusterfsx
[root@node01 ~]#
[root@node01 ~]# journalctl -u glusterfsx
-- Logs begin at Wed 2013-07-03 13:24:48 MSK, end at Mon 2015-07-13 11:22:00 MSK. --
[root@node01 ~]#

[2015-07-13 08:28] heftig commented on #550
Fiddling with /run/libvirt and the network state got me around the network problem, but libvirt remains broken. Starting a VM causes libvirt to launch qemu and register the VM with machined, but it never advances the VM out of "shutoff" state.

[2015-07-13 11:58] arvidjaar commented on #572
Why it should be an error? Unit may be deleted or journal files could be from completely another system. Having no unit with this name on system _now_ does not mean this unit is not present in journal files we examine.

[2015-07-13 12:16] mator commented on #572
I don't state that it should be error or not. It is de-facto error right now, just looking at return code. I just say, that it should be more "visible" error (human friendly), besides of setting return code only. Thanks.

[2015-07-13 14:00] zabbal opened #575 "document what the "degraded" state of network interfaces precisely means"
I've got very simple setup:

my.network:
[Match]
Name=eth1
[Network]
Bridge=xbr1

and the corresponding bridge entry:
externalbridge1.netdev
[NetDev]
Name=xbr1
Kind=bridge

However it's in degraded state:

 networkctl
eth1             ether              degraded    configured

But systemd-networkd seems to have no complains about it:

systemctl status systemd-networkd
● systemd-networkd.service -

[2015-07-14 04:49] daurnimator opened #577 "sd_bus vtable methods do not have offset member"
If you use `_SD_BUS_VTABLE_METHOD` you have no way to pass a custom `userdata` per handler.

With a property (e.g. `_SD_BUS_VTABLE_PROPERTY`) you have the `offset` member; but methods have nothing.

[2015-07-14 06:44] daurnimator opened #578 "sd_bus vtable doesn't support duplicate methods"
`sd_bus_add_object_vtable` will fail with `EEXISTS` if you give it the same member twice.
This prevents users from exposing overloaded methods.

[2015-07-14 08:30] dvdhrm commented on #577
You really should not misuse `offset` for userdata. This might have nasty side-effects as we use it for builtin handlers. Instead, you have to pass the userdata via `sd_bus_add_object_vtable()`, or, in case of fallback vtables, your `find` callback in `sd_bus_add_fallback_vtable()` should return the userdata that is to be passed to the method call.

[2015-07-14 08:31] dvdhrm commented on #570
You need to subscribe to pid1 events. Use the `Subscribe()` function on the pid1 Manager object. Once you're subscribed, you will receive notifications.

[2015-07-14 08:32] dvdhrm commented on #569
I think `size_t` is appropriate. We're dealing with _positive_ offsets here, and `size_t` is guaranteed to be large enough to hold any object sizes possible on this system.

Why do you think it should be `ptrdiff_t`?

[2015-07-14 08:32] daurnimator commented on #577
This is exactly what `offset` is for => the userdata passed to property handlers is the vtable's userdata + the offset.

The issue is that methods don't have the same allowance.

[2015-07-14 08:35] daurnimator commented on #569
The way it's used is as a difference between pointers.
IIRC some arcane bit of C says that you must use `ptrdiff_t` in that use case.

But it really doesn't matter much.

btw, why only positive anyway?
You can pass an arbitary `void*` as the userdata; what if I stored the property data before it?

[2015-07-14 08:39] dvdhrm commented on #577
No. The `offset` field is used to avoid passing a `get` / `set` callback. If those a `NULL`, the `offset` is used to directly store / retrieve the data from your passed object. This is only a fast path to avoid hard-coding the same handlers over and over again. The fallback is always `offset == NULL`.

In other words, whenever a vtable callback is called, it is called on an object path. This objec

[2015-07-14 08:41] dvdhrm commented on #569
I agree ;)

You're free to make the pointer-arithmetic overflow. But I'd recommend storing the real object-root instead of a pointer somewhere into the middle, if you intend to access other offsets.

[2015-07-14 08:41] #569 closed, assigned to dvdhrm

[2015-07-14 08:45] daurnimator commented on #577
I'm using this in a dynamic context: I have only one C callback that all functions use; but they dispatch to the correct method by tracking this in the userdata.

Really? how does it know the type + memory layout of my object?

As I noted; this is how it works for `get`/`set` callbacks today; and it works well for my usecase.

[2015-07-14 08:54] dvdhrm commented on #577
I don't think this is a good idea. Anyway, you're still free to access `sd_bus_message_get_member()` and `sd_bus_message_get_signature()` to figure out which function was called.

It only works for basic types. It then assumes, that such basic type is stored at the passed offset.

[2015-07-14 08:57] daurnimator commented on #577
I don't have much of an alternative... unless I allocate pieces of executable memory to use as unique trampolines. This sounds very ugly.

At that point I might as well just use `add_match` and write my whole own vtable-like thing....

But, IMO an offset member for methods makes sense.
It'll even be backwards compatible (existing code will have it set to `0`)

[2015-07-14 09:02] daurnimator commented on #577
Example of my current (working) usage:

[code]

I then use `offset` as a key to a hashtable accessed via `vtable_udata`.
This lets me find the relevant property handler.

[2015-07-14 09:09] dvdhrm commented on #577
Why not use `sd_bus_add_object()` and avoid the whole vtable? I mean, you clearly use it a different way than it was intended to be used. You probably also use non-static vtables (otherwise, there'd be no reason to use the same callback function for all entries).

I also don't get why you do all these workarounds. Is this to write some kind of language binding?

[2015-07-14 09:11] daurnimator commented on #577
Because then I don't get the nicely auto generated introspection stuff.

Yes.

So that I don't have to write my own dbus library (I've already done that twice; and I've never been happy with the results) and/or dispatching.

Yes. https://github.com/daurnimator/lua-systemd/commits/sd-bus

[2015-07-14 10:11] dvdhrm commented on #557
Indeed. It's actually pretty subtle and happens only if you monitor with metadata, but the actual message-receiver doesn't want metadata. The actual message payload of the non-monitor message will then contain garbage (information leak, but will not crash).

Applied on kdbus.ko, this fixes the issue for me:

[code]

I will write a proper commit later on. Thanks for the report!

[2015-07-14 10:33] cdprashanth commented on #570
I have already done Subscribe()  on org.freedesktop.systemd1 path =/org/freedesktop/systemd1  intf =org.freedesktop.systemd1.Manager.
But i still dont get PropertiesChanged signal not received when a service starts.

[2015-07-14 11:56] ghost opened #581 "systemd-backlight failed to load saved backlight on bootup for acpi_video"
Just on yestoday night, I come across to solve the backlight control on my asus-notebook with nouveau driver, the key is to set acpi_osi= . Though not understanding well enough , the backlight can be set easily set through related keys, that's good enough for me at least now!
But then I found the backlight on bootup is set to be the maximum, after tried passing acpi_backlight=vendor to kernel, sys

[2015-07-14 12:11] wodny opened #582 ""systemctl status" should show the masking symlink instead of /dev/null as source unit file when a unit is masked."
One can usually use systemctl [show](http://serverfault.com/questions/692771/find-the-location-of-a-systemd-service) or [status](http://serverfault.com/questions/692771/find-the-location-of-a-systemd-service) to determine the file defining a service. But this method works badly if there is a symlink somewhere in between. It's completely useless for masked services when the symlink points to `/dev/

[2015-07-14 13:45] dvdhrm commented on #577
So, I'm no big fan of providing a toolkit for language bindings, so I don't see a point in this feature. However, I don't want to be the ultimate authority on that decision, so I'll leave this open for someone else to comment.

[2015-07-14 13:48] dvdhrm commented on #570
Please provide all information for me to reproduce your bug. With your current set of information, it is impossible for me to trace your issue down.

I'd also recommend looking into other systemd utilities that already watch for these events (see logind and machined).

[2015-07-14 13:52] dvdhrm commented on #578
Correct.

We never used method-overloading so far. I'm also not a big fan of the concept in general. However, I'll let Lennart decide on this. Regardless, you might have to implement it yourself and send us patches.

[2015-07-14 14:04] dvdhrm commented on #311
Discussing this a bit more, I doubt we will fix this. The correct way to deal with this is to simply mask the busname-unit. `dbus-daemon` doesn't allow that, but with kdbus you can just mask the `<busname>.busname` unit and systemd will no longer enable it.

Sure, that means disabling both, the unit (so it is disabled for dbus1) and the busname (so it is disabled for kdbus). But I think that's a r

[2015-07-14 14:13] dvdhrm commented on #493
This is not an issue of systemd. The ExecStartPost= lines are run just fine. I really recommend turning this monster unit-file into a script and debugging your timing / failure issues. Then slowly turn each part into an ExecStartPre/Post again and see at which point it fails.

Anyway, seems you figure it out already, so I'm closing this now. Regardless, this seems like something to discuss with do

[2015-07-14 14:13] #493 closed, assigned to nobody

[2015-07-14 14:21] dvdhrm commented on #415
@poettering: I still cannot see a real use-case. I cannot even see a use-case why slot-objects or event-sources are ref-counted (except for completeness). Unless there's no user of `sd_bus_slot_ref` nor `sd_event_source_ref`, I don't see the point.

(The exisiting users of `sd_bus_slot_ref` just make sure slots survive a callback. We could easily deploy the same workaround as we do for event-sourc

[2015-07-14 14:26] dvdhrm commented on #581
Please add a udev-rule to `/etc/udev/rules.d/` (eg., `99-custom.rules`) with:

[code]

This will suppress the automatic clamping to a minimum value.

[2015-07-14 14:31] ensonic opened #583 "systemd-bootchart crashes when writing the svg"
When running systemd-bootchart it crashes at the end in attempt to produce the svg. Here is a transcript:

[code]

I am running Debian-jessie

[code]

and I am using systemd-215-17+deb8u1. while this is not the latest version. The affected code has not changed much:
version used in jessie:
https://github.com/systemd/systemd/blob/v215/src/bootchart/svg.c#L1153-1156
head version:
https://github.com/

[2015-07-14 14:41] dvdhrm commented on #327
I strongly disagree that libraries are free to use TLVs (which we do for the default-bus). I also dislike hard-coding thread-awareness into libraries.

I honestly don't see why `sd_bus_default*()` is any better than storing your bus object in your context / manager object. Sure, you get rid of one single context you pass around, but that's how we always designed our applications _and_ libraries.

[2015-07-14 14:41] #327 closed, assigned to nobody

[2015-07-14 15:07] MrOats commented on #511
Will do soon as I see it packaged. Getting some progress in with the Kernel's bugzilla.

[2015-07-14 15:33] elkrejzi commented on #311
So, what you mean is that systemctl will issue a mask operation itself when disabling an unit or an user has to do it manually, which also means user would need to manually unmask it if the service is to be enabled in the future?

I'm all for the first approach, but not sure how easy would it be to implement. The second aproach wouldn't need a thing to be done, but not really desireable.

[2015-07-14 16:01] dvdhrm commented on #557
https://github.com/systemd/linux/commit/2cd255dd5ba5ab94d93d07f60f940e1a9133632b

[2015-07-14 16:15] zonque commented on #583
Please try again with the current git-head. The code has seen some rounds of refactoring lately.

You don't need to update your systemd completely, as bootchart is a standalone binary that does not depend on other parts of systemd. If the problem still exists, another gdb trace would be appreciated. Even better would be if you opened a PR and fixed the problem :)

[2015-07-14 16:18] zonque commented on #583
That said, we were actually thinking of moving this piece of software out to its own repository. It's useful for profiling systems, but it's actually not necessarily related to systemd, and as it has no dependencies to the core, it could actually be cut out. Opinions, anyone? @gmacario?

[2015-07-14 16:46] ghost commented on #396
Can confirm this issue. Is there any fix or workaround available?

[2015-07-14 16:58] ensonic commented on #583
I'll try building git head tomorrow. If this were in a separate module, it would probably help.

[2015-07-14 18:17] #440 closed, assigned to nobody

[2015-07-14 18:33] ghost commented on #396
It seems to work with version _222_. Steps to "reproduce" it:

# Dependencies

I installed `systemd` in version _222_, using the _testing_ repository in _Arch Linux_.

# Configuration

## Host-configuration

My host-configuration looks like

`10-intel.network`:

[code]

`50-br0.netdev`:

[code]

`50-br0.network`:

[code]

## Container-configuration

Inside the container I enabled `systemd-networkd

[2015-07-14 21:34] StoneCypher commented on #437
@poettering Thank you for allowing this discussion to continue

[2015-07-15 01:12] 275288698 opened #589 "systemd :Failed to get D-Bus connection: Operation not permitted"
When I in a Ubuntu systemctl use, I get:

$ systemctl --user
Failed to get D-Bus connection: Operation not permitted
$ systemctl --system
Failed to get D-Bus connection: Operation not permitted

$ busctl --user
Failed to connect to bus: No such file or directory
# when i do this ,it works

$ busctl --system
NAME                                       PID PROCESS         USER
:1.0

[2015-07-15 02:47] Sworddragon opened #590 "Predictable device names"
udev has predictable network interface names which made me thought that it could be useful to have this also for other devices like hard disk drives and optical drives. For example on my system I have a hard disk drive (sda) and 4 card readers (sdb - sde). If I now plug in an usb stick it gets registered as sdf but if the usb stick was already plugged in at booting it gets registered as sdb which

[2015-07-15 03:03] mbiebl commented on #590
you want /dev/disk/by-*/ created by /lib/udev/rules.d/60-persistent-storage.rules

[2015-07-15 03:03] #590 closed, assigned to nobody

[2015-07-15 05:49] cdprashanth commented on #570
Here is what I am doing:
1) Subscribe() on org.freedesktop.systemd1 path =/org/freedesktop/systemd1 intf =org.freedesktop.systemd1.Manager. to get all signals
2) systemctl stop service
I see that I get PropertiesChanged signal
3) systemctl startservice
4) I get only JobNew, JobRemoved and UnitNew signal
I dont get PropertiesChanged signal.
To know when a service starts I am relying on PropertiesCh

[2015-07-15 07:13] heftig opened #591 "systemd-bus-proxyd.service has no ExecReload"
I was quite surprised to discover that the systemd-bus-proxyd services have no `ExecReload=` directive. Apparently the only way to reload it is to call `org.freedesktop.DBus.ReloadConfig`.

`busctl --system call …` cannot be used because the service does not own the `org.freedesktop.DBus` name on the kernel bus. I suppose this is proper since multiple proxies can exist.

`busctl --address=unix:pat

[2015-07-15 08:35] utezduyar opened #592 "document that sd_bus_track references are considered dropped if a name disappears even if it later reappears"
If the subscribed name disappears and appears again in between https://github.com/systemd/systemd/blob/8a2abb30b8a4ef97eb69ecdabd31da996abc3df0/src/libsystemd/sd-bus/bus-track.c#L192 and https://github.com/systemd/systemd/blob/8a2abb30b8a4ef97eb69ecdabd31da996abc3df0/src/libsystemd/sd-bus/bus-track.c#L180 sd-track considers the connection as offline but it is actually online.

sd_bus_add_match (NA

[2015-07-15 08:52] utezduyar opened #593 "easier way of sd-bus connection sharing"
It is relatively hard to share a connection if objects should detach from the connection cleanly. Lets say we have an object that gets initialized with the given sd-bus. Then object sends few async messages and waits for their reply. Then, a higher level API decides to yank the object off the bus and dispose it. Then object has to make sure it won't get a late callback of its async requests. (Same

[2015-07-15 09:15] dvdhrm commented on #570
There is no "PropertiesChanged" signal when a unit is started. When you start a unit, the unit is already active, therefore, the 'Active' state does not change (it just gets its initial value). We do not send "PropertiesChanged" signals on object creation, only on modification.

You need to listen to "UnitNew" and then read the "Active" state to get notified about new units.

[2015-07-15 09:40] dvdhrm commented on #592
In your case, at the time you call `sd_bus_track_add_name()`, the name is online and disappears before this call returns. Therefore, it is reasonable to tell the caller that the name disappeared, even though it re-appeared afterwards.

Furthermore, if the name re-appears before the function returns, it is also reasonable to tell the caller that the name is online. The caller has no right to assume

[2015-07-15 09:54] dvdhrm commented on #591
Indeed, the `--address` option is pretty useless if you want to connect to a bus. Never looked at this in detail. But I really think it just lacks a call to `sd_bus_set_bus_client(b, true)`. I cannot imagine a use-case where it makes sense to use `busctl` as server.

Leaving this to Lennart to comment on, as he wrote it.

Regardless: The thing about re-loading legacy config is that we want it to b

[2015-07-15 10:10] dvdhrm commented on #557
This is now merged in kdbus-next in Greg's tree.

[2015-07-15 10:10] #557 closed, assigned to dvdhrm

[2015-07-15 10:11] mmuehlenhoff opened #594 "statusctl show -n always shows at least 10 lines"
According to the manpage "systemctl status -n 1 $PID" should only display the most recent journal entry, but it always displays the last ten lines.

[2015-07-15 10:18] #594 closed, assigned to nobody

[2015-07-15 10:20] mmuehlenhoff commented on #594
Sorry for the bogus bug report, all is well. I got confused by the additional status info displayed

[2015-07-15 10:24] ghost commented on #581
thanks so much! but I'm still wondering why when 'acpi_backlight' was left to be the default value, systemd-backlight doesn't work at bootup? I think this might be a bug, as I see ...

[2015-07-15 10:27] dvdhrm commented on #581
This is a kernel bug, not systemd. systemd does not care for the backlight type, it just uses what is there.
Note that there are lots of backlight issues in the kernel. Most of them have been recently solved, but especially with reverse-engineered stuff like nvidia, there're lots of issues left. I'd recommend reporting this to LKML / nouveau.

Closing this now. If you still think this is a systemd

[2015-07-15 10:27] #581 closed, assigned to dvdhrm

[2015-07-15 10:32] heftig commented on #591
Unlike kdbus, DBus over sockets also knows the busless case (pid1 w/o kdbus even makes use of this in form of the private socket). If you change `--address` to behave as a bus client, you would break communicating with these sockets.

Probing for a bus and falling back to busless would be an option, but maybe the peer won't expect this and terminate the connection.

ExecReload would still be nice

[2015-07-15 10:32] dvdhrm commented on #512
Fixed in bf4c113e179650c07a8f95a14d71f365dbfe66e4. Thanks for the report!

[2015-07-15 10:32] #512 closed, assigned to nobody

[2015-07-15 10:41] msekletar opened #595 "localed could determine appropriate console font on keymap/locale change"
We received bug report about "squares" being printed on console after keyboard and locale were set to option which outputs non-latin characters. I wondering if there is any possibility for localed to know which font might contain all glyphs needed to properly support given keymap/locale combination?

https://bugzilla.redhat.com/show_bug.cgi?id=1238683

[2015-07-15 10:51] dvdhrm commented on #591
Indeed. It's a bit unfortunate that we cannot distinguish both cases in the 'address' format. I wonder why there is no `bus={true,false}` key in there.
Anyway, that leaves us with the env-variable or adding `--client` command-line option.

Ok, that I can agree on. For debugging, it seems like a nice option.

[2015-07-15 10:59] ghost commented on #581
thanks so much! I'm just using nvidia, but my graphic card is a little out of date, maybe this issue should be posted to nouveau, and I will keep on solving the problems, thanks!

[2015-07-15 11:00] karelzak commented on #507
It seems like mount.davfs bug.

The option "-n" is part of the mount helper API; see man mount, section EXTERNAL HELPERS.

@poettering BTW, why we need to execute mount(8) with -n (--no-mtab) if manager->running_as == MANAGER_SYSTEM?

We don't use /ect/mtab at all, and user-space staff is stored in /run/mount which is tmpfs. The option -n has been originally used by init scripts to call mount(8) o

[2015-07-15 11:08] cdprashanth commented on #570
please refer http://lists.freedesktop.org/archives/systemd-devel/2015-July/033537.html
I cant use UnitNew as in some cases we get into infinite loop
(i get unitnew on status query of non-existing unit. if i query for "Active" state i get UnitNew again and this continues.)
What is the solution in this case ?
In my programm , I want to know when a service starts

[2015-07-15 11:41] dvdhrm commented on #570
Can you **please** provide all information you have. This is the second time you answer with data you clearly had when opening the report.

If you query systemd for dbus properties, systemd will load the unit from disk. However, as soon as no-one references this unit, anymore, it will be garbage collected. Hence, it is removed again. This also has the side effect, that reading an non-existing unit

[2015-07-15 12:04] dvdhrm commented on #545
Yes, your analysis sounds correct to me. I now reviewed dbus-daemon, as I assume from your description that this warning only occurs on kdbus, not on dbus1, right?

So dbus-daemon prints the same warnings if a policy denies a transaction. However, dbus-daemon only prints this if the actual recipient matches the addressed recipient . This suppresses those message in case of eavesdropping or broadca

[2015-07-15 12:04] #545 closed, assigned to dvdhrm

[2015-07-15 12:19] dvdhrm commented on #390
`sd_bus_default()` returns the user-bus if you run in a cgroup. It returns the system bus, if you don't. Whether root has a user-bus or not does _not_ depend on whether you use kdbus or dbus1. It might be a side-effect, but it's not the root cause.

Now, given that every process should run in a cgroup, except for kernel spawned processes, I cannot see the point of `sd_bus_default()`. To be honest,

[2015-07-15 12:34] dvdhrm commented on #524
Wow, I wonder how that ever worked...

[code]

[2015-07-15 12:44] dvdhrm commented on #536
So, I really want to track this down. With my fix I posted earlier, everything works for me. And as you said, you see the issue only if run as live-cd-style-distro. Attached is a patch that should print sufficient debug-information (as LOG_ERROR) for me to trace what happens on your machine. Can you try running this?

I'd also appreciate if you can show me how to reproduce the issue. What exactly

[2015-07-15 12:46] dvdhrm commented on #524
Fixed in 7d67077f78d4a43f214c240359ad5f7284d086fa. Thanks!

[2015-07-15 12:46] #524 closed, assigned to dvdhrm

[2015-07-15 13:10] dvdhrm commented on #595
Doing font-selection based on a locale is wrong. It's the job of the UI to do proper fallback-font handling (like fontconfig+pango do). Fonts are selected based on shape-preference, not based on coverage.

The fact that the linux-console is so limited in functionality, but still pretends to be UTF-8 read, is just one more hint to stop using it. Imo, we're not responsible of fixing the linux-consol

[2015-07-15 13:10] #595 closed, assigned to nobody

[2015-07-15 13:17] dvdhrm commented on #589
First of all, please use the newest release (which is systemd-222). Secondly, please make sure you build systemd compatible to the needs of your distribution. This usually means copying the script from the systemd-build-script of upstream. We cannot support random systemd builds combined with existing distributions.

What exactly is the reason you build systemd by yourself? If you need local modif

[2015-07-15 13:19] dvdhrm commented on #545
Merged in modem-manager: https://bugs.freedesktop.org/show_bug.cgi?id=91347

[2015-07-15 13:32] dvdhrm commented on #544
I don't see how we can easily fix this. The first issue I see, is that we make `sd_bus_set_monitor()` a direct kdbus call by modifying `hello_flags`. I think, we should instead make this a boolean on `sd_bus` just like everything else.
Secondly, we should reject `bus_socket_connect()` and friends if `is_monitor` is set. We might, in the future, decide to implement `DBus.BecomeMonitor()` but we don

[2015-07-15 13:40] dvdhrm commented on #503
I added the "built-sources:" target in 7ee7b225bd2fc3e7a3980f5fb7b10dfc6e205578 now. It does indeed look handy for scripts.

I don't think we should force it on all targets, though. It just doesn't make sense for most and it's an issue that automake should solve, not us.

[2015-07-15 13:40] #503 closed, assigned to nobody

[2015-07-15 13:46] xnox opened #596 "bridge ipmasquaring fails with networkd (works with libvirt)"
If i create a network bridge, with an IP address assigned and a dhcp server e.g. using libvirt net-\* support, my kernel 4.1.1 boots fine, sets up the bridge / dsmasq server / masquarading and when tap interfaces are created and added to the bridge, they can gain ip address via DHCP and access internet (e.g. in a VM).

However, when i try to do similar setup with networkd I get:

[code]

The confi

[2015-07-15 13:48] daurnimator commented on #503
That helps; but it doesn't solve the initial issue.

It at least needs instructions or a note....

[2015-07-15 13:51] dvdhrm commented on #503
Why? automake clearly documents that you cannot use direct targets if your project uses BUILT_SOURCES.

[2015-07-15 13:58] gmacario commented on #583
@zonque,

A few weeks ago I tried to backport systemd-bootchart from master to systemd-214 and I realized that it uses a few utility functions which are provided by the systemd codebase.

To be more explicit, this is the list of the header files included by src/bootchart/*.c which come from a different directory in the codebase:

[code]

If systemd src/bootchart is split into a separate git reposi

[2015-07-15 14:00] zonque commented on #589
For instance, building for Ubuntu requires you to pass `--enable-split-usr --with-rootprefix=/` during `./configure`. @mbiebl and @martinpitt are the experts for systemd on Debian/Ubuntu around here :)

[2015-07-15 14:09] martinpitt commented on #589
Sorry, not "d-bus". Ubuntu 14.04 does not  use systemd, you can't use it there yet. The first Ubuntu release where systemd is officially supported is 15.04, and it barely works on 14.10.

[2015-07-15 14:09] #589 closed, assigned to dvdhrm

[2015-07-15 15:34] ensonic commented on #583
I managed to build the git version. It took hours and I had to hack the configure script to make it work (building inside qemu for arm9 == slow). Now the new systemd-bootchart binary runs (options are --rel -n 10), but never terminates :/ It does not hang though, when I ctrl-c it I get backtraces like:

[code]

always something containing log_sample ().  And as we can see sample is already 84. Why

[2015-07-15 15:51] zonque commented on #583
On 07/15/2015 09:58 AM, Gianpaolo Macario wrote:

Yeah, I know.

We wouldn't. We would just copy over the bits we need, and leave them in
both repositories. Not sure whether it's worth it though. I'll work on
that in near future and see how much pain that really causes.

[2015-07-15 16:05] dvdhrm commented on #550
I can reproduce those `already exists with uuid` errors. The issue here is simple: libvirt installs dbus matches to get notified when firewalld reloads configuration. Unfortunately, libvirt prints a huge set of errors if you reload configuration. I don't know why, and I don't know whether that code of libvirt actually works, but that's not up to me to fix.

Instead, I looked at why libvirt reloads

[2015-07-15 16:16] dvdhrm commented on #550
Ok, so I digged into `virt-manager` and I can create and start VMs with this patch applied just fine.

[2015-07-15 17:01] heftig commented on #550
Seems to work well, thanks.

[2015-07-15 17:09] heftig opened #597 "kdbus breaks my Firefox build"
I build Firefox Developer Edition with GTK3 enabled (http://pkgbuild.com/~heftig/packages/firefox-developer-edition/). On one of my machines, this build hangs early (before creating a window) if it is allowed to connect to the user bus-proxy. Arch's regular Firefox runs fine.

The last burst of msgs before hanging is:

[code]

It also causes bus-proxyd to dump an error to the journal:

[code]

[2015-07-15 18:02] Bierysowihe-Kleschnie opened #598 "Broadcasts considered harmful"
By default, `systemd-tty-ask-password-agent` sends broadcast messages to all TTYs when it needs a user to enter a password. Maybe it can be an effective way to attract the user's attention, but it makes unusable all opened pseudographical programms like Alsamixer and causes unjustifiable pain.

Yes, it's documented behaviour, but it's not what the user can expect from the default settings and it's

[2015-07-15 18:17] heftig commented on #597
Capturing and experimenting narrowed it down to a call that results in a malformed reply.

[code]

[2015-07-15 18:33] heftig commented on #597
Tested three call utilities with both dbus-daemon and kdbus:

kdbus + busctl:

[code]

kdbus + gdbus:

[code]

(hangs)

kdbus + dbus-send:

[code]

(hangs)

dbus-daemon + busctl:

[code]

dbus-daemon + gdbus:

[code]

dbus-daemon + dbus-send:

[code]

[2015-07-15 21:55] dvdhrm commented on #597
Just for reference: we narrowed it down to missing padding after unaligned fixed-size structures. We have to fix our gvariant encoder to properly add padding to fixed-size structures as described in the spec.

[2015-07-15 22:13] dvdhrm commented on #597
Attached patch solves the issue for me.

If anyone is interested, this can easily be reproduced. Just run `busctl --user monitor` and then run this:
`busctl call --user org.freedesktop.systemd1 / foo.bar foobar "(ib)" 0 true`

The busctl-monitor will then show:

[code]

..which tells us that it cannot parse the gvariant structure.

[code]

[2015-07-15 22:16] dvdhrm commented on #597
Ouh, that patch seems to break other parts..

[2015-07-16 04:46] unitrq opened #599 "systemd-networkd fails to configure bonding on boot with linux 3.14"
Starting system with recent kernel (4.0.7) works just fine, but when systemd-networkd starts on boot with 3.14.48 kernel (linux-lts), bonding interface fails with cryptic message in journal:

Issuing "systemctl restart systemd-networkd" after system boot brings networking up to a working state.
Systemd version is 221, network is configured as follows:
/etc/systemd/network/br-vlan54.netdev

/etc/sy

[2015-07-16 08:55] dvdhrm commented on #597
Ok, I missed the `p[n] != 0` special case. Updated patch, I also added local test-cases and everything runs fine now. I will try a cold-boot once the build has finished.

I also verified that we correctly parse this trailing padding on the decoder side (if you're interested: this is accounted for in `bus_gvariant_get_size()` as it includes final alignment).

[code]

[2015-07-16 09:28] #597 closed, assigned to nobody

[2015-07-16 13:17] kaihendry commented on #468
My [/etc/systemd/network/50-containers.network](http://ix.io/jLp) has both IPForward=yes or IPMasquerade=yes and it doesn't work.

Oddly there is no difference in the sysctl reading for my **ve-arch** interface before or after I run `echo 1 > /proc/sys/net/ipv4/ip_forward`.

http://s.natalian.org/2015-07-16/ve-arch.txt

**Please NOTE** the very odd behaviour that I've been able to reproduce that h

[2015-07-16 13:23] dvdhrm commented on #550
This is fixed by #603. It's not merged, yet, but I'll close it here as the issue is now known and debugged. I'll take care it gets merged in some way.

Thanks a lot for the report!

[2015-07-16 13:23] #550 closed, assigned to nobody

[2015-07-16 13:26] kaihendry commented on #469
IIUC this bug was closed by #495 by f767522 which was then released in 222.

I just tried 222 and this bug still exists. I.e. I have to manually restart systemd-networkd on login for it to work! For your entertainment:  https://youtu.be/_Mya5UzH-k0

[2015-07-16 15:18] heftig opened #608 "efi-boot-generator: Reloading systemd removes units"
When boot.automount and/or boot.mount is active and systemd is reloaded, efi-boot-generator will not generate them again.

This is especially bad if the system relies on boot.automount to ensure /boot is mounted when it wants to update the kernels, boot.automount is running but boot.mount is missing already. I've had various failures trying to access /boot ranging from EHOSTDOWN and hanging to ENO

[2015-07-16 15:35] heftig commented on #608
Maybe the already-a-mountpoint logic should be changed this way:

[code]

If /boot is already a mountpoint, the generator should generate the units and rely on systemd's own mechanisms to override the configuration.

I think this just leaves the case where /boot is already mounted before systemd boots. I believe boot.automount will fail instead of screwing up the mount. Not pretty, but not fatal.

[2015-07-16 16:28] dvdhrm commented on #536
I pushed the fix as da770c386f8cc6efd3430ebab4e0707a4bb06c16.

Thanks a lot for your patience and testing all the fixes! Much appreciated! I'll close this now. If this comes up again, please feel free to re-open or re-submit.

[2015-07-16 16:28] #536 closed, assigned to dvdhrm

[2015-07-16 18:11] thomasmey commented on #476
Same here for the UML block device. Any ideas how to fix this?

[2015-07-16 18:20] thomasmey commented on #476
diff --git a/rules/60-persistent-storage.rules b/rules/60-persistent-storage.rules
index 5ab03fc..0b14bb4 100644
--- a/rules/60-persistent-storage.rules
+++ b/rules/60-persistent-storage.rules
@@ -6,7 +6,7 @@
 ACTION=="remove", GOTO="persistent_storage_end"

 SUBSYSTEM!="block", GOTO="persistent_storage_end"
-KERNEL!="loop_|mmcblk_[0-9]|msblk_[0-9]|mspblk_[0-9]|nvme_|sd_|sr_|vd_|xvd_|bcache_|cciss

[2015-07-16 18:58] heftig commented on #591
Arch has been relying on dbus-daemon automatically reloading itself when the configuration (services or policies) changed.

With kdbus, this requires reloading systemd (so the busnames and services get regenerated) and reloading the bus-proxy (so the policies get reloaded). I expect we'll have to:
- Reload pid1 for packages installing system units or DBus system services. This can be done via `sys

[2015-07-16 23:12] AdamWill opened #609 ""File exists" when trying to start a unit in systemd-222, if two units have same BusName"
In Fedora, we have both timedatex and systemd-timedated. In Fedora 23+, with systemd 222, it seems that trying to start timedatex fails:

[code]

It seems this happens because both `timedatex.service` and `systemd-timedated.service` specify the same `BusName`. Note, `systemd-timedated.service` doesn't have to be _running_ for the problem to occur - it only has to be _there_. If I move it out of th

[2015-07-16 23:12] AdamWill commented on #609
Downstream bug for the gnome-initial-setup crash: https://bugzilla.redhat.com/show_bug.cgi?id=1244023

[2015-07-16 23:17] AdamWill commented on #609
I guess the bug could actually be in dbus too; F22 has dbus 1.8, F23/Rawhide has dbus 1.9.

[2015-07-17 00:49] floppym commented on #337
Why do you need to chown it?

It seems to work properly if I simply remove the `uid=` from `setup_pts`. I see this in the container:

[code]

`openpty(3)` and `posix_openpt(3)` also start working, both with and without private-users.

[2015-07-17 19:10] thx1111 opened #615 "systemd - "PartOf" unit file option has no effect"
systemd version 222 on Arch Linux.

Attempting to create a dependency, having wpa_supplicant start and stop with insertion and removal of an associated pcmcia/pccard wireless network card, using "PartOf" in the unit file, fails.

The documentation at man 5 systemd.unit says:

PartOf=
... When systemd stops or restarts the units listed here, the action is propagated to this unit. ...

Using wpa_sup

[2015-07-18 04:21] jidanni opened #616 "Replugging should be enough to clear failed state"
At first I thought this was a mount bug,

[code]

If the thing didn't get mounted, should something be communicated to the user?

Looking further

[code]

The problem is: if there has ever been a failure on sdd1, then that item
UUID=... is marked as failed for the rest of the session, until the
user reboots.

Even if he umounts, pull out the device, puts it back in again so it
is now on sdb1 as yo

[2015-07-18 05:32] jernst commented on #468
Wild guess: systemd reads the value before /etc/sysctl.d/\* had a chance to set it?

[2015-07-18 10:30] fat-lobyte opened #617 "journalctl --list-boots hangs with 100% cpu usage."
Hi!

I wanted to list all the boots in the journal, so I ran `journalctl --list-boots`. The application does not finish and is permanently at 100 % cpu usage.

I have limited the disk usage to 2GB and `journalctl --disk-usage` reports

[code]

I ran `journalctl --verify`, and came up with a few corrupt log files. I deleted those, but the problem still persists.

Does anyone have an idea what is go

[2015-07-18 13:54] Lekensteyn commented on #487
Also affected by the "Bad message" error in systemd 221-2 (Arch Linux ARM).

Moving the bad file mentioned in the message below avoids the issue. Why does journalctl exit on reading errors?

[code]

[2015-07-18 17:11] Zugschlus opened #618 "please consider having variables for an entire unit file"
Hi,

I'd like to be able to write:

[code]

This does not work at the moment since the Environment directive is part of the Service definition.
Writing the file name explicitly in the unit is possible, but error prone, and there may be situations where the file name is referenced multiple times.

Please consider adding a variable mechanism to make systemd unit files more robust.

Greetings
Marc

[2015-07-18 17:22] Zugschlus opened #619 "Please consider implementing bash-like parameter-expansion options"
Hi,

I would like to be able to write in a unit file:

[code]

with the semantics that, if NIFTYCONF is defined in /etc/default/nifty, the contents of NIFTYCONF is substituted, and if NIFTYCONF is not defined, the contents of OLDERCONF is substituted. This is a common idiom when a configuration option gets renamed to preserve backwards compatibility to older versionf of the configuration file.

Ad

[2015-07-18 20:00] gdamjan opened #620 "boot.mount for the ESP is not generated when using linuxx64.efi.stub"
I was testing secureboot etc, and wanted to create a single .efi executable combining the kernel, initramfs and the command line to boot it directly from UEFI.

[code]

This worked (i.e. booted fine), but boot.mount and .automount were not created by the generator. Running it manually gives:

[code]

Reading the [man page](http://www.freedesktop.org/software/systemd/man/systemd-efi-boot-generator.

[2015-07-19 10:58] gfa opened #621 "RFE: poweroff some time after hybrid-sleep"
when I used pm-utils to suspend-hybrid my laptop I was able to configure the laptop to shutdown after some time of suspend-hybrid. I used an hour or two as the time to poweroff.

the usecase for this feature is simple, if I use the laptop soon enough it will be suspended and resume will be fast, if I don't use it for hours it will be off instead of wasting battery (ok, not much but still) suspende

[2015-07-19 13:17] falconindy opened #623 "-k no longer causes a dry run for shutdown"
ref: https://bugs.archlinux.org/task/45710

Expected behavior: calling `shutdown -k` doesn't actually shutdown
Observed behavior: the system shuts down after the default delay.

I suspect f0efea232a582660b25ee992853c78cf825721b6 broke this, as it no longer respects 'arg_dry'.

[2015-07-19 13:30] heftig commented on #620
Yes, currently this is only done by systemd-boot (formerly known as gummiboot). It guess UEFI has no standard way of providing the launched application with information about the partition it was loaded from.

[2015-07-19 14:10] arvidjaar commented on #620
It has.

[2015-07-19 14:25] heftig commented on #620
I see. Then it seems the kernel should be extracting this information while it exists (in `arch/x86/boot/compressed/eboot.c` it has access to the image handle) and keep it around for user space, if only by adding an otherwise-ignored parameter to its command line.

[2015-07-19 16:05] arvidjaar commented on #621
Hybrid suspend using system will hibernate system some time after suspend to RAM. I'm not sure whether timeout is configurable though.

[2015-07-19 16:13] gfa commented on #621
@arvidjaar not in my experience, I left the laptop a whole night and it didn't fully poweroff.
I'm not using gnome or anything else. just systemd on debian
systemd 221

I will left it hybrid-sleep tonight again to see if newer systemd behaves differently. even if it does and poweroff after some time my RFE stills, I want  to configure that time

[2015-07-19 16:22] arvidjaar commented on #621
You are probably right. I'm using openSUSE 13.2 which still redirects suspend to pm-utils, so I guess pm-utils do it.

[2015-07-19 16:50] tgr opened #624 "Command quoting rules are unclear"
According to the systemd (215-17+deb8u1) man page `ExecStart` section:

What systemd actually seems to be doing is only remove quotes which are next to whitespace. I. e. `'--foo=bar'` will be parsed as `--foo=bar` but `--foo='bar'` is parsed as `--foo='bar'`. This is unintuitive and different from how shells work; at the very least the documentation should clearly warn about it.

[2015-07-19 17:19] heftig commented on #524
Doesn't seem to work all that well. `d-feet` reports lots of duplicate objects. It gets worse the deeper the hierarchy is. I think it's getting confused by the fact that the introspections of `/` and `/foo` both contain nodes for `/foo/bar`. It expects that the introspections only show one level (similar to how reading a directory isn't recursive).

[2015-07-19 18:35] arvidjaar commented on #621
@gfa

What is in /sys/power/disk? It determines what kernel does when hibernation is requested.

[2015-07-20 05:31] cdprashanth commented on #570
Hi
Checking to see if you have any comments/updates on this
Thanks
@poettering @dvdhrm @keszybz

[2015-07-20 08:41] rebootl commented on #507
Ok. Thx for your replies. I think I'll report to mount.davfs, referring back here.

Edit: davfs issue report: http://savannah.nongnu.org/support/?108850

[2015-07-20 09:12] richardmaw-codethink commented on #475
If we're going to open-code setexeccon() for the time being in systemd-nspawn, then unless we anticipate needing threads, it should be  sufficient to use the `/proc/self/` path rather than the `/proc/thread-self/` path.

[2015-07-20 09:50] MorphBonehunter commented on #560
Just for clearness, the problem exists after an upgrade to systemd-222 and the new file "/usr/lib/tmpfiles.d/journal-nocow.conf".

Setting nocow on BTRFS sounds like an good idea, but make this the default? As @poettering says, the ioctl should be fixed in kernel for ext4 but in a way that this FS also trow an error as the other FS. But if this gets fixed this FS is another one on which the system

[2015-07-20 10:25] zonque commented on #617
What does `strace journalctl --list-boots` print?

[2015-07-20 11:40] fat-lobyte commented on #617
I'm very sorry, I'm afraid I "fixed" the issue on my box with running `journalctl --vacuum-size=1G`
Therefor I cannot reproduce it anymore. If I run into it again, I will post the results here.

[2015-07-20 12:58] vmatyushin opened #627 "No output from systemd-journal-gatewayd"
I have just compiled version from git.
I run systemd-journal-gatewayd as root.
When I open http://localhost:19531/entries I see nothing.
When I open http://localhost:19531/browse I see only predefined html but no log entries.

I can successfully enumerate journal entries in request_handler_entries().
But then request_reader_entries() is called, and this is where the issue occurs.
sd_journal_next()

[2015-07-20 13:57] maggu2810 opened #628 "bootctl: GPT type UID"
If I understand "The Boot Loader Specification" (https://wiki.freedesktop.org/www/Specifications/BootLoaderSpec/) correctly the following GPT type GUID are valid for $BOOT:
- bc13c2ff-59e6-4262-a352-b275fd6f7172 (Extended Boot Partition)
- c12a7328-f81f-11d2-ba4b-00a0c93ec93b (EFI System Partition)

The bootctl tool accept "EFI System Partition" only:
https://github.com/systemd/systemd/blob/ab822b

[2015-07-20 14:32] wuxb45 opened #629 "Setting NOCOW attribute fails systemd-tmpfiles"
The service should not fail. The failure should be ignored because it's not a problem at all on most of the file systems.
Please refer this commit (and the comment).
https://github.com/systemd/systemd/commit/3a92e4ba470611ceec6693640b05eb248d62e32d

[2015-07-20 14:40] ghost commented on #560
On XFS,

[code]

[2015-07-20 14:43] karelzak commented on #628
It's all about ESP -- the partition required by UEFI standard for EFI compatible firmwares.

The extended boot partition is just a hack recommended by freedesktop.org  for additional system specific data (for example another kernels, etc.) if the installer/boot loader is so stupid it cannot use normal shared EPS or so...  UEFI standard and firmwares have no clue about it.

[2015-07-20 15:02] kaihendry commented on #627
I can confirm this issue on Archlinux 222.

[2015-07-20 15:23] floppym commented on #629
See also #560.

[2015-07-20 15:24] gdamjan commented on #620
What are the differences between `linuxx64.efi.stub` and the _full_ gummiboot bootloader?

[2015-07-20 15:27] heftig commented on #620
It sets some volatile EFI variables, see http://www.freedesktop.org/wiki/Software/systemd/BootLoaderInterface/ .

[2015-07-20 15:31] MrOats commented on #511
Updated to Systemd v222-1 and rebooted computer, and then did the suspend. It took 5 minutes and 20 seconds again.

[2015-07-20 15:53] gdamjan commented on #620
Interesting how LoaderTimeInitUSec and LoaderTimeExecUSec are not set, but somehow systemd-analyze still reports firmware and loader time:

[code]

Would a patch like this be accepted or should I make it a bit less copy/pastish?

https://github.com/gdamjan/systemd/commit/e2421a1a224e88912af792308ff1c48dcfce3d00

[2015-07-20 16:16] gfa commented on #621
$ cat /sys/power/disk
platform shutdown reboot [suspend]
$ systemctl hybrid-sleep
_resume from sleep_
$ cat /sys/power/disk
platform shutdown reboot [suspend]

$ echo shutdown | sudo tee /sys/power/disk
shutdown
$ cat /sys/power/disk
platform [shutdown] reboot suspend
$ systemctl hybrid-sleep
_resume from sleep :(_
$ cat /sys/power/disk
platform shutdown reboot [suspend]

looks like systemd is ove

[2015-07-20 17:45] arvidjaar commented on #621
man systemd-sleep.conf

[2015-07-20 19:04] Code7R opened #633 "when shutdown hangs, automatically show some helpful information"
Hi,

this is a repost of https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=792761 , see there for details. And for demonstration, see https://www.unix-ag.uni-kl.de/~bloch/part2.m4v .

Short summary: AFAICS currently the user only one proper way to debug an endless loop on shutdown time, and this also needs to be set up before and also opens a security hole. So that's not a proper solution for rand

[2015-07-20 19:19] zonque commented on #511
Do the logs (`journalctl -b`) contain anything interesting?

[2015-07-20 19:54] MrOats commented on #511
http://pastebin.com/xjhfHtxc

It seems mostly okay to me... I wouldn't know really.

[2015-07-20 20:04] zonque commented on #511
This is the interesting excerpt:

[code]

[2015-07-20 20:08] zonque commented on #627
I recently debugged this and fixed it with 9e19c04f3. This was past v222 though. @vmatyushin, are you sure you had that commit in your tree when you compiled?

[2015-07-20 20:10] vmatyushin commented on #627
Yes, I cloned the repo today and checked that there was "fdopen(fd, "w+");" string.

[2015-07-20 20:16] MrOats commented on #511
Yes, I mentioned that in the beginning...

[2015-07-20 20:19] zonque commented on #627
Ok, that seems to be a different bug then. And probably also something different from what @kaihendry reports.

[2015-07-20 20:22] vmatyushin commented on #627
I forgot to mention that I am on Arch Linux too, I guess me and @kaihendry probably observe the same issue.

[2015-07-21 02:32] gfa commented on #621
if I set

[code]

systemd will turn off my laptop right away, I don't want that. I want the laptop to be suspended for NN configurable time then shutdown

[2015-07-21 05:08] gdamjan commented on #620
I made a pull request https://github.com/systemd/systemd/pull/637 too add efi variables in the stub too

[2015-07-21 06:39] bitstreamout commented on #317
When will this issue become fixed?  We have several customers and users which insists that this bug has to be fixed.

[2015-07-21 07:02] jamespharvey20 commented on #317
@bitstreamout which distribution do you run?

[2015-07-21 07:12] jamespharvey20 commented on #317
@bitstreamout : after a quick google, I'm guessing you're on SuSE.  Is custom-building (even a release version) with git commit 743970d reverted an option for you?  It does create a race condition which can cause a ~30 sec delay on shutdown, but it gets rid of the data loss.  Ubuntu, Debian, Centos 7.2, and me on Arch are running great with this.  Not sure if RedHat has gone this way, or if they'r

[2015-07-21 07:35] arvidjaar commented on #317
If every distribution reverts this patch, what is rationale for keeping it upstream?

[2015-07-21 09:41] dvdhrm commented on #524
The spec clearly allows recursive introspection data:

[code]

`d-feet` has several problems regarding recursive introspection and object handling. It is a useful tool to query system information, but I don't think it should be used to debug interface correctness. Until `d-feet` gets fixed, I recommend using `busctl` or `gdbus` to check for interface correctness.

I'd gladly step up and write some

[2015-07-21 09:47] johannbg commented on #618
This one should be closed as wont-fix and fixed upstream nifty.

The relevant daemon should a) be able to check it's own configuration file and b) fail if it's own configuration file is missing and c) we should not support writing hackis unit files with broken and obsoleted use of environment definitions like this.

[2015-07-21 09:47] dvdhrm commented on #224
I like the patch. I think we need `bus_assert_return()`, though (which takes an `sd_bus_error`).

It does sound error-prone to require each and every error-condition to set `sd_bus_error` according to `r`, and it is probably a huge effort. I'm not sure it's worth the trouble, but I'd gladly review patches.

[2015-07-21 11:12] bitstreamout commented on #317
Good question.  AFAICS from the comment at git commit https://github.com/systemd/systemd/commit/743970d2ea6d08aa7c7bff8220f6b7702f2b1db7 the container logic using cgroups is not foolproof and therefore it looks like that this ``fix'' causing this trouble since Feb 7, 2014  seems to be acceptable for upstream or why do they play dead here?

[2015-07-21 11:23] Zugschlus commented on #618
Ugly unit files working around this shortcoming are already written today. It would be really really nice to fix this in one place, systemd, other than in all daemons around in the world.

Additionally, having the daemon exit on a missing conffile might cause error messages in logs, which may trip off more or less sophisticated log checking mechanisms like SIEM solutions.

Additionally, please not

[2015-07-21 11:30] mrvn commented on #618
and who says the variable is the config file. Could be anything that is referenced multiple times.

[2015-07-21 12:15] johannbg commented on #618
Irrelevant.

Environmental entries unit files are more or less obsoleted
 ( unless those are environmental entries required to be present for the daemon startup itself )

It makes absolutely no sense to do something like this in unit files.

Environment="CONFFILE=/etc/nifty.conf"

[Unit]
Description=my nifty service
ConditionPathExists=$CONFFILE
( or )
Environment="CONFFILE=/etc/nifty.conf"

[Serv

[2015-07-21 12:26] shaneforsythe commented on #317
Fedora 22 has not reverted this patch.

As they rely on systemd directly as an upstream sources this is very unfortunate for them.

[2015-07-21 12:33] johannbg commented on #618
Another common mistake done by people is to use a environmental file which contains something like this and think it's useful or beneficial in some manner when all it does is making the administrators life more difficult since he has to have a look at two places encase he wants to change the daemon/service startup setting...

/path/to/my-daemon-environment-file
OPTIONS="foo"

and refer to it like

[2015-07-21 13:13] heftig commented on #524
No, I think you're misinterpreting this section and the spec isn't clear at all. It only requires that any child nodes you report must be either empty or complete.

It says nothing about whether having multiple introspection paths to a node (`/ → /foo → /foo/bar` and `/ → /foo/bar`) is allowed.

It says nothing about whether having both `<node name="foo"/>` and `<node name="foo/bar"/>` as siblings

[2015-07-21 13:15] dvdhrm commented on #524
As siblings? No, it should be recursive. Do we report them as siblings? That sounds wrong indeed.

[2015-07-21 13:18] heftig commented on #524
[code]

[2015-07-21 13:20] Zugschlus commented on #618
Having to look in /lib/systemd, /etc/systemd and /etc/systemd/system/foo.d is so much easier, yeah . right.

[2015-07-21 13:38] zonque commented on #618
@Zugschlus well, you would still have to look at those too, right? All @johannbg is saying that fiddling with env vars just _adds_ to the complexity.

[2015-07-21 14:04] ensonic commented on #583
https://github.com/systemd/systemd/pull/642 fixes the issue I reported in my last comment. The invalid svg seem to be already fixed. With git head and my patch I get good svgs.

[2015-07-21 14:19] johannbg commented on #618
@zonque right adds to the complexity but the complexity @Zugschlus is referring to should not exist after the introduction of systemctl edit <unit>.

If it still does we need to fix it's implementation based on my comments ( which was based on collected administrators feedback ) in the relevant bug I filed in bz.rh regarding that and or put more emphasize on administrators to use the tool they hav

[2015-07-21 14:40] elfring opened #644 "Completion of error handling"
I have looked at a few source files for your current software. I have noticed that some checks for return codes are missing.

Would you like to add more error handling for return values from functions like the following?
- [fclose](http://pubs.opengroup.org/onlinepubs/9699919799/functions/fclose.html) ⇒ [print_qr_code](https://github.com/systemd/systemd/blob/3a3701f03360f9a292dcab31fda1f6e0e0629c6

[2015-07-21 14:52] elfring opened #645 "Complete build options for Pthread API"
Would you like to add the configuration script "[AX_PTHREAD](http://www.gnu.org/software/autoconf-archive/ax_pthread.html)" to [your build specification](https://github.com/systemd/systemd/blob/56bf3853b4aefad31edf8631668446007e2347cb/configure.ac#L33)?

[2015-07-21 14:53] falconindy commented on #645
Why would this be useful for software which targets only Linux?

[2015-07-21 14:56] elfring commented on #645
Will it become useful to prepare the build scripts for a wider software portability?

[2015-07-21 14:58] zonque commented on #644
We never check for return values of `printf()`, why should we do it in `print_device()`?

In `print_qr_code()`, I don't see how `fclose()` could possibly fail? That said, I figure the code there could make use of an `_cleanup_fclose_` annotation.

The `pthread_mutex_lock()` call in `shared_policy_reload()` could be wrapped in an `assert_se()`.

Feel free to open pull requests for the latter two, a

[2015-07-21 14:58] #644 closed, assigned to nobody

[2015-07-21 14:59] zonque commented on #645
What kind of portability do you have in mind?

[2015-07-21 15:00] elfring commented on #644
I suggest to avoid [ignorance of return values](https://cwe.mitre.org/data/definitions/252.html) a bit more.

Are you interested to apply [aspect-oriented software development](http://aspectc.org/)?
How do you think about to encapsulate error detection and corresponding exception handling as [a reusable aspect](http://en.wikipedia.org/wiki/Aspect_%28computer_programming%29) in your software?

[2015-07-21 15:03] gfa commented on #621
i'm looking for something like PM_HIBERNATE_DELAY=1800 setting on pm-utils

[2015-07-21 15:05] zonque commented on #644
We do pay attention to return values wherever it really makes sense. I don't see how that applies to `printf()` though. What sort of exception handling do you have in mind for software written in C? I can't quite follow.

Disregard my earlier comment on `print_qr_code()`, btw. The file needs to be closed before the buffer is accessed, so there is no simpler way. If you explain why `fclose()` can f

[2015-07-21 15:05] elfring commented on #645
Does anybody dare to port components from the systemd software library to more execution environments?

[2015-07-21 15:06] zonque commented on #645
If your definition about "more execution environments" refers to other OS than Linux, then no, this is out of scope for the upstream project.

[2015-07-21 15:07] elfring commented on #644
How do you think about to improve [static source code analysis](https://en.wikipedia.org/wiki/List_of_tools_for_static_code_analysis#C.2FC.2B.2B) also for your software?

Do you find information sources like the following useful?
- Article "[A Reusable Aspect for Memory Allocation Checking](http://aspectc.net/ac_tutorial.html#reusablemachecking)"
- Document "[Aspect-Oriented Software Development -

[2015-07-21 15:14] zonque commented on #644
Your first two links point to non-existent content. The latter is about C++, so it's not applicable to the system project, which is written in C.

We do run static checkers on the code base on a nightly base:

  https://scan.coverity.com/projects/350/
  https://systemd.github.io/systemd-build-scan/

The latter produces lots of false positives though, as LLVM does not take our automatic cleanup ann

[2015-07-21 15:20] elfring commented on #644
A tool like AspectC++ can also be reused for source files written in the C programming language.
Would you dare to delegate any software generation tasks to such a dedicated tool?

[2015-07-21 15:24] zonque commented on #644
No, AFAIK, we refrain from using software generation tools. And I can't quite follow what you're suggesting. Could you maybe post to our ML, describing what you have in mind, and providing some easy to understand examples? Thanks!

[2015-07-21 15:26] #645 closed, assigned to nobody

[2015-07-21 15:32] elfring commented on #644
Are you used to [the identification of cross-cutting concerns](https://en.wikipedia.org/wiki/Cross-cutting_concern)?

Would you eventually prefer to achieve corresponding improvements by [the Coccinelle software](http://coccinelle.lip6.fr/) instead?

[2015-07-21 15:41] zonque commented on #644
If you want to provide semantic Coccinelle patches for common patterns of mistakes that you spot, please collect them in a new repository. We are happy to link to it, as long as it is maintained, or even host it under the umbrella of our GitHub organization. Not sure if those patches would be very specific to systemd though.

[2015-07-21 15:59] elfring commented on #644
How do you think about to extend [another semantic patch approach](http://article.gmane.org/gmane.comp.version-control.coccinelle/5265)?

[2015-07-21 16:05] zonque commented on #644
I'm really lost in parsing your cryptic posts, sorry.

Please provide concrete examples of what you have in mind, specifically for this project. Open a PR containing your changes, so we have a look. Or post to the ML, providing comprehensive examples.

Thanks.

[2015-07-21 16:12] elfring commented on #644
I suggest to look for recurring patterns in source files. It seems that there are some open issues left over despite of the reuse of two popular static source code analysis tools here.

Dedicated software development tools can help you more than you might know at the moment, can't they?

[2015-07-21 16:16] zonque commented on #644
Tools are generally welcome. Please use them and provide patches. If possible, we should hook them up so they run automatically, in which case any help of achieving that is appreciated.

[2015-07-21 16:17] zonque commented on #623
@falconindy thanks for the report! Care to give my branch a quick check?

[2015-07-21 16:20] elfring commented on #644
If a higher level patch format would be reused, further update suggestions could be applied to a wider range of source files to some degree automatically.
How do you think about to reduce specific manual software maintenance tasks?

[2015-07-21 16:25] arvidjaar commented on #621
Yes, I understand that. It could be implemented using script in /usr/lib/systemd/system-sleep/ and careful selection of options in sleep.conf. Unless this will be the only script run during sleep, it should be close enough match.

[2015-07-21 17:11] zonque commented on #627
Hmm, so on a VM with a freshly installed Arch, with system built from git, `http://localhost:19531/entries` show the full content of the journal. Any hints what I'm missing in order to reproduce this issue?

[2015-07-21 17:20] vmatyushin commented on #627
I have just built systemd from git on my home arch system and result is the same - no entries.
Here is the contents of my `/etc/systemd/journald.conf`:

[code]

`http://localhost:19531/browse` shows this:

[code]

[2015-07-21 17:52] falconindy commented on #623
I backported your two commits onto 222, rebooted, and ran `shutdown -k now foo`. It no longer issues a shutdown (so the dry run bits work again), but the wall message isn't displayed. For that matter, even without the `-k`, I don't see a wall message (on ttyS0). Using wall(1) does show a message written to my TTY, though. Sounds like a separate bug?

[2015-07-21 18:06] dvdhrm commented on #619
Service files are not scripts. We do not want conditionals in service file parsers, nor any code execution. Furthermore, the bash variable expansions are the least readable string manipulation functions I've seen so far, so I'd strongly object to adding those.

`EnvironmentFile` is used for limited backwards compatibility. It's not something we want to endorse, nor do we intend to extend support f

[2015-07-21 18:18] mbiebl commented on #644
@zonque sounds (almost) like a bot to me

[2015-07-21 18:21] elfring commented on #644
@mbiebl: Would you like to continue a constructive discussion around update candidates in this software?

[2015-07-21 18:24] zonque commented on #627
And `http://localhost:19531/entries/`?
I triggered a strange behavior earlier today where i needed to check and uncheck the "only this boot" checkbox in `/browse`. I'll check again tomorrow, but that'd be a JS bug then.

[2015-07-21 18:51] vmatyushin commented on #627
`http://localhost:19531/entries/` outputs `Not found.`
I launch ./systemd-journal-gatewayd as root.

I've inserted the following code in the beginning of `request_reader_entries()`:

[code]

It outputs `0 entries` every time I reload `http://localhost:19531/entries/`

I tried to debug the issue without any code modifications and saw that `while` loop inside `request_reader_entries()` terminates ri

[2015-07-22 03:25] atomt opened #650 "networkd: wait for DAD to complete before an address is considered configured"
systemd-networkd-wait-online.service should wait for IPv6 DAD (Duplicate Address Detection) to complete if DAD is enabled on a address (it is by default)

The kernel do not allow processes to bind to specific IPv6 addresses until DAD for them has completed, making daemons like apache, unbound and sshd to fail on boot if they're set to bind to something different than ::

[2015-07-22 09:43] dvdhrm opened #655 "gvariant: unary type is wrongly encoded as empty sequence"
The unary type `()` is a valid gvariant type (but invalid dbus1 type). According to the spec, it's encoded as 1 byte (padding). However, we encode it as empty sequence (0 bytes). This is wrong and needs to be fixed.

The reason it's encoded as 1 byte is to guarantee that no fixed-size type has a 0 byte encoding (which would violate gvariant requirements).

[2015-07-22 10:45] zonque commented on #627
The URL is `http://localhost:19531/entries`, without the trailing slash.

But I still can't reproduce it, sorry. Neither when executed from the service file, nor when started directly as root as you describe. To rule out some things, could you move all files in `/var/log/journal/` out of the way recursively, reboot and then test again? And just to avoid that common mistake: are you sure you're rea

[2015-07-22 11:27] vmatyushin commented on #627
I have deleted `/var/log/journal/` contents, rebooted and was able to reproduce the issue.
I'm launching `[systemd source directory]/systemd-journal-gatewayd` as root.

[2015-07-22 12:13] ensonic commented on #583
Fixed with commit 0a327854f8613b7a52a80c1f3f8fc3100fb9df58

[2015-07-22 12:13] #583 closed, assigned to nobody

[2015-07-22 12:42] ensonic opened #656 "systemd-bootchart is not generating an image when run from init"
when running

[code]

I get a svg generated in /run/log. When using it via init I don't.

[code]

Once the system is up and I log in, there is no process with bootchart in the name that is running.

[2015-07-22 12:57] ensonic opened #657 "bootchart man page could simply tell how to retieve the svg from journal"
The manpage claims that the svg is stored in the journal: https://github.com/systemd/systemd/blob/6433d440729d22f5954ea1bf9c828bbad04e0838/man/systemd-bootchart.xml#L87-93

Instead of or in addition to showing the MESSAGE_ID and FIELD it could actually tell how to extract it. I've tried a few things like:

[code]

[2015-07-22 13:10] ensonic commented on #656
I found that when I extract the svg from journal, that those are truncated:

[code]

I also tried with PlotMemoryUsage=no. But those there from the manual runs (with --rel).

[2015-07-22 16:30] nekohayo opened #659 "Allow fully disabling systemd-coredump"
I would really like a way to fully disable systemd catching application crashes / core dumps; it grinds my system to a halt with I/O & CPU. I suppose this feature is mostly useful for those who want to use ABRT or similar tools or catch kernel/X crashes, but I don't fit that category and neither do the people I maintain computers for (my aunts certainly won't report crasher bugs :)

I set "storage

[2015-07-22 16:34] sztanpet commented on #659
just mask the 50-coredump.conf from sysctl.d that sets up systemd-coredump handling for coredumps
see systemd-coredump(8)

[2015-07-22 16:34] nekohayo commented on #659
For the record, a while back I also tried putting "kernel.core_pattern = /dev/null" in /etc/systemd/coredump.conf and that didn't work either. That's part of why I'm thinking a new global "enabled/disabled" setting would make sense...

And re @sztanpet: I don't even understand what that means - really, I have no clue what to do when reading your instructions, it's all greek to me. I'm just a deskt

[2015-07-22 16:42] sztanpet commented on #659
make the file `/etc/sysctl.d/50-coredump.conf` a symlink to /dev/null
the original sysctl.d file is in `/usr` (or other distro specific places) but that is package manager territory, so to override them, you place a file with the same name in `/etc` that override the distro settings
this works the same for almost all systemd components

[2015-07-22 16:48] poettering commented on #659
See the first paragraph in the systemd-coredump(8) man page, it indicates how to turn off the tool, via the sysctl snippet that @sztanpet mentioned.

[2015-07-22 16:48] #659 closed, assigned to nobody

[2015-07-22 17:05] poettering commented on #650
@atomt Any idea how precisely that's indicated by the kernel? i.e. which rtnl option to check for? How is this state visible in the "ip" tool output?

[2015-07-22 17:15] nekohayo commented on #659
is "man systemd-coredump(8)" a thing? Honest question, I tried that and got nothing, no idea how to access the (8) part. That tells you how much of a casual user I am in the sysadmin side of things. OTOH, I see the (8) at the top when I do "man systemd-coredump", so I assume that's not actually a separate man page/chapter/etc.

So. I _did_ indeed read "man systemd-coredump" before reporting/commen

[2015-07-22 17:18] sztanpet commented on #659
yes, you have to create the file to override the distro provided one,
the mask part is coming from the sysctl.d manual among others, see http://www.freedesktop.org/software/systemd/man/sysctl.d.html the "Configuration Directories and Precedence" section

[2015-07-22 17:18] poettering commented on #659
Well, that's how man pages are usually denoted on UNIX. Consider typing it into google. It will point you to the right place. Alternatively just type "man 8 systemd-coredump".

[2015-07-22 17:22] poettering commented on #659
Read the man page. It says in its first paragraph:

[code]

The "sysctl.d(5)" is how man pages denote hyperlinks. If you browse the man page via we browser you can click on it. In a terminal you can type "man 5 sysctl.d" to get to the same document, where it says:

[code]

It's all documented in the man pages, please just read them!

[2015-07-22 17:25] poettering commented on #655
Hmm, should we allow encoding of this at all? I don't see how that could ever be useful...

[2015-07-22 17:25] poettering commented on #655
Does our signature validation function even allow that?

[2015-07-22 17:28] nekohayo commented on #659
Alright thanks, at least I have a solution/workaround now. Sorry for my confusion, I'm not used to having to go through the system's entrails like that and at some point started doubting if I was missing a big piece of knowledge about the "man" command!

[2015-07-22 17:55] poettering commented on #618
I am very sure we should not add a concept like that. Unit files are supposed to be simple, and easily parseable by 3rd party software software. They hence should not contain a macro language.

We only support env var expansion in ExecStart= and friends, and we resolve the env vars at execution time (not at conf parsing time), and that's intended.

Generally: unit files are configuration files. By

[2015-07-22 17:55] #618 closed, assigned to nobody

[2015-07-22 17:56] poettering commented on #618
(I don't think that daemons should fail without config file btw. I think a daemon should be robust, and work without any /etc at all, and just fall back to sane defaults when no configuration file exists.)

[2015-07-22 17:58] poettering commented on #618
Note that systemd will help you with that. "systemctl status" shows you all unit files and their drop-ins that are used for a unit. Also "systemctl edit" will help you overriding or altering unit files, and "systemctl cat" will show you the contents of the unit files currently in place.

[2015-07-22 18:13] xnox commented on #596
i am such a minion. added iptables-dev build-dep to get libiptc and now it works.

[2015-07-22 18:13] #596 closed, assigned to nobody

[2015-07-22 18:14] vishvananda opened #661 "systemctl enable with an absolute path as argument cannot be used to create template instances"
It is not possible to properly enable a service file that has been symlinked in via systemctl enable.

Take the following example:

[code]

Note that you can enable it by specifying the full path

[code]

This links directly to the local file. This strategy doesn't work for templated files:

[code]

It seems that it should be able to enable in both cases once it has been linked in without specifyi

[2015-07-22 18:44] poettering commented on #661
The idea was that "link" only makes a unit available in the search paths and "enable" also hooks it in. i.e. "enable" is kind of a superset of "link", as it does the same work if you pass a path, plus some more...

But yeah the template issue you point out is a real issue that this logic cannot cover. Yuck.

[2015-07-22 18:49] emamirazavi commented on #661
Why are you putting that unit file there? This is not standard. Add your
favorite unit files to systemd directory located usually in
/etc/systemd/system path(redhat default path). I think it's not a good idea
to manage symlinked path. After all I think systemd can support symlink if
you use it in the systemd directory planned to store unit files.
On Jul 22, 2015 10:45 PM, "Vish Ishaya" notificatio

[2015-07-22 19:04] poettering commented on #661
On Wed, 22.07.15 11:49, S.Mohammad Emami Razavi (notifications@github.com) wrote:

In general I think we really should ensure that we support in systemd
a scheme nicely where you install a 3rd party unit file somewhere in
/opt or so, and then make it available to systemd with just "systemctl
link" or "systemctl enable", so that 3rd party stuff doesn't litter
/usr (which is private property of the

[2015-07-22 19:18] emamirazavi commented on #661
Therefore it can be labeled as a feature to implement. Can not it?

On Wed, Jul 22, 2015 at 11:34 PM, Lennart Poettering <
notifications@github.com> wrote:

[2015-07-22 19:21] poettering commented on #661
Well, what @vishvananda pointed out is more than an RFE, since the current logic is not delivering what it was supposed to deliver.

[2015-07-22 19:23] poettering commented on #628
Yeah, the bootctl tool is about the ESP only. It installs the boot loader into the ESP, and nothing else. Placing it anywhere else defeats is purpose.

[2015-07-22 19:23] #628 closed, assigned to nobody

[2015-07-22 19:53] poettering commented on #560
I am pretty sure the behaviour of ext[234] should be considered the gold standard how file systems should react. If the other, more exotic file systems disagree with that, then they should be fixed in the kernel.

In general, if a file system supports chattr at all then I am sure it should store all bits, even the ones it doesn't support, so that file trees become portable between file systems, ev

[2015-07-22 19:54] jaystrictor opened #662 "sd-journal: find a smart way to order log lines from different boots if neither has a useful wallclock time."
I use a RaspberryPi2 with Archlinux and systemd version 219 to 222 (since the beginning of June until now).
The RaspberryPi does not have an RTC (real time clock).
The missing RTC results in the first log messages of every boot to be of the same date and more or less from the same time of day. Here you see an excerpt from my logs as seen with `journalctl`.
(The ellipsis were inserted by myself.)

[2015-07-22 19:55] poettering commented on #560
@floppym hmm, does reiserfs support file attributes at all? i.e. are +i and attributes like that supported on reiserfs at all?

[2015-07-22 19:56] poettering commented on #560
(I am asking this since on file systems that support no attributes at all we should probably downgrade the error all the way to "debug", so that it is not normally seen at all.)

[2015-07-22 20:08] poettering commented on #560
I implemented what I proposed above now in PR #663. Please still file the kernel bug against XFS though, it really should be fixed to mimic ext234's behaviour on this. As long as this is not fixed in XFS you'll still get a warning there.

The patch will downgrade the message to debug on reiserfs, since reiserfs returns ENOTTY, suggesting it doesn't support the ioctl at all.

[2015-07-22 20:09] poettering commented on #629
Closing, as this is already tracked in #560.

[2015-07-22 20:09] #629 closed, assigned to nobody