[2015-06-03 02:29] mbiebl opened #45 "systemd-delta does not show changes to instanced template units"
If I override/extend the instance of a template unit, this is not shown in systemd-delta.

Example: I wanted to override the TTYVTDisallocate= setting to "no" for tty1

I tried the following two approaches
a) /etc/systemd/system/getty@tty1.service.d/noclear.conf drop-in
b) copy /lib/systemd/system/getty@.service to /etc/systemd/system/getty@tty1.service

In both cases, systemd-delta did not show m

[2015-06-03 05:09] daurnimator opened #47 "machinectl pull-dkr doesn't work with un-namespaced images"
Docker indexes have images without a user/namespace. In various places this is equivalent to the user "_". while in others it needs to be left out.

e.g. if you want to pull https://registry.hub.docker.com/_/debian/

[code]

[code]

It appears that it is hosted without the '_' in the url: https://index.docker.io/v1/repositories/debian/images

[2015-06-03 09:52] haraldh opened #50 "fsck problems with disks by-label with a "/" in the LABEL"
https://bugzilla.redhat.com/show_bug.cgi?id=1227537

disk has LABEL=/1
systemd unescapes "\x2f1" at unit call resulting in /dev/disk/by-label//1 whereas it should be /dev/disk/by-label/\x2f1 which exists.

[2015-06-03 14:28] filbranden opened #54 "Running ./configure --with-rootprefix= (empty) defaults to using "." but should be "/""
@mbiebl noticed that `AX_NORMALIZE_PATH` replaces empty paths with ".".

That is problematic, because up until now, we were advocating the use of `--with-rootprefix=` (empty) for split-usr setups (see e.g. `autogen.sh`). After #39, this results in `rootprefix = "."` and `roolibdir = "./lib"`, etc.

So this has the potential of breaking existing setups. In Debian/Ubuntu, they'd have to replace `--w

[2015-06-03 15:43] haraldh opened #61 "path_is_mount_point() fails for SYMLINKS"
commit 5d409034017e9f9f8c4392157d95511fc2e05d87 broke the test suite

condition = condition_new(CONDITION_PATH_IS_MOUNT_POINT, "/bin", false, false);
assert_se(!condition_test(condition));

with /bin being a symlink to usr/bin and /usr being a symlink

path_get_parent("/bin") -> "/"
and then "/" is compared to "/usr/bin"

with AT_FOLLOW_SYMLINK we should probably
path_get_parent(readlink("/bin"))

[2015-06-03 15:45] haraldh commented on #61
would be cool to have a test case for this

[2015-06-03 16:06] #54 closed, assigned to nobody

[2015-06-03 16:50] martinpitt commented on #61
Ah, so symlink → symlink → file ? Aye, will write a test and fix for that ASAP (on Monday, I'm off until Sunday).

[2015-06-03 19:40] nicolasbock opened #64 "DHCP license renewal causes disconnect"
Disclaimer: this may not be at all related to systemd...

When I run the Juniper Network Connect client (ncsvc) it terminates every time the DHCP license is renewed. It doesn't make a difference whether I specify CriticalConnection=true or false. Since systemd-networkd is managing the NIC and the DHCP license, I am suspecting it as the cause for the ncsvc problem. But then again, correlation is no

[2015-06-03 21:53] zabbal opened #66 "/var/tmp pollution"
There a plenty of systemd-private-632623626-smth folders in /var/tmp. Is there a way to move all that into /var/tmp/systemd/... if so than it's probably a documentation bug (hard to find) otherwise consider it a feature request.

[2015-06-03 21:54] Fry-kun opened #67 "add example for creating your own target unit that builds on top of a well-known target like rescue.target or so"
I have a bunch of headless servers that sometimes need manual fsck of the /
It would be really nice to have an "emergency with networking" option, if possible

Without it, it's required to connect a KVM every time this happens...

[2015-06-03 23:58] mbiebl commented on #67
So you want networking and ssh being started from the same file system you want to check?
In this specific use case, I think it would be better if you used something like dropbear in your initramfs, where you can actually safely check the root fs.

That said, I think the idea to have an emergency mode + network could be useful. Say because systemd dropped you into the emergency shell as it couldn'

[2015-06-04 00:15] Fry-kun commented on #67
I think most of the time the root fs is stable enough to run ssh daemon. Considering the drives nowadays are measured in TBs, it's not likely a particular error is on the ssh binaries/configs.
Although if the system's exact ssh config can't be used, ssh server must not be started -- it's probably a security risk

[2015-06-04 00:39] mbiebl commented on #66
What would be better by moving them into a subdirectory? Is this only a cosmetic/astethic issue?

[2015-06-04 03:20] arvidjaar commented on #64
But your log shows that lease renewal is done by NetworkManager, not by systemd-networkd.

[2015-06-04 07:48] zabbal commented on #66
Pretty much the same reasons as for ~/.config/ in XDG spec: aesthetics and saner backup. Note there's no such issue with /tmp cause it's content is discarded on reboot anyway.

[2015-06-04 07:55] zabbal opened #69 "cycle dependency analysis"
Somewhere in systemd there's functionality to find and break dependency cycles. Would be excellent to expose this via systemctl or systemd-analyze so system could be checked for cycles in unit dependencies without actually booting it.

[2015-06-04 08:09] mbiebl commented on #66
Aside from the fact that I don't understand why you would want to backup /var/tmp in the first place, why is it harder to exclude /var/tmp/systemd-private-\* then /var/tmp/systemd/\* ?

[2015-06-04 09:25] zabbal opened #70 "man: document that turning on randomized MAC addresses in .link files sets the "locally administered" bit in the MAC address"
There is convenient tool to change MAC address of the interface to arbitrary/random value - see https://github.com/alobbs/macchanger for details. That's handy for security reasons for example.

Seems like such a low-level functionality really belongs to systemd-networkd instead of external which is tricky to integrate into boot process properly.

[2015-06-04 09:27] zabbal commented on #66
Not all the tools support proper globing but you're right - that's more of an aesthetics issue.

[2015-06-04 09:35] arvidjaar commented on #70
It is already possible.
http://www.freedesktop.org/software/systemd/man/systemd.link.html

[2015-06-04 09:44] zabbal commented on #70
Yes, almost:
- it's unclear if 'locally-administered' bit is set when random MAC address policy applied
- there's no option to randomize only non-vendor part

Generating MAC as completely random string you might easily end-up with non-existent vendor which instead of concealing your identity would act as a big red flag - exactly opposite of what many people would like to achieve. That's why I'd st

[2015-06-04 10:46] nicolasbock commented on #64
That's true. Let me me ask this question on the networkmanager mailing list then. Thanks for the help!

[2015-06-04 11:56] arvidjaar commented on #64
NM guys accepted responsibility :)

[2015-06-04 11:56] #64 closed, assigned to nobody

[2015-06-04 12:42] xnox commented on #66
I was never sure why those things are placed in /var/tmp instead of like somewhere in /run. Are these meant to persist across reboots? I thought each time a thing like that is started it will get a newly unique private tmp, and thus there is not need for these things to persist across reboots, and hence they have no place on /var/tmp.

[2015-06-04 12:54] keszybz commented on #66
On Thu, Jun 04, 2015 at 05:42:28AM -0700, Dimitri John Ledkov wrote:

/run is memory-backed, /var/tmp is not.
We need both /tmp/systemd-private-\* and /var/tmp/systemd-private-\* for
the same reason that we have /tmp and /var/tmp.

There's two problems with switching to a scheme with /tmp/systemd/private-xxx
and /var/tmp/systemd/private-xxx:
1. upgrades: we support live upgrades, so by suddenly st

[2015-06-04 18:26] teg commented on #70
The locally administered bit is set on random mac addresses. Does that address your concern?

Abusing a vendor prefix by only randomizing the postfix sounds very wrong. It clearly is against the RFC, but more importantly it makes collisions hugely more likely.

[2015-06-05 01:04] s8321414 opened #75 "Make translate systemd easier."
And where can I translate systemd?

[2015-06-05 07:41] #50 closed, assigned to poettering

[2015-06-05 12:02] superm1 opened #78 "Add support for scancodes emitted on KBC on Alienware systems with Alienware graphics amplifier"
Some Alienware notebooks and desktops support an external graphics
housing called the "Alienware Graphics Amplifier". It allows the usage
of a larger or more modern graphics card than your gaming PC would
already support.  In order to provide a good experience, systems that
support it can provide notification to the OS via the scancodes on the
the keyboard controller of events related to the cable

[2015-06-05 12:19] zonque commented on #78
Could you please submit this as pull request?

[2015-06-05 13:34] haraldh commented on #61
/bin -> usr/bin
path_is_mount_point("/bin") first gets the parent without following the symlink first -> "/"
then "/" is compared to "/usr/bin" and because "/usr" is a mountpoint, the comparison in fd_is_mount_point() find different devices for "/" and "/bin" (which is symlink followed) in fd_is_mount_point().

[2015-06-05 14:41] cz172638 opened #81 "missing documentation regarding predefined tags in udev rules"
as maintainer of package, which distributes udev rules, i didn't found appropriate documentation regarding predefined tags for udev rules.

[2015-06-05 14:57] gregkh commented on #81
What specifically are you looking for that is not provided with the example rules?

[2015-06-05 16:49] keszybz commented on #75
See .po files in https://github.com/systemd/systemd/tree/master/po . You can submit pull requests for existing languages and/or add new translations.

[2015-06-05 19:28] cz172638 commented on #81
some comments in example rules, explaining what means uaccess, seat, what is bad usage and what is proper usage of tags.

[2015-06-05 21:12] joejulian opened #83 "--output json doesn't produce json output"
Many systemctl commands do not produce json output when --output json is set.

[code]

[2015-06-06 00:34] keszybz commented on #83
From the manpage: -o: When used with status, controls the formatting of the journal entries that are shown.

[2015-06-06 00:39] joejulian commented on #83
It would still be nice if it would produce machine readable outputs for better integration with tools like saltstack, puppet, or any other user created tool that wants to do something with the output.

[2015-06-06 03:42] s8321414 commented on #75
Just those .po to translate?But where is their .pot?

[2015-06-06 06:09] gregkh commented on #81
Everyone wants more documentation, but nothing is "missing" here.  Please provide patches if you see things that could be explained better, but without that, I'm going to close this issue as it does not contain a patch.

[2015-06-06 06:09] #81 closed, assigned to nobody

[2015-06-06 07:55] arvidjaar commented on #75
There are also catalog files for journal messages: https://github.com/systemd/systemd/tree/master/catalog

[2015-06-06 10:18] s8321414 commented on #75
Someone may want to list all files can be translated :smile:

[2015-06-06 14:44] keszybz commented on #75
Well, that's it: .po and the catalog. To get the .pot file:

[code]

From that you create po/&lt;lang&gt;.po.

The catalog file does not require any preparation. catalog/systemd.catalog is the source, and you simply create catalog/systemd.&lt;lang&gt;.catalog. See http://www.freedesktop.org/wiki/Software/systemd/catalog/ for a description of the format, or simply look at one of the other translati

[2015-06-07 05:37] s8321414 commented on #75
OK, thank you!

[2015-06-07 13:12] #75 closed, assigned to nobody

[2015-06-07 21:51] eliasp commented on #83
Although I agree that `-o json` should return proper JSON,  believe the proper way for external tools like SaltStack etc. to talk to systemd is DBus. See also https://github.com/saltstack/salt/issues/20392 - everything else is more or less just hack-ish and prone to break easily.

[2015-06-07 21:54] LadyNamedLaura opened #87 "'PropertiesChanged' not fired when unit finishes"
I have a simple unit, a program starts it via the bus, and then waits for it to end.
(the current unit is just /bin/sleep 10)

The problem is  that when the unit finishes, the unit gets removed before the ActiveState is set to inactive, making my program unable to reliably detect the finishing of the unit trough PropertiesChanged.

[2015-06-07 22:52] keszybz commented on #83
Some of the verbs implemented by systemctl are designed to provide a high-level overview in a human readable format. All that information is available over dbus, and/or journalctl, systemctl show. We _could_ provide that information in json format, but there's a second problem. Information and format of information printed by e.g. systemctl status is not stable. Since the output is not suitable fo

[2015-06-07 23:01] s8321414 commented on #75
hmmm, where should I run <code>make -C po systemd.pot</code>?
I run it in the systemd directroy,but it says "make: **\* No rule to make target 'systemd.pot'.  Stop."

[2015-06-07 23:09] keszybz commented on #75
On Sun, Jun 07, 2015 at 04:01:23PM -0700, Jeff Huang wrote:

You need to run configure first. Try:
  ./autogen.sh c

After that, 'make -C po systemd.pot' works for me.

[2015-06-07 23:13] piotrdrag commented on #75
You can also use GNOME's site to get the POT file: https://l10n.gnome.org/module/systemd/

[2015-06-07 23:14] s8321414 commented on #75
OK, thank you again!

[2015-06-08 08:42] Brane2 opened #89 "order in fstab doesn't seem to be honoured."
I have in fstab mount bind line ( /A /B none bind 0 0 ), followed by nfs4 mount to /A/mountA.

Expected end result be to have nfs share mounted on /A/mountA and local files on /B/mountA.

But systemd generators seem to make mount in inverted order, so I get nfsmount on both ends of bind-mount.

That is, it first does nfs mount to /A/mountA and then mount-binds that to /B/mountA.

BTW; I haven't ha

[2015-06-08 09:58] mstarostik opened #90 "networkd fails to setup bond when mode doesn't support packets_per_slave"
systemd-networkd tries to set packets_per_slave on a bond netdev even if its mode doesn't support it.  This leads to the device not being created:

trunk (uninitialized): option packets_per_slave: mode dependency failed, not supoorted in mode 802.3ad(4)

The man page says PacketsPerSlave option "has effect only in balance-rr mode".  That's right, but in addition to that networkd must not try to se

[2015-06-08 10:44] poettering commented on #89
The current behaviour is intended behaviour really. We automatically determine dependencies from each /etc/fstab line, and only follow the minimal ordering necessary, and mount as much as we can in parallel. For bind mounts this means that we mount everything required for the source and for the destination before the bind mount itself. Which is the behaviour you see here.

Yes, this is a change of

[2015-06-08 10:44] #89 closed, assigned to nobody

[2015-06-08 10:59] Brane2 commented on #89
I have nfs mount on my laptop and I need extra bind mount so that I have access to underlying map so I can copy files there for situations without access to nfs mount.

this means that my programs will see data in /A/mountA all the time, either nfs4 mount or local map.

And /B/mountA with access to underlying loacl map, so I can manually copy nfsmounted /A/mountA to local map.

I don't see how thi

[2015-06-08 11:01] xnox commented on #89
Instead of using /etc/fstab you can create .mount units yourself in /etc/systemd/system/ with the ordering & behaviour the way you like.

[2015-06-08 11:01] Brane2 commented on #89
BTW, shouldn't you have more than personal opinion when implementing something that significantly deviates from existing standard behaviour ?

[2015-06-08 11:08] xnox commented on #89
"The  order  of records in fstab is important because fsck(8), mount(8), and umount(8) sequentially iterate through fstab doing their thing, though at boot time mountall(8) may process the file out-of-order when it believes it is safe to do so."

Systemd implements functionality that a mountall would do, and strong guarantees are in place to determine what is safe to do. There are alternative opti

[2015-06-08 12:05] poettering commented on #89
Brane2: if you have mounts to mount where the ordering in which to apply them can only be derived from the order in which you list them rather than from the contents of them, then my recommendation would be to place them in a shell script and execute that shell script directly, because you actually want a stateful language in that case, instead of just a declaration of mounts...

Well, we implemen

[2015-06-08 12:57] pryland opened #94 "Mixing calls to service and direct calls to init.d script confuse systemd"
On a fresh server with a fairly simple legacy init.d script, a setup process launches the service using "service name start" which works.  However, before doing anything else, if the service is restarted using "/etc/init.d/name restart" it doesn't work.  The log says:

Subsequent calls to either then work as expected and this used to work before upgrading to Debian jessie.

After changing our scri

[2015-06-08 13:01] dj-foxxy opened #95 "User instance of device unit fails when system instance does not"
I'm setting my system up so that when I connect an external sound card (Native Instruments Komplete Audio 6) to any USB port, user units start and stop. I'm see weird behaviour from the user instance of systemd when the card is connected to a different USB port.

[code]

The device unit is created by the following udev rule.

**/etc/udev/rules/50-komplete-audio-6.rules**

[code]

When the card is

[2015-06-08 13:02] johannbg commented on #89
@xnox users should not be forced to bypass fstab and write .mount units manually ( or write shell scripts for that matter ).

If they have to do so arguably that's failure on our end.

@Brane2 in v220 new systemd dependency fstab options got added, have you tested those to see if they dont already solve your issue?

Some examples are given by @karelzak  in https://github.com/systemd/systemd/commit

[2015-06-08 13:15] michich commented on #94
I am not sure how this is handled in Debian, but in Fedora init scripts start by sourcing /etc/rc.d/init.d/functions, which contains hacks to redirect the operations through systemctl.
In any case, this is a matter of downstream distro integration, not an upstream systemd bug.

[2015-06-08 13:15] #94 closed, assigned to nobody

[2015-06-08 13:16] mbiebl commented on #94
you'll have to source /lib/lsb/init-functions for this to work properly

[2015-06-08 13:33] pryland commented on #94
The script does indeed source /lib/lsb/init-functions already.

[2015-06-08 15:15] poettering commented on #94
It's not sufficient to pull in the init-functions, you actually have to use the subroutines that are defined by it, too.

Most likely your init script simply does not make use of these functions. In that case, please ping the authors of that init script at your distribution, and ask them to make use of them instead.

[2015-06-08 15:24] poettering commented on #83
I am not convinced adding JSON for all of this is really a good idea. I mean, I am all for providing good APIs to integrate systemd's concepts with other projects, but I'd try to keep things minimal there, and focus on as few sets of APIs as possible, but then keep the quality of them high. Now, for scripting languages I am pretty sure the bus APIs are the best option. The largest part of our APIs

[2015-06-08 15:24] #83 closed, assigned to nobody

[2015-06-08 15:27] martinpitt commented on #94
For Debian it actually should be sufficient, and it is. `/lib/lsb/init-functions` sources `/lib/lsb/init-functions.d/40-systemd` which diverts direct calls to the init scripts to the corresponding `systemctl <command> <service>.service` if `<service>.service` exists.

[2015-06-08 15:34] msekletar opened #98 "systemd-journald strips whitespace from messages forwarded to syslog socket"
We (as in RHEL and Fedora) have received complaints that $subject. To prevent having rather moot discussion in Red Hat bugzilla I'd like to gather upstream feedback first. @martinpitt  any opinions in Ubuntu/Debian camp on this one?

[2015-06-08 15:39] poettering commented on #98
@msekletar what's the rhbz id?

What kind of whitespace is stripped, and why is that a problem?

This is about ForwardSyslog=yes, did I get this right?

[2015-06-08 15:43] poettering commented on #94
Either way, it's something the distros/init script authors have to figure out, this is unlikely something we could or should fix in systemd.

[2015-06-08 15:43] msekletar commented on #98
https://bugzilla.redhat.com/show_bug.cgi?id=1227396

No it is not about forwarding to syslog rather about handling messages from /dev/log

[2015-06-08 15:47] msekletar commented on #98
We strip whitespace in `src/journal/journald-server.c:1206` before we call `server_process_syslog_message`.

[2015-06-08 16:22] poettering opened #100 "@zonque: PR #79 needs fixing"
@zonque see the post-commit review of PR #79 i made. Also, PR #99.

[2015-06-08 16:29] poettering commented on #98
well, the BSD syslog protocol is very vaguely defined. Given that I am pretty sure we should suppress trailing and leading whitespace, to make the messages somewhat uniform.

Where precisely is this an issue?

[2015-06-08 16:37] poettering commented on #70
OK, given @teg's comments I have now turned this into a docuentation issue: i think networkd's vehaviour is alright, but we should document that the "locally administered" bit is properly set in the MAC address.

[2015-06-08 17:23] poettering commented on #66
Using a guessable name under /tmp and /var/tmp opens a DoS vulnerability, hence we should avoid that, as @keszybz already indicated above. Now, we could work around that, by pre-creating the dirs using tmpfiles, which is what we do to reserve the dirs X11 needs in /tmp. However, this is a hack around a broken way to use /tmp, nothing more, and we really should not introduce new cases where things

[2015-06-08 17:23] #66 closed, assigned to nobody

[2015-06-08 17:28] poettering commented on #67
Well, I can see why in some cases this might make sense, but I doubt we should introduce this a a concept, since it's so arbitrary: people's usecases are so vastly different here, and some might want a target that sets up networking only on some specific ifaces, others might want to run both ssh and ntworking, others only networking. And so on. Given that this is all that unclear I think it's bett

[2015-06-08 17:31] poettering commented on #87
Well, if you don't want the unit to be GC'ed that quickly, consider using RemainAfterExit= so that it stays around after exiting, and then stop it explicitly when you really want it to go away.

[2015-06-08 17:31] #87 closed, assigned to nobody

[2015-06-08 17:37] LadyNamedLaura commented on #87
@mezcalero well, I want it to be gc'ed, I no longer care about the unit once it is finished, but I want to know WHEN it is finished, so the order i want is:
unit finishes.
set ActiveState to inactive, and send PropertiesChanged
gc unit
my program picks up propertieschanged and changes the internal state about the fact that the unit is no longer running. (It reads the values from the signal, so no

[2015-06-08 17:39] poettering commented on #47
@daurnimator which version of importd did you try this on?

[2015-06-08 18:09] Fry-kun commented on #67
That sounds reasonable.
Maybe you can add a few examples like that to the documentation so it's easier to figure out?

[2015-06-08 18:28] davidstrauss opened #102 "Add support for U2F dongles to udev"
I'm currently adding this rule (which I obtained from someone else) so I can use my YubiKey Neo's U2F support with Google Chrome -- or any other regular user application:

[code]

[2015-06-08 18:48] haraldh opened #103 "pull 96 causes heap-use-after-free"
https://github.com/systemd/systemd/pull/96 causes https://github.com/systemd/systemd/pull/96#issuecomment-110097402

==31==ERROR: AddressSanitizer: heap-use-after-free on address 0x602000017ed0 at pc 0x7ff1def30c65 bp 0x7ffd9b003290 sp 0x7ffd9b002a40

[2015-06-08 18:52] poettering commented on #102
See:

http://lists.freedesktop.org/archives/systemd-devel/2014-November/024824.html

Their plan is to write a proper U2F driver for this, without using hidraw.

[2015-06-08 18:52] #102 closed, assigned to nobody

[2015-06-08 18:53] zonque commented on #100
Fixed by #101

[2015-06-08 18:53] #100 closed, assigned to zonque

[2015-06-08 19:22] kaysievers opened #104 "split shared/ into several directories with well-defined dependency rules"
We need to sort out the cyclic linking errors. Proposed layout:

generic library code, everything in the tree can use it, but it itself cannot use anything outside of its own directory:
  src/util/strv.c
  src/util/hashmap.c
  ...

public libraries, they cannot use anything in shared/
  src/libsystemd/sd-bus/bus.c
  src/libsystemd/sd-event/mainloop.c
  ...

specialized internal libraries with a sp

[2015-06-08 19:24] poettering commented on #87
I doubt we can ever properly fix that race, and hence if we even should try. I mean, UnitNew does not carry all device properties either, hence you cannot really get access to all properties race-freely anyway when you subscribe to a unit: it might have disappeared already by the time you try to look at it for the first time.

I think if you want to make sure you can always read the props properly

[2015-06-08 19:34] poettering commented on #67
Sure, adding more docs always makes sense. Consider filing a feature request issue for that. or even better even provide a patch as PR...

[2015-06-08 19:40] poettering commented on #104
Looks good to me.

[2015-06-08 20:14] poettering commented on #69
systemd --test can be used for that, but it's actually not easy to use for a variety of reasons... It might indeed make sense to make this more easily accessible from systemd-analyze.

[2015-06-08 20:18] daurnimator commented on #47
I'm running Arch Linux with systemd 219

[2015-06-08 20:18] zabbal commented on #66
How about prepending . to those semi-random names? That's the usual way to hide stuff which is meant for internal use only. All those folders are inaccessible to user anyway so there's little use to have them visible in file manager by default.

[2015-06-08 20:22] teg commented on #104
Sounds perfectly reasonable to me. One question to see if I got it right: each of the folders in src/shared/ will have its own internal library, or will they all be linked into one? I'd have hoped for the former to avoid proliferation of obscure external dependencies.

[2015-06-08 20:24] poettering commented on #66
Humm? /tmp is for temporary files. It is not shown in the UI normally. There's no point in hiding files in it, since the entire directory should be considered hidden anyway.

[2015-06-08 20:24] poettering commented on #104
I think we should keep the libraries we build at a minimum, and only do so when this is worth it due to deps reduction.

[2015-06-08 20:24] Fry-kun commented on #67
Can we just update this issue to "add to docs" RFE?

[2015-06-08 20:26] poettering commented on #67
ok, done.

[2015-06-08 20:28] poettering opened #105 "revert IMA copy_bytes() hack"
We really should figure out what's going on here:

http://lists.freedesktop.org/archives/systemd-devel/2015-June/032797.html

[2015-06-08 20:28] poettering commented on #105
And we should revert the half-baked patch unless we really understand the issue.

[2015-06-08 20:29] zabbal commented on #66
/tmp is also for stuff which is 'opened' instead of 'saved' by browser/mail client etc. but I've been talking about /var/tmp which survive between reboots and might be often use to store some temporary content by user.

[2015-06-08 20:29] teg commented on #70
I'll add the documentation as that seems uncontroversial. If anyone ( @kaysievers ?) wants to argue that we should allow randomizing the non-vendor part only, please open a separate issue for that. I remain unconvinced though.

[2015-06-08 20:33] poettering commented on #47
OK, I am pretty sure this is fixed via 220's dkr v2 support then. Closing hence.

[2015-06-08 20:37] poettering commented on #66
but if the browser "opened" such a link, how does it matter then whether the files are visible in /tmp?

/tmp is a system-wide directory. users browsing for files there would be really confused anyway, since they'll see other user's files too, and most file browsers wouldn't show that either...

Really /tmp is not a directory a normal user should _ever_ browse through. Sorry.

[2015-06-08 20:53] poettering opened #107 "race between sd_network_monitor and networkd"
Currently, when sd_network_monitor clients start before networkd the constructor will fail. This should be fixed, see PR #62 for details.

[2015-06-08 21:05] poettering commented on #70
#106 has bee commited.

[2015-06-08 21:05] #70 closed, assigned to teg

[2015-06-08 21:24] poettering opened #109 "Read IPForward=kernel option in networkd"
See https://github.com/systemd/systemd/pull/41#issuecomment-110145054 for details

[2015-06-09 07:30] msekletar commented on #98
I think that motivation was formatting in /var/log/messages. On RHEL/Fedora rsyslog defaults to imjournal plugin thus it will read log data from journal with whitespace characters stripped. Thus /var/log/messages is not formatted the same way on older (e.g. RHEL{5,6}) and newer systems, which might be confusing for sysadmin, I guess...

[2015-06-09 08:23] haraldh opened #119 "Password agents for cryptsetup cannot address the source device"
The ask.XXX ini does not contain any information about the path to the source device for which password is to be queried.

This is needed for e.g. Petera https://github.com/npmccallum/petera

A possible fix is to add the device path to the Id.

[code]

[2015-06-09 09:03] poettering commented on #119
#77 was merged. Closing.

[2015-06-09 09:03] #119 closed, assigned to nobody

[2015-06-09 09:04] #103 closed, assigned to nobody

[2015-06-09 09:23] poettering commented on #98
I am pretty sure that we should continue to strip whitespace. Trailing whitespace is a menace anyway, and leading whitespace is particularly annoying since we need to parse the timestamp as first parameter out of log lines.

Note that the journal does not store unmodified syslog lines anyway, it parses them out, and if you want to reconstruct them you need to do so manually. Among other things thi

[2015-06-09 12:41] theinric commented on #98
Thanks for the reply.
Is this documented anywhere?

[2015-06-09 12:44] poettering commented on #98
Nope. In general, BSD syslog and thge behaviour around it is very much underdocumented, both when it comes to systemd's support for it, as well as generally outside of it.

[2015-06-09 12:53] keszybz commented on #105
I'd prefer to keep this open for now. It seems we are moving towards a resolution.

[2015-06-09 14:25] martinpitt commented on #61
Harald, I now have a test case which reproduces this particular layout, and it indeed fails as you described. But to be sure, it'd be great if you could test the PR on your particular system again? Thanks!

[2015-06-09 16:59] davidelang commented on #98
The problem with stripping whitespace from messages is that since there is no formally "correct" format, the existing log parsers in all sorts of tools have been written to handle exactly what the applications output. If you strip the whitespace from them, the parsers aren't going to work.

If this was only a few messages with local admin generated parsers, this could be fixed. But you are talking

[2015-06-09 17:30] simonsmiley opened #124 "DHCP=both not documented"
the man files don't include "both". I found it on some wiki because I knew there has to be some option to enable both. I think this should be added to the network manpage.

[2015-06-09 17:37] poettering commented on #124
Yeah, it's an old name for "yes", we unified a few things, and renamed it in the process. The documentation only carries the new name, but we still accept the old name for compatibility.

[2015-06-09 17:37] #124 closed, assigned to nobody

[2015-06-09 17:45] simonsmiley commented on #124
hmm. had been using "true" before which only enabled ipv4.
I only have ipv6 on my dedicated server, so I don't restart that often.
Is "true" different from "yes"?

[2015-06-09 17:46] poettering commented on #98
@davidelang well, we only strip leading and trailing whitespace, nothing else.

And again, if you want the byte-exact version, then use the syslog forwarding, don't try to read things from the journal. The journal is simply not a transport for unmodified syslog messages, and if you want to use it like that you are simply using it wrong.

[2015-06-09 17:48] poettering commented on #124
Oh, well, this is a bit confusing. Basically, it's now considered a boolean with two additional values "ipv4" and "ipv6". Because it is a boolean in the systemd sense it takes "yes", "no", "1", "0", "true", "false" and so on, and they positive ones are all equivalent. Hence, "both", "yes", "1", "true" are now all considered equivalent.

I hope this makes more sense now?

[2015-06-09 17:48] davidelang commented on #98
Ok, then we need to get the distros (at least any that are aiming at the business market where logs are used) to disable the journal. Thanks for the clear statement.

[2015-06-09 17:53] poettering commented on #98
@davidelang well, if you think that byte-exact syslog msg forwarding is what defines a business, then go ahead!

But again, you can also use ForwardToSyslog=yes, and you get the byte exact stuff delivered to a socket, exactly as you did without journald in the mix.

Also, you cannot actually turn off the journal in systemd. It's not an optional component, unlike most others.

[2015-06-09 17:59] simonsmiley commented on #124
thanks for the clarification. Will have to check why dhcp didn't work for ipv6... I guess I should configure it manually in my case anyway.

[2015-06-09 19:01] martinpitt commented on #61
This got merged, so closing now.

[2015-06-09 19:01] #61 closed, assigned to martinpitt

[2015-06-09 20:10] utezduyar opened #125 "regression: crashing journal due to watchdog"
The for (;;) loop in server_process_datagram might prevent journal
from feeding the watchdog if there is always something to receive in
the syslog socket. Potentially journald is restarted, applications
stall if the syslog socket is staying full....

I thought about fixing it by checking the watchdog on every iteration
of for (;;) by using watchdog_last, watchdog_period and feeding
watchdog if nec

[2015-06-09 21:07] whot opened #127 "hwdb.d in volatile /run directory?"
Opening on request of Lennart, see https://github.com/systemd/systemd/pull/115#issuecomment-110320638

The question is whether the hwdb should read from /run/udev/hwdb.d or not, given that dropping any hwdb file in there requires re-building the database. This was documented in man/hwdb.xml but the implementation was missing until the pull request linked above.

Use-case is here:
http://lists.free

[2015-06-09 22:42] poettering commented on #125
Wouldn't it suffice if we simply bump the priority of the watchdog event source to something very high, so that it is always dispatched before anything else?

[2015-06-09 22:45] poettering commented on #125
Hmm, ignore that, that made no sense, we always dispatch the watchdog event, in every single loop, if it's due, and we do so before anything else.

Not sure I grok the issue then. Can you elaborate how precisely this can happen?

[2015-06-10 06:26] utezduyar commented on #125
Imagine there is always something to fetch at this fd, https://github.com/systemd/systemd/blob/cde40acc805b855909b95f15fd9a3111e40be672/src/journal/journald-server.c#L1171.

In this case, the loop (https://github.com/systemd/systemd/blob/cde40acc805b855909b95f15fd9a3111e40be672/src/journal/journald-server.c#L1116) will never quit. We will never return back to event processing where we feed the wat

[2015-06-10 13:05] theinric commented on #98
@mezcalero

I think you misunderstood the issue. The whitespace is not at the beginning of the syslog message, but at the beginning of the CONTENT part of the syslog message. I'd argue most senders aren't really interested in the syslog messages, but only in the actual text the messages are carrying.

Can't be done if journald throws parts of it away.

As stated above, the syslog message is a red

[2015-06-10 13:06] theinric commented on #98
@mezcalero

Aren't we trying to teach people to use, primarily, journald?
How can they easily migrate if we are deliberately breaking backwards compatibility?

[2015-06-10 13:15] dvdhrm commented on #127
If you place your hwdb files into /run, you still have to trigger a rebuild. This rebuild will still place the binary hwdb into /etc. Hence, your testing data will still be globally installed. This will even stay there once you remove your data from /run again. Only if you then rebuild again (which is not automatically triggered) the data will get stripped.

I can see that you probably don't mind

[2015-06-10 13:31] theinric commented on #98
Actually you are[0]:

"The output you will get looks like a pixel-perfect copy of the
traditional /var/log/messages format, but actually has a couple of
improvements over it"

By not documenting this behavior, you are deliberately misleading users.

I think this issue should be reopened and the behavior described here should be reverted.
A less than perfect solution would be to introduce an option

[2015-06-10 13:53] theinric commented on #98
I've tried couple paths of delivering messages to journald to see whether they trim whitespace:

logger: YES
systemd-cat: YES
journal.send() from the Python API: NO
sd_journal_sendv(): NO

@mezcalero This looks a bit inconsistent. Do you think it's really a good idea not to document this behavior?

[2015-06-10 13:57] gmacario opened #139 "systemd-bootchart does not show CPU utilization of non-main threads"
Hello,

It looks like the graph produced by systemd-bootchart only considers the CPU time spent in the main thread of each process.

I believe it would be more correct if the bar displayed in the *.svg for each process also includes the CPU utilization of the subthreads.

Test case: I wrote a simple program available at https://github.com/gmacario/hello-thread which when executed creates 10 thread

[2015-06-10 14:07] utezduyar commented on #139
I am not sure if you can get the per task CPU consumption. Definitely not by using the /proc/[pid]/stat file.
I had the need of measuring CPU consumption of different threads of a process and I ended up moving them under their own cpuacct cgroup.

[2015-06-10 15:07] teg commented on #90
Thanks for the report. Does the attached PR fix things for you as expected?

[2015-06-10 15:13] poettering commented on #98
I'd be willing to add a patch that maintains the original whitespace indentation at the beginning (but not the end) of the actual log msg body. I am very sure though we should drop whitespace at the beginning of the full msg and at the end of it.

@theinric "looks like" doesn't mean "is". And we tend to avoid documenting behaviour we don't want to turn into API. Documentation means commiting to in

[2015-06-10 15:14] gmacario commented on #139
How about also parsing `/proc/[pid]/schedstat` and `/proc/[pid]/task/[tid]/schedstat`?

Example running the `hello-thread` program on a ARM-based target:

Excerpt from `ps aux -L`

[code]

Corresponding entries in `/proc/[pid]/schedstat` and `/proc/[pid]/task/[tid]/schedstat`

Command:

[code]

Result:

[code]

[2015-06-10 15:40] haraldh commented on #61
Thanks! Test suite finally passes again :+1:

[2015-06-10 16:09] teg commented on #109
Renamed this issue as the patch was reverted, with the intention of readding it once we have a working version.

[2015-06-10 18:12] poettering commented on #125
Can you check if PR #150 fixes the issue for you please, @utezduyar? Thank you!

[2015-06-10 18:40] poettering commented on #125
@utezduyar if this fixes the issue for you this can be promptly merged!

[2015-06-10 20:06] davidelang commented on #98
Modifying the message at all is going to break some parsers, but modifying only the end and not the beginning is going to break fewer parsers.

I don't disagree that messages that have such whitespace in them are badly formatted and this sort of thing should be avoided, but in the real world programmers do a lot of things that I think are bad practice. I have to live with them.

Altering the messa

[2015-06-10 21:15] whot commented on #127
Yeah, I'm aware of that but tbh I don't (need to) care too much where the binary database ends up (and whether it leaks, we clean up and rebuild before every test anyway). That's system configuration for me and since the tests need to be run as root anyway everything is accessible.

I'd be ok if you say "drop it in /etc" and we remove the /run references. Again, the reason for this fix was simply

[2015-06-10 21:17] xnox commented on #98
and parsers break a lot upon locale changes (some locales use different symbol for decimal separation etc) and many other things. Thus if you are parsing logs, and want it uniform, instead of fighting around precise number of whitespace and/or regexp to catch them all, one should convert to fully structured logging as provided by journald APIs.

[2015-06-10 22:18] davidelang commented on #98
@xnox, this is what I mean about the difference between how I wish programmers did things and how they actually do things.

I really wish that programmers wrote nice, structured logs, but I can't afford to ignore all software from programmers who don't.

And until the logging calls become something other than journald specific, I'm going to continue to recommend that people log using the tradition

[2015-06-10 22:40] dvdhrm commented on #127
So if you're fine with dropping it into /etc and removing /run from the documentation, that would be best. Supporting /run in something that is inherently not about runtime configuration feels weird. 'testing' is the only use-case I can think about.

I can push a documentation fix tomorrow, if nobody objects.

[2015-06-10 23:22] poettering commented on #98
As mentioned about a gazillion times right now: use ForwardToSyslog=yes if you want the byte-exact data.

The journal will not carry the byte-exact original msg, that's simply not going to happen, and you can stop asking for that now.

But again, I'd be willing to add a patch that keeps the whitespace after the syslog "tag" and before the actual log text in place, so that any indenting done by pro

[2015-06-10 23:30] mischief commented on #109
re https://github.com/systemd/systemd/pull/41#issuecomment-110175886 what about the reverse? how should converting _ADDRESS_FAMILY_BOOLEAN_INVALID back to "kernel" string be handled?

[2015-06-11 00:02] poettering commented on #109
Hmm, do we actually need that somewhere? I don't think we do, do we?

[2015-06-11 00:03] mischief commented on #109
guess not, unless you guys plan to write something like `systemctl show ...` for networkd

[2015-06-11 00:04] mischief commented on #109
there already are conversion routines for the other AddressFamilyBoolean values to strings

[2015-06-11 00:06] poettering commented on #109
We certainly do want that eventually (currently networkd has no bus API), but then we can still add address_family_bool_to_string_with_kernel() or so, which handles this, and which we only use for this case.

[2015-06-11 00:07] poettering commented on #109
But do we use them anywhere where the "kernel" case would matter?

[2015-06-11 08:53] utezduyar commented on #125
@poettering Verified!

[2015-06-11 08:56] utezduyar opened #159 "systemd-cgtop CPU usage"
The percentage value of cpu usage of systemd-cgtop is %100 x number of cores system has. This is not so easy to understand when you are using the program. You need to know how many cores your system has. I don't think this is how it is in "top".

We should either scale the number down so we don't exceed %100 or indicate somewhere how many cores this system has with max possible %.

[2015-06-11 09:28] kaysievers opened #161 "logged module loading error at bootup"
This should be suppressed. It happens inside the initrd and on the real system:
  Jun 11 11:17:24 ank systemd[1]: Failed to insert module 'kdbus'

[2015-06-11 09:29] kaysievers opened #162 "initrd: tmpfiles failure parsing systemd.conf ACLs"
Jun 11 11:17:24 ank systemd-tmpfiles[132]: Failed to parse ACL "d:group:adm:r-x,d:group:wheel:r-x": Invalid argument. Ignoring

[2015-06-11 09:30] kaysievers opened #163 "udevd: assertion in sd-event"
Jun 11 11:17:25 ank systemd-udevd[134]: Assertion 's->type == SOURCE_IO' failed at src/libsystemd/sd-event/sd-event.c:1892, function process_io(). Aborting.

[2015-06-11 09:31] poettering commented on #161
Hmm, the new log_full() in kmod-setup.c line really should show the actual error happening there.

@kaysievers we now log this always, except that we do so on LOG_DEBUG only for some modules. Did you see this when you turned on debug logging? Or durin normal operation?

[2015-06-11 09:34] #125 closed, assigned to nobody

[2015-06-11 09:36] kaysievers commented on #161
I have no specific debug setting, I would know of. It is 'make install' from -git and no options or config.

[2015-06-11 09:38] martinpitt commented on #162
I got that when this feature got introduced because we don't actually have a `wheel` group. Do you?

[2015-06-11 09:41] kaysievers commented on #162
$ id kay
uid=2702(kay) gid=2702(kay) groups=2702(kay),10(wheel)

[2015-06-11 10:13] arvidjaar commented on #162
And "adm"? I do not have it e.g. on my SLES server. Sounds more Solaris to me.

[2015-06-11 10:14] poettering commented on #161
@kaysievers I have now pushed d814f9904bb9705070dde8458464b8afe6cfbb22, can you rerun things like that, what's the precise message you see then?

[2015-06-11 10:32] martinpitt commented on #162
`adm` is a standard LSB group, every linux should have it. http://refspecs.linuxbase.org/LSB_5.0.0/LSB-Core-generic/LSB-Core-generic.html#USERNAMES

[2015-06-11 10:33] martinpitt commented on #162
To avoid doubt: tmpfiles of course needs to get along with it not being there, it's an optional group still. (I was just pointing out that it's not Solaris specific)

[2015-06-11 10:46] kaysievers commented on #161
Jun 11 12:44:16 ank systemd[1]: Failed to insert module 'kdbus': Function not implemented

[2015-06-11 12:49] poettering commented on #161
@kaysievers can you recheck now?

[2015-06-11 12:54] keszybz commented on #159
On Thu, Jun 11, 2015 at 01:56:20AM -0700, Umut Tezduyar Lindskog wrote:

[2015-06-11 14:02] pyromaniac2k opened #168 "systemd-gpt-auto-generator ignores fstab entries"
From the manpage:
“Note that this generator has no effect on non-GPT systems, on systems where the units are explicitly configured (for example, listed in fstab(5))[...]“

In reality, I have my encrypted home partition in both fstab and crypttab, but gpt-auto-generator tries to unlock it at boot, ignoring the noauto directive. This leads to the entire boot process stopping and waiting indefinitely

[2015-06-11 14:16] theinric commented on #98
@poettering

Why does journald care about the contents of the messages?
If it's because journalctl and systemctl-status need to print them, that can be handled on the output side, not when storing the data.

So far the only argument given was

Could you elaborate on why stripping them is absolutely necessary?

You'll become, de facto, the one defining it by just implementing it, whether you docume

[2015-06-11 14:27] teg commented on #107
Fixed by #148

[2015-06-11 14:27] #107 closed, assigned to teg

[2015-06-11 15:00] mstarostik commented on #90
Yes, it does. Thanks!

[2015-06-11 15:01] #161 closed, assigned to nobody

[2015-06-11 15:05] zonque commented on #104
This was fixed with #160

[2015-06-11 15:05] #104 closed, assigned to kaysievers

[2015-06-11 15:42] #98 closed, assigned to nobody

[2015-06-11 15:42] #90 closed, assigned to teg

[2015-06-11 15:49] filbranden commented on #98
Fixed in #156.

[2015-06-12 01:22] filbranden opened #175 "test-journal-stream gets confused by crappy clocks"
Not sure if it's just me, but I find some of the `test-journal-*` checks to be quite flaky...

In particular, a few runs of them and I found these two issues:

[code]

(This happens about 50% of the runs for me.)

And:

[code]

(This one I saw only once...)

I wonder if it's just me or if others have been seeing these as well?

This is on Arch Linux with kernel 4.1-rc6 on a virtual machine with 32

[2015-06-12 01:54] keszybz commented on #175
On Thu, Jun 11, 2015 at 06:22:20PM -0700, Filipe Brandenburger wrote:

Zbyszek

[2015-06-12 06:36] filbranden commented on #175
So the problem seems to be when generating the data, since once I get a set of bad journal files, I can reproduce the bug consistently using that same dataset...

I pushed a branch with patched `test-journal-*` binaries taking the directory as argument one and also another commit with the sample data to my fork:
https://github.com/filbranden/systemd/commits/journal_flaky_tests

The bad journals ar

[2015-06-12 09:24] arvidjaar commented on #168
Yes, I do not see where systemd-gpt-auto-generator would check /etc/fstab. Which likely means that both systemd-gpt-auto-generator and systemd-fstab-generator race for home.mount and the last one wins.

[2015-06-12 10:20] xnox commented on #168
you can set a partition flag on the /home partition instead to plug gpt-auto-generator.

[2015-06-12 10:28] #109 closed, assigned to nobody

[2015-06-12 11:15] poettering commented on #168
@arvidjaar s-g-a-g writes into the "late" generator dir, while s-f-g writes in the "normal" generator dir. See https://wiki.freedesktop.org/www/Software/systemd/Generators/ for details. Effect is that s-f-g generated units will override s-g-a-g generated units.

[2015-06-12 11:18] poettering commented on #168
@pyromaniac2k i am a bit confused. on one hand you talk about fstab but on the other you talk about a unlocking the home partition. One is handled by systemd-cryptsetup-generator, the other by systemd-fstab-generator. Which one of the two conflicts with systemd-gpt-auto-generator?

Most likely the issue is simply that the s-c-g and s-f-g generated unit files override the s-g-a-g unit files, but th

[2015-06-12 11:20] poettering commented on #162
@martinpitt well, there are some groups we _require_ to exist, like video, audio and so on. "adm" is kinda one of them too, see sysusers.d/.

If debian decides not to support adm, then it needs to patch that out, from the tmpfiles snippet as well as the sysusers snippet.

[2015-06-12 11:21] poettering commented on #162
@kaysievers but i presume you do have both wheel and adm around, right?

either way, if a group is missing on a system then the parsing error of an ACL expression certainly shouldn't be "EINVAL", though.

[2015-06-12 11:23] poettering commented on #159
I am pretty sure we should follow the same logic that top has in place there...

Anyone can check what happens in top if I have a process with multiple trheads attached to multiple CPUs all eating full CPU?

[2015-06-12 11:30] martinpitt commented on #162
@poettering oh, Debian/Ubuntu do support `adm`, it's even a static group. I was just guessing that @kaysievers wouldn't have that group, as he does seem to have `wheel`.

[2015-06-12 12:38] utezduyar commented on #159
I checked it on busybox top. I have 4 cores on my target and I have started 2 dd processes. Result is:

[code]

[2015-06-12 13:06] keszybz commented on #159
On Fri, Jun 12, 2015 at 05:38:38AM -0700, Umut Tezduyar Lindskog wrote:

top - 08:56:00 up 142 days, 14:15, 10 users,  load average: 1.58, 0.61, 0.39
Tasks: 406 total,   3 running, 401 sleeping,   0 stopped,   2 zombie
%Cpu(s):  2.4 us, 15.9 sy,  0.0 ni, 81.6 id,  0.0 wa,  0.0 hi,  0.0 si,  0.0 st
KiB Mem:  32903980 total, 29911368 used,  2992612 free,  1585120 buffers
KiB Swap: 25067516 total,  1

[2015-06-12 14:52] pyromaniac2k commented on #168
@poettering basically I have an encrypted home partition that gets unlocked by pam_mount, so it should not be touched during boot. s-c-g and s-f-g correctly ignore the partition as long as I replace the s-g-a-g binary with /bin/true. When I leave the s-g-a-g binary in place, something tries to unlock the partition during boot, and that something waits for a password without any timeout.

So someth

[2015-06-12 15:00] mbiebl opened #181 "systemd-tmpfiles deletes quota files and lost+found directory"
Bug-Debian: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=788193

The default cleanup rules in /usr/lib/tmpfiles.d/tmp.conf will remove all files and directories, excluding systemd-private in /tmp and /var/tmp.

If /tmp or /var/tmp are on a separate partition, those directories can contain a lost+found folder from a previous fsck run. More inportantly, they might contain quota configuration fi

[2015-06-12 23:36] grawity commented on #181
Hmm, `src/tmpfiles/tmpfiles.c:498` already has:

[code]

On the other hand, there is no conf syntax for "/aquota.user at the root of any mountpoint".

[2015-06-13 01:25] keszybz commented on #181
On Fri, Jun 12, 2015 at 04:36:54PM -0700, Mantas Mikulėnas wrote:

It seems that the uid check should apply to all of them, no?

Also, without looking at the code it's hard to tell, but I think
we should recurse into lost+found, and just ignore the directory
itself.

[2015-06-13 04:49] crrodriguez opened #185 "localectl, loginctl (sd-bus?) memory leak"
localectl
   System Locale: n/a

[code]
#

==90==ERROR: LeakSanitizer: detected memory leaks

Direct leak of 36 byte(s) in 4 object(s) allocated from:
    0 0x7f899be1b93f in strdup (/usr/lib64/libasan.so.2+0x6293f)
    1 0x555f493890c8 in free_and_strdup src/basic/util.c:5417
    2 0x555f4933605c in map_basic src/shared/bus-util.c:974
    3 0x555f493367c4 in bus_message_map_all_properties src/sha

[2015-06-13 07:08] zonque commented on #105
Fixed via #167

[2015-06-13 07:08] #105 closed, assigned to nobody

[2015-06-13 07:45] Gigadoc2 opened #186 "systemd-boot ignores stubs without VERSION_ID"
systemd-boot displays only efi stubs containing a VERSION_ID field in their embedded os-release file, yet VERSION_ID is listed as an optional field in the manpage of os-release.

[2015-06-13 08:21] mbiebl commented on #181
I indeed missed, that we alreay ignore aquota.user and aquote.group.
But as @keszybz said, we should apply the uid check to aquota.user and aquota.group as well.

We should also skip the quota.group and quota.user file and the lost+found directory.
As for the latter, I think we should ignore lost+found completely

[2015-06-13 13:14] kaysievers commented on #186
Yeah, sounds like VERSION_ID should not be optional. ID + VERSION_ID seems to the only sensible way to compose a machine-readable identifier.

[2015-06-13 15:24] poettering commented on #181
Yeah i agree, we should ignore the whole of lost+found and not descend into it.

[2015-06-13 15:55] mbiebl commented on #181
@poettering any idea, why the uid check is only applied to ".journal"? Is that deliberate or an oversight/bug? I.e. shouldn't it rather be  s.st_uid == 0 && (foo || bar || baz)

[2015-06-13 16:25] keszybz commented on #168
@poettering yes, there's nothing which prevents symlinks created by gpt-auto-generator from being honored. _If_ we implemented the idea of masking in .wants and .requires directories that Debian people wanted, we could modify fstab-generator to mask .wants or .requires symlinks. Alternatively, we could simply modify gpt-auto-generator to loop over fstab and ignore anything declared there. I think

[2015-06-13 19:02] keszybz commented on #181
Well, we do already ignore lost+found. The check is just in the other branch of the same if, the one that applies to directories. You added it back in 2010 ;). I now checked, and on my system, lost+found is ignored in /tmp. So it seems that the original reporter messed something up: maybe he created the directory as non-root?

I don't get it why you both think that we should ignore contents of los

[2015-06-13 23:21] Whissi opened #190 "systemd-udevd should close fd when running daemonized outside of systemd"
Bug-Gentoo: https://bugs.gentoo.org/show_bug.cgi?id=547916

Since commit 5c67cf2774a8b964f4d7cd92a4c447da81ac6087 _systemd-udevd_ doesn't close std{in,out,err} anymore, even when running _systemd-udevd_ daemonized (`systemd-udevd --daemon`).

As result you cannot use Python's subprocess module to start/restart _systemd-udevd_ like you could do in <=systemd-216 for example. That's how I run into th

[2015-06-14 05:01] arvidjaar commented on #190
BTW udev actually does not implement several recommended steps like double-forking or synchronization between child and (grand-)parent. The latter means race window where udev is still not ready to process events but follow-up services may already be stated. Native unit is using notify so does not have this issue.

[2015-06-14 08:34] Gigadoc2 commented on #186
But then what about rolling release distributions? They don't have a sensible value for this field.

Would it be prolematic to omit VERSION_ID if it is not set?

[2015-06-14 10:09] kaysievers commented on #190
udev opens the sockets before forking, it will not return before that. Any events will be queued up in the socket, it does not need more synchronization.

[2015-06-14 12:05] SjonHortensius opened #193 "systemd-nspawn --ephemeral creates problematic nested subvolume making container non-deletable"
When using systemd-nspawn --ephemeral, the temporary subvolume will contain a nested subvolume for var/lib/machines; which makes the temporary subvolume non-deletable:

[code]

This can be fixed by executing `btrfs subvolume delete /var/lib/machines` from within the container, or `btrfs subvolume delete /var/lib/machines/#stuff7ebdaddeb5da4865/var/lib/machines` from the host before exiting the con

[2015-06-14 12:29] dvdhrm commented on #127
The documentation has now been fixed in 01856799a3113398da924d9b0dcc09d1e853d905.

Thanks for the report!

[2015-06-14 12:29] #127 closed, assigned to dvdhrm

[2015-06-14 12:34] dvdhrm commented on #78
Merged.

[2015-06-14 12:34] #78 closed, assigned to nobody

[2015-06-14 12:54] dvdhrm opened #195 "sysv-generator-test.py fails if run as root"
Currently, running the test-suite as root fails on `python2 ./test/sysv-generator-test.py`. If run as user it works fine.

As my python knowledge is pretty limited, I'd prefer if someone of the authors (@martinpitt ?) could have a look. Maybe a simple `if geteuid() == 0: return 72` is enough.

[2015-06-14 13:32] dvdhrm commented on #193
We support recursive subvolume removal, and nspawn actually tries to do this. Which systemd version do you use? Does this still happen with -git?

[2015-06-14 13:34] SjonHortensius commented on #193
You're right; I should have mentioned that. This is with systemd-219; should that feature be available?

[2015-06-14 17:00] Pablohn26 opened #199 "Signal info always TERM"
I have created a dummy service that create a sleep process at start and kill the sleep process with several signals when you type systemctl stop sleep.service.

I have tried with signal 9 (SIGKILL), signal 23 (SIGSTOP) and signal 18 (SIGTSTP) and when I type systemctl status sleep.service it always says the signal was TERM (from SIGTERM, I suppose). My signal reference is http://man7.org/linux/man

[2015-06-14 17:35] teg commented on #185
This was fixed by #196.

[2015-06-14 17:35] #185 closed, assigned to dvdhrm

[2015-06-14 21:33] poettering commented on #199
Well, systemd assumes that ExecStop= is synchronous: it not only asks the service for shutdown, but also waits for it to exit. If systemd sees a process of the daemon around after ExecStop= exits, it will kill it anyway.

Placing an invocation of /usr/bin/kill in ExecStop= is hence generally not a good idea.

Also, note that systemd always sends SIGCONT after each SIGTERM when shutting down a serv

[2015-06-14 21:33] #199 closed, assigned to nobody

[2015-06-14 21:49] poettering commented on #181
@keszybz well, we really have no idea what ends up in lost+found. It could be super important data that just ended up there because the machine crashed while the user edited it. Automatic time-based clean-up is something we should only do if we _know_ that the data is only temporary data that is OK to trash, and when the app developer acknowledged that things are cleaned up that way, by placing it

[2015-06-14 22:01] poettering opened #203 "kmod-setup.c sould ignore ENOENT rather than ENOSYS when we fail to load a kernel module"
See #166 for details.

This issue exists merely to make sure we don't forget to fix systemd as soon as kmod has been fixed for this, too:

http://thread.gmane.org/gmane.linux.kernel.modules/1542

And we should bum the kmod dependency version then...

[2015-06-14 22:13] poettering commented on #168
@pyromaniac2k Hmm, but s-g-a-g will not do anything with home partitions unless they have the gpt type uuid set for home partitions. If you set the uuid you basically tell systemd to automount it (unless you turn off the "automount" bit in the gpt entry again). Hence afaiks there's nothing to fix here: just change the gpt type uuid of your partition to generic linux and there's no automatic mounti

[2015-06-14 22:13] #168 closed, assigned to nobody

[2015-06-14 22:33] poettering commented on #159
I am pretty sure we should follow "normal" top here, hence there's nothing to change in cgtop, is there?

[2015-06-15 06:03] utezduyar commented on #159
Ok, is this the summary?
**"normal" top displays both per CPU % (next to process) and per system CPU (in the header) scaled to %100.**
**busybox top only displays per system CPU % (next to process) scaled to %100.**
**systemd-cgtop only displays per system CPU % (next to process), not scaled to %100.**

I still think we should indicate what the max %100 can be on systemd-cgtop. A non tech savvy pe

[2015-06-15 06:58] martinpitt commented on #195
Confirmed. The reason is that running the tests as root will cause the generator's output to go into the journal instead of stdout/stderr, so the test gets an empty stderr.

[2015-06-15 07:01] martinpitt commented on #195
Trivial fix, pushed directly: https://github.com/systemd/systemd/commit/6b7d32add4733a83f86e18bb86f914037a6688b7

[2015-06-15 07:01] #195 closed, assigned to martinpitt

[2015-06-15 08:00] mbiebl commented on #199
I think it would be a great idea to put this information into the man page
Am 14.06.2015 23:34 schrieb "Lennart Poettering" notifications@github.com:

[2015-06-15 08:36] dvdhrm commented on #195
Much appreciated, thanks!

[2015-06-15 08:56] pyromaniac2k commented on #168
@poettering When you say that this is correct behaviour, you still have a documentation bug, at least fix the manpage then.

[2015-06-15 09:50] poettering commented on #168
@pyromaniac2k did that now in c6355b313e653bc33efe0ed7c047028bb5c42786

[2015-06-15 10:07] poettering commented on #199
@mbiebl done so now in cceb20c75ca4eb14cb72866e9490691b543f0dd6 and e8c53936316288ea3b33b5997b175862f0efef92

[2015-06-15 10:08] poettering commented on #162
So, do we have any idea why @kaysievers's line actually failed with EINVAL? @kaysievers you have both groups around, don't you? If so, this cannot be related to group resolving...

[2015-06-15 10:11] kaysievers commented on #162
$ getent group wheel adm
wheel:x:10:kay
adm:x:4:

[2015-06-15 12:18] pryland commented on #94
It is a bespoke init script based largely on the tomcat one, which I can attach if anyone's interested.  However, I've found the problem.  I had the following in the script, just before sourcing /lib/lsb/init-functions:

[code]

I understand now that for init scripts this is unnecessary, non-standard and indeed the cause of this issue.  Returning another exit code would be better, but removing the

[2015-06-15 13:05] keszybz commented on #159
On Sun, Jun 14, 2015 at 11:03:22PM -0700, Umut Tezduyar Lindskog wrote:

Can't we just describe this in the man page?

Zbyszek

[2015-06-15 14:38] poettering commented on #159
Yeah, as much as I understood this appears to be a documentation issue primarily...

[2015-06-15 14:59] iaguis opened #207 "systemd-nspawn doesn't print error messages"
Here I try to bind-mount a directory that doesn't exist. It doesn't print an error message, it just exists with status 1:

[code]

However, if I redirect stdout to a file it does print the error:

[code]

[systemd-nspawn closes the stdout file descriptor when running interactively](https://github.com/systemd/systemd/blob/0c33502bed83f2775d77c992fe621ec85e75ab2a/src/nspawn/nspawn.c#L4267) so after

[2015-06-15 15:54] teg commented on #163
I'm not able to reproduce nor make sense of this. Memory corruption perhaps? Are you able to get the backtrace or reproduce in valgrind?

[2015-06-15 15:57] poettering commented on #193
Recursive snapshotting and removal is a v220 feature. Please upgrade

[2015-06-15 16:01] poettering commented on #207
In the non-redirectied case the TTY handling currently simply doesn't flush out whatever is queued before exiting nspawn. and that's certainly a bug.

In the redirected case we just connect the real fd with the processes we fork, which means our borked tty handling doesn't matter.

This is something to fix the the ptyfwd stuff...

[2015-06-15 16:02] #193 closed, assigned to nobody

[2015-06-15 16:07] kaysievers commented on #163
It is in the initrd, before switching to the real root.

[2015-06-15 16:21] kaysievers commented on #163
this triggers it:
$ udevadm trigger --action=add; systemctl stop systemd-udevd.service systemd-udevd-kernel.socket systemd-udevd-control.socket

[code]

[2015-06-15 16:50] xnox opened #211 "merge performance & measurement patches from https://clearlinux.org"
So starting to rebase our patch series on to master, and it's not fun. A bunch of things could be upstreamed, and then I would need to care about less patches.

There is a bulk of patches that either:
- speed up execution
- allow measuring fast execution

It's small one-liner patches, which do speed-up boot. Given that we boot in sub-second time, we also had to add patches to logging/bootchart to

[2015-06-15 17:49] intelfx opened #213 "`halt`/`poweroff`/`reboot` are not identical to `systemctl %s` with respect to non-root users"
Verbs `systemctl halt`, `systemctl poweroff` and `systemctl reboot`, if invoked under a non-root user and logind is not available, are governed by polkit action `org.freedesktop.systemd1.manage-units`.

(For `systemctl halt` logind is obviously never available, as there's no corresponding bus method.)

However, `halt`, `poweroff` and `reboot` in the same conditions say "Must be root." and bail out

[2015-06-15 17:55] kaysievers commented on #213
They are system V compat, and should not be "smarter" than the original tools.

[2015-06-15 17:57] intelfx commented on #213
Hm, but they already divert to logind if it's available on the bus... which itself is an enhancement over sysv semantics, IIRC.

[2015-06-15 18:16] kaysievers commented on #213
Hmm, yeah, we did that to cover for Fedora's usermode tool (broken idea) which grants access to some tools for locally logged-in users. Not sure, what's the right answer here. @poettering?

[2015-06-15 18:20] poettering commented on #213
We cannot make poweroff/reboot suddenly interactive when they never were before. People call these binaries from daemons and scripts and that would be quite a change of behaviour. For "systemctl poweroff" and friends this is different, because we define the API and can provide --no-ask-password to remove the interactivity (and we do). But we really shouldn't extend the old APIs with new switches o

[2015-06-15 19:01] martinpitt opened #215 "distcheck fails: Permission denied: '../man/systemd.directives.xml"
Since commit 747ca69b5 from PR #152 distcheck fails:

[code]

Reverting this fixes distcheck again. This is happening in our daily distcheck builds (e. g. https://launchpadlibrarian.net/209133087/buildlog_ubuntu-wily-amd64.systemd-upstream-qa_0.v220-20150614-63432f5-0~ubuntu15.10.1_BUILDING.txt.gz) but I also get it locally. This doesn't happen with normal make/make check, as I usually don't build

[2015-06-15 19:08] filbranden commented on #215
This one is tricky because I think we still want `man/systemd.directives.xml` to be included in the dist archive created by `make dist`, so the vpath mechanism will pick up that one and try to update it instead of the one in the build directory...

Not really sure what to suggest here...

[2015-06-15 19:20] marcosfrm opened #216 "systemctl -q documentation"
man systemctl says

[code]

-q also works with reload and start (maybe more?).

[2015-06-15 19:25] crrodriguez commented on #163
Reproduced with kay's snippet..

[code]

[2015-06-15 19:45] filbranden commented on #215
Considering `man/systemd.directives.xml` is already listed in CLEANFILES, maybe the sanest solution is to just remove that explicit dependency and rely on `make clean` to regenerate both files...

The dependency of `man/custom-entities.ent` on `configure.ac` is bogus anyways, because if I re-run `./configure` with different prefix and rootprefix etc. paths then `custom-entities.ent` would have to

[2015-06-15 20:33] mbiebl commented on #199
2015-06-15 12:07 GMT+02:00 Lennart Poettering notifications@github.com:

##

Why is it that all of the instruments seeking intelligent life in the
universe are pointed away from Earth?

[2015-06-15 20:39] poettering commented on #213
OK, I guess the checks in systemctl actually should be losened and also allow talking to PID1's StartUnit("reboot.target") now for unprivileged clients. After all we recently opened up StartUnit() to polkit, and hence it might be useful for unprivileged clients too.

Of course, when we change systemctl like this I think we should only allow non-interactive polkit auth still for these tools, and le

[2015-06-15 21:27] tycho opened #217 "udev 220 not creating /dev/disk/by-uuid symlinks on ACTION=change?"
First of all, I should note that I've cherry-picked ff2aa01e61f8aff149b63231365f1cef008296a2 to allow 'xvd' (xen) block devices to have /dev/disk symlinks.

---

I've noticed between udev-219 and udev-220 there's a change in what happens after a 'mkfs' to a partition.
## udev 219

Here's what happens with udev 219.

[code]

Note the /dev/disk/by-uuid symlink for the newly formatted FS with UUID `2

[2015-06-15 21:31] intelfx commented on #213
At least `poweroff` and `reboot` (and `telinit`, btw) _currently_ may end up in interactive polkit auth kicking in. First two may divert to logind, and the last one is straight equivalent to `systemctl isolate`.

So — do you intend to remove existing places where interactive auth is allowed?

[2015-06-15 22:37] teg commented on #217
There were quite some fixes recently to the inotify watch logic that is used to trigger the change events in these cases. Could you see if you can reproduce with current git?

[2015-06-15 22:47] tycho commented on #217
I'll start a build with branch=master, and will test that in a few minutes. Assuming it works, I'd prefer to avoid having to do a bisection -- do you have specific changes in mind that may address the issue?

Also, I notice that the 'systemd-stable' repo wasn't carried over during the transition from freedesktop.org to github. Is that gone for good?

[2015-06-16 00:04] tycho commented on #217
OK. So the latest git systemd does indeed work. I think the change I need for my systemd PKGBUILD is this (the first two added cherry-picks being the key here):

[code]

[2015-06-16 00:29] tycho commented on #217
Well, I was wrong. That wasn't sufficient. There's got to be more changes that would affect it.

[2015-06-16 09:59] zonque commented on #215
Hmm, how does your setup look like, exactly? I don't see how `make distcheck` operates on a read-only source dir, and in a setup that does that (`configure --enable-compat-libs --srcdir=../`, with `..` being owned by `root:root`), I get all sorts of issues because for instance, `make update-man-list` wants to generate `../Makefile-man.tmp` in the read-only source dir.

How's that read-only srcdir

[2015-06-16 11:44] martinpitt commented on #215
There's nothing magic to that -- "make distcheck" from current automake (1.14 here) does that. It unpacks the tarball into `systemd-220/`, makes the entire dir readonly (i. e. `-R a-w`), and configures/builds in `systemd-220/build/`.

I didn't try `--srcdir=../` -- I thought the standard way of building out of tree was something like

[code]

Anyway, I'm quite surprised that this doesn't affect se

[2015-06-16 12:02] utezduyar opened #224 "APIs taking in sd_bus_error should fully populate the error structure on any kind of error"
bus_error_message is pretty convenient. Is there any reason why this API is not public?

[2015-06-16 14:04] teg commented on #163
Thanks @kaysievers and @crrodriguez! I could reproduce, and #227 fixes it for me.

[2015-06-16 14:06] teg commented on #217
Hm, I don't know of any further commits that should be necessary, but a lot of work went into this area since the last release. Maybe the most convenient would be to wait for the next release (end of this week).

[2015-06-16 14:06] #217 closed, assigned to nobody

[2015-06-16 15:21] teg commented on #190
As @kaysievers said, there should be no problem with the current synchronization. However, to avoid having to deal with any obscure bugs like this again, I took a stab at going all the way and implemented the double-forking mode and the unifying the synchronization point in PR #229.

Could you verify that that works for you?

[2015-06-16 16:11] Whissi commented on #190
I tried your PR. Looks good in general:
- I was able to boot my system using udevd from your PR, my interfaces for example were renamed like expected
- No open fd - restarting udev using _salt_ worked

But it is triggering an assertion on stop:

[code]

[2015-06-16 16:19] micah opened #230 "Cannot mount /boot after removing usb device"
Hi,

I have my /boot partition on a USB stick. It is inserted to the machine to boot it, and is configured to be mounted read-only in the fstab.

I used to be able to simply remove the usb from the system after it has booted, and udev would remove the mount point. Then when I wish to have it available again (for example, when I need to regenerate an initramfs), I would insert the USB, and then mou

[2015-06-16 17:14] smcv opened #232 "Trying to run as user instance, but $XDG_RUNTIME_DIR is not set"
I'm working on a semi-embedded distribution which starts a PAM session for a designated user during boot, then instructs that session to start a target that includes Xorg and a GUI. This mostly works fine, but there seems to be a race condition in which the `systemd --user` run by `user@.service` doesn't always pick up its `$XDG_RUNTIME_DIR` correctly:

[code]

It seems to fail about 1/3 of the ti

[2015-06-16 19:59] filbranden commented on #215
@zonque Sorry if my suggestion wasn't clear, what I meant was that on `make clean` both files will be removed so both of them will be regenerated on the next `make`.

But now I realize that is fragile since there is no dependency to enforce ordering, maybe that could be solved by using a `|` style dependency to say that if both are built then the XML must be built after the .ent?

[code]

I haven'

[2015-06-16 21:26] mbiebl opened #234 "__start_BUS_ERROR_MAP and __stop_BUS_ERROR_MAP symbols exported by libsystemd.so"
When building git master, I get the following symbols exported by libsystemd.so:
__start_BUS_ERROR_MAP
__stop_BUS_ERROR_MAP
Those look like private symbols which should probably be hidden

[2015-06-16 21:29] mbiebl opened #235 "sd-bus API documentation is incomplete"
<strike>In v221, the sd-bus API has been made public, but there is no documentation yet.</strike>
- [x] sd-bus (entry point)
- [ ] sd_bus_get_allow_interactive_authorization
- [ ] sd_bus_start
- [ ] sd_bus_close
- [ ] sd_bus_try_close
- [x] sd_bus_ref
- [x] sd_bus_unref
- [ ] sd_bus_is_open
- [ ] sd_bus_get_bus_id
- [ ] sd_bus_get_scope
- [ ] sd_bus_get_tid
- [ ] sd_bus_get_owner_creds
- [ ] sd_bu

[2015-06-16 21:31] mbiebl opened #236 "libudev API documentation replacement is incomplete"
The gtk-doc based API documentation for libudev has been removed in v221.
There should be a suitable replacement using man pages before v221 is released.

[2015-06-16 22:07] kaysievers commented on #186
Well, even a rolling release would ideally carry some identifier in the os-release file. Be it from the repo package database at that time, or at least the date+time of the update.

At the moment, I'm personally not convinced that we should support omitting it, it needs more discussion.

[2015-06-16 22:50] poettering commented on #235
Well, a good chunk of the sd-bus call is actually documented with man pages. But yes, it's not complete.

[2015-06-16 22:51] poettering commented on #234
@kaysievers hmm, did anything change in this regard when you rearranged the convenience libs?

[2015-06-16 22:55] poettering commented on #234
@mbiebl hmm, those symbols are not listed in src/libsystemd/libsystemd.sym.m4, and the file says that every other symbol is internal... Not sure how that can happen...

[2015-06-16 22:59] poettering commented on #234
readelf --syms indeed shows the symbols @mbiebl mentions... it also shows that the .sym file is otherwise correctly applied (i.e. the symbols are all versioned).

Note sure how these symbols end up being global exports...

[2015-06-16 23:04] mbiebl commented on #235
hm, man sd-bus or sd_bus_TAB didn't turn anything up. Oh right, those man pages are installed conditionally on ENABLE_KDBUS (in Makefile-man.am) and I didn't have --enable-kdbus

[2015-06-16 23:07] mbiebl commented on #235
Even with --enable-kdbus, a central sd-bus man page is missing as entry point.

[2015-06-17 03:46] crrodriguez commented on #234
[code]

works for me.. if you need answers on why ..I have no idea, you will have to ask people familiar with the linker (as this is a GNU linker extension)

[2015-06-17 05:32] #163 closed, assigned to nobody

[2015-06-17 05:57] zonque commented on #163
:+1:

[2015-06-17 05:57] kaysievers commented on #234
Thanks Christian. Added _hidden_ and a comment to the magic variables.

[2015-06-17 05:57] #234 closed, assigned to nobody

[2015-06-17 08:50] poettering commented on #186
I wonder if the code should use BUILD_ID if VERSION_ID is missing?

[2015-06-17 09:49] dvdhrm commented on #234
This happens only with `-Wl,-fuse-ld=gold` and is easily reproducible with an example. I'll report it upstream.

[2015-06-17 10:11] dvdhrm commented on #234
In case anyone cares: https://sourceware.org/bugzilla/show_bug.cgi?id=18548

I will drop the workaround, once this is fixed upstream (which doesn't look very promising, though).

[2015-06-17 10:23] poettering commented on #224
Well, it's primarily a hack around dbus-daemon's overly verbose access denied error messages. But exposing an API that is a work-around around some other sw sounds wrong, especially since on kdbus this isn't really a problem, and hence only useful for older setups.

I am pretty sure we should not export this...

[2015-06-17 10:24] poettering commented on #230
THis is already fixed in git. The various distros have already backported patches.

[2015-06-17 10:24] #230 closed, assigned to nobody

[2015-06-17 10:27] poettering commented on #232
The first patch indeed should fix a bug. Can you send a PR for it please?

[2015-06-17 10:28] poettering commented on #232
But the second patch looks like a hack indeed... This really shouldn't be necessary.

Have you tried adding an ExecStartPre=/bin/cat /run/systemd/users/1000 to your user@.service, so that that file is logged right before the user instance is started?

[2015-06-17 10:29] poettering commented on #213
Yeah, the old tools should _never_ be interactive. If they end up being interactive now, that'd be a bug.

[2015-06-17 10:35] smcv commented on #232
I know, I deliberately didn't submit a PR for it (but we needed a workaround right now, so we can start X reliably again, and it does work).

I'm continuing to look into the root cause; the ExecStartPre is a good idea, I'll try that.

[2015-06-17 10:37] poettering commented on #235
@mbiebl see #245: the patch enables the sd-bus man pages now unconditionally, regardless of ENABLE_KDBUS. Given that we also moved the rest of sd-bus out of ENABLE_KDBUS that's the right thing to do.

[2015-06-17 10:40] poettering commented on #181
I am not sure what this bug is about now. If we add the uid check to tmpfiles, then nothing about the original issue will change.

@mbiebl any idea why the checks we already have in place don't work?

Can you provide a reproducer or an strace or so?

[2015-06-17 11:28] utezduyar commented on #224
I was more thinking how smartly this API can report the error message by looking at both "r" and bus error.

Given this code, you would never know if the return value of `r` is due to some kind of problem that happened before even sending the message (ex `-ENOMEM`) or it is due to the received `ERROR` type on the bus.

[code]

[2015-06-17 12:11] zonque commented on #215
I'm still trying to get my head around what the actual problem is. On my F22 machine (automake 1.15), I simply cannot reproduce the issue you're seeing, @martinpitt. I do see a different one though, which is related to `intltool-update`:

[code]

Also, I wonder how a build would possibly succeed in a read-only folder, where binaries cannot be created. @martinpitt, could you paste-dump your build e

[2015-06-17 12:30] utezduyar opened #250 "documentation: systemd-bus-proxy is not instantiated anymore"
Isn't http://www.freedesktop.org/software/systemd/man/systemd-bus-proxyd@.service.html outdated that proxy is not instantiated anymore?

[2015-06-17 12:51] smcv commented on #232
Should, but doesn't, because I call:

[code]

but user_save() has:

[code]

and u->started hasn't been set TRUE yet.

I'll try to work out the least problematic way to fix this...

[2015-06-17 12:58] keszybz commented on #181
But that lost+found we are looking at must be underneath the directory we are cleaning up... Realistically that would only be /var/tmp/lost+found or /tmp/lost+found. In either case the only files which could end up there should be from the temporary filesystem anyway. But I'm fine with leaving things as they are.

I'm pretty sure that the original reported misunderstood something. I'd just push pa

[2015-06-17 13:00] smcv commented on #232
We're doing a "transaction" in which we start the user's user-session. It looks as though we want to only write out /run/systemd/users/ after the transaction has been started successfully; but one of the things we do in the transaction is to StartUnit for user@.service, which can fail with ENOMEM or a D-Bus error, and we need the XDG_RUNTIME_DIR before we can rely on that to work.

We can either:

[2015-06-17 13:03] mbiebl commented on #181
@poettering, @keszybz: nod, please push patch 1, since it looks correct in any case. As for lost+found, I'll doublecheck if I can reproduce the issue myself and if not, ask the bug reporter for futher info.

[2015-06-17 13:03] smcv commented on #232
One way to do it would be to turn my workaround into the real "API" used by pam-systemd: if /run/user/UID exists and is owned by UID, use it; and don't bother with /run/systemd/users/UID at all. This is unsuitable if you are more likely to change the location of users' runtime directories than to change how /run/systemd/users/UID works, though.

[2015-06-17 13:19] mbiebl opened #252 "systemd.pc: no substitution for @systemshutdowndir@"
In commit d6b07ef the old shutdownd implementation was removed.
Along with it, the substitution of @systemshutdowndir@.

This substitution is still used in src/core/systemd.pc.in
The result is a broken .pc file which contains:
systemdshutdowndir=@systemshutdowndir@

[2015-06-17 13:23] smcv commented on #232
The other way to do it would be to write out the state-file in this one particular case even if u->starting is not yet true, because it is about to be true. We shouldn't actually set u->starting to true any earlier, because that has an effect on how much we roll back when the user is finalized (we shouldn't emit UserRemoved if there was no UserNew).

[2015-06-17 13:26] dvdhrm commented on #236
I added the skeletons in #253 now. This should at least provide the function definitions and some browsing hints. Further help regarding the DESCRIPTION part of the man-pages is highly welcome.

[2015-06-17 13:30] martinpitt commented on #215
@zonque: I get that error about `org.freedesktop.systemd1.policy.in` as well, I haven't investigated that yet. This is a separate issue, though.

It doesn't. `systemd-220/` is all read-only _except_ the `systemd-220/build` subdirectory, of course. There's no Debian package for automake 1.15 yet, perhaps the behaviour changed there.

I configured with

[code]

which fails with

[code]

Complete log

[2015-06-17 13:40] martinpitt commented on #215
The only change compared to the `autogen.sh` recommended configure options that makes this happen is to configure for python3:

[code]

I don't get python support in my build chroot with the default Python 2, as I don't have `python-lxml` installed (just `python3-lxml`):

[code]

When I do install `python-lxml`, then the docs do get built, and I get the error from this report again. @zonque, can y

[2015-06-17 13:47] poettering commented on #181
@keszybz ok, pushed patch 1 now.

[2015-06-17 13:53] martinpitt opened #255 "no uevent when block devices change (regression in udev 220)"
With udev 220, there is no change event any more for block devices when programs like `mkfs` or `e2label` open and change them. This causes e. g. udisks2 to break.

Simple reproducer:

[code]

Then run this in another terminal: `#  sh -c '> /dev/sdb'

(Replace `sdb` with the actual scsi_debug drive. This ought to be a harmless command, but don't take chances in destroying your hard disk!)

Up to u

[2015-06-17 13:58] martinpitt commented on #255
When running udevd in the foreground with --debug, I see this with 219 when I issue the "open /dev/sda" call:

[code]

But only this with 220:

[code]

Running systemd-udevd 220/from trunk with the 219 package installed _does_ work; conversely, running systemd-udevd 219 with the 220 package installed _does not_ work. So it seems the regression isn't in the binary itself, but in the udev rules some

[2015-06-17 13:59] poettering commented on #252
The dir should never have been removed. systemdshutdowndir has nothing to do with shutdownd. I figure @zonque's removal sed was a bit too eager...

THis should be readded.

[2015-06-17 14:05] poettering commented on #224
Hmm, true, that might be useful. But I figure it should carry a different name then. sd_bus_error_strerror() or so might be an option? would be willing to take a patch for that, that renames it and adds it to the api.

[2015-06-17 14:07] poettering commented on #159
#221 was merged, I guess this can be closed now.

[2015-06-17 14:07] #159 closed, assigned to nobody

[2015-06-17 14:09] ghost opened #257 "XDG_RUNTIME_DIR is mislabelled, systemd-user PAM stack lacks pam_selinux, "systemctl edit" should label created files properly"
Back in the old day's SELinux was transparent to most of the user space, including init. This was possible because init was relatively simple compared to systemd.

With the advent of systemd, we were forced to make systemd SELinux aware. Mainly because of systemds' unit concept compared to inits' rc script concept.

Initial systemd SELinux support was implemented reasonably well. However, it is pr

[2015-06-17 14:13] kaysievers commented on #255
b50063512d4be4d29e0ca5d28f66bc1121861e3b ?

[2015-06-17 14:18] zabbal opened #258 "add CRIU integration"
With handy integration between machined, nspawn etc throughout the stack the next useful addition would be integration with CRIU: http://www.criu.org/Main_Page

Would be really handy is I could call:
systemctl freeze myservice
systemctl move -H myhost.com myservice
or
systemctl move -M mycontainer myservice

To freeze the service on local host and than move it to other host. The same applies to ns

[2015-06-17 14:19] intelfx commented on #213
Ok, then it's a heads-up, `poweroff` and `reboot` may become interactive in the logind path. `telinit [12345squ]` too, as it resolves directly to `start_with_fallback()` or `reload_with_fallback()`.

[2015-06-17 14:24] martinpitt commented on #255
@kaysievers , that indeed looks necessary, but it doesn't seem to be sufficient yet. I'll continue digging.

[2015-06-17 14:24] poettering commented on #257
I'd prefer if seperate issues were filed for each of the issues you point out. But OK.

Regarding your second issue: we just include "system-auth" from that file. Why isn't pam_selinux included in that? Given that selinux is effectively a fedora/redhat-only implementation detail it appears to me we shouldn't mention the PAM module upstream, but rely that "system-auth" includes it.

[2015-06-17 14:31] poettering commented on #257
Please check if #259 fixes the third issue for you.

[2015-06-17 14:32] ghost commented on #257
I believe that you are wrong when you say that SELinux is effectively a Fedora/Redhat only implementation. Just because SELinux is optional with some distributions does not make it any less effective implementation in my view. (Gentoo, Debian, CoreOS to name a few)

The pam_selinux module is not included with the system-auth stack because it would be inappropriate i believe. Not all callers of the

[2015-06-17 14:34] poettering commented on #258
This has been discussed before, but I am not convinced that CRIU is something we want to support natively in nspawn. It makes a promise that is pretty much impossible to keep. Yes, it works in some cases, but it's impossible to guarantee that it works in all cases, and that's just something I have no interest to support.

Sorry.

[2015-06-17 14:34] #258 closed, assigned to nobody

[2015-06-17 14:36] poettering commented on #257
I don't see how it would make sense to run a PAM session without setting up selinux for it. Please get feedback from Daniel Walsh or so about this.

[2015-06-17 14:42] ghost commented on #257
@mgrepl @rhatdan would you be so kind to provide some input here?

[2015-06-17 14:44] ghost commented on #257
As soon as any of these changes land in Fedora Rawhide i will be able to test them and provide feedback.

[2015-06-17 14:51] dkg commented on #230
Is this a duplicate of some other bug report?  if so, which one?

Is it fixed with a specific git commit?  if so, which one?

How is micah supposed to know which patch to urge his distro to backport, since it clearly isn't fixed for him?

[2015-06-17 14:56] martinpitt commented on #255
In any case, using packages built from upstream trunk works fine, so I'll just track down the patches for backporting. Closing this issue as trunk is fixed.

[2015-06-17 14:56] #255 closed, assigned to martinpitt

[2015-06-17 15:13] poettering commented on #252
#260 is merged now. Closing hence.

[2015-06-17 15:13] #252 closed, assigned to nobody

[2015-06-17 15:55] poettering commented on #232
I think we should probably create a call user_get_runtime_dir(uid_t uid, char **ret) in src/basic/login-util.[ch], and then use that in the PAM module and in logind, and then stop reading the /run file from the PAM module. That we make sure both sides use the same logic to come up with the dir, but they will no longer need synchronization.

[2015-06-17 16:02] teg commented on #190
Thanks for testing @Whissi. Could you have another go at it with PR #261? This is a much more minimal fix.

[2015-06-17 16:12] teg commented on #190
Thanks for the comment @poettering, please test with #262 instead.

[2015-06-17 16:15] smcv commented on #232
Do you mean a stateless call that doesn't look at the filesystem, and just returns the equivalent of `printf ("/run/user/" UID_FMT, uid)`? I'd assumed that if it was that simple, you'd already have done it...

I have a patch for the current way of doing it (as described in my most recent comment here) that needs some testing, but is hopefully ready. But I could go for the other approach if desired

[2015-06-17 16:17] smcv commented on #232
One situation where the state-file business could matter is if the way we construct XDG_RUNTIME_DIR changes, and an upgrade results in briefly running a new PAM module against XDG_RUNTIME_DIRs created by an old logind, or an old PAM module (in a long-running daemon) against XDG_RUNTIME_DIRs created by a newly restarted logind. I'd assumed that this sort of concern was why we didn't just do (API ca

[2015-06-17 16:18] poettering commented on #232
Yes!

Well, we didn't have src/basic/login-util.c and hence no nice place to have function to share between the module and logind ;-).

[2015-06-17 16:21] poettering commented on #232
Yupp, that was something I thought, but back when I hacked this up I didn't realize the race you ran into. I think just accepting that upgrades are fucked is nicer in this case then adding more synchronization between the components...

[2015-06-17 16:25] smcv commented on #232
That patch is https://github.com/smcv/systemd/commit/71161305f191d1fe1242ccca47657f9ab51caad4, and seems to work (a test that failed 2/6 times on a 219 derivative without this patch has worked 10/10 times with it).

[2015-06-17 16:29] smcv commented on #232
I'll do a patch for master that adds the function you suggested, and a 219 backport (since that's what I actually need, and it doesn't have src/basic) that just does the equivalent asprintf like https://github.com/smcv/systemd/commit/15b4044a3020bf04869721f53b3e3129b3ebf843 did. It is going to take a little while to get that through continuous integration machinery though.

[2015-06-17 16:32] poettering commented on #232
I like you patch https://github.com/smcv/systemd/commit/71161305f191d1fe1242ccca47657f9ab51caad4 actually better than my idea. If you post a PR for it, I'll merge it.

[2015-06-17 16:37] teg opened #264 "hashmap debugging is not thread-safe"
I hit an assert from time to time when using nss-resolve (from firefox/chrome) with debug hashmap enabled.

Relevant part of the backtrace:
#2  0x00007f24938deecb in log_assert_failed (text=0x7f2493986003 "*_head == _item", file=0x7f2493985e77 "src/basic/hashmap.c", line=864, func=0x7f2493986450 <__PRETTY_FUNCTION__.8891> "hashmap_free_no_clear") at src/basic/log.c:773
#3  0x00007f24938d5b9b in ha

[2015-06-17 16:49] mbiebl opened #266 "syslog.socket in failed state after entering emergency mode"
When entering emergency mode e.g. due to a wrong fstab entry, I get the following log failure for syslog.socket:

[code]

I'm using ForwardToSyslog=yes and rsyslog is installed and configured for socket forwarding mode.

Afaics, syslog.socket is active when emergency.service is activated. This triggers a log message and a start attempt for rsyslog.service. Since this would conflict with the ongoin

[2015-06-17 16:50] smcv commented on #232
#265 is the requested PR. Thank you for not forcing me to do another two rounds of testing :-)

[2015-06-17 17:17] poettering commented on #264
This might be a refocunting problem in nss-resolve rather than an issue in hashmap. We had reports about that before, but I am not sure how to reproduce this

[2015-06-17 18:14] Whissi commented on #190
Tested #262 - works. Thanks!

[2015-06-17 18:14] poettering commented on #175
OK, the interesting thing is this:

Here we see that the two entries are swapped. When the journal interleaves journal files it does this by comparing a couple of ordering parameters. These ordering parameters are all encoded in the cursor string actually, which is shown in the output. The "s=" param of it is a uuid that identifies a sequence number generator. usually, when journald starts it pick

[2015-06-17 18:25] filbranden commented on #175
Ok, then it's probably a race condition issue.

Yeah this is a virtualized environment with a lot of vcpus so I imagine this might be causing these issues.

For the record, I also have issues with `test-barrier` some times though not as frequent as these others. In fact I just had it now:

[code]

I'll try to play with kernel command lines to see if I can get more stable results here. It's fairly

[2015-06-17 18:40] poettering commented on #175
See patch #271, it makes sure the clock increases strictly monotonically. Does that fix things for you? If so, I'll merge the PR.

Please file a seperate bug for the barrier issue. Thanks.

[2015-06-17 19:18] rektide commented on #258
Leaving "some caveats may apply" (applying the halting problem) as a sole reason for not allowing feature work is bunk Lennart. :-1:

Would love to see this incredible range of capabilities enrich the Linux world. If people do adopt it, it's much more likely to get the support it deserves. Getting some systemd integration seems key to that work.

[2015-06-17 19:36] rhatdan commented on #257
@poettering We don't want pam_selinux called for su and sudo, just for initial SELinux login sessions, which is why it is not in system-auth, as I recall.

Not sure what systemd-user or systemd-logind are creating login user processes.  If they are then they should be calling pam_selinux.  If they are called after the login program then they should just continue with the default label.

For the mo

[2015-06-17 19:39] rhatdan commented on #257
Mounting of the tmpfs on  /run probably could be handled using a context mount point rather then a setfscreatecon.

Something like mount -o rootcontext='system_u:object_r:user_tmp_t:s0"  Or whatever the default lable is.

[2015-06-17 20:04] smcv opened #274 "bus-proxyd: please try reading configuration from /usr"
I've merged the dbus branch requested on https://bugs.freedesktop.org/show_bug.cgi?id=89280 which makes files in /etc optional for dbus.daemon: the canonical source of bus setup is now `/usr/share/dbus-1/BUS.conf` where _BUS_ is either `system` or `session` as appropriate. Please load that file if it is present at runtime, falling back to the traditional `/etc/dbus-1/BUS.conf`. Up to you whether t

[2015-06-17 20:07] smcv commented on #274
@xnox, I imagine this is of interest to you.

[2015-06-17 20:18] poettering commented on #162
Hmm, I have no idea what might have caused that. @kaysievers, can you reproduce this at all?

I have now prepped PR #275 with a couple of fixes, which should hopefully make it easier to debug this (since it won't eat up errors anymore and turn them into EINVAL).

Kay, was this a boot-up where maybe /etc/nsswitch.conf was missing or so? (i.e. stateless or so?)

[2015-06-17 20:24] ghost commented on #257
@rhatdan Would the -o rootcontext='' value be customizable by the administrator?

Also have you ever used the systemd-user instance in a meaningful way? I am pretty sure that it's SELinux support is currently very broken.

[2015-06-17 20:28] ghost commented on #257
I have been using pam_selinux for systemd-user for about six months now and i am confident that the systemd-user daemon context needs to be customizable by the administrator. The way to achieve this is through pam_selinux.

If you give me a chance to demonstrate my case then i am confident that i can make the case. At least i think i will be able to demonstrate that it is currently broken.

[2015-06-17 20:31] poettering commented on #264
Ah, my guess is that firefox is simply multitrheaded, but the debug hashmap list keeping is not. Not sure if it is worth fixing that though...

[2015-06-17 20:35] poettering commented on #257
I am happy to take a patch that adds pam_selinux to our PAM snippet. I am not sure I can test this on my own, and I grok selinux too little to write this myself.

@rhatdan note that these are _per-user_ tmpfs instances in /run/user/<user>. Are you suggesting there should be code that reads the appropriate label from the database and then passes it as mount option instead of applying it afterwards?

[2015-06-17 20:37] teg commented on #264
Ah, good point. This is probably worth fixing so that developers can always run with hashmap debugging enabled... Should be straight-forward.

[2015-06-17 20:41] ghost commented on #257
You are making a valid point @poettering. The systemd people do not understand SELinux fully and the SELinux people do not understand systemd fully.

The contexts of the `XDG_RUNTIME_DIR` and of the `systemd user` instance need to be customizable by the administrator. I have been using this for quite some time and I believe i have it right.

I'd be glad to some how demonstrate my point to both sys

[2015-06-17 20:45] poettering commented on #274
OK, prepped a patch to add the new search paths as #276.

[2015-06-17 20:47] poettering commented on #232
Closing, as #265 has been merged. Thanks!

[2015-06-17 20:47] #232 closed, assigned to nobody

[2015-06-17 21:02] filbranden commented on #175
Ok so issue with `test-journal-stream` is fixed by #271, I am now trying a similar fix of saving `previous_ts` and incrementing `ts` if it matches on `test-journal-interleaving`.

Though I wonder if this could cause real problems elsewhere, considering the same timestamp can be returned in two calls in a row... Not sure the code makes different assumptions elsewhere... Though looks like it was onl

[2015-06-17 21:06] poettering commented on #175
OK, posted PR #277 that should fix t-j-i.c for you. Please verify.

[2015-06-17 21:15] poettering commented on #175
But yeah, the test was articial, in real life borked clocks should not fuck up things for us that badly. I mean, the way to read this is that two events happened at the very same time, and hence the order in which they ended up on disk was not defined, but the test case assumed it was defined.

[2015-06-17 21:25] filbranden opened #278 "test-barrier sometimes flaky on a VM with many vcpus (possibly related to crappy clocks)"
This is the same environment where I reproduced #175 in which often two subsequent calls of `test-journal-{stream,interleaving}` would produce the exact same result.

I also have some (less frequent) flakiness with `test-barrier`.

I haven't traced the exact source of the problem but it looks related to alarms triggering at the wrong time.

Sample assertions:

[code]

Or:

[code]

Also:

[code]

A

[2015-06-17 21:27] poettering commented on #278
@dvdhrm any idea?

[2015-06-17 21:53] teg commented on #264
I can confirm that adding locking to the hashmap debugging appears to solve the problem.

[2015-06-17 22:10] ghost commented on #257
A terrible attempt to explain by example some of the issues involved:

https://www.youtube.com/watch?v=1HR-RGFtqTw

The above is not comprehensive! It focuses on identities but identities are just a means to a end. It is important never the less.

[2015-06-17 22:29] poettering commented on #274
OK, closing as #276 has been merged now.

[2015-06-17 22:29] #274 closed, assigned to nobody

[2015-06-17 22:42] kaysievers commented on #162
The log is from the initrd. Let Harald take a look what's going wrong there. It is not release-critical.

[2015-06-17 22:42] poettering commented on #162
Kay just indicated that this is an initrd invocation of tmpfiles. Question hence becomes: why does the initrd include tmpfiles? and if it does that for a good reason, then why does it miss the adm/wheel groups?

I figure this should be reassigned to dracut now. @haraldh can you take this over?

[2015-06-17 23:11] zonque commented on #215
Ok, we're looking at too many unrelated issues here.
1. The `org.freedesktop.systemd1.policy.in` thing is a bug in `intltool-update` that stumbles over files generated during `make distcheck`. Not sure what to do about that, other than disabling this check for now.
2. The error quoted above (`OSError: Error reading file 'man/bootup.xml': failed to load external entity "man/bootup.xml"`) is caused

[2015-06-18 00:38] floppym opened #279 "ppoll called with fds buffer too small file nfds entries"
I'm seeing this warning when building with gcc-5.1.0/glibc-2.20. I'm not sure if it is significant, but I wanted to bring it to your attention.

[code]

[2015-06-18 01:23] crrodriguez commented on #279
This is a compiler bug.. see https://gcc.gnu.org/bugzilla/show_bug.cgi?id=61886 for details.

[2015-06-18 01:36] floppym commented on #279
Thanks.

[2015-06-18 01:36] #279 closed, assigned to nobody

[2015-06-18 03:45] arvidjaar commented on #266
openSUSE is using the same as well, so my only comment would be that it is incomplete. Any other third party unit could have the same behavior.

Can we detect that unit cannot be started due to irreversible transaction and somehow fail gracefully?

[2015-06-18 04:41] lucasdemarchi commented on #203
It's now applied in upstream: https://git.kernel.org/cgit/utils/kernel/kmod/kmod.git/commit/?id=114ec87c85c35a2bd3682f9f891e494127be6fb5

I'm treating this as a bug that should be backported. Are you sure you want to wait for the next release and bump the dependency?

[2015-06-18 06:45] utezduyar commented on #224
Ongoing @ https://github.com/systemd/systemd/pull/280

[2015-06-18 07:27] martinpitt commented on #215
The first patch for 2. ("build-sys: make SOURCE_XML_FILES array relative to $(top_srcdir)") looks good, and it indeed fixes the out-of-tree build.

The second ("prefix man/custom-entities.ent dependency with $(top_srcdir)") doesn't though it breaks a normal out-of-tree build as `man/custom-entities.ent` does not exist in the srcdir; it's a built file, and should never be (and currently isn't) adde

[2015-06-18 07:55] zonque commented on #215
Hmm, so with these changes, we would require the build host to generate `man/systemd.directives.xml` itself and not ship it in the tarball. That means that generating man pages depends on python. Not sure if that's acceptable, but I fail to see any other option right now.

@kaysievers, @poettering - any opinion?
@martinpitt Could you open a PR with the two patches from your tree for easier review?

[2015-06-18 08:14] dvdhrm commented on #278
So I looked through the failing tests and they definitely look fine. However, the barrier tests use alarm() and usleep() with a BASE_TIME value to explicitly test for races. That is, all relative timing events that are tested, are multiples of BASE_TIME. Therefore, increasing BASE_TIME should fix all issues (@filbranden can you verify setting BASE_TIME in test-barrier.c to `USEC_PER_SEC` fixes you

[2015-06-18 08:17] martinpitt commented on #215
We still dist the generated html and .1 manpage, just not the built xml source. So it's rather the other way around -- without python/lxml you don't get correct manpages according to your ./configure, but you get the pre-built ones from the tarball. Which is a reasonable compromise IMHO.

Will open a PR.

[2015-06-18 08:27] dvdhrm commented on #278
Pushed a workaround: fd23f9c9a70e1214507641d327da40d1688b74d7 (commit message explains it in some more detail)

Thanks a lot for the report! I will close this now, as I doubt there's anything we can "fix". If someone wants to port the barrier tests to use explicit synchronization instead of alarm/usleep, go ahead. But I doubt it's worth the effort (I put it on my long-time-TODO, anyway...).

[2015-06-18 08:27] #278 closed, assigned to dvdhrm

[2015-06-18 09:17] ghost commented on #257
Say what you will but at least I am trying: http://doverride.blogspot.nl/2015/06/trying-to-make-case.html

[2015-06-18 09:53] iaguis commented on #207
Fixed by #272. Thanks!

[2015-06-18 09:53] #207 closed, assigned to nobody

[2015-06-18 10:30] mgrepl commented on #257
I understand your points.
- /run/user/<UID> labeling
  Yes it needs to set a context defined by the policy. Just not sure what the best solution is here. So we have "mount option" vs.  "applying it afterwards". I like to use a mount option with a context which matches the policy.
- pam_selinux + systemd --user
  Yes, with the current setup we have it running under wrong SELinux context. What I see

[2015-06-18 10:35] ghost commented on #257
I believe @poettering has the optimal approach here https://github.com/systemd/systemd/pull/259 (provided that the code works, which i will test as soon as it lands in Fedora Rawhide)

It is simple and effective.

The only potential problem might be that there is probably a small time window for a race. Between the time tmpfs in mounted on /run/user/$UID and when lsetfilecon() actually reset the c

[2015-06-18 10:36] vincent-olivert-riera opened #284 "systemd-220 fails to build even using --disable-audit"
Even using the "--disable-audit" option in the configure, the build fails with errors like these:

In file included from src/journal/audit-type.c:31:0:
src/journal/audit_type-to-name.h: In function 'audit_type_to_string':
src/journal/audit_type-to-name.h:23:14: error: 'AUDIT_USER_AUTH' undeclared (first use in this function)
         case AUDIT_USER_AUTH: return "USER_AUTH";

Perhaps some code nee

[2015-06-18 10:46] mgrepl commented on #257
Yeap. I am also fine with #259.

And how does your policy look related to pam+systemd-user? The problem what I see we have a check on /usr/lib/systemd/systemd which is caused by pam_selinux.

[2015-06-18 10:59] ghost commented on #257
@mgrepl my advice to you with regard to adapting the policy, at least initially, is as you state above
1. focus on unconfined users initially, when that works shift focus to confined users. (use rawhide for this testing)
2. simply start by adding pam_selinux to the /etc/pam.d/systemd-user stack. (i am using the nottys option with the pam_selinux module, see man:pam_selinux)
3. edit /etc/selinux/ta

[2015-06-18 11:10] ghost commented on #257
@mgrepl This is what i have for unconfined users:

(optional systemd_optional_unconfineduser
        (call unconfineduser_noatsecure_all_subjects (systemd_t))
        (call unconfineduser_send_sigchld_all_subjects (systemd_t))
        (call unconfineduser_create_keyring_all_subjects (systemd_t))
        (call unconfineduser_shell_exec_manual_subject_type_transition_all_subjects (systemd_t)))

Note

[2015-06-18 11:10] poettering commented on #278
@dvdhrm there are  actually multiple way to get timer events on the process time:

a) RLIMIT_CPU + SIGXCPU. However, it's only precise to one second...

b) setitimer(ITIMER_VIRTUAL, ...)+ SIGVTALRM. That's the API you actually should use.

[2015-06-18 11:20] poettering commented on #257
@mgrepl i either need a patch from you or somebody else for the tmpfs mount option solution, or I can just merge #259. Just let me now which option you prefer!

[2015-06-18 11:35] ghost commented on #257
@mgrepl please just ACK this. It is a relatively small change. We can see in rawhide how it goes (it should not affect anything unless we adjust the security policy to take advantage of this)

[2015-06-18 11:35] mgrepl commented on #257
@doverride I am able to get it working (pam_selinux+systemd-user) but of course with issues which I wrote above. It looks you have a different policy.

$ ls -Z /usr/lib/systemd/systemd

[2015-06-18 11:36] ghost commented on #257
@mgrepl , yes i do have a different policy. For one my systemd_t domain is strictly confined as opposed to your init_t domain which is pretty much unconfined.

[2015-06-18 11:38] mgrepl commented on #257
But you still need to define entrypoint permission for pam_selinux.

[2015-06-18 11:41] ghost commented on #257
@mgrepl Good point. I do not have any unconfined users so you may or may not have identified a bug in my policy :)

[2015-06-18 11:47] ghost commented on #257
@mgrepl oh no, It is fine in my policy. all executable file types are entry points to the unconfineduser_t domain automatically.

`(allow subject_unconfined_subject_type subject_entry_object_type (file (entrypoint)))`

[2015-06-18 11:47] poettering commented on #284
hmm, that's weird. did you change your configuration after untarring the tarbal and still have pre-built audit type list files around or so? the src/journal/audit_type-to-name.h file is normally based on the definitions you have, and hence what is in there should also be declared.

The code was a bit broken though, which i fixed in PR #285, but I doubt that fixes your problem.

[2015-06-18 11:57] mbiebl commented on #284
Isn't this
http://lists.freedesktop.org/archives/systemd-devel/2015-May/032148.html

2015-06-18 13:47 GMT+02:00 Lennart Poettering notifications@github.com:

##

Why is it that all of the instruments seeking intelligent life in the
universe are pointed away from Earth?

[2015-06-18 11:57] mgrepl commented on #257
We removed this functionality in Fedora.

So the problem remains, we would need to allow entrypoint on init_exec_t for userdomains.

[2015-06-18 11:59] vincent-olivert-riera commented on #284
Yes, that's it!

[2015-06-18 12:00] ghost commented on #257
@mgrepl it was implemented differently in Fedora i believe.

In Fedora _all_ file types were entry points to the unconfined_t domain i think. If i am correct this was removed after the setroubleshoot spat.

In my policy this only applies to subject_entry_objects

[2015-06-18 12:01] poettering commented on #284
Closing then.

[2015-06-18 12:01] #284 closed, assigned to nobody

[2015-06-18 12:06] ghost commented on #257
@mgrepl I might be wrong. Anyhow, yes our policies differ. It would not make sense for me to maintain my own policy if our policies were identical or close to identical.

[2015-06-18 12:29] mgrepl commented on #257
@poettering Let me test #259. But it looks fine for me.

[2015-06-18 13:24] vincent-olivert-riera commented on #284
Which commit fixes the problem?

[2015-06-18 14:08] #215 closed, assigned to nobody

[2015-06-18 14:50] dvdhrm commented on #278
Yeah, RLIMIT_CPU is useless.. I need microsecond precision, otherwise it takes ages to run the tests. ITIMER_VIRTUAL is also useless with the current code, as I want time I spend in usleep() to be accounted on the timer (which ITIMER_VIRTUAL does not do). Sure, I can rewrite the code to not do that, but then I can use explicit synchronization right from the beginning,

[2015-06-18 20:05] dvdhrm commented on #264
Fixed.

[2015-06-18 20:05] #264 closed, assigned to dvdhrm

[2015-06-18 20:09] dvdhrm commented on #250
Indeed, that's a leftover. It's multi-threaded now.

[2015-06-18 20:12] dvdhrm commented on #175
Fixed by #277 (and friends).

[2015-06-18 20:12] #175 closed, assigned to nobody

[2015-06-18 20:13] dvdhrm commented on #190
Fixed by #262.

[2015-06-18 20:13] #190 closed, assigned to nobody

[2015-06-18 20:18] dvdhrm commented on #203
I think we should revert the old commit right away. @zonque, any objections?

[2015-06-18 21:45] floppym commented on #284
@vriera it's mentioned in the second reply on that thread: ee3c31bf69746c5afc764c3d0337feec1bf25f0e

[2015-06-19 02:18] archenemies opened #295 "localectl documentation should be more transparent"
Hello! I just installed Arch and it's my first time using systemd. I had a couple of confused moments where I was wondering why /etc/vconsole.conf would periodically change. Also didn't understand how localectl was supposed to be working its magic - was there a daemon? After figuring things out I realized that neither localectl nor "localectl --verbose" (which doesn't exist) nor the localectl man

[2015-06-19 02:30] archenemies opened #296 "udev.conf(5) should explain when udev.conf is read"
I get the impression that /etc/udev/udev.conf is incorporated into a RAM disk which is used during boot-up. In any case, the changes I made to it a few days ago were not recognized until I reinstalled my linux kernel package (Arch distro). Then I rebooted and a bunch of stuff flashed by too quickly for me to read, slowing the boot time to a minute or more. It took a while to figure out what had ha

[2015-06-19 02:47] arvidjaar commented on #296
Whether initrd is using udev, what initrd implementation is used and how to recreate initrd is still largely distro-specific, so I do not think it is possible to describe it in upstream documentation.

[2015-06-19 04:10] filbranden commented on #258
To be fair, CRIU is fairly good at detecting when a checkpoint will fail and it can abort the operation leaving the original processes in place, so it's probably "safer" than you think.

Though I think what might make more sense for systemd is to create a somewhat standard framework around checkpoint/restore/migration and make it extensible such that multiple implementations can be used.

I would

[2015-06-19 11:58] vincent-olivert-riera commented on #284
I already tried that patch and it didn't fix the problem, that's why I asked.

[2015-06-19 12:19] mgrepl commented on #257
@doverride  How do you implement /run/user/<UID> labeling? unconfined_u vs. staff_u for example.

Also do you want to have a different label for root vs. other users?

I see on my VM:

drwx------. 10 mgrepl mgrepl system_u:object_r:user_tmp_t:s0 200 Jun 19 12:17 1000

drwx------. 2 mgrepl mgrepl unconfined_u:object_r:config_home_t:s0  60 Jun 19 13:42 dconf
drwx--x--x. 2 mgrepl mgrepl unconfined_u:

[2015-06-19 12:29] archenemies commented on #296
Suggestion?: "The file /etc/udev/udev.conf is typically incorporated into an initial ram disk image associated with the kernel executable, which will have to be rebuilt in a distribution-specific way before changes can fully take effect."

[2015-06-19 13:18] ghost commented on #257
I would probably extent `genhomedircon()` and use similar mechanism as the one used with the `HOME_DIR` keyword.

Example:

`RUNTIME_DIR/systemd(/.*)? gen_context(system_u:object_r:user_systemd_runtime_t,s0)`

Or something along those lines.

I my case my laptop shell script deals with labeling generation.

But, yes, this change does not force you to take advantage of it. If you want you can just

[2015-06-19 13:26] kaysievers commented on #296
There is no reason to include the file in the initrd. The behavior is controlled with kernel cmdline options. Therfore we do not have to document anything here.

[2015-06-19 13:26] #296 closed, assigned to nobody

[2015-06-19 13:32] ghost commented on #257
I haven' t really thought about `/run/user/0` mainly because I generally do not login as root. I probably would treat it like any other `UID` in this case for compatibility.

[2015-06-19 14:52] qantourisc opened #299 "systemd-networkd segfault with missing bridge module (220-r5)"
If the kernel module bridge is not available and the bridge option is compiled into the kernel (BRIDGE=n)

kernel: systemd-network[11425]: segfault at 7f00eab21c54 ip 00007f00eb66014b sp 00007fff43b4a590 error 7 in systemd-networkd[7f00eb637000+a5000]

lan_bridge.netdev:

[code]

lan_slave_eno1.network:

[code]

[2015-06-19 15:25] ghost commented on #257
@mgrepl The `XDG basedir spec` does not make it any easier, since it leaves room open for interpretation as to whether to use `UID` or names.

In some distributions (Gentoo) name is used (/run/user/joe) as opposed to `UID` (/run/user/1000).

When names are used then the solution for us seems easier. We can just use the existing `USER` keyword and `libsemanage` will take care of the remainder.

The

[2015-06-19 16:23] poettering commented on #299
Any chance you can get us a backtrace for this? For example like the ones systemd-coredump generates and writes to the journal?

[2015-06-19 16:42] poettering commented on #258
Well, if you write software to solve a problem, and give it to people, then they want to rely on the fact that it solves the problem. Modulo some bugs that's the deal. However, CRIU makes a promise to people, that is impossible to keep. Sure, it might be good at saying "I cannot support this case", but what kind of a promise is that? Telling people "hey, look at this shiny thing for you, use it, i

[2015-06-19 16:43] ghost commented on #257
@mgrepl We'll probably work to extent `libsemanage` to introduce handling of `USERID`, then you can just use something like:

`/var/run/user/USERID(/.*)? gen_context(system_u:object_r:user_tmp_t,s0)`

Although then you can probably no longer rely on the substitution in `file_contexts.subs_dist` (if there are any). I am also wondering whether the introduction of `USERID` in `genhomedircon` will be

[2015-06-19 16:52] qantourisc commented on #299
Sure should be possible, don't dig in yet then, will need to get to the machine and do it locally :)

[2015-06-19 17:17] grawity commented on #257
As far as I can remember, the change was meant to make it easier for sssd, rpc.gssd, cifs-upcall to find the user's Kerberos tickets. (They run in a service environment, so they need to hardcode the expected path.)

So, in a sense, `/run/user/$UID` is already in use as an API by other projects, and Gentoo really should follow.

[2015-06-19 19:56] michal-staniszewski opened #300 "systemd and nfsroot"
While starting system from nfsroot is ok (not quite but works), reboot/shutdown hangs the system.
System: OpenSUS 13.1 x86_64
The problem is that systemd shuts down network interfaces after unmounting remote file systems and it breaks root nfs filesystem communication with nfs server which in turn hangs the server.
Is there any workaround to enable proper working with nfsroot?
Regards,
Michal

[2015-06-19 20:53] crrodriguez commented on #300
On Fri, Jun 19, 2015 at 4:56 PM, michal-staniszewski <
notifications@github.com> wrote:

Too old, too much has changed since that time.. please update to 13.2 or
better to tumbleweed..

[2015-06-19 21:03] michal-staniszewski commented on #300
Actually I can't update because of other dependencies.
I don't use dracut but mkinitrd -f nfs
Michal

[2015-06-19 22:19] crrodriguez commented on #300
On Fri, Jun 19, 2015 at 6:03 PM, michal-staniszewski <
notifications@github.com> wrote:

Well..  mkinitrd is nowadays just a wrapper around dracut..unfortunately
13.1 does use the old mkinitrd which is no longer under development.

Anyway, this is not a systemd issue, it is either a bug in the openSUSE NFS
units or a bug in the old mkinitrd, please file a bug report at the
openSUSE bugtracker . Si

[2015-06-20 02:41] floppym commented on #284
That patch affects the files included in the source tarball; if you apply it on top of sources extracted from a source tarball, it will have no effect.

Try removing the relevant files or running make clean.

[2015-06-20 12:22] MikhailKasimov opened #302 "[Feature Request] Add new keys "start-and-enable" and "stop-and-disable" for services"
Nowadays user should type "systemctl start something.service && systemctl enable something.service" to start service and make it enabled with system start. The same case when user stops and makes service disabled. I think the possibility of "systemctl start-and-enable something.service" and "systemctl stop-and-disable something.service" will be more convenient for a user as the _additional keys_ t

[2015-06-20 12:43] #250 closed, assigned to zonque

[2015-06-20 17:38] ronnychevalier commented on #302
Hi,

There is already the --now option.

systemctl --now enable xxx.service
systemctl --now disable xxx.service
systemctl --now mask xxx.service

It will stop or start the service only if disable/enable/mask is successful.

[2015-06-20 17:38] #302 closed, assigned to nobody

[2015-06-20 18:25] qantourisc commented on #299
[code]

Sorry for the late reply, life + fs.suid_dumpable got in the way.

[2015-06-20 19:16] MikhailKasimov opened #305 "Bug 87799 - RFE: OnFailure version which is used when StartLimitBurst= or StartLimitInterval= are hit"
Wanna to duplicate here the bug-report from bugs.freedesktop.org: https://bugs.freedesktop.org/show_bug.cgi?id=87799 , because bugs.freedesktop.org seems to be in limbo.

Does the defined in Bug 87799 problem still actual or already fixed?

[2015-06-20 22:41] geertj opened #306 "missing exports: sd_bus_emit_object_*"
The following two methods are defined in sd-bus.h but are not marked as public nor exported via libsystemd.sym:
- `sd_bus_emit_object_added()`
- `sd_bus_emit_object_removed()`

I assume these are public and that they are missing exports (or are these erroneous declarations in sd-bus.h?)

[2015-06-21 04:50] heftig opened #308 "kdbus breaks session switching"
On a system using kdbus, rootless X (as used by Gnome 3.16) doesn't get the logind signals it needs to handle session switching properly.

While initialization works properly ("took control of session /org/freedesktop/login1/session/c2" et cetera), X seems to receive neither the pause signals ("got pause for X:X") nor the resume signals ("got resume for X:X") that should get emitted by logind when

[2015-06-21 05:22] foutrelis opened #309 "udevd tries to get its cgroup even when PID1 isn't systemd"
In Arch Linux we start an instance of udevd in the initramfs using `/usr/lib/systemd/systemd-udevd --daemon --resolve-names=never`. In this context, udevd's parent process is busybox's ash shell.

Starting with commit c26d1879c72fbaa147c0a82df433f676df139a90 udevd calls `cg_pid_get_path()` and outputs the warning `failed to get cgroup: No such file or directory` (since systemd is not running at th

[2015-06-21 05:55] daurnimator opened #310 "sd_bus_error_set_errno doesn't return 0 on success"
`sd_bus_error_set_errno` currently returns it's argument.
There is no way to know if it failed.

This also applies to the other `sd_bus_error` `errno` functions

[2015-06-21 10:22] elkrejzi opened #311 "systemctl should warn if a unit is asked to be masked but not its triggering units, the same way as we warn if a unit is asked to be stopped but not its triggering units"
When booting with kdbus enabled, I see the following as errors:

Jun 21 11:54:15 krejzi systemd[1]: org.freedesktop.NetworkManager.busname: Bus service dbus-org.freedesktop.NetworkManager.service not loaded, refusing.
Jun 21 11:54:15 krejzi systemd[1]: Failed to listen on DBUS1: org.freedesktop.NetworkManager.
Jun 21 11:54:15 krejzi systemd[1]: fi.epitest.hostap.WPASupplicant.busname: Bus service

[2015-06-21 10:26] zonque commented on #310
That's intentional and similar to what `log_full_errno()` does. The function itself cannot fail, and the way it is implemented allows the call site to return from a function and set the bus error at the same time. See `src/machine/machined-dbus.c` for examples.

[2015-06-21 10:26] #310 closed, assigned to nobody

[2015-06-21 10:27] elkrejzi opened #312 "kdbus doesn't properly handle dbus services providing a same interface"
Lets say I have two packages providing a same D-Bus interface, in my case it's: org.freedesktop.FileManager1.

Yes, I have two file managers installed (and at a time, even more than two).

At login, on a VT or through lightdm, I see a following error in journal:

Jun 21 11:54:23 krejzi systemd[413]: Failed to create /run/user/63/systemd/generator.late/dbus-org.freedesktop.FileManager1.service: Fil

[2015-06-21 10:31] zonque commented on #312
How's that supposed to work in classic D-Bus setups with the daemon in place? Which of the two is started, and how is that decided?

[2015-06-21 10:57] elkrejzi commented on #312
Beats me. Maybe we should ask on the dbus mailing list.

[2015-06-21 11:23] elkrejzi opened #313 "Notification-Daemon service started on kdbus system exits after some time"
Using kdbus and MATE Desktop here. When something tries to use desktop notification service, the notification-daemon is spawned by kdbus and the notification is shown properly. But after some inactivity, the notification-daemon is shut down and the following is seen in journal:

Jun 21 13:15:45 krejzi systemd[445]: Starting DBUS1: org.freedesktop.Notifications...
Jun 21 13:15:45 krejzi systemd[445

[2015-06-21 11:26] grawity commented on #312
As far as I can understand, it would be started manually by the desktop environment... At least that's the case for `org.freedesktop.Notifications`.

Though in that case maybe the DBus service file shouldn't be there at all. It can be pretty annoying when dunst or notify-osd shows up just because gnome-shell took a while to claim the name. Same for file managers I guess.

[2015-06-21 15:20] kaysievers commented on #309
I guess we should suppress the error, it is expected to fail in this setup.

[2015-06-21 15:27] kaysievers commented on #313
"the notification-daemon is shut down" vs. "Notifications.service: Main process exited" does sound like the daemon itself exits or fails. Sure, it might be caused by a bug triggered by kdbus, but it does not sound like a kdbus issue, it for sure does not actively stop anything. Can you try to find out more why it exits/fails?

[2015-06-21 15:33] kaysievers commented on #308
I see the same issue.
(I also can trigger a similar behavior just by using sudo, which starts systemd --user for root)

It does not seem to be related to #307, as it happens when kdbus is running and booted.

[2015-06-21 16:17] elkrejzi commented on #313
Well, I don't know where to start. I already said that using gdb doesn't help.

[2015-06-21 16:24] elkrejzi commented on #313
Here's strace output too. I couldn't figure out anything from it. Maybe one of you guys can:

https://gist.github.com/elkrejzi/1c120668670d9886f441

[2015-06-21 17:16] ghost commented on #257
I tested https://github.com/systemd/systemd/pull/259 with v221/Fedora Rawhide. It is not good enough.

It looks like `lsetfilecon()` behaves like `restorecon` (without `-F`)

We need instead something that behaves like `restorecon -F` so that it also resets the context if only the identity or security level differs.

I am not sure which SELinux interface is suitable for that. It may be `selinux_ls

[2015-06-21 17:57] dvdhrm commented on #308
Indeed, Xorg never gets the ResumeDevice signal, and as such cannot handle key-presses anymore (which prevents session switching).

I suspect this is because ResumeDevice and PauseDevice are directed signals (so unicasts, not broadcasts). This might confuse the bus-proxy..

[2015-06-21 19:00] poettering commented on #310
@daurnimator you invoke sd_bus_error_set_errno() in order to propagate an error to a caller. Now, if that fails, what options do you have? You need to return an error, but you cannot, since the call you wanted to use to return it was the one that failed.

hence, sd_bus_error_set_errno() will never fail: if it can it will return the converted error you passed in, and if it can't (only reason that c

[2015-06-21 22:03] poettering commented on #305
The fdo bugzilla is still open for discussion, but will not accept new bugs to be filed. We decided to not migrate bugs though, and we still work on the ones in fdo bz. Hence let's please continue to track this on fdo bz, I will hence close this bug here now. And no, the issue has not been worked on or fixed, and hence the fdo bz bug should stay open.

[2015-06-21 22:03] #305 closed, assigned to nobody

[2015-06-21 22:06] poettering commented on #300
Yeah, @crrodriguez is right, this is not something to discuss at systemd upstream. We neither have specific nfsroot support (needs to be added by downstream distros), nor is this about any recent systemd version (please only report bugs in very recent systemd versions upstream).

Please file a bug against OpenSUSE instead! Thanks!

[2015-06-21 22:06] #300 closed, assigned to nobody

[2015-06-21 22:07] poettering commented on #299
@teg any idea about this?

[2015-06-21 22:15] poettering commented on #312
@grawity well, activation files are about activation. If you don't need activation, then you shouldn't place any activation files – and even then you can still grab any name you like that the policy allows you to have,

Hence, having 2 activation files for the same name really makes no sense, you certainly shouldn't activate 2 services, and certainly not 0 either in this case. Which means you acti

[2015-06-22 00:41] daurnimator commented on #310
- depending on the error, e.g. `ENOMEM` I can run a garbage collection and try again
- not send the error (sending program has to assume the worst; e.g. they always need to consider that your program segfaulted)

But there are other errors. e.g. https://github.com/systemd/systemd/blob/02e55363f17065375823cc71f73799d0ceb6764c/src/libsystemd/sd-bus/bus-error.c#L446
You can't distinguish if you've ac

[2015-06-22 09:44] smcv commented on #312
What dbus-daemon actually does is to pick one arbitrarily (I think it depends on readdir order) and ignore the other. If there isn't a warning message, I would be happy to review a patch adding one.

I have never seen a particularly good design for "activate the right one chosen from a set of implementations of a well-known name". If someone can suggest one, I'd be happy to review patches to the D

[2015-06-22 09:57] zonque commented on #312
I'm still confused how all that should behave in a deterministic way. @elkrejzi - which of the many file managers is started in your case, and is what happens expected to happen?

I think our safest approximation to dbus-daemon would be to simply bail-out with a warning from the generator in case the file already exists.

[2015-06-22 10:19] dvdhrm commented on #308
Meh.. so the signal is delivered just fine and even routed through bus-proxyd. Our own handlers work fine, gdm-session-wayland works fine, it's just the xserver which somehow doesn't get the signals.

I'll have to dig deeper..

[2015-06-22 10:43] wil93 opened #316 "After resuming from standby, systemd is stuck trying to unmount a disk"
I suspended my laptop while having a USB drive connected, then I disconnected the drive. Later on, I resumed the laptop and (as expected) some apps weren't happy because they were working with some files from that drive.

I tried to unmount using nautilus but it said something like "the drive is busy", I noticed that there was another item named "usb" in the nautilus sidebar so I proceeded to clic

[2015-06-22 10:43] dvdhrm commented on #308
Ok, this is nasty.. CC'ing @smcv and @jwrdegoede for comments.

DBus has this nice feature that you can send signals as unicasts. We use this for systemd-logind as the PauseDevice and ResumeDevice signals should only be directed at the session controller. So far, my knowledge was that all signals are handled the same by dbus-daemon, regardless whether they're unicasts or broadcasts. This is also w

[2015-06-22 10:46] wil93 commented on #316
For what it's worth, this is what I did to work around the issue:

[code]

And then:

[code]

After that, the CPU usage went back to normal and the nautilus sidebar went back to having only one entry of "usb".

[2015-06-22 11:35] elkrejzi commented on #312
I think it's as @grawity already pointed out. Currently, Caja is started by the desktop environment, so no need for auto start by D-Bus. And since it' started, I presume it would register itself as a FileManager on D-Bus, no matter if it previously was or wasn't register. As I said, I don't know D-Bus very well, but it seems that correct File Manager is being utilized (Caja) despite the warning in

[2015-06-22 13:23] ghost commented on #257
@teg @poettering @mgrepl @dwalsh

`label_fix()` is not sufficient in my view. We would probably need something like `label_fix_force()` for this situation. It should look pretty much the same as `label_fix()` i suppose with the exception of `s/lsetfilecon/selinux_lsetfilecon_default`

I haven't tested that theory and practice because systemd 221 does not build on Fedora Rawhide by default. Should

[2015-06-22 13:58] bitstreamout opened #317 "At shutdown: Shells loosing history and group based services killed immediately"
Several users report a similar behaviour.  That is at shutdown it happens very often that the used shell looses its history and sometimes the full history get lost. An other problem which seems also caused by killing immediately are group based services with e service section like

[Service]
Type=simple
User=java
Group=users
ExecStart=/usr/bin/java_app

after debugging the commit 743970d2ea6d08aa7

[2015-06-22 13:59] michich commented on #317
Correct RH BZ link: https://bugzilla.redhat.com/show_bug.cgi?id=1141137

[2015-06-22 14:33] bitstreamout commented on #317
Thanks for spotting!

[2015-06-22 14:45] teg commented on #257
@doverride I don't really know this stuff very well, care to explain why label_fix() is not sufficient?

[2015-06-22 14:56] ghost commented on #257
`label_fix()` `(lsetfilecon())` only resets the security context specified by the security policy _if_ the type identifier of the target object differs from what is specified by the security policy.

A security context is made up of various identifiers delimited by `:`, and not just a type identifier. The `identity` and `security level` identifiers are meant to be "variable". This means that they

[2015-06-22 16:05] tixxdz opened #321 "machined should allow dynamic allocation of transient UID ranges for userns support in container managers such as nspawn"
This issue is to discuss how UIDs and ranges should be handled in machined.
## Problem

Our primary use case is related to rkt container and the "Investigating user namespaces" issue https://github.com/coreos/rkt/issues/986 . In rkt container we need:
- A way to get usable UIDs and ranges for the user namespace
- A locking mechanism to make sure that the UIDs will not overlap within multiple conta

[2015-06-22 17:01] alban commented on #321
Thanks. Just posting some thoughts and questions:

What happens if machined is restarted? Does it need to serialise the current state into a file and unserialise it on start?

What if the container manager (nspawn) crashed or is killed? Should machined monitor nspawn's D-Bus  name and release the UID allocation when the D-Bus name disappears?

Is `name` an arbitrary token chosen by the caller or t

[2015-06-22 19:34] poettering commented on #321
I am not entirely sure I grok fully what is being proposed here. But: I am strongly against persisting UID allocations with machined. If you want to persist the uids, then do that externally, but I am pretty sure machined should consider all allocations made through it fully dynamic and transient (i.e. non-persistant),

I am also very sure we should try to avoid explicitly registering allocations

[2015-06-22 19:43] poettering commented on #321
To say this explicitly: if you want to deliver uid namespacing with rkt now, then this means you cannot use fully dynamic, non-persistant uid range allocations, since you need to uid-shift the container tree on disk, and cannot apply this via some special bind mount. And that means machined is not the place to allocate the uids with. Instead, just declare some high uid range as private property of

[2015-06-22 19:55] smcv commented on #308
There are two reasons you might not get a message on D-Bus:
- because it isn't directed to you and you aren't matching it
- because the security policy says you shouldn't

They are orthogonal.

Signals are not special for the first reason. The only distinction is between unicast messages to you (you get them), unicast messages to others (you don't get them unless you eavesdrop), and broadcast mess

[2015-06-22 20:03] smcv commented on #312
I don't think D-Bus service activation is a suitable technology for implementation-agnostic names, like the o.fd.FileManager name that is shared between Nautilus, Caja and similar file managers, or the o.fd.Notifications name that is shared between notification-daemon, gnome-shell and similar notification providers, and so on.

GNOME Shell is _not_ D-Bus-activatable under the o.fd.Notifications na

[2015-06-22 20:07] dvdhrm commented on #308
@smcv But how is a client supposed to verify the sender of a message? dbus-daemon just passes the unique-name, but this might change due to activation. So to be safe, the client has to subscribe to `NameOwnerChanged` _and_ to the signal _without_ a `sender` match. It cannot match on `sender` as it would be racy, otherwise.

Btw., I think gdbus is still susceptible to spoofing. In the proxy, this i

[2015-06-22 20:32] poettering commented on #309
Closing, because #319 was merged.

[2015-06-22 20:32] #309 closed, assigned to nobody

[2015-06-22 20:37] smcv commented on #308
Yes.

[2015-06-22 20:46] poettering commented on #317
@bitstreamout hmm, there's some confusion here. Commit 743970d is only relevant for units for which no main/control PID is known. That's only scope units, and service units that use Type=forking without PIDFile= and without GuessMainPID=, or where guessing the main PID fails. In your example service snippet this hence does _not_ apply, because it uses Type=simple where the main PID is always known

[2015-06-22 20:47] #306 closed, assigned to nobody

[2015-06-22 20:48] poettering commented on #316
Which systemd version is this? Is that an issue with v221?

[2015-06-22 20:51] wil93 commented on #316
It's 219. I'll try to see if I can try with 221...

[2015-06-22 20:56] smcv commented on #308
Note that I did not design D-Bus, I'm only relating how it has always worked, as far as I understand it as a current maintainer. Several things in D-Bus might be different if we had a time machine and could go back and argue with Havoc a decade ago.

The conceptual model is that match rules are only ever an optimization. Conceptually, a broadcast is received by every process on the bus; but that w

[2015-06-22 20:56] poettering commented on #310
Well, but that's a programming error, not a runtime error. We generally check for programming errors with assert_return(), so that they are logged loudly. It's really nothing I'd care too much about, because assert_return() errors should never happen when the library is used properly.

The focus in sd-bus is on making things nice to use from C, but only secondarily to make things wrappable (under

[2015-06-22 21:06] darlingm opened #323 "Systemd won't boot from compressed btrfs"
Using btrfs option compress=lzo, for example.

[2015-06-22 21:10] poettering commented on #323
This report is useless the way it is.

How about telling what precisely the error is, and why you believe this has anything to do with systemd. Also, let us know which distro you are using, and which systemd version. Whether you use an initrd, and which one.

Without this information we really cannot help you.

[2015-06-22 21:32] darlingm commented on #323
I left it quite basic, because it was my understanding booting from a compressed btrfs volume was planned to be added to systemd as a feature, but never was.  Should systemd support operating this way?

[2015-06-22 21:38] poettering commented on #323
whether a btrfs volume uses compression or not is pretty much irrelevant to systemd, it's something between the kernel, the bytes on disk and the user, but systemd doesn't really care.

[2015-06-22 21:38] #323 closed, assigned to nobody

[2015-06-22 21:57] mgrepl commented on #257
@doverride Are you sure you have correctly defined labeling for /run/user/<UID>? What does matchpathcon say? There is selabel_lookup_raw() which should return a correct label which is passed to lsetfilecon().

[2015-06-22 22:32] alban commented on #321
@poettering That's less interaction between components. It can make this simpler in the end! So I am ok with that :) But I thought that was your idea to allocate uids in machined?

Ok, let's see if the following looks ok as well:

Let's say rkt gives 65536 uids for each container. And rkt allows up to 8192 simultaneously running containers (made up number for the example).

So that's 65536*8192 =

[2015-06-22 22:39] filbranden commented on #321
It's actually 12.5% of the 32-bit range (65536 \* 8192 / 4294967296 [2^32] = 0.125), but that still sounds reasonable to me (it's not like you'll have more than 7 container managers reserving more than that range of uids each.)

[2015-06-22 23:03] daurnimator commented on #310
It still means that improper use can't be detected...

Indeed, that would be good to document; that would solve the issue short term.

---

I don't love the solution though. Why couldn't you stick with the nice general policy in the rest of libsystemd that everything returns < 0 on failure?
The "nice to use from C" could easily be implemented as a higher level function/macro on top.

[2015-06-22 23:10] crrodriguez commented on #323
This is not a systemd problem.. your initrd probably lacks of the required compression kernel modules. It is entirely a kernel setup problem.
ps: it works, the laptop I'm writting this message from boots from lzo compressed rootfs.

[2015-06-22 23:22] poettering commented on #321
@alban yes, i want dynamic uid allocation in machined, but only for non-persistent allocation. persistent allocation i think is out-of-focus.

I really wouldn't bother /etc/subuid. It's  Debian-specific thing. I mean, the first column is "login name"... what's that even supposed to mean in the context of a uid-range? This is just weird...

I'd much rather make sure that NSS always reports the UIDs

[2015-06-22 23:24] poettering commented on #321
Or to say this clearly: when i add dynamic uid allocation stuff to machined (for the non-persistent case, which I'll only do after the kernel learnt per-bind-mount uid-shifting options), then i will certainly not touch /etc/subuid, and not check it either. Instead, I'll just do NSS lookups and make sure the allocated uids show up in NSS.

[2015-06-23 02:54] jernst opened #325 "machinectl copy-to should understand relative path arguments"
Apparently, currently only this works:

[code]

In analogy to `cp`, the current working directory (at least on the source) and a destination ending in a directory should also be supported, e.g.

[code]

[2015-06-23 05:54] utezduyar commented on #224
Implementation detail as @poettering explained on https://github.com/systemd/systemd/pull/280:

@utezduyar hmm, that makes sense actually, maybe we should ensure indeed that if an sd_bus_error structure is passed it carries useful data on error afterwards. Because right now we only pass server errors back like that, but never local errors.

Yeah, I think I agree. So I figure we should add some hel

[2015-06-23 06:19] ghost commented on #257
@mgrepl yes I am pretty sure. matchpathcon returns the proper context. It is just not being applied by systemd-logind

We need to make sure that all security identifiers are reset on $XDG_RUNTIME_DIR, and not just the type identifier.

[2015-06-23 07:25] dvdhrm commented on #308
@smcv I'd be willing to review send_broadcast= extensions to send and recv. I looked at the code briefly, but wasn't sure whether this needs to be a tri-state for backwards compat. I mean, we cannot suddenly make the default "false" and no longer match on broadcasts? Ideas? So we'd need something like "send_broadcast=any" or so.

I'm looking into it right now, but if you can come up with an implem

[2015-06-23 07:37] bitstreamout commented on #317
I do not have the customers service unit here. I know that this java which is started by a bash wrapper script has its own sub processes. Maybe here pam drops in. Nevertheless the customer reports that reverting the specific commit 743970d2ea6d08aa7c7bff8220f6b7702f2b1db7 does solve his problem. The problem of loosing the shell history I see my self every now and then on all systems at reboot.

[2015-06-23 08:58] utezduyar opened #327 "Document that sd_unref() does not necessarily free a "default" bus, even if no part of the program explicitly refs it, due to queued messages"
I stumbled on a memory leakage while integrating gmain with sd-bus but I think the problem can happen without gmain. The problem is due to the fact that we do not know if sd-bus is busy when we are disconnecting from the sd-event.

[code]

One propose I have is calling a callback function when we are about to cleanup the sd-bus. In fact maybe similar callback function when we are about to clean up

[2015-06-23 11:18] qantourisc opened #329 "RFE: Allow cpu.rt_runtime_us to be set"
As far as I understand it's just not supported. If correct, just close this ticket.
I mainly created this as a form of documentation/format statement for other people running into this issue.

Possible workaround for those affected:
- echo 950000 > /sys/fs/cgroup/cpu,cpuacct/system.slice/cpu.rt_runtime_us (or user.slice depending upon)
- Get a kernel without CONFIG_RT_GROUP_SCHED

For people affec

[2015-06-23 11:27] gmacario opened #330 "systemd-bootchart: The .SVG is truncated if --per-cpu is used"
If `systemd-bootchart` is run using the `--per-cpu` option on a multi-cpu host, the resulting .svg file when displayed on a browser is truncated at the end and does not show all the processes.

[2015-06-23 11:40] xnox commented on #274
+1 thank you everyone.

[2015-06-23 11:41] xnox commented on #330
I have a patch for this in clear linux. Let me push this.

[2015-06-23 11:49] zonque commented on #330
@xnox, thanks! Does that solve your issue, @gmacario?

[2015-06-23 12:15] poettering commented on #329
I am not sure this can be supported in any sane way since the propagation and summing rules are so weird. I generally encourage everyone to disable rt group scheduling in the kerbel these days.

[2015-06-23 13:57] gmacario commented on #330
@zonque: Yes - apart the additional fix for small scales which I would suggest to leave as a separate PR since it does not work properly in my configuration.

Please see my comment in https://github.com/systemd/systemd/pull/332

[2015-06-23 14:37] #330 closed, assigned to nobody

[2015-06-23 14:52] grawity opened #337 "container devpts is broken with modern guest distros"
For some distributions, commit 03cfe0d51499e86b1573d121337594719d9f2012 appears to have completely broken pty allocation for non-root processes; I've seen this reported on IRC several times.

In the past, a new pty would be initially owned by root, and glibc would call the `/usr/lib/pt_chown` setuid helper to change ownership to the caller's UID. But devpts already creates ptys owned by the correc

[2015-06-23 15:56] foutrelis opened #340 "Autosuspend incorrecty enabled for USB keyboards"
After moving systemd 221 to Arch's stable repos (previously provided systemd v219), we are seeing reports that USB keyboards do not behave as expected. This seems to be caused by a power management change in commit 64713f92528e8443b7ff2ce3ec0394920a751fb1.

So far, problems have been reported for the following keyboard models:
- Ryos MK Pro: Backlight turing off after about 5 seconds of inactivity

[2015-06-23 16:08] martinpitt commented on #340
Thanks for digging this out! I thought my Kinesis keyboard got broken and ordered a new one, only to find out that the new one doesn't work as well. I'm not sure whether we should start collecting a blacklist of keyboards which don't work with USB autosuspend, or rather a whitelist? Or revert this wholesale?

[2015-06-23 16:38] foutrelis commented on #340
Perhaps @mjg59 can suggest what the proper course of action might be (as the author of commit 64713f92528e8443b7ff2ce3ec0394920a751fb1).

[2015-06-23 17:13] gmacario opened #341 "systemd-bootchart: IO and CPU utilization graph have no data"
Release v220 of systemd-bootchart does not properly display contents inside the following panels
- IO utilization  - read
- IO utilization - write
- CPU[overall] utilization
- CPU[overall] wait

v219 worked fine.

[2015-06-23 17:16] gmacario commented on #341
I did some "git bisect" and if I am not mistaken it looks like the bug was introduced by commit 1f2ecb0393bf071fcd476300e0b3f94726b01b15 by @zonque:

The previous commit affecting src/bootchart

seems to behave correctly.

[2015-06-23 17:21] gmacario commented on #341
I added some debugging messages inside `src/bootchart/svg.c`, function `static void svg_cpu_bar`, and it looks like that the loop inside `LIST_FOREACH_BEFORE(link, sampledata, head)` is never executed.

[2015-06-23 17:29] wuxb45 commented on #340
@foutrelis The problem of Kinesis keyboards is fixed after reverting the commit. Thanks.

[2015-06-23 17:48] wil93 commented on #316
It's probably worth noting that I had `RateLimitBurst=0` in journald.conf

I'm now installing 221

[2015-06-23 17:49] zonque commented on #341
Ops, sorry about that. I did a number of basic tests for obvious regressions back then, but didn't spot anything. But admittedly, I'm not a heavy user of this tool myself.

Could you spot what exactly is needed to fix the code and bring the original behavior back? Happy to take a patch. I'll also look for a solution myself, but that might not be immediate.

[2015-06-23 19:58] jernst opened #342 "FallbackDNS merges instead of replaces"
In `/etc/systemd/resolved.conf`, if I set this:

[code]

the resulting `/etc/resolv.conf` contains my entry, plus the previous (default) settings, in apparently random order.

[code]

This merge contradicts the man page, which states:

[code]

[2015-06-23 19:58] jernst opened #343 "Random order of nameserver entries in /run/systemd/resolve/resolv.conf"
We might be able to debate whether this is a bug or a feature, but for me it is a bug, so I file it.

Without further settings, `/run/systemd/resolve/resolv.conf` contains these settings in apparently random order. I don't know what causes the reordering, but every time I look, the order seems to be different:

[code]

I'm using this on an ipv4-only network, which means that half of the time, name

[2015-06-23 20:59] MikhailKasimov opened #344 "[journald, feature request] Add ForwardToRemoteSyslog=no|host:port directive"
I've pratical task to forward logs from systemd-based linux (OpenSUSE 13.2, systemd-210) to _remote_ syslog-server (FreeBSD), which forwards it to Zabbix. But there is a problem -  ForwardToSyslog=yes|no option in /etc/systemd/journald.conf forwards logs to installed (r-)syslog(-ng) locally. This means that I have to install (r-)syslog(-ng) in parallel to journald and then forward logs to remote (

[2015-06-23 21:00] xemul commented on #258
Not trying to change your mind, just want to point out things you're misleading people.

First, containers are lightweight, yes, but not the software that runs inside. If you compare the start time versus the restore time for some apps (regardless of where it runs -- in our out of container) the difference can come up to several times. This makes sense for some scenarios and, btw, socket activatio

[2015-06-23 21:07] nfnty opened #345 "Static DHCP client identifier"
The last three updates (218->219->221) have changed the DHCP client identifier causing the DHCP server to lease new IP addresses.

Is there a reasoning behind this? Is it possible to force networkd to use a manually set static client identifier?

Similar issue: https://github.com/coreos/bugs/issues/360

[2015-06-23 23:24] poettering commented on #343
Which systemd version are you using? You are probably using 219 and are thus missing 822db23cfa98a9fbc48f41e11caafb6f1017e052. Please uprade to 220 at least.

[2015-06-23 23:48] kaysievers commented on #344
I have no idea what systemd-logger is and why it conflicts with rsyslog. Care to explain what is causing the issue on SUSE?

[2015-06-24 00:16] kaysievers commented on #344
Seems that is just a SUSE dummy package. Whatever problem they try to solve with that package, I expect you can safely remove it. I am only guessing, better check if the installed package contains any files, I don't see any.

%package logger
Summary:        Journal only logging
Conflicts:      otherproviders(syslog)

%description logger
This package marks the installation to not use syslog but onl

[2015-06-24 00:17] #344 closed, assigned to nobody

[2015-06-24 02:10] gregkh commented on #340
We can not do autosuspend by default for keyboards, we have to have a whitelist.  That's what another major operating system does because keyboards are broken in this aspect.

[2015-06-24 02:29] jamespharvey20 commented on #317
Should 743970d be reverted until it can come back simultaneously with the "right fix" porting systemd to the unified cgroup logic?

Debian did so at http://anonscm.debian.org/cgit/pkg-systemd/systemd.git/commit/?id=00aaecd71
Ubuntu did so at https://lists.ubuntu.com/archives/vivid-changes/2015-May/008558.html
Looks like RedHat may be doing so soon, at https://bugzilla.redhat.com/show_bug.cgi?id=11

[2015-06-24 02:46] jamespharvey20 commented on #309
Just installed arch on a new machine a few hours ago, which included core/systemd 221-1, which was released to the arch core repository 29 hours ago. (Well before I installed on the new machine.) The package an hour before it was released to core cherry-picked the warning suppression commit. See all this at https://projects.archlinux.org/svntogit/packages.git/log/?h=packages/systemd

Upon boot, I

[2015-06-24 02:47] jamespharvey20 opened #351 "when systemd-shutdown is called twice on shutdowm, we trigger kernel cgroupfs remount warnings when handling /oldroot"
Using systemd arch 221-1.

I am guessing this is similar to Issue #309, needing a suppression somewhere.

After "Reached target Shutdown.", the message appears: 'cgroup: option or name mismatch, new: 0x0 "", old: 0x4 "systemd"'

[2015-06-24 02:56] foutrelis commented on #309
We did cherry-pick the fix in `/trunk` but didn't push a new package because the error is harmless. (See the `upgpkg: systemd 221-1` commit that indicates what changes are included in the current package.)

[2015-06-24 03:16] jamespharvey20 commented on #351
foutrelis explained on issue #309 that I don't have the patch for suppressing the message on boot, like I thought I did.  I can't say, then, whether this issue is already fixed by the same patch or if it requires another one.

[2015-06-24 03:17] jamespharvey20 commented on #309
Ahh, I see.  Sorry about that!  New to Arch.  Misunderstood how the page I linked to worked.  I'm not running #319, like I thought I was.  Now I'm confused, but I'll take that to the Arch packages forum.

[2015-06-24 11:08] hwinkel commented on #344
there was already a patch  for remote syslog forward and a activity to have a syslog forward daemon.

[2015-06-24 11:24] kaysievers commented on #344
@hwinkel, we decided against any native syslog support. There will be no such tool in systemd, it can be provided by a different project though.

[2015-06-24 11:40] kaysievers commented on #340
Let's remove all the rules. They caused more problems than they ever solved. Things should be sorted out in the kernel, or if impossible, someone should start a project maintaining such a whitelist. It is not udev's job.

  https://github.com/systemd/systemd/pull/353

[2015-06-24 11:58] eworm-de opened #354 "kdbus breaks avahi-client service browser"
Booting a system with kdbus enabled breaks avahi-client service browser. Even the example code from avahi upstream repository ([client-browse-services.c](http://git.0pointer.net/avahi.git/plain/examples/client-browse-services.c)) does not find any services. The callback functions are not called, no idea what goes wrong.

[2015-06-24 12:06] dvdhrm commented on #351
This is known, and is due to the re-mounting during shutdown. It's harmless and can be ignored. But maybe we should try using the correct cgroup-tree name during remounts (which might be non-trivial, though).

[2015-06-24 12:12] dvdhrm commented on #308
Hans kindly picked up my xorg patch and sent a pull-request (including some more fixes) to Keith. This should show up in the next xorg-release, and will probably also be backported. Distributions might want to pick these fixes up themselves, if interested.

http://lists.x.org/archives/xorg-devel/2015-June/046718.html

Closing now, as the kdbus issue is fixed.

[2015-06-24 12:12] #308 closed, assigned to dvdhrm

[2015-06-24 12:14] dvdhrm commented on #311
Sounds valid to me. Might not be easy to implement, though. These busname units are generated during boot and as such are not handled special by pid1. We want this error for real busname units, but for fallbacks we want warnings. Hmm, maybe @poettering has an idea.

[2015-06-24 12:19] grossws commented on #340
Have same problem on Kinesis Advantage and Das Keyboard Professional keyboards on ArchLinux after upgrading systemd parts from 219 to 221.

[2015-06-24 12:27] dvdhrm commented on #313
It looks like this is the expected behavior. See this:

https://github.com/mate-desktop/mate-notification-daemon/blob/master/src/daemon/daemon.c#L178

The mate-notification-daemon exits if there's no activity for some time. However, it exits with error-code "1" instead of success "0". Maybe you want to file an upstream bug-report? The original gnome source does not show this behavior.

Not sure wh

[2015-06-24 12:32] dvdhrm commented on #354
I suspect this is the bus-proxyd+policy that fails here. I don't have any mdns services on my network, any simple way to reproduce this?

[2015-06-24 12:52] eworm-de commented on #354
Download and compile the example code. Even if no services are available it should print:

[code]

Just tested on a system disconnected from network.
But browse_callback() is never called.

[2015-06-24 12:56] poettering commented on #351
@dvdhrm remounting during shutdown? hmm, where?

[2015-06-24 12:59] dvdhrm commented on #351
@poettering I mentioned this warning once to you. I think it was related to re-mounting it read-only (which we do generically on all mount-points during shutdown?).

Maybe this is even unrelated to systemd and just the initrd that does it (which is _not_ dracut on Arch, which is the machine in question here).

[2015-06-24 12:59] dvdhrm commented on #351
The origin of this warning is the kernel btw. It prints it if you re-mount a cgroupfs hierarchy but don't specify "name=foobar" again.

[2015-06-24 13:00] poettering commented on #337
So this would mean we'd have to drop the uid= mount option and instead chown() the ptmx file in it manually... Yuck.

[2015-06-24 13:01] poettering commented on #351
I figure we should just leave our fingers off /sys/fs/cgroups when remounting everything read-only at shutdown... that should be an easy fix...

[2015-06-24 13:03] dvdhrm commented on #351
According to the kernel-source, it should be enought to just not specify "name=" at all. It seems we currently pass an empty string?

[2015-06-24 13:03] poettering commented on #342
Which systemd version is this? can you retry this with v221? And then, could you provide the output of "networkctl status -a", of "networkctl status", tell is whether /etc/resolv.conf is a symlink and where it points. And if it's not a symlink what the contents of the file is.

[2015-06-24 13:05] poettering commented on #317
@bitstreamout PAM has no place in starting services, that should really be fixed. The PAM session logic should be used for user sessions, but not for running arbitrary system processes.

[2015-06-24 13:19] poettering commented on #310
Well, it can, it's logged.

I added documentation for this behaviour in #348.

Well, we try to stay uniform for calls that generate errors, but these are calls that process errors, and special rules hence apply.

I can see that this isn't nice, but I still sure that easy-of-use should sometimes trump uniformity...

[2015-06-24 13:40] Snorch opened #357 "bind mount on mounted device is immediately unmounted by systemd"
One cannot bind-mount anything on loop device.

systemd-219-18.fc22.x86_64

How reproducible:

100%

Steps to Reproduce:
1. Setup loop device
   dd if=/dev/zero of=~/test.bin count=1000k
   losetup /dev/loop0 test.bin
   cfdisk /dev/loop0 # choose: new, primary, write, yes, quit
   mkfs.ext2 /dev/loop0
2. Mount it
   mount /dev/loop0 /mnt/
3. Test
   cd /mnt; mkdir a b; touch a/test; mount --bind

[2015-06-24 13:42] poettering commented on #357
Fixed in v220 and newer. Please update.

We don't track bugs in older and downstream packages upstream. Sorry!

[2015-06-24 13:42] #357 closed, assigned to nobody

[2015-06-24 14:12] Snorch commented on #357
git describe  fcd8b266edf0df2b85079fcf7b099cd4028740e6 --contains
v220~58
git describe  394763f63c1941cafd9d3bf81e8151a2206474a7 --contains
v220~50

Those patches I tested and which don't solve my issue are in v220, and they were as far as I understand intended to fix this problem. Would you be so kind to say if there are some other patches in v220 connected to this problem?

[2015-06-24 14:26] kaysievers commented on #354
This is on kdbus:

$ avahi-discover
Browsing domain 'local' on -1.-1 ...
Browsing for services of type '_http._tcp' in domain 'local' on 4.0 ...
Browsing for services of type '_JB2XiOSApp._tcp' in domain 'local' on 4.0 ...
Browsing for services of type '_raop._tcp' in domain 'local' on 4.0 ...
Browsing for services of type '_spotify-connect._tcp' in domain 'local' on 4.0 ...
Found service 'GALACTI

[2015-06-24 14:31] grawity commented on #354
Isn't this the same unicast-signal issue as in #308?

[2015-06-24 14:32] eworm-de commented on #354
But avahi-discover is python, no?

[2015-06-24 14:36] dvdhrm commented on #354
@grawity I'd assume that avahi installs matches just fine. If not, it needs to be fixed. What exactly are you referring to?

@eworm-de Why does it matter whether it is python or not? If you run "avahi-discover", it doesn't show anything?

[2015-06-24 14:44] dvdhrm commented on #351
systemd seems to skip cgroup during shutdown. I cannot see any code that remounts it RO but passes flags. Hence, the warning should not appear. I also cannot see where initcpio in Arch does this.

No idea where that warning originates..

[2015-06-24 14:46] eworm-de commented on #354
avahi-discover shows at least some services, though it throws exceptions:

[code]

The example C code using avahi-client library does not show anything at all.

[2015-06-24 17:53] sschindler89 opened #359 "journalctl doesn't follow directories properly"
If you follow a directory via

[code]

which contains journal files from different sources (I use a tool which uses systemd-journal-remote to create remote logs), one source tends to "overshadow" the others in the journalctl view. Meaning: the logs of the other sources do not appear in the journalctl unless you filter directly to those messages (for example via the machine-id of one overshadowed s

[2015-06-24 18:02] hwinkel commented on #359
which systemd version you use?

[2015-06-24 19:40] foutrelis opened #360 "logind: system sleep request always exhausts the full timeout"
Starting with commit c0f32805086ff65d2905b0e3a9166d9ed6c2bc41, if there is an inhibitor lock of type "delay" (such as the one created by NetworkManager), logind will wait `InhibitDelayMaxSec` seconds before executing the requested operation.

Please note that NetworkManager's inhibitor lock disappears from `systemd-inhibit --list` right as I issue the `systemctl suspend` command. logind should be

[2015-06-24 20:00] poettering commented on #360
cc @zonque

[2015-06-24 20:21] jernst commented on #342
This is v219 inside a spawn'ed container called `depot` on a host running v221 (which in turn runs on VirtualBox on a Mac, using one bridged (UP) and one NAT'd (currently DOWN) virtual network adapter).

Added: behavior with v211 seems to be the same.

[code]

[code]

[code]

[code]

[code]

[2015-06-24 20:27] jernst commented on #343
Ah. Thanks.

[2015-06-24 20:27] #343 closed, assigned to nobody

[2015-06-25 02:46] crrodriguez opened #361 "bus-proxy: Unknown attribute log= at /etc/dbus-1/system.conf:51, ignoring."
line 51 says:

[code]

[2015-06-25 07:42] sschindler89 commented on #359
I am running systemd 220.

[2015-06-25 08:39] bitstreamout commented on #317
I'm aware but this is a foreign bash wrapper script I've never seen and AFAIK it is not documented that command like su/sudo or any other pam based tools should be avoided.  On the other hand old SysVinit boot scripts had used su/sudo to switch user and group and if a third party vendor ports his complex scripts to systemd it might be that such a script becomes a wrapper script.

[2015-06-25 08:45] bitstreamout commented on #317
Btw: How difficult it would become to detect in login/pam_systemd.c that it is within the chain of a service unit for boot  instead of systemd login manager? For compatibility with SysV ;^)

[2015-06-25 11:02] kaysievers commented on #361
Seems, it should be added like the other unsupported things:
https://github.com/systemd/systemd/blob/master/src/bus-proxyd/bus-xml-policy.c#L304

[2015-06-25 11:11] sschindler89 commented on #359
I also was able to reproduce this with systemd 221

[2015-06-25 11:48] elkrejzi commented on #313
@dvdhrm Thank you for investigating this. I've filled a bug against mate-notification-daemon.

As for why I only experience it with kdbus:

It might be the same with dbus-daemon, except that it doesn't track exit-status or report failures-on-exit. Amazing how using kdbus reveals some outstanding issues.

[2015-06-25 11:49] dvdhrm commented on #313
Indeed, that might be the case here. It's now tracked by pid1.
I'll close this bug now. Feel free to re-open if something shows up again (and feel free to keep me on CC for the mate bug).

Thanks for the report!

[2015-06-25 11:50] #313 closed, assigned to dvdhrm

[2015-06-25 12:36] #361 closed, assigned to zonque

[2015-06-25 13:25] gmacario commented on #341
I did some inspection of https://github.com/systemd/systemd/commit/1f2ecb0393bf071fcd476300e0b3f94726b01b15 but still could not find the exact root cause.
I suspect some side effect due to replacing global variables with local vars.

Will be happy to provide one, too :-)

Unfortunately as the project I am currently working on is still on a pre-v220 systemd, at the moment the bug is not (yet) hunti

[2015-06-25 14:40] xnox opened #369 "semaphore setup should be verbose"
Could V=1 be please passed to distcheck command in semaphore?

Such that test failures output log on the stdout with information about failures:

E.g. cause otherwise
https://semaphoreci.com/systemd/systemd/branches/pull-request-368/builds/1

is not very useful, as one cannot in fact poke ./test-suite.log

[2015-06-25 14:54] zonque commented on #369
Done.

Also, I disabled the llvm/clang test for now, as we've gotten too many false positives build failures.

[2015-06-25 14:54] #369 closed, assigned to nobody

[2015-06-25 15:17] gmacario commented on #139
Fix via https://github.com/systemd/systemd/commit/9674f042b2bcbdd61d294e40b36d86f2dacd0914

[2015-06-25 15:17] #139 closed, assigned to nobody

[2015-06-25 15:21] zonque commented on #360
Does zonque@418b22b fix the issue for you?

[2015-06-25 16:50] aburch opened #376 "machined thinks all machines terminate on "systemctl daemon-reload""
This applies at least to machines started via `systemd-nspawn` / `machinectl start`.

Executing `systemctl daemon-reload` results in `systemd-machined` believing the machine terminated, even though it's still running:

[code]

I guess this happens due to the `UnitRemoved` signals emitted by systemd. `match_unit_removed` in `src/machine/machined-dbus.c` then releases the machine even though the uni

[2015-06-25 17:26] foutrelis commented on #360
Yes, with your patch the system goes to sleep almost instantly.

I also tested while running `systemd-inhibit --what sleep --mode delay sleep 1000` in another terminal and it correctly waits `InhibitDelayMaxSec` before suspending the machine.

[2015-06-25 17:36] zonque commented on #360
Nice, thanks. I'll send a pull request then.

[2015-06-25 19:10] utezduyar commented on #224
Before making a massive change, I wanted to ask if this is what are are agreeing on. Following patch is the implementation for only 1 call chain I have followed. @poettering Do you still think this is the way to go?

[code]

[2015-06-25 20:28] eworm-de commented on #354
Looks like missing match in libavahi-client is the culprit... This fixes it for me (as my application is happy with ServiceBrowser):

[code]

Though this is not complete, we need resolver, etc...
Anybody with better knowlegs of avahi? Anybody with commit access to avahi upstream repository?

[2015-06-25 20:46] zonque commented on #354
Yes, @poettering has.

[2015-06-25 22:03] eworm-de commented on #354
I sent a mail upstream...
Let's see whether or not sleeping beauty wakes... :-P

http://lists.freedesktop.org/archives/avahi/2015-June/002366.html

As neither systemd nor kdbus is to blame... Closing.

[2015-06-25 22:03] #354 closed, assigned to dvdhrm

[2015-06-26 00:57] kaysievers opened #378 "kdbus: unable to handle kernel NULL pointer dereference"
Jun 26 01:37:55 ank kernel: BUG: unable to handle kernel NULL pointer dereference at 0000000000000018
Jun 26 01:37:55 ank kernel: IP: [<ffffffffa007c0f2>] kdbus_name_release_all+0x32/0xd0 [kdbus]
Jun 26 01:37:55 ank kernel: PGD 0
Jun 26 01:37:55 ank kernel: Oops: 0000 [#1] SMP
Jun 26 01:37:55 ank kernel: Modules linked in: ccm cmac rfcomm arc4 snd_hda_codec_hdmi bnep snd_hda_codec_realtek snd_hda_

[2015-06-26 07:17] arvidjaar commented on #317
I suggested something similar as part of bnc#906900 (https://bugzilla.novell.com/show_bug.cgi?id=906900#c55) but nobody seemed to be interested (bug was "fixed" by rewriting sysvinit script). See https://build.opensuse.org/package/view_file/home:arvidjaar:bnc:906900/systemd/session-class-service.patch?expand=0

[2015-06-26 09:20] SjonHortensius opened #380 "journalctl --vacuum-size outputs to stderr instead of stdout"
When I execute `journalctl --vacuum-size=128M >/dev/null` I don't expect output like this:

[code]

this is systemd-221

[2015-06-26 10:20] kaysievers opened #381 "kdbus: x session, logind pauses and never resumes"
- Open gnome-terminal
- type "sudo -s"
- the "enter key gets stuck" and the terminal content runs away
- the machine is unresponsive, only the power button still works to shut down

Note: sudo's pam is configured to use pam_systemd, it starts system --user for uid 0.

Jun 26 12:15:14 ank systemd[1285]: Starting Bus Names.
Jun 26 12:15:14 ank systemd[1285]: Reached target Basic System.
Jun 26 12:15

[2015-06-26 12:02] bitstreamout commented on #317
In the menawhile a message from the customer had reached me that they could not wait any longer and they found workaround for this. Now they are using ExecStartPre= to read all options from /etc/sysconfig/ for their application and then they are writing this to /var/run/aem_author/env. This file is read by systemd as EnvironmentFile=. Later in ExecStart= they are just calling /usr/bin/java with En

[2015-06-26 12:15] arvidjaar commented on #317
Second complementary patch is https://build.opensuse.org/package/view_file/home:arvidjaar:bnc:906900/systemd/set-session-class-service-for-sysv.patch?expand=0
Of course it is outdated and should be ported to generator but this is the idea.

[2015-06-26 13:39] poettering commented on #380
Well, that's how UNIX works. Log messages are written to stderr, not stdout. "Payload" data is written to stdout, but this tool doesn't have any real payload, hence it only prints something to stderr, and that's it.

If you want to turn off output to stderr, then redirect stderr with 2> too.

[2015-06-26 13:39] #380 closed, assigned to nobody

[2015-06-26 15:42] poettering commented on #380
Well, try "man stderr". It says "..., and one for printing diagnostic or error messages". The messages you mention are clearly of the "diagnostic" kind.

well, journalctl doesn't take "subcommands" (though we usually call them "verbs"), as the arguments you pass that are not switches are considered matches. And we cannot change that now. Sorry.

[2015-06-26 19:41] #360 closed, assigned to zonque

[2015-06-26 20:09] kaysievers commented on #340
Merged: https://github.com/systemd/systemd/pull/353

[2015-06-26 20:09] #340 closed, assigned to nobody

[2015-06-27 07:27] gmacario commented on #341
Hello @zonque,

FYI: I just submitted PR https://github.com/systemd/systemd/pull/385 with a quick fix to issue https://github.com/systemd/systemd/issues/341.

I cannot understand why Semaphore build fails, though...

[2015-06-27 11:27] ostcar opened #386 "systemd-nspawn --ephemeral does not include hidden files, when directory is not a subvolume"
I am using systemd 221.

When systemd-nspawn creates a new subvolume with --ephemeral, but the specified container is not a subfolume (but a normal folder in a btrfs filesystem), a new subvolume is created and all files from the container are copied. But files which start with a dot (hidden files) are excluded.

The reason for that seems to be https://github.com/systemd/systemd/blob/master/src/bas

[2015-06-27 12:28] zonque commented on #341
Thanks! Such CI build failures are likely related to force-pushed branches. Did you do that?
Semaphore should be able to cope with that, but we've seen such effects before.

[2015-06-27 15:31] #329 closed, assigned to nobody

[2015-06-28 00:50] daurnimator opened #390 "sd_bus_default doesn't work without kdbus"
`sd_bus_default` doesn't seem to work: it's returning ENOENT

[code]

[code]

strace output: http://sprunge.us/IfcS of note is that it fails straight after (and with the same error code as):

[code]

[2015-06-28 05:34] daurnimator opened #391 "Document sd_bus_set_fd"
I can't figure out why you'd ever want to set the `output_fd` different to the `input_fd`. All examples I can find have them as the same.
Additionally, `sd_bus_get_fd` no longer works when they are different.

There is currently no man page for this function, could one be added with a rationale for why they might want to be different?

[2015-06-28 10:52] j16sdiz opened #394 "networkd: allow DUID configuration for DHCPv6 and DHCPv4"
The backend code seems to be implemented in 66eac1201a9c1596f5901f8dbbf24bda7e350878, but there is no where to configure.

RFC4361 reads <q>Any DHCPv6 client ... SHOULD ... provide a means by which the operator can configure the DUID</q>. It would be nice if systemd can support that in the unit file.

My ISP relies on DUID to do prefix delegation. All 3 major DHCPv6 implementations support that al

[2015-06-28 10:59] j16sdiz commented on #394
Related to #345 ?
As far as I can tell, all major DHCP implementation persistent the client id on disk.
This allow the admin to change that and prevent unexpected changes like #345

[2015-06-28 11:33] kaysievers commented on #390
This works just fine without sudo. On non-kdbus systems, as you run sudo, there is no user bus for root. This seems all fine and expected.

[2015-06-28 12:19] ostcar opened #395 "systemd-network [Match] Driver=veth does not match interface"
I use systemd 221 and there is no configuration file in /etc/systemd/network/. The only systemd-network configuration is the one installed with systemd in /usr/lib/systemd/network. Especial  https://github.com/systemd/systemd/blob/master/network/80-container-ve.network

This configuration does not match the interface created with systemd-nspawn --network-veth. I only works as excepted, when I remo

[2015-06-28 12:47] ostcar opened #396 "systemd-network fails to setup an interface with a static ip-address in a systemd-nspawn container"
I tried to set up an interface inside a systemd-nspawn container (started with --network-veth) via systemd-network.

This works fine when the interface is configured with DHCP but fails when a static ip-address is used. The error messages are:

[code]

/proc/sys is mounted read only (as described in man systemd-nspawn).

I used the following network configuratoin

[code]

I also tried to set `IPFo

[2015-06-28 12:49] daurnimator commented on #390
okay; I was expecting it would default to a system bus if it's run as root?
otherwise what's the point over `sd_bus_default_user`

[2015-06-28 15:01] jaystrictor opened #397 "journalctl -n -- wrong output"
I am running ArchLinux on a Raspberry Pi 2 with
systemd 221
including some cherry-picked [patches](https://github.com/archlinuxarm/PKGBUILDs/blob/3e41f9f654580b5fea80eb45302a1cfd299ddd0d/core/systemd/PKGBUILD#L37-L55).

Strange thing is that `journalctl -e` and `journalctl -e -n100` do not end with the same log messages:

[code]

The second output is correct according to `journalctl -f`.

[2015-06-28 15:07] rumpelsepp commented on #397
I can confirm this on my RsapberryPi2 as well.

[2015-06-28 15:18] kaysievers commented on #390
On my box, sudo starts a user bus for root and this is returned. But I see your point, that this is not really predictable and behaves differently on dbus-1 and kdbus.

[2015-06-28 18:49] mar04 opened #400 "systemd update broke usb_modeswitch"
Hi, recent update of systemd in Arch Linux from 219 to 221 broke usb_modeswitch (at least for me and some other users) - it no longer automatically switches modem's mode, however it still works when executed manually. [Here](https://bbs.archlinux.org/viewtopic.php?pid=1540444) is an Arch forum  thread with some details, please have a look at that.

[2015-06-28 20:56] tchernomax opened #401 "minor error in systemd.network man page"
Search for ip_forward in the [man page of systemd.network](https://github.com/systemd/systemd/blob/master/man/systemd.network.xml#L379).

[code]

two "net.ipv4.ip_forward" ; I think it should be :

[code]

Or maybe "net.ipv6.conf.all.forwarding".

[2015-06-29 09:57] gmacario opened #404 "systemd-bootchart: When "--per-cpus" is selected, utilization for CPU > 4 is not displayed"
When I execute the following command on my machine (with 8 cores)

[code]

only the CPU utilization/wait diagrams for CPU[0] up to CPU[4] are displayed in the resulting *.svg.

Tested on systemd master (0bf134a734cdde8c1a7a62256e8664fa01125608)

[2015-06-29 10:16] daurnimator commented on #327
I too have had this issue.
Associating some sort of cleanup callback with a slot would be great.

[2015-06-29 13:12] poettering commented on #327
Hmmm. So the thing is that after queuing a message and unreffing the bus you might later come back and reacquire the bus and then want to write out the queued message. I think it should actually be an OK thing to do: acquire bus + enqueue + unref bus and then expect that the msg is queued and written as soon as somebody dispatches the bus object some time later.

This is unexpected of course. And

[2015-06-29 13:17] zonque commented on #404
The code base of this utility is really messed up, and my latest cleanup series were only superficial, so this probably needs some more love.

Given that you are an active user of this tool and that I don't have a machine with > 4 cores to test on, could you come up with a pull request to address this issue?

[2015-06-29 13:17] xnox commented on #404
A VM can be started with any number of CPUs, even more than what one has locally.

[2015-06-29 13:41] utezduyar opened #406 "We should remove -Werror=shadow from the CFLAGS when we detect we run on an older gcc version"
I am not sure why you guys don't see these errors but I see many shadow errors since we enabled the switch. I started fixing some but then decided to ask first. Is it our compiler acting crazy?

[code]

[2015-06-29 13:49] utezduyar commented on #327
Seems like `bus_reset_queues(bus);` is the magic in `sd_bus_close()`. @poettering do you want me to document this?

[2015-06-29 14:38] gmacario commented on #404
@zonque: I am working on the PR, stay tuned!

[2015-06-29 14:40] gmacario commented on #404
@xnox: Here is the result of `cat /proc/schedstat' on the VM (actually, Docker container) where I reproduced the bug:

[code]

My current understanding is that the code in `src/bootchart/store.c` does only a partial read of `/proc/schedstat`

[2015-06-29 15:22] gmacario commented on #404
Here is PR #407

[2015-06-29 15:44] poettering commented on #406
On Mon, 29.06.15 06:41, Umut Tezduyar Lindskog (notifications@github.com) wrote:

Some older gcc versions complain if you have a local variable and
a global function sharing the same name. Newer gcc versions don't do
that anymore.

We should probably drop the -Werror=shadow automatically when we
notice that the local gcc versions acts crazy about it. I'd be happy
to merge a patch that adds a confi

[2015-06-29 15:48] poettering commented on #406
The configure check should probably just try to compile a program with -Werror-shadow that looks like this:

[code]

With -Werror=shadow this would fail on older gcc, but work on newer gcc, using the fact that unlink() is a function defined by unistd.h.

[2015-06-29 15:50] poettering commented on #327
@utezduyar would be happy to take a patch for that.

[2015-06-29 15:57] poettering commented on #327
@daurnimator i'd be willing to take a patch that adds a destroy callback logic to slots, I'd be happy to take it. But I think that should be discussed in a separate issue

[2015-06-29 17:46] teg commented on #299
@qantourisc could you verify that the fix in PR #409 fixes this for you?

[2015-06-29 19:17] poettering commented on #391
Specifying different fds for input and output is useful for tools who want to create a bus connection out of stdin/stdout, they way systemd-stdio-bridge does it to implement bus connections via ssh. But yeah, we should document that.

[2015-06-29 20:11] qantourisc commented on #299
Is it possible it doesn't compile ? Or do I have to update binutils to some version for this branch to work ?

[code]

[2015-06-29 21:28] teg commented on #299
Hm, I haven't seen that. Very strange. You should be able to just cherry pick the one commit onto whatever compiles for you.

[2015-06-30 01:31] daurnimator opened #415 "RFE: add sd_bus_slot cleanup callback"
Continuing from https://github.com/systemd/systemd/issues/327

I proposed:

@poettering said

[2015-06-30 01:51] chunshanzhu opened #416 "build fail with the 4.2 kernel"
hi,
build fail with the 4.2 kernel.
The kernel version is 4.2.0-0.rc0.git1.1.fc23.x86_64.
The systemd version is 221
The output is:
../src/shared/acl-util.c:253:55: note: 'join' was declared here
In file included from /usr/include/linux/netfilter.h:7:0,
                 from /usr/include/linux/netfilter_ipv4.h:8,
                 from /usr/include/linux/netfilter_ipv4/ip_tables.h:20,

[2015-06-30 03:43] fsateler opened #418 "Document full effect of DefaultDependencies=yes for all unit types, as well as all implicit deps that are generated even when it is off"
`systemd.service(5)` currently does not tell what implicit dependencies are added when one specifies the `Sockets` directive. The code seems to imply `Wants` and `After`, which is weird considering that `Service` in `systemd.socket` doesn't. It would be great to have this documented and maybe the reasoning as well.

[2015-06-30 08:56] dillongreen commented on #340
My Logitech diNovo Edge stopped working as well, worked at bootup, then after 4 seconds of inactivity it stopped recognizing any keystrokes whatsoever, only swinging back from the dead after holding down a key for about 10 seconds and then spitting a few lines of that character on the screen... same again after a few seconds of inactivity...

After upgrading udev on my Debian box to `221-1` all is

[2015-06-30 09:02] richardmaw-codethink opened #420 "nspawn `--private-users` automatic uid shift detection does not work"
`--private-users` claims to be usable without specifying a UID shift.
Attempting to use it like this does not work, as it ends up trying to shift the UID range to `UID_INVALID`.

`determine_uid_shift()` is responsible for providing sensible values if they weren't explicitly passed, and it does this by calling `stat()` on the root directory of the container's tree.

However it is called after a `fo

[2015-06-30 09:11] drizzt opened #421 "systemd 220+ doesn't work anymore under OpenVZ container"
systemd 220+ doesn't work anymore under OpenVZ container.
It returns the following error on "virtual console" and it hangs:

[code]

Obviously I'm available for any tests or other logs.

[2015-06-30 10:22] foutrelis commented on #400
According to that forum thread, it's an incompatibility of usb_modeswitch with current systemd and is fixed in version 2.2.3. I have updated the relevant package in Arch so it would be helpful if you checked whether the issue is fixed.

[2015-06-30 10:35] mar04 commented on #400
Version 2.2.3 works properly, thanks!

[2015-06-30 10:35] #400 closed, assigned to nobody

[2015-06-30 11:33] ghost opened #422 "coredumpctl gdb aborts if there is no COREDUMP_EXE"
systemd version: 221-2
OS: Arch Linux x86_64

So, I see that the Compositor process coredumps.
Of course, I try to use coredumpctl gdb to get a backtrace.
Then this happens:

[code]

And coredumpctl gdb exits without running gdb.

[2015-06-30 13:03] sschindler89 commented on #359
I expect this bug in journalctl to have its roots in sd-journal.h.
My reasoning: I use a tool, which reads from several journalfiles via sd_journal_open_directory similar to journalctl and later on writes the read journal entries into a new file. My tool only writes entries from one file similar to the incomplete view in journalctl.

[2015-06-30 13:34] zabbal opened #425 "networkd bridge is down after boot"
I've created bridge to use for inter-container communication - /etc/systemd/network/internalbridge1.netdev:
[NetDev]
Name=ibr1
Kind=bridge

The bridge appear in 'brctl show' properly, lxc containers with veth network type which uses this bridge (ip.network.link = ibr1) work fine BUT only after I manually set the bridge interface to UP state by issuing 'ip link set ibr1 up' command.

I went through

[2015-06-30 14:23] qantourisc commented on #299
Seems to be related to my build environment, not the specific branch. Not sure what caused it, the only updates/changes I recall are systemd.

[2015-06-30 15:23] gmacario commented on #341
Fix via commit ae87a4a9291e7277b9fe08c97345166118f98623

[2015-06-30 15:23] #341 closed, assigned to nobody

[2015-06-30 16:47] #420 closed, assigned to nobody

[2015-06-30 17:06] gmacario commented on #404
Fix via c91d0fd2f433af7f314558c59026248a79695ab5

[2015-06-30 17:06] #404 closed, assigned to nobody

[2015-06-30 17:24] morfikov opened #432 "networkd: make TCP Segmentation Offload configurable"
Is there a way to disable TCP Segmentation Offload (TSO) using systemd's network mechanism/files? I need one container that is able to produce "normal" packets (1514 bytes), but this TSO feature is enabled by default on the virtual interfaces, at least when it comes to LXC containers.

I can disable it using the following command (on both ends of the container):

[code]

I've been trying to find s

[2015-06-30 17:39] jernst opened #433 "machined: access denied, copy-from works anyway"
[code]

Host: Arch, systemd 221-2; container: UBOS (like Arch), systemd 219.

[2015-06-30 19:52] aburch commented on #376
http://lists.freedesktop.org/archives/systemd-devel/2015-June/033357.html looks like the same issue and refers to 9b420b3cfb8b93daf50e4cdbc92b05f2209ef893 as the commit which might have introduced this as a regression.

[2015-06-30 21:11] intelfx opened #435 "Incorrect (double) escaping of pathes in RequiresMountsFor="
[code]

It says `test\x5cx2ddirectory.mount` instead of `test\x2ddirectory.mount`, i. e. the string is escaped twice.

[2015-06-30 21:51] intelfx commented on #435
In fact, after a reboot, I get:

[code]

So the first time the required `.mount`-unit has been found (under a wrong name? wtf?), but the second time it has not been even found.

[2015-06-30 23:14] isomer opened #437 "timeX.google.com provide non standard time"
systemd should not default to using time{1,2,3,4}.google.com.

Google doesn't provide timeX.google.com as a public service(0).  We don't maintain this to the same level of reliability/availability that we work hard to provide with other services (eg Google Public DNS, websearch etc).  We use this for systems outside of our datacenters that need to understand our concept of time.

Google (famously(

[2015-07-01 01:31] gobengo commented on #437
I suppose the obvious question is, what's a better option? Or what are even choices for another option? Does this apply? http://www.pool.ntp.org/en/

[2015-07-01 01:36] ShadowKyogre opened #438 "The Wacom CTH-460 is not a joystick (likely applies to other tablets)"
The culprit code: https://github.com/systemd/systemd/blob/3a3701f03360f9a292dcab31fda1f6e0e0629c64/src/udev/udev-builtin-input_id.c#L183-L224

My attempt at fixing it with the udev rules generated with libwacom's `generate-udev-rules`:  https://gist.github.com/ShadowKyogre/3e3b4d347f71a97a1956#file-99-fix-wacom-really-rules-L138-L141

Here's the mailing list indicator indicating the issue with ude

[2015-07-01 01:42] codercotton commented on #437
pool.ntp.org?

[2015-07-01 01:44] blt commented on #437
@gobengo Yes, the NIST timeservers isomer is referring to in the original post are available publicly through the ntp.org pool. These are the public NTP servers most machines peg themselves to, outside of organizations that run their own pools etc etc.

[2015-07-01 01:50] hikari-no-yume commented on #437
time.windows.com?

[2015-07-01 01:53] jleclanche commented on #437
From http://support.ntp.org/bin/view/Support/WindowsTimeService:

Maybe not a wise idea :) What's wrong with pool.ntp.org?

[2015-07-01 01:55] jedsmith commented on #437
`timesyncd` just needs this, that's all:
- http://www.pool.ntp.org/en/vendors.html#vendor-zone
- http://www.pool.ntp.org/en/vendors.html#open-source

This is a problem beyond systemd, too. Router manufacturers are notorious for throwing burned-in traffic at NTP systems that do not expect it; this issue is just another variant of that longstanding one.

Since this is a publicly-linked issue with so

[2015-07-01 02:11] ShadowKyogre commented on #438
https://gist.github.com/ShadowKyogre/3e3b4d347f71a97a1956#file-udev-my-tablet-is-not-a-joystick-txt Here's the output of `udevadm monitor -p`

[2015-07-01 02:14] floppym commented on #437
For some reason Lennart was opposed to requesting a vendor zone last year.

http://lists.freedesktop.org/archives/systemd-devel/2014-August/022575.html

His reasoning seems rather stupid to me. In any case,

using Google's servers without their backing/consent seems bad.

[2015-07-01 02:15] jedsmith commented on #437
@floppym The PR stops short of a vendor zone for that reason, and I agree.

[2015-07-01 02:29] mischief opened #440 "systemd-networkd drops routers when dhcp server lists more than one router"
when a dhcp server gives more than one router in option 3 (routers), networkd drops the routers.

additionally it seems that in `src/libsystemd-network/sd-dhcp-lease.c` in function `dhcp_lease_parse_options`, only the first 4 octets are read from option 3, which can actually be a multiple of 4 octets.

even if multiple routers are not supported by the dhcp client, it should _not_ end up with zero

[2015-07-01 03:13] crrodriguez commented on #437
You cannot use pool.ntp.org either.. "You must absolutely not use the default pool.ntp.org zone names as the default configuration in your application or appliance." that's according to the pool's website...

[2015-07-01 03:14] abh commented on #437
@blt I don't believe the NIST servers are part of the NTP Pool.

@floppym Lennarts reasons for not using *.systemd.pool.ntp.org ("systemd isn't a distribution") makes sense to me.

@jleclanche As far as I know Microsoft's NTP service at time.windows.com is perfectly respectable these days. Years ago it was run by a third party vendor and it was pretty terrible.

@crrodriguez If you kept reading yo

[2015-07-01 03:20] blt commented on #437
@abh, would you look at that. Right you are. That's a time infrastructure misunderstanding corrected for me today. Thanks!

[2015-07-01 03:24] xorgy commented on #437
Has anyone applied for a vendor zone? I think systemd, although not a "distribution" could be considered a vendor or product.

Even if technically distributions need to think about this, if you have a default configuration(and you should) then it should be not unreasonable to leave it untouched, including not changing the NTP servers.

I don't see any reason not to apply for a vendor zone either w

[2015-07-01 03:26] floppym commented on #437
This isn't about "providing a distribution". It's about configuring a useful default for people who build/configure systemd from the git repo or source tarball. The people who run the NTP pool just want that on file.

Anyway, I agree that having no default is better than picking some random NTP servers like Google or using the public NTP pool without a vendor zone.

[2015-07-01 03:29] jedsmith commented on #437
I think "no default" versus "stop the bleeding and get off Google per Google's request" is a theoretical discussion instead of a practical one, given that systemd has _already shipped_ a default. Every build will break if that behavior changes. I agree that no default would be better, but I suspect that ship has sailed.

I'll leave my PR up in anticipation of being correct. I hope @abh forgives me

[2015-07-01 03:32] StoneCypher commented on #437
if you don't take this down, google will just remove the dns, and then you lose the ability to do this in a controlled way

it does not matter if the ship has sailed; call it back.  we haven't left someone behind on fare.  the ship is dangerous and unreliable.

[2015-07-01 03:32] floppym commented on #437
Not so. I would expect that most Linux distros already override it via the configure switch.

[2015-07-01 03:33] jedsmith commented on #437
@floppym You hedged that statement yourself, making the assertion a nonstarter as a software project.

[2015-07-01 03:36] floppym commented on #437
Saying you can never change something because you did something stupid in the past with makes no sense at all.

You either make timesyncd work out of the box properly, or you force people to configure it if they happen to build systemd themselves.

[2015-07-01 03:36] angelbladex commented on #437
i use 0.arch.pool.ntp.org on Arch but dont use systemd with ntp: a simple script on crontab

[2015-07-01 03:38] gryftir commented on #437
http://www.pool.ntp.org/en/use.html lists 4 servers which are randomized and changed every hour.  Those should be the defaults.

[2015-07-01 03:42] xorgy commented on #437
Arch indeed has its own timeservers `{0..3}.arch.pool.ntp.org` which it configures into the distribution systemd package, as does Fedora `{0..3}.fedora.pool.ntp.org`, as does debian `{0..3}.debian.pool.ntp.org`, as does ubuntu `{0..3}.ubuntu.pool.ntp.org`, and gentoo, and opensuse...

I think distributions are pretty good about specifying these, so maybe the defaults don't really need to be sane,

[2015-07-01 03:43] arvidjaar commented on #435
It was recently discussed on ML, strings are escaped on output and there is no information whether they are already escaped.

As for second question it looks correct - /test-directory is in /, so the only mount that has to be present is / itself.

[2015-07-01 03:50] poettering commented on #437
Its up to the distros to register an ntp pool product. systemd is not a product. Its just some toolset people can build products from. We cannot use the ntp pool hence. If the googl time servers

[2015-07-01 03:54] floppym commented on #437
@poettering If systemd is not a "product" that is meant to work on its own, then there should be no need to configure any default NTP servers since nobody should ever utilize it that way.

Using Google's servers by default is still a valid problem and this issue should be reopened.